<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">ACE OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/aceOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. The intellect.</p>

        <p>2. Making the right decision.</p>

        <p>3. Success and victory.</p>

        <p>4. Mental energy. Ability to concentrate.</p>

        <p>5. Stimulating environment.</p>

        <p>6. Justice and truth.</p>

        <p>7. Cutting through confusion. Seeing clearly what is going on.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Ace of Swords turns up in your cards you are granted the tools to cut down rigid structures
          holding you back. It is a card representing thoughts and belief systems. It reflects mental energy used to
          create new beginnings. In a reading it can denote a communications breakthrough, but only if
          you are brave enough to trust your own better judgement against the advice of others.</p>

        <p>It might feel like you have been banging your head against the wall, but if you use the sword correctly
          it will get rid of the wall and your ideas can go where they are intended. This Sword is also a tool for
          justice. There is room for your truth, beliefs and opinions - and there are others out there who feel the same
          way you do, and it would be good to spend more time with like-minded people. The Ace of Swords often shows up
          when the querent starts to think for themselves.</p>

        <p>In a love reading Ace of Swords means the querent has very high ideals when it comes to
          relationship, and communication is the most important virtue.</p>

        <p>In a career reading Ace of Swords signifies intellectual work, legal work and army or police
          work. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Ace of Swords indicates someone who is clever and full of ideas. They are innovative and do best with
          intellectual activities. They use the power of their minds to achieve what they want and need. This is someone
          who will apply reason and intellect to confront issues occurring in their lives. They have great literacy
          skill and rarely lose an argument or discussion. </p>

        <p>This is someone who is very competitive and will not let go of their position easily. They love taking risks.
          They become experts in their fields of work. A part of them will always be restless, and they need to be constantly
          stimulated. Sometimes they get lost in their heads and need to be grounded.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Memory loss.</p>

        <p>2. Failure to communicate.</p>

        <p>3. Misinformation.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Ace of Swords is reversed it indicates that ideas are unable to come into being. There might be
          memory loss or issues with concentration. The querent might find it hard to get any of their points across.</p>

        <p>While the Ace of Swords is all about the truth and facts, so the reversed Ace of Swords is about lies
          and betrayal. There is little justice and no truth is forthcoming. This card sometimes shows up when the querent
          has to be careful with their words, as their words can be used against them.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Ace of Swords reversed indicates someone who wants to create a conflict out of nothing. They make
          claims without having any of the facts to back them up. It indicates someone who is both being mislead and
          is misleading others. There might be a problem with brainwashing and mind control.
        </p>

        <p>There is no logic, reason, or common sense - just a lot of non-sense originating from this personality type.
          They are at times vulgar and ostentatious, other times overly introverted and non-compliant.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The upright sword indicates the intellect. The laurel wreath on the tip of the sword signifies victory. On
          the other side of the sword is a palm frond showing triumph. The hand and the cloud symbolise influence.
          The crown suggests absolutes.</p>

        <p>The six flames is a reference to the Six of Wands, the card for success. The mountain represents the cold
          landscape of the intellect and absence of emotion.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Ace of Swords + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Lack of support. Loss of income.</p>

        <p>2. Ace of Swords + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Literary talents.</p>

        <p>3. Ace of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: A competitive team. Intellectual
          work.</p>

        <p>4. Ace of Swords + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Financial victory. Upper class
          society.</p>

        <p>5. Ace of Swords + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Difficulties concentrating.</p>

        <p>6. Ace of Swords + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Lack of job satisfaction.
          Needing more stimulating work.</p>

        <p>7. Ace of Swords + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: New workplace policies.</p>

        <p>8. Ace of Swords + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Spiritual love. Falling in love with someone’s
          mind.</p>

        <p>9. Ace of Swords + <a ui-sref="app.twoOfCups">Two of Cups</a>: An opinionated relationship.</p>

        <p>10. Ace of Swords + <a ui-sref="app.threeOfCups">Three of Cups</a>: Victory in social settings. Knowing the
          right people to get what you want.</p>

        <p>11. Ace of Swords + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Breakdown in communication.</p>

        <p>12. Ace of Swords + <a ui-sref="app.sixOfCups">Six of Cups</a>: Discipline.</p>

        <p>13. Ace of Swords + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Reaching your highest potential.</p>

        <p>14. Ace of Swords + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Demanding perfection.</p>

        <p>15. Ace of Swords + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Persuasion.</p>

        <p>16. Ace of Swords + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Passion. A new job or relationship based on
          your passion.</p>

        <p>17. Ace of Swords + <a ui-sref="app.twoOfWands">Two of Wands</a>: Mind over matter. Victory due to strong
          mindedness.</p>

        <p>18. Ace of Swords + <a ui-sref="app.threeOfWands">Three of Wands</a>: Learning a new language.</p>

        <p>19. Ace of Swords + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Music. Learning to play music.</p>

        <p>20. Ace of Swords + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Victory against the odds.</p>

        <p>21. Ace of Swords + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Mentally hard work.</p>

        <p>22. Ace of Swords + <a ui-sref="app.pageOfWands">Page of Wands</a>: A strong personality. Acting talent.</p>

        <p>23. Ace of Swords + <a ui-sref="app.queenOfWands">Queen of Wands</a>: A demanding person.</p>

        <p>24. Ace of Swords + <a ui-sref="app.kingOfWands">King of Wands</a>: An opinionated leader.</p>

        <p>25. Ace of Swords + <a ui-sref="app.twoOfSwords">Two of Swords</a>: The world of logic and reason.
          Non-emotional issues.</p>

        <p>26. Ace of Swords + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Differences in opinion.</p>

        <p>27. Ace of Swords + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Rest and meditation.</p>

        <p>28. Ace of Swords + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Choosing to end something.</p>

        <p>29. Ace of Swords + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A mental test. A quiz.</p>

        <p>30. Ace of Swords + <a ui-sref="app.kingOfSwords">King of Swords</a>: Victory in the intellectual world.</p>

        <p>31. Ace of Swords + <a ui-sref="app.theFool">The Fool</a>: Learning new technology. Newly graduating.</p>

        <p>32. Ace of Swords + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Detective work. Reading.
          Studying. Researching.</p>

        <p>33. Ace of Swords + <a ui-sref="app.theHierophant">The Hierophant</a>: Bookkeeping. Accounting. A new school.
        </p>

        <p>34. Ace of Swords + <a ui-sref="app.judgement">Judgement</a>: Politics. Solving a mental problem.</p>

        <p>35. Ace of Swords + <a ui-sref="app.theWorld">The World</a>: A mental challenge.</p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Ace of Swords denotes mental energy and being mentally stimulated. It is a great card if
          you want to learn a new skill that stimulates your brain power. Ace of Swords brings
          clarity, and communicates that sometimes we need to spend time with people who share our belief -and
          value systems.
        </p>

        <p>
          The Ace of Swords gives you the ability to discern between what you believe in, and what are the beliefs of
          others. It provides you with strength of character.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
