<ion-view>

    <ion-content>
    <h3 class="handwritten center padding-top large-font grey">CONTACT</h3>
    <div class="padding">
      <p> Do you have a suggestion for improvement, concern, or question? Press the button below to send us an email!</p>
    </div>
      
      <a class="remove-underline" href="mailto:support@mediashane.com">  <button class="button grey-background white button-block">
                        Send Email
                    </button>
                    </a>

                    <p class="padding padding-top">Note: by using Tarotverse you agree to the <a ui-sref="app.eula">EULA</a>.</p>
    </ion-content>
</ion-view>