<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">DEATH</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/death.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Endings and new beginnings.</p>

        <p>2. Completing a chapter in your life.</p>

        <p>3. Putting the past behind you.</p>

        <p>4. Dealing with what scares you.</p>

        <p>5. Regeneration after transition.</p>

        <p>6. Seeing the truth of a situation.</p>

        <p>7. Creating a whole new life for yourself.</p>


        <h4 class="padding">Meanings</h4>

        <p>Death card represents transformation, endings and new beginnings. When Death shows up it is
          telling you that things will not be the same again. You have outgrown a part of yourself, and it’s time to
          embrace the new. A transformation is taking place, you are growing and changing with the circumstances you
          find yourself in.</p>

        <p>Death can represent new people, places, work, or belief systems coming your life.
          Death shows up in a reading to tell you that you can safely let a part of yourself go. Old
          habits and patterns might have to be shaken off so that you can be reborn again as a new and improved you. You
          might not even be noticing how much you are changing, and then one day it catches up with you - and you make
          the necessary steps towards creating a whole new life for yourself.</p>

        <p>In a love reading Death often shows up when the querent has lost their identity within the
          relationship. Maybe they entered into the relationship too soon and are now having second thoughts. If the
          querent is single the Death card can mean they will soon be in a relationship.</p>

        <p>In a career reading Death suggests a career in the military. It also shows up when the querent is about to
          change their
          careers. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Death card denotes someone who is going through great transformation, and has experienced their share of
          loss and endings. They need to release the past. This is someone who needs to let go of
          what is beyond their control. They might feel drawn towards everything dark and dangerous, with deep urges to
          survive, reproduce and have power and control. Sometimes there are issues with money and owing money to
          others, as well as gaining an inheritance of some kind. There is hidden grief in Death personality types, who
          are waiting
          to be unburdened so that a new dawn can emerge. They never forget if someone has hurt them, and are often
          dreaming
          of revenge and payback.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1.Abuse and addictions.</p>

        <p>2. Blocked grief.</p>

        <p>3. Unable to move on.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Death card is reversed it indicates that something that should have come to an end for some reason
          persists. For some reason the person is holding
          on. Blocked grief is often a factor. The querent might be unable to face the pain of loss. They remain in the
          past, and rebirth is prevented from happening. At its worse this card indicates mockery of someone’s death.
          There might be a lack of care, support and sympathy for those left grieving. Sometimes this card shows up
          reversed when the querent has cheated death.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Death card reversed suggests someone who is dealing with credit problems, such as mounting bills, debts
          and
          tax problems. This is someone who might even be heading for bankruptcies. Death reversed speaks of someone who
          should have entered into a transitional stage and come out the other end. Instead there was no transformation,
          and therefore no renewal. The person is instead stuck in a limbo state where not much is going on. They need
          to embrace a new way of life and a new existence. They might wish to change and long for transformation, but
          are struggling with deep safety and survival issues. This is someone who might be consumed by fears of both
          living and dying, or might be suicidal. Death reversed indicates someone who is lost in despair or
          trauma.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>Death is ruled by Scorpio. Scorpio is ruled by Pluto. Pluto is the planet for transformation, rebirth and
          regeneration . Pluto’s energies are very intense and can make a deep impact. It can change your whole
          life, until the current phase ends, after which you might find that you have a whole new set of ideas and
          goals. Pluto can
          seem destructive, but when well aspected is aiding transformation necessary for our growth, and helping us to
          see the truth. When poorly aspected it can denote abuse, addiction, violence or unexpected events we
          are not capable of handling well.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The corpse in black armor riding a white horse personifies revelation in action. The king, bishop, woman,
          and child all succumb him, indicating that no one is immune.
        </p>

        <p>Rebirth and renewal of all kinds are therefore suggested. The bishop represents faith in the face of death.
          The maiden symbolises grief and release of sorrow at times of endings. The rising sun represents new
          beginning, a new day. The towers in front of the sun are the character gained in the process of
          rebirth. </p>

        <p>The river is the River Styx, the boundary between Earth and the Underworld. The boat
          signifies the souls that cross over. Death is represented by the number 13, which coincides with the amount of
          moons in a year, and the cycles of endings and beginnings they bring.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Death + <a ui-sref="app.theMagician">The Magician</a>: Skill shortage.</p>

        <p>2. Death + <a ui-sref="app.theChariot">The Chariot</a>: Settling down.</p>

        <p>3. Death + <a ui-sref="app.justice">Justice</a>: Taxes. Other's resources.</p>

        <p>4. Death + <a ui-sref="app.theWorld">The World</a>: A completion. Graduation.</p>

        <p>5. Death + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Lack of support.</p>

        <p>6. Death + <a ui-sref="app.fiveOfWands">Five of Wands</a>: End of conflict.</p>

        <p>7. Death + <a ui-sref="app.nineOfWands">Nine of Wands</a>: End of struggle.</p>

        <p>8. Death + <a ui-sref="app.tenOfWands">Ten of Wands</a>: A new routine.</p>

        <p>9. Death + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Lack of motivation.</p>

        <p>10. Death + <a ui-sref="app.twoOfCups">Two of Cups</a>: End of friendship.</p>

        <p>11. Death + <a ui-sref="app.sixOfCups">Six of Cups</a>: Your childhood.</p>

        <p>12. Death + <a ui-sref="app.kingOfCups">King of Cups</a>: Possessiveness.</p>

        <p>13. Death + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Changing your mind.</p>

        <p>14. Death + <a ui-sref="app.threeOfSwords">Three of Swords</a>: End of a sadness.</p>

        <p>15. Death + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Needing a lifestyle change.</p>

        <p>16. Death + <a ui-sref="app.kingOfSwords">King of Swords</a>: The tax man. A business man.</p>

        <p>17. Death + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: End of work. New work.</p>

        <p>18. Death + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: End of money troubles.</p>

        <p>19. Death + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: End of an investment. End of luxury.</p>

        <p>20. Death + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: An inheritance.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Death card shows up when there is an ending occurring in your life. A new opportunity is presenting
          itself. It can also signify your childhood, and the end of it. Sometimes Death represents a fear, or fearing the
          inevitable. Death tells there really is no true end, just endings and re-birth.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
