<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">EIGHT OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/eightOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Learning a new skill.</p>

        <p>2. Being fully absorbed in a project and task.</p>

        <p>3. Concentration. Attention to details.</p>

        <p>4. Craftsmanship. Apprenticeship.</p>

        <p>5. Deepening the understanding of a subject.</p>

        <p>6. Doing the ground work.</p>

        <p>7. Creativity used in a practical way.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Eight of Pentacles denotes craftsmanship in regards to work. It can also mean starting an
          apprenticeship and/or learning a new skill. This skill is something you care deeply about, and you feel
          absorbed in while working. You are able to work unsupervised, and sometimes you are the supervisor when this card
          shows up, using your skills to make sure the work is of high quality.</p>

        <p>Make sure you don’t get too absorbed in the details that you miss the big picture. Look up once in a while and
          notice those around you. You are putting in long hours at work, but be sure to make time to have fun as well.
          The Eight of Pentacles shows up in your readings when the time is ripe to further your career with
          learning and study. </p>

        <p>In a love reading the Eight of Pentacles signifies meeting love while learning a new craft or skill.
          If the querent is in a relationship it denotes the couple shares a similar creative passion.</p>

        <p>In a career reading Eight of Pentacles speaks to apprenticeship and internship. It
          can also mean the querent is building the groundwork for a company.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Pentacles-type person is someone who loves being a student, and developing a craft or skill. They love
          the initial stages of a project where there is learning, research and growth involved. They are often people who
          get fixated on tasks, but have great attention to detail and the ability to concentrate. </p>

        <p>This personality type sometimes has problems seeing the bigger picture, and they can obsess over what is <i>not</i> working rather than
          focusing on what is working. This is someone who can easily become a workaholic.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Tedious work.</p>

        <p>2. Laziness.</p>

        <p>3. Lack of opportunity.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Eight of Pentacles reversed indicates tedious work with little gain. The querent might be overdue
          for a promotion they deserve, but are not receiving. </p>

        <p>They are not being able to use their talents and skills in their jobs. The querent might hate their job, and will not put in
          any additional effort. The failure might be due to laziness.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Pentacles reversed personality type is someone who argues for the sake of arguing, and who lacks people
                skills. They are often obsessed with themselves and their own efforts and fail to see anyone else’s
                input.
        </p>

        <p>There are issues with too much resentment and fear of failure. The querent might want to learn something new,
          but believe they are either too old, stupid or both. There is a fear of change.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The brown bench symbolises practical ability. The town in the background represents that the man has placed
          himself out of reach to concentrate on his work, reflecting the need for perfection and doing a good job.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Eight of Pentacles + <a ui-sref="app.theEmpress">The Empress</a>: Home renovation.
        </p>

        <p>2. Eight of Pentacles + <a ui-sref="app.theHierophant">The Hierophant</a>: Spiritual work.</p>

        <p>3. Eight of Pentacles + <a ui-sref="app.strength">Strength</a>: A learning centre.</p>

        <p>4. Eight of Pentacles + <a ui-sref="app.theHermit">The Hermit</a>: Learning an old skill. Learning from
          books. Being self-taught.</p>

        <p>5. Eight of Pentacles + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Research and inventions.</p>

        <p>6. Eight of Pentacles + <a ui-sref="app.theMoon">The Moon</a>: Creative crafts.</p>

        <p>7. Eight of Pentacles + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Learning to use tools.
        </p>

        <p>8. Eight of Pentacles + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Learning and working with new
          technology.
        </p>

        <p>9. Eight of Pentacles + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Pressure at work.</p>

        <p>10. Eight of Pentacles + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Unable to say no. Need for stronger
          boundaries.</p>

        <p>11. Eight of Pentacles + <a ui-sref="app.knightOfWands">Knight of Wands</a>: A tradesman.</p>

        <p>12. Eight of Pentacles + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Investing time into doing what you love.
        </p>

        <p>13. Eight of Pentacles + <a ui-sref="app.threeOfCups">Three of Cups</a>: Having fun at work.</p>

        <p>14. Eight of Pentacles + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Jack of all trades.</p>

        <p>15. Eight of Pentacles + <a ui-sref="app.knightOfCups">Knight of Cups</a>: An artist.</p>

        <p>16. Eight of Pentacles + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Investing more time into your
          hobbies.</p>

        <p>17. Eight of Pentacles + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Investing all your time into
          your study.</p>

        <p>18. Eight of Pentacles + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: Business apprentice.
        </p>

      </div>

      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Eight of Pentacles speaks to the learning of new skills. If you are new in a job you might find
          that you are gaining momentum fast, and people are depending on you straight from the start.
        </p>

        <p>If you are a student this is a fortunate card, as it denotes being able to put theory into practice with ease.
          The Eight of Pentacles advises the querent to get involved in their community to learn a new skill that will bring confidence
          as well as financial rewards. </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
