<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">EIGHT OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/eightOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Following your dream.</p>

        <p>2. Seeking deeper meaning.</p>

        <p>3. Focusing on the spiritual rather than the material.</p>

        <p>4. Being emotionally distant.</p>

        <p>5. Abandoning the mainstream way of life.</p>

        <p>6. Changing your priorities. Walking away from something.</p>

        <p>7. Having few friends. Being a loner.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Eight of Cups is the card for turning your back on something to go and follow your own dream. If the Eight of
          Cups shows up with the Hermit you will most likely want to go on this path alone. The Eight of Cups occurs when it is time
          to seek what is truly satisfying for the querent.</p>

        <p>In a love reading the Eight of Cups denotes a time where relationships should take second place in the
          querent’s life. The querent knows he/she must fulfill their own needs before any relationship can deepen. The
          querent
          needs to cut lose, go into the wilderness, and return a new person. The wilderness represents the place in the
          querent’s life where everything is put on the line in order to achieve something more meaningful.</p>

        <p>The Eight of Cups can mean casual work supporting the querent while on a journey. It can
          also
          mean pursuing what the querent has always wanted to do, but was too afraid to do. When the Eight of Cups is drawn it means the fear is
          gone, and the desire to live a new life has triumphed. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Cups indicates someone who seeks success and happiness away from the material world. They
          abandon the mainstream way of life in search for substance. They know there is something better out there and
          they want to get to it. They are often on a deep spiritual journey. They’ve changed their priorities and many
          speak of them as someone who has changed all together. They have turned their life around in some way, and
          have grown up emotionally to the point that their friends and family hardly recognise them anymore.</p>

        <p>Eight of Cups personality types are often very introverted as they are seeking inner meaning and answers rather than
          earthy pleasures. They can at times seem to be unattainable, as they are very private people. They need to
          persevere, as giving up to external pressure will be a huge step backwards. Eight of Cups-type people need to do what
          is right for them rather than what is right for everyone else.</p>
      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Abandoning your dreams.</p>

        <p>2. Sacrificing your happiness.</p>

        <p>3. Feeling miserable.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Eight of Cups reversed indicates that the querent has given up their dream to surrender to an
          uncomfortable, loveless and miserable reality. The querent might have surrendered their life to please someone
          else, like selling their business to work in a job they dislike. The Eight of Cups sometimes shows up reversed
          when the querent feels completely lost in the world, and they have issues with shame and guilt. There is
          meaningless change and journey without purpose. The querent has stopped growing.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Cups reversed imlies someone who feels old and useless. They believe they are over the
          hill and that they have nothing left to offer the world. Everything seems to be too difficult and hopeless for
          them. It is easier for them to give in to demands of others than to focus on their
          own needs and desires. This is someone with a tendency to escape through prescription drugs or, in some cases,
          illicit drug addictions.
        </p>

        <p>They are battling lethargy and apathy, and they believe things are a lot worse than they actually are. Eight
          of Cups reversed people tend to go towards the path of least resistance, as any challenge seems to overwhelm
          them. However the lack of growth in their lives will end up hurting them in the long haul, and they'll have to
          participate whether they like it or not. This is someone who is hiding in the background and is at times
          hardly noticed. They feel very emotionally misunderstood.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The Eight Cups symbolises material goods. The man is walking away from the cups, representing turning away from the
          physical world to seek something more meaningful. The terrain in front of him is uneven, illustrating new
          challenges and opportunities for learning. The red cloak infers the querent’s passion for this
          journey.</p>

        <p>The water separating the land signifies the struggle between the subconscious and conscious mind. The mountain in front of him
          refers to new stability, if he stays on his path. The moon symbolises the querent's dreams.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Eight of Cups + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Developing psychic abilities.
          Empowering yourself.
        </p>

        <p>2. Eight of Cups + <a ui-sref="app.theEmpress">The Empress</a>: Investing in health and beauty.</p>

        <p>3. Eight of Cups + <a ui-sref="app.theEmperor">The Emperor</a>: Self-employment.
        </p>

        <p>4. Eight of Cups + <a ui-sref="app.theHierophant">The Hierophant</a>: Finding a community to belong to.</p>

        <p>5. Eight of Cups + <a ui-sref="app.theTower">The Tower</a>: Necessary conflicts.</p>

        <p>6. Eight of Cups + <a ui-sref="app.theSun">The Sun</a>: Becoming a leader.</p>

        <p>7. Eight of Cups + <a ui-sref="app.theWorld">The World</a>: Teaching. Seeing the world.
        </p>

        <p>8. Eight of Cups + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Learning new technology.</p>

        <p>9. Eight of Cups + <a ui-sref="app.threeOfWands">Three of Wands</a>: Going freelance.
        </p>

        <p>10. Eight of Cups + <a ui-sref="app.sixOfWands">Six of Wands</a>: Using your talents to make the world a
          better place.</p>

        <p>11. Eight of Cups + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Moving to a place where your dreams
          can come true.
        </p>

        <p>12. Eight of Cups + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Teaching something you are passionate
          about.</p>

        <p>13. Eight of Cups + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Playing a long game to get what you want.
        </p>

        <p>14. Eight of Cups + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Finding the truth about a dark secret.
        </p>

        <p>15. Eight of Cups + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Special needs expert.</p>

        <p>16. Eight of Cups + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Facing your fears.</p>

        <p>17. Eight of Cups + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: Craving danger. A thrill-seeking querent.</p>

        <p>18. Eight of Cups + <a ui-sref="app.kingOfSwords">King of Swords</a>: Becoming a professional, then a master
          within the field.</p>

        <p>19. Eight of Cups + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Seeking more job satisfaction even
          if it means less money.
        </p>

        <p>20. Eight of Cups + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Going back to school.</p>

        <p>21. Eight of Cups + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: A hobby farm.</p>

        <p>22. Eight of Cups + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Needing family. Wanting to retire.
        </p>

        <p>23. Eight of Cups + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Wanting to care and nurture
          people, animals and plants.</p>

        <p>24. Eight of Cups + <a ui-sref="app.twoOfCups">Two of Cups</a>: Seeking a soul mate.</p>

        <p>25. Eight of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Seeking fame.</p>

        <p>26. Eight of Cups + <a ui-sref="app.pageOfCups">Page of Cups</a>: Auditioning.</p>

        <p>27. Eight of Cups + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Writing a book.</p>

        <p>28. Eight of Cups + <a ui-sref="app.kingOfCups">King of Cups</a>: A healer.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Eight of Cups occurs when it is time to go and chase something big. There are no guarantees
          where it will take you, but you can’t keep doing what you are doing either. Something’s gotta give, and it is
          most likely going to be the routines you are dreading each day. Make small steps if your dreams scare you.
          Time will pass either way, so you might as well get started now.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
