<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">EIGHT OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/eightOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A quick turn of events.</p>

        <p>2. Having visitors.</p>

        <p>3. Going travelling.</p>

        <p>4. Being in love.</p>

        <p>5. The love of change and travelling.</p>

        <p>6. Good fortune ahead.</p>

        <p>7. Making your move.</p>

        <p>8. Learning something important.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Eight of Wands implies swift action and progress. It often shows up when there is a visitor
          coming, or when the querent is visiting someone. Travel of all kind is indicated. </p>

        <p>In romance this card speaks of anticipation, and being in the early stages of falling in love. The querent
          might not be getting much sleep and has a loss of appetite due to the feelings of excitement.</p>

        <p>In a love reading the Eight of Wands signals falling in love quickly and deeply.</p>

        <p>In a career reading it signifies careers in marketing, tourism and aviation. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Wands type is someone who focuses on their long time goals and ambitions. They love change, and travel
          often. There are no dull moments with Eight of Wands people. When they are not busy travelling to far away
          places or visiting old friends, they are usually studying to achieve academic success. Study and travel are
          the two main focal points if you are this personality type. </p>

        <p>They live life at a fast pace, and are fun to be around, but are not easy to keep up with. You see
          glimpses of them from time to time, before they disappear into the sunset towards their next adventure. They
          usually juggle many things at once and expect to see immediate result. Patience is not their strongest virtue.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Alienating others.</p>

        <p>2. A losing battle.</p>

        <p>3. Being your own worst enemy.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Eight of Wands is reversed it indicates a lack of energy, of lethargy, and that things are not moving in the
          right direction. There might be poor time management and frequent delays. News and correspondence gets lost.</p>

        <p>There might be disputes and jealousy among couples. Violence, warfare, theft or rapacity are also common
          when the Eight of Wands shows up reversed.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Wands reversed signifies someone who is channeling their energy in the wrong way. They
          often rush into things and seldom complete things. They are prone to accidents due to being hasty. They have
          issues with anger and jealousy. They are unpredictable and at times unstable. When they try to do good they
          end up being annoying. When they decide to surprise their friends and family they end up sabotaging instead.
        </p>

        <p>They need to learn how to be in the flow, rather than being on the path to disaster. They have no patience at
          all and end up snapping at everyone who is slowing them down. They are obsessed with their future and getting
          ahead, however they often go in circles repeating the same patterns over and over.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The Eight of Wands is one of the few minor arcana cards that doesn’t have people in (in Rider Waite tarot). This
          could symbolises the ‘losing of yourself’ in the moment. The wands in the air indicate that what ever you are
          doing is completely absorbing your attention. The flight of the wands implies movement and travel. The river
          signifies flow and fertility, while the green and hilly landscape promises growth and opportunities.</p>
      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Eight of Wands + <a ui-sref="app.theFool">The Fool</a>: Adventure travel.</p>

        <p>2. Eight of Wands + <a ui-sref="app.theChariot">The Chariot</a>: Life on the road. Public transport.
        </p>

        <p>3. Eight of Wands + <a ui-sref="app.justice">Justice</a>: Legal documents.</p>

        <p>4. Eight of Wands + <a ui-sref="app.temperance">Temperance</a>: Long distance travel.
        </p>

        <p>5. Eight of Wands + <a ui-sref="app.theStar">The Star</a>: Technology.
        </p>

        <p>6. Eight of Wands + <a ui-sref="app.theSun">The Sun</a>: A fun holiday.</p>

        <p>7. Eight of Wands + <a ui-sref="app.judgement">Judgement</a>: Music.</p>

        <p>8. Eight of Wands + <a ui-sref="app.theWorld">The World</a>: Education.
        </p>

        <p>9. Eight of Wands + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Finding love while travelling.
        </p>

        <p>10. Eight of Wands + <a ui-sref="app.twoOfCups">Two of Cups</a>: Romantic holiday.
        </p>

        <p>11. Eight of Wands + <a ui-sref="app.sixOfCups">Six of Cups</a>: An old flame resurfacing.</p>

        <p>12. Eight of Wands + <a ui-sref="app.pageOfCups">Page of Cups</a>: Acting impulsive.</p>

        <p>13. Eight of Wands + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Creative travel.
        </p>

        <p>14. Eight of Wands + <a ui-sref="app.kingOfCups">King of Cups</a>: Business travel.</p>

        <p>15. Eight of Wands + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Physical exercise.</p>

        <p>16. Eight of Wands + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Refusing to take advice.
          Following your own rules.</p>

        <p>17. Eight of Wands + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Travelling to a poor area.</p>

        <p>18. Eight of Wands + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Living in another country.
        </p>

        <p>19. Eight of Wands + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: A receptionist.
          Administration.</p>

        <p>20. Eight of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Journalism. Publishing.</p>

        <p>21. Eight of Wands + <a ui-sref="app.threeOfSwords">Three of Swords</a>: String music. A short-term
          relationship.</p>

        <p>22. Eight of Wands + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Following your joy.</p>

        <p>23. Eight of Wands + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Receiving news over emails.</p>

        <p>24. Eight of Wands + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: An adventurer.</p>

        <p>25. Eight of Wands + <a ui-sref="app.twoOfWands">Two of Wands</a>: A navigator.</p>

        <p>26. Eight of Wands + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Competitive sport.</p>

        <p>27. Eight of Wands + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Feeling run down.</p>

        <p>28. Eight of Wands + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Lack of structure.
        </p>

        <p>29. Eight of Wands + <a ui-sref="app.kingOfWands">King of Wands</a>: An international business owner.
        </p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Eight of Wands can represent music, electricity, wi-fi - anything that travels through distances and
         allows us to communicate with people far away. It also denotes travelling, often air travel.
        </p>

        <p>It can also mean having so much fun that you lose yourself in the moment and forget about your problems.</p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
