<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">EIGHT OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/eightOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Confused about what to do.</p>

        <p>2. Fear of failure.</p>

        <p>3. Afraid of making the wrong decisions.</p>

        <p>4. Unable to move forward. Being stuck.</p>

        <p>5. Wanting to be rescued.</p>

        <p>6. Not trusting in yourself enough.</p>

        <p>7. Being kept in the dark.</p>

        <p>8. Lacking direction.</p>

        <p>9. Working more efficiently on your own.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Eight of Swords communicates being stuck and unable to move on due to confusion.
          Often people draw this card when their own instincts are being over ruled by other people. If the Eight
          of Swords shows up with the Devil then the querent's fear is stopping them from seeing clearly. The Devil can also
          represent incredibly strong-minded people who are forcing their beliefs on you, leaving you doubting
          yourself. </p>

        <p>The Eight of Swords combined with the Seven of Swords forecasts that you are being kept in the dark about certain matters,
          and looking to the other cards in the spread will tell you what these interferences are. The Eight of Swords often shows up when the
          querent is meant to hold off making any decisions, as the querent does not yet have all the information, and the best
          outcome will be catalyzed by outside forces.</p>

        <p>In a love reading the Eight of Swords can mean that the querent is just about to meet the love of their
          life. If the querent is in a relationship the Eight of Swords indicates the querent wants to take the relationship
          to the next level, but the time is not yet right to move forward.</p>

        <p>In a career reading the Eight of Swords suggests a career working with people who have speech impediments,
          such as speech pathologists, special aid therapists and support workers. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Swords type is someone who is very cerebral. They often get lost in their heads and are
          unable to see the bigger picture. It is not uncommon that they get fixated on unimportant details and
          issues. Their prioritization is often poor and they become confused as a result.</p>

        <p>They often feel misunderstood, and make snap judgments. This is someone who has a pattern of
          misconception and misapprehension. They focus on appearance and image over substance and
          truth.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Overly self-conscious.</p>

        <p>2. Wanting to go back in time.</p>

        <p>3. Escaping in head-space.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Eight of Swords reversed indicates a person who is unable to move forward due to self doubts, fear
          or isolation. The person knows the way forward, yet chooses to stay put, escaping in their own heads. This
          card often shows up when the querent wants to return to an earlier stage of their life. They are unhappy in
          their current situation and want what they had in the past. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Swords reversed type someone who is prone to self-sabotage. They are trying to redeem
          themselves but find it hard to move forward. They don’t always know the difference between right and wrong,
          and they often take the easy way rather than the right way.
        </p>

        <p>This is someone who believes the truth will hurt them. They have very poor self-esteem, and often bury
          their heads in the sand. They are afraid of success and they don’t believe in their own power.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The eight swords pointing downright symbolise the woman’s fears that are causing her to stay passive. Three
          of them are to the woman’s right, referring to her fear of becoming broken-hearted (see Three of Swords) and the
          five Swords are to her left embodying her fear of becoming defeated (see Five of Swords). The rope and blind
          fold illustrate her confusion and inactive state. </p>

        <p>The gray sky connotes lack of hope, possibly even depression. She is standing all alone far away from the
          town in the distance, reflecting her isolation. Her feet are on uneven ground, signifying her fear of moving
          forward.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Eight of Swords + <a ui-sref="app.theMagician">The Magician</a>: Receiving mixed messages.</p>

        <p>2. Eight of Swords + <a ui-sref="app.theEmperor">The Emperor</a>: Unpredictability. Unfinished business.</p>

        <p>3. Eight of Swords + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Fear of upsetting others.</p>

        <p>4. Eight of Swords + <a ui-sref="app.theDevil">The Devil</a>: A limiting situation. Jail. Isolation.</p>

        <p>5. Eight of Swords + <a ui-sref="app.theMoon">The Moon</a>: Leading astray.</p>

        <p>6. Eight of Swords + <a ui-sref="app.twoOfWands">Two of Wands</a>: Two bad choices.</p>

        <p>7. Eight of Swords + <a ui-sref="app.fourOfWands">Four of Wands</a>: Worrying about what others think.</p>

        <p>8. Eight of Swords + <a ui-sref="app.sixOfWands">Six of Wands</a>: Wanting to be popular. Trying to be cool.
        </p>

        <p>9. Eight of Swords + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Escaping at work. Workaholic.
        </p>

        <p>10. Eight of Swords + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Disbelief.</p>

        <p>11. Eight of Swords + <a ui-sref="app.twoOfCups">Two of Cups</a>: Poor communication in relationships.</p>

        <p>12. Eight of Swords + <a ui-sref="app.sixOfCups">Six of Cups</a>: A difficult childhood.</p>

        <p>13. Eight of Swords + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Being easily led into others agenda.
          Online grooming.</p>

        <p>14. Eight of Swords + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Writers block. Creative blocks.
        </p>

        <p>15. Eight of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Unhappy at work.</p>

        <p>16. Eight of Swords + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Financial lessons. Feeling poor
          even when you have plenty.
        </p>

        <p>17. Eight of Swords + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Low self-esteem.</p>

        <p>18. Eight of Swords + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Applying for other jobs.
        </p>

        <p>19. Eight of Swords + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Changing your mind.</p>

        <p>20. Eight of Swords + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Afraid of upsetting others.</p>

        <p>21. Eight of Swords + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Fear of getting hurt.</p>

        <p>22. Eight of Swords + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Being deliberately misled.</p>

        <p>23. Eight of Swords + <a ui-sref="app.kingOfSwords">King of Swords</a>: Autism.</p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Eight of Swords often shows up in a reading when someone has a learning difficulty, a mental
          block, aphasia, dysphasia, autism and/or other disorders that interfere with how the person is
          communicating. This card shows up when someone has difficulty understanding someone else’s behaviour. This is
          the card for miscommunication.
        </p>

        <p>
          It is difficult moving forward when there is a breakdown in communication. The Eight of Swords can also signal
          that someone has a hard time dealing with criticism, and that they are internalising the criticism, which ends up
          interfering with their mental state. The Eight of Swords shows up when we must be more gentle with
          each other. Use kind words.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
