<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">FIVE OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/fiveOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Grief and sorrow.</p>

        <p>2. Suffering, pain and loss.</p>

        <p>3. Regrets and disappointments.</p>

        <p>4. Being emotionally unsatisfied.</p>

        <p>5. Being hard to please.</p>

        <p>6. Focusing on the negative.</p>

        <p>7. Feeling unloved.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Five of Cups is the card for regrets and disappointments, especially in love. A relationship might not
          have turned out the way you would have liked it to. The querent is grieving the loss, and is unable to see
          what
          is still there. All is not lost though. In a work related query you might not be getting the recognition you
          deserve, or someone else might be getting rewarded for your work. The other cards in the spread will tell
          you in what regard your life is being affected.</p>

        <p>In a love reading the Five of Cups speaks of disappointment. A relationship did not turn out the way
          the querent was hoping for. It can mean the relationship is ending, or that an aspect of the relationship has
          ended. Perhaps the querent is missing what was, and is not sure about the new phase of the relationship. If
          single, the Five of Cups can mean the querent is feeling lonely. </p>

        <p>The querent might not think there is any hope for a happy relationship, and maybe they are settling for less
          than what they deserve.</p>

        <p>In a career reading the Five of Cups signifies work that isn't really satisfy
          the querent. The querent might have a great potential to achieve in their profession, but for some reason is
          unable to
          blossom. It can also mean that the querent feels isolated at work.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Five of Cups-type is someone who is living with disappointment and regrets. This person is hard to
          please. They look at the negative in every situation. They also find it hard
          to begin something new, as they seem to always be stuck in the past. Emotionally they are finding it hard to
          cope, and they are often playing the blame game. They have little self-love and rarely look after their health
          and well-being. They need to deal with the loss and grief in their life, and realize that life still has
          plenty
          to offer them. </p>

        <p>This is someone with a victim mentality, focusing on their regrets, loss or failures. This is someone who is
          an excellent friend when another's life is in turmoil, as they relate to what that feels like. As soon as your
          life
          starts looking up and you embrace positivity, they turn on you and accuse you of changing, and of being a poor
          friend. They can only join you in your pain, not in your happiness.</p>
      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Old grief.</p>

        <p>2. Feeling hopeless.</p>

        <p>3. Abuse.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Five of Cups reversed indicates disappointment in love and emotional matters. The two Cups that
          are still upright spill out when this card occurs reversed, which denotes the querent might be emotionally
          drained, usually by relationships. There is danger of being taken advantage of, or even abused, by the
          people around you - so be careful. The Five of Cups sometimes shows up reversed when the querent is so
          heartbroken they are unable to love again.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Five of Cups indicates someone who has hit rock bottom emotionally. Their negativity has rippled
          out and ruined what was still a good thing in their life. It can can be very difficult to be around a Five of
          Cups reversed personality type. They are often mentally unstable and they take their pain out on innocent
          people,
          ruining their day and trying to get them into trouble.
        </p>

        <p>This is someone with lots of skeletons in the closet and a string of failed ventures that haunt them. They
          have an all or nothing attitude to life which ends up working against them. This is someone who feels very
          sorry for themselves, and believes no one understands or appreciates them.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The black cloak symbolises grief. The three fallen cups with spilt contents represent loss. The two cups
          still standing are the relationships that remain. The figure has his back to the two cups standing and is
          facing
          the three fallen cups, signifying he is focusing on loss. The white bridge shows hope and support. The
          castle illustrates home and security, thus the loss is emotional rather than material.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Five of Cups + <a ui-sref="app.theFool">The Fool</a>: A disappointing new beginning.
        </p>

        <p>2. Five of Cups + <a ui-sref="app.theMagician">The Magician</a>: Emotionally let down.</p>

        <p>3. Five of Cups + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Cynicism keeping happiness away.
        </p>

        <p>4. Five of Cups + <a ui-sref="app.theChariot">The Chariot</a>: Running from problems.</p>

        <p>5. Five of Cups + <a ui-sref="app.theHermit">The Hermit</a>: Loneliness.</p>

        <p>6. Five of Cups + <a ui-sref="app.theWorld">The World</a>: A challenging life lesson.</p>

        <p>7. Five of Cups + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Finding inspiration in a difficult situation.
        </p>

        <p>8. Five of Cups + <a ui-sref="app.threeOfWands">Three of Wands</a>: Emotional setbacks that still inspire
          progress.</p>

        <p>9. Five of Cups + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Putting walls around yourself emotionally.
        </p>

        <p>10. Five of Cups + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Lack of support.</p>

        <p>11. Five of Cups + <a ui-sref="app.knightOfWands">Knight of Wands</a>: A bully.
        </p>

        <p>12. Five of Cups + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Emotional shopping.</p>

        <p>13. Five of Cups + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Unhappy at work.</p>

        <p>14. Five of Cups + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Putting on a brave face. Hiding your
          true feelings.</p>

        <p>15. Five of Cups + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Escaping in work.</p>

        <p>16. Five of Cups + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Lacking the right connections
          (especially in career).</p>

        <p>17. Five of Cups + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Grieving.</p>

        <p>18. Five of Cups + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Moving on from disappointments.
          Recovering.</p>

        <p>19. Five of Cups + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Unable to trust in others.</p>

        <p>20. Five of Cups + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Hurt in love.</p>

        <p>21. Five of Cups + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Healing a relationship.</p>

        <p>22. Five of Cups + <a ui-sref="app.sixOfCups">Six of Cups</a>: Missing the past.</p>

        <p>23. Five of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A healing relationship.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>Emotional dissatisfaction seen in the Four of Cups intensifies in the Five of Cups. The querent might feel
          like running away and starting over, but that might not be the answer. Getting away can feel great - just
          make sure you know when to stop running. Grief and sorrow are part of life, and if we work through these
          emotions we experience growth. The Five of Cups sometimes shows up
          when the querent experiences heartbreak in personal relationships. When the Five of Cups is reversed the
          heartbreak is
          prolonged.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
