<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">FIVE OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/fiveOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Conflict and defeat.</p>

        <p>2. Winning at all costs attitude.</p>

        <p>3. Tension and betrayal.</p>

        <p>4. Unhealthy competition.</p>

        <p>5. Personal attacks.</p>

        <p>6. Being lied to.</p>

        <p>7. Bullying. Being harmed by others.</p>

        <p>8. Being in trouble without doing anything wrong.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Five of Swords expresses defeat and betrayal, conflict or unhealthy competition. Words will be
          hurtful, lies will be told and your weaknesses may be used against you. If this card shows up with the Justice card
          reversed someone might try to get you into trouble by lying, or making false accusations. </p>

        <p>If this card shows up in a love reading, someone is not quite what they seem. It also might mean you're dealing with
          obnoxious people or situations.</p>

        <p>In a love reading the Five of Swords signals betrayal and abusive relationships. If the querent is
          single it can reflect dating the wrong people.</p>

        <p>In a career reading the Five of Swords signifies unhappiness in career. It can also mean
          work involving damage control, internal investigations, police or army careers.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Five of Swords indicates someone who can be a bully, or quarrelsome. This is
          someone very competitive who wants to win at all costs, especially if it means making others fail. They love
          getting people into trouble and they go out of their way to create drama and conflict. Things get very
          uncomfortable when Five of Swords type people are around. They live by the sword and die by the sword.</p>

        <p>They believe if they don’t get the advantage over others, others will get the advantage over them. They long
          for what they can not have, and their
          dreams turn into delusions as their reality is often toxic due to their behaviour. This is someone who is
          very good at pretending to be your friend, but who will find out your weaknesses and use it against you.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Unresolved conflicts.</p>

        <p>2. Fighting about nothing.</p>

        <p>3. Inability to defend oneself.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Five of Swords reversed denotes conflict and arguments remaining unresolved, often dragging on
          indefinitely. People might be nice to your face, but are not behind your back. There is no resolution to conflicts,
          as there are no winners. The reasons behind the arguments were lost a long time ago, and people fight about
          nothing.</p>

        <p>Tip to the reader: The Five of Swords often shows up reversed when the querent does everything in their power to
          avoid conflict, as they are certain they will lose. If someone picks on them they timidly backs off. Help your
          querent find healthy ways to stand up for themselves. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Five of Swords reversed indicates someone who has internal conflict and inner anger, but with too
          much fear to openly express how they feel. They have a victim mentality, and are convinced everyone is against
          them. This is someone who feels defeated and hopeless due to their lack of self realization. Their dreams seem
          distant and there is no happiness in day-to-day life.
        </p>

        <p>They come across as spineless and weak, and few people respect them. They often hide behind much stronger
          people who take advantage of them in return for protection. On their own they are unable to handle themselves
          very well and are only considered someone when in a group context. On their own they feel worthless and useless.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The irregular shaped clouds symbolise a time of conflict. The two Swords on the ground represent the defeat
          of the two people walking away. The two swords pointing upwards in the man’s left hand infer the man’s
          competitive nature. The sword in his right hand is pointing downwards and signifies the imbalance between the
          conscious and the subconscious that leads to tension and betrayal.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Five of Swords + <a ui-sref="app.theFool">The Fool</a>: A dangerous person.</p>

        <p>2. Five of Swords + <a ui-sref="app.theMagician">The Magician</a>: Toxic tongue. Being nasty.</p>

        <p>3. Five of Swords + <a ui-sref="app.theEmpress">The Empress</a>: Neglect.</p>

        <p>4. Five of Swords + <a ui-sref="app.theHierophant">The Hierophant</a>: Hypocrisy.</p>

        <p>5. Five of Swords + <a ui-sref="app.theLovers">The Lovers</a>: The wrong choice.</p>

        <p>6. Five of Swords + <a ui-sref="app.justice">Justice</a>: Crime. Assault.</p>

        <p>7. Five of Swords + <a ui-sref="app.temperance">Temperance</a>: Bad temper.</p>

        <p>8. Five of Swords + <a ui-sref="app.theSun">The Sun</a>: Difficulty raising children.</p>

        <p>9. Five of Swords + <a ui-sref="app.judgement">Judgement</a>: Being haunted by a bad event. Post traumatic
          stress.</p>

        <p>10. Five of Swords + <a ui-sref="app.threeOfWands">Three of Wands</a>: Unhealthy habits.</p>

        <p>11. Five of Swords + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Fierce competition.</p>

        <p>12. Five of Swords + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Being taken advantage of.</p>

        <p>13. Five of Swords + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Performance punishment.</p>

        <p>14. Five of Swords + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Jealousy.
        </p>

        <p>15. Five of Swords + <a ui-sref="app.threeOfCups">Three of Cups</a>: Betrayal.</p>

        <p>16. Five of Swords + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Internet trolls.
        </p>

        <p>17. Five of Swords + <a ui-sref="app.pageOfCups">Page of Cups</a>: Emotional blackmail.</p>

        <p>18. Five of Swords + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Disruption in flow.</p>

        <p>19. Five of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Workplace bullying.</p>

        <p>20. Five of Swords + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Unhappy family.</p>

        <p>21. Five of Swords + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: A brutal business.</p>

        <p>22. Five of Swords + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Getting revenge.</p>

        <p>23. Five of Swords + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Dangerous lies.</p>

        <p>24. Five of Swords + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Being stabbed in the back.</p>

        <p>25. Five of Swords + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Bitterness.</p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Five of Swords shows up in your reading when the querent is unable to get what they want and need.
          Help your client to see other options as they most likely feel stuck and helpless. Be careful who you trust
          when the Five of Swords shows up. Look at the other cards to see where the conflicts stem from.
        </p>

        <p>
          The best way to deal with the Five of Swords energy is to detach from all drama. Once you become uninterested in other
          people's drama they will simply fade away. The situation will then start to improve as a result.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
