<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">FIVE OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/fiveOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Spending more than you earn.</p>

        <p>2. Difficulty paying your bills.</p>

        <p>3. Experiencing hard times.</p>

        <p>4. Lacking support. Suffering low energy.</p>

        <p>5. Being dependent on charity.</p>

        <p>6. Lack of confidence and low self-esteem.</p>

        <p>7. Being out in the cold.</p>

        <p>8. Feeling unloved.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Five of Pentacles signals financial loss and hardship. It can also mean the querent feels that there is no
          security, and that their health might be suffering. They might feel like they are out in the cold, and that there is a need to
          receive help and support. The Five of Pentacles can mean poverty and isolation. Look at your relationship with
          money and whether or not anxiety and ignorance are giving you financial grief. </p>

        <p>You might also need to look at your network, and if you should allow help from others. The big question is, are you
          able to help yourself? If this card represents the querent on a psychological level, there is a lack of
          confidence and self-esteem. Remember bills only go away if you pay them.</p>

        <p>It is time now to deal with your debt before it becomes unmanageable. If you feel your debt already has gotten
          the better of you, it is best to consult an expert. Now is the time to take the appropriate action to improve
          your situation. The Five of Pentacles often shows up when the querent feels they have to prove their
          worth in some way. </p>

        <p>In a love reading the Five of Pentacles can suggest that the querent feels unloved and unappreciated by their
          partner. If the querent is single it can mean they feel unlovable and worthless. The querent has
          the belief that no one wants them.<p>

        <p>In a career reading the Five of Pentacles can signify the querent is relying on
          welfare. It can also denote working under dull circumstances.</p>

        <p>In a work situation the Five of Pentacles can mean the querent feels unsupported in their role. It can
          sometime signal working for charities and social work.</p>

        <h4 class="padding">Personality Types</h4>

        <p>A Five of Pentacles person is someone who feels like an outsider, and is often drawn towards the bottom end
          of society. They are often quite unfortunate people with little money. They also experience health issues, and
          are stuck in a pattern of negative thoughts and beliefs about themselves.</p>

        <p>This is someone who feels something vital is missing from their life. They are overwhelmed and unable to stay
          on top of things. They need help from others to keep themselves afloat. Five of Pentacles type people often
          overcompensate and self-sabotage. </p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. No help offered.</p>

        <p>2. Poverty.</p>

        <p>3. Giving up.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Five of Pentacles reversed indicates disorder and chaos. Not only is there no money, but there are
          also a lack of spirituality and friendships. People in need are being asked to return to where they came from
          rather than given a chance to integrate. </p>

        <p>The organisations that are meant to help are closing down. The Five of Pentacles reversed often means
          there are increased levels of poverty and debt in the querent’s life.</p>

        <h4 class="padding">Personality Types</h4>

        <p>When the Five of Pentacles is reversed it indicates someone with few real friends and plenty of antisocial
          tendencies. They try to buy friends and side with who ever they are with, in hope that they will be accepted.
        </p>

        <p>Deep down they feel lost in self-pity and are afraid of change in case things get even worse. Five of
          Pentacles people often self-sabotage and don’t really believe they deserve to receive good.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The snow on the ground symbolises being left out in the cold. The snow falling from the sky forecasts few
          changes in the current circumstances. The black wall illustrates worries. The colorful stained glass window
          signals that help and assistance is available if you allow it. </p>

        <p>The man is wearing a bell, representing ill-health (people with leprosy used to be fitted with a bell). The
          woman walks barefoot in the snow, expressing having little material wealth.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Five of Pentacles + <a ui-sref="app.aceOfWands">Ace of Wands</a>: An expensive project. Over investing.
        </p>

        <p>2. Five of Pentacles + <a ui-sref="app.threeOfWands">Three of Wands</a>: Sending money overseas.</p>

        <p>3. Five of Pentacles + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Fighting to get by.</p>

        <p>4. Five of Pentacles + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Poor health.</p>

        <p>5. Five of Pentacles + <a ui-sref="app.tenOfWands">Ten of Wands</a>: More work, less money.</p>

        <p>6. Five of Pentacles + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Downsizing.</p>

        <p>7. Five of Pentacles + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Tested faith.</p>

        <p>8. Five of Pentacles + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Relying on charity.</p>

        <p>9. Five of Pentacles + <a ui-sref="app.threeOfCups">Three of Cups</a>: Poor company.</p>

        <p>10. Five of Pentacles + <a ui-sref="app.sixOfCups">Six of Cups</a>: Unhappy childhood.</p>

        <p>11. Five of Pentacles + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Uncomfortable reality.</p>

        <p>12. Five of Pentacles + <a ui-sref="app.kingOfCups">King of Cups</a>: A doctor.</p>

        <p>13. Five of Pentacles + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Poverty. Thinking you have to be
          poor.</p>

        <p>14. Five of Pentacles + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Riding out the hard times.</p>

        <p>15. Five of Pentacles + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Unhappy relationships.</p>

        <p>16. Five of Pentacles + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Poor education.</p>

        <p>17. Five of Pentacles + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Worrying about money.</p>

        <p>18. Five of Pentacles + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Hitting rock bottom financially.
          Bankruptcy.</p>

        <p>19. Five of Pentacles + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: Aid worker.</p>

        <p>20. Five of Pentacles + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Financial improvement. A loan.
        </p>

        <p>21. Five of Pentacles + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Lack of income.</p>

        <p>22. Five of Pentacles + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: A Non-for-profit organisation.
        </p>

        <p>23. Five of Pentacles + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Studying. Expensive study.
        </p>

        <p>24. Five of Pentacles + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Isolation.</p>

        <p>25. Five of Pentacles + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Health care professional.
        </p>

      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Five of Pentacles-type person is someone who feels like an outsider and is often drawn towards the bottom end
          of society. They are often quite unfortunate people with little money. They also experience health issues, and
          are stuck in a pattern of negative thoughts and beliefs about themselves.
        </p>

        <p>This is someone who feels something vital is missing from their life. They are overwhelmed and unable to stay
          on top of things. They need help from others to keep themselves afloat. The Five of Pentacles personality types often
          overcompensate and self-sabotage. </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
