<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">FIVE OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/fiveOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Arguments and bickering.</p>

        <p>2. Being irritated.</p>

        <p>3. Wanting to stand out from the crowd.</p>

        <p>4. Clashing of personalities.</p>

        <p>5. Opposition.</p>

        <p>6. Doing sport.</p>

        <p>7. Being annoyed by demands.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Five of Wands suggests standing up for what is important to you, even if it means meeting some
          opposition. It can speak to arguments or quarrels. Everyone involved wants to get their opinions across, and
          this creates tension. The Five of Wands can also mean people have personality clashes, or that they find themselves easily
          irritated by others.</p>

        <p>In a love reading the Five of Wands signals arguments between couples.</p>

        <p>In a career reading Five of Wands signifies competitive jobs, sporting careers and physical
          work. </p>


        <h4 class="padding">Personality Types</h4>

        <p>the Five of Wands indicates someone who has problems with authority figures and experts. They doubt
          themselves and cover up their insecurities by hiding behind a cold and prideful exterior. This is someone who
          is fighting their own insecurities, and are often in fight mode. As a result they suffer exhaustion, and
          get overwhelmed or stressed by the smallest of changes. </p>

        <p>They need to be more patient with themselves and others. They have a tendency to overreact and make things
          out to be a lot worse than what it is. This is someone who is fighting a battle with themselves and is
          therefore fighting the whole world.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Avoiding conflict.</p>

        <p>2. Self-doubt.</p>

        <p>3. Loss of individuality.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Five of Wands reversed indicates loss of individuality. There is a struggle to stand out among
          others who are equally talented. The querent might have little faith in winning and therefore don’t even try. This card
          also shows up reversed when there is a fear of conflict or a fear of success. The querent might be overly
          defensive, believing everyone is attacking them.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Five of Wands reversed signals someone who needs special love and attention. They need to know that
          they matter, and that they are special. They often get ignored as they tend to have low self-esteem and issues
          with speaking up for themselves. They are easily over-powered, which feeds their low self-image. They often
          give up easily, believing they are failures. They want to be an individual, but are afraid to stand out in
          case they get attacked.
        </p>

        <p>Tip to the reader: the Five of Wands reversed can communicate that the querent needs to ‘find themselves’. They need to
          do some soul-searching and find out who they are. Once they are in touch with their essential character their life will
          start flowing in amazing ways.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The five wands have the potential to form a pentacle if the people work together. The wands clash together,
          symbolising conflict and competition. The people are only using their wands to strike against the others,
          rather than each other, showing that no one is getting seriously hurt.</p>

        <p>The uneven ground illustrates difficulty in moving forward. The five people are all wearing different coloured
          clothes, showing there is no team, and that each man is their own.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Five of Wands + <a ui-sref="app.theFool">The Fool</a>: A newcomer.</p>

        <p>2. Five of Wands + <a ui-sref="app.theMagician">The Magician</a>: Practicing using a talent.
        </p>

        <p>3. Five of Wands + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Initiation. Inner changes.</p>

        <p>4. Five of Wands + <a ui-sref="app.theEmperor">The Emperor</a>: Challenging authorities.
        </p>

        <p>5. Five of Wands + <a ui-sref="app.theHermit">The Hermit</a>: Helping others reach their goals.
        </p>

        <p>6. Five of Wands + <a ui-sref="app.theWheel">The Wheel of Fortune</a>: Standing out from the rest.</p>

        <p>7. Five of Wands + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Feeling left out.</p>

        <p>8. Five of Wands + <a ui-sref="app.temperance">Temperance</a>: Bridging the gap between cultures and class
          systems in society. Activism.
        </p>

        <p>9. Five of Wands + <a ui-sref="app.theTower">The Tower</a>: Being led astray.
        </p>

        <p>10. Five of Wands + <a ui-sref="app.theMoon">The Moon</a>: Exploring creative individualism.</p>

        <p>11. Five of Wands + <a ui-sref="app.threeOfCups">Three of Cups</a>: Jealousy.</p>

        <p>12. Five of Wands + <a ui-sref="app.fourOfCups">Four of Cups</a>: Restlessness.</p>

        <p>13. Five of Wands + <a ui-sref="app.sixOfCups">Six of Cups</a>: Raising children.
        </p>

        <p>14. Five of Wands + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Time wasting.</p>

        <p>15. Five of Wands + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Protecting your habitat.</p>

        <p>16. Five of Wands + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Business politics.</p>

        <p>17. Five of Wands + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Job interview.</p>

        <p>18. Five of Wands + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Turning a creative venture into a
          business opportunity.
        </p>

        <p>19. Five of Wands + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Work rivalry.</p>

        <p>20. Five of Wands + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Computer games.</p>

        <p>21. Five of Wands + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Family conflicts.</p>

        <p>22. Five of Wands + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Reinventing yourself.</p>

        <p>23. Five of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Having your beliefs challenged.</p>

        <p>24. Five of Wands + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Conflict resolution.</p>

        <p>25. Five of Wands + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Breakdown in communication.
          Misunderstandings.</p>

        <p>26. Five of Wands + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Bordering on burn-out. Old-couple
          bickering.</p>

        <p>27. Five of Wands + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Out-smarting others. Confusing others
          on purpose.</p>

        <p>28. Five of Wands + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Self-doubt.</p>

        <p>29. Five of Wands + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Getting on people’s nerves.</p>

        <p>30. Five of Wands + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Playing your own game.</p>

        <p>31. Five of Wands + <a ui-sref="app.kingOfSwords">King of Swords</a>: Skill shortage.</p>

        <p>32. Five of Wands + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Waiting for the right time.</p>

        <p>33. Five of Wands + <a ui-sref="app.twoOfWands">Two of Wands</a>: Being original.</p>

        <p>34. Five of Wands + <a ui-sref="app.threeOfWands">Three of Wands</a>: Rudeness.</p>

        <p>35. Five of Wands + <a ui-sref="app.fourOfWands">Four of Wands</a>: Multiculturalism.</p>

        <p>36. Five of Wands + <a ui-sref="app.sixOfWands">Six of Wands</a>: Fighting for recognition.</p>

        <p>37. Five of Wands + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Athleticism.</p>

        <p>38. Five of Wands + <a ui-sref="app.pageOfWands">Page of Wands</a>: A dramatic personality.</p>

        <p>39. Five of Wands + <a ui-sref="app.knightOfWands">Knight of Wands</a>: A strong personality.</p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>There is a time to follow and there is a time to lead. The Five of Wands speaks of a time where
          you are somewhere in between. You are not sure if you are ready to lead, but you are not trusting in who to
          follow either. The result is often bickering and petty conflicts. Someone will have to take the lead, even
          if it means sticking your neck out.
        </p>

        <p>If you don’t like the leader, and you don’t want to be the leader, you might end up a loner. Find out who you
          are and what you believe in, and your life will become much easier. You are not meant to follow everyone,
          however you are not meant to fight everyone either. Finding out who you are and believing in yourself will
          make you less argumentative and more able to stand on your own two feet.</p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
