<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">FOUR OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/fourOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A wedding or a happy event.</p>

        <p>2. Opening up to new possibilities.</p>

        <p>3. Property and land.</p>

        <p>4. Expanding your living situation.</p>

        <p>5. A strong community.</p>

        <p>6. A strong foundation.</p>

        <p>7. A life in the country.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Four of Wands is the card for harmony and developing more security on a larger scale, often expanding
          your living situation, and also becoming more connected to a community. This card often shows up when
          there is a celebration and a wedding coming up, especially connected to the Three of Cups.</p>

        <p>Connected to the Nine of Pentacles it can mean going on holiday. The Four of Wands can also mean you are building
          your own home or buying property.</p>

        <p>In a love reading the Four of Wands can be a celebration, such as an engagement party or
          wedding.</p>

        <p>In a career reading the Four of Wands signifies careers in event planning, real estate, property
          investing or designing. </p>


        <h4 class="padding">Personality Types</h4>

        <p>This is someone who always seem to be in a good mood. They love celebration and bringing people together.
          They are normally very happy people. Four of Wands-type people love to play, and need to be free from
          burdens and heavy responsibilities. They make their surroundings look beautiful, especially outdoor areas, and
          they love to incorporate all the senses into their environment. </p>

        <p>They tend to look amazing, often wearing perfume, and their voices are pleasant. This is someone who reminds you about
          how good life can be. They are fun to be with and are full of smiles and giggles. They have a candid ability
          to tell you exactly what you need to hear.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Cancelled events.</p>

        <p>2. Problems with property.</p>

        <p>3. Being unprepared.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Four of Wands is reversed it means a solid foundation has not been laid, or is not ready. A wedding or ceremony might
          be postponed or cancelled. There is quicksand underfoot, rather than solid ground. This is often due to being
          unprepared and/or taking hasty actions.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Four of Wands indicates someone who focuses on appearance rather, than the substance of how things actually are. This
          is someone whose life is rattled with conflict and drama. They need to learn to love themselves before they
          attempt having deep and serious relationships.
        </p>

        <p>They have a tendency to sacrifice themselves for others and have very poor self-esteem. This is someone who
          has no idea how to value themselves. Some compensate by becoming control freaks and try to dictate how others
          should behave. They often end up being strongly disliked by their peers.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The four wands with the welcome wrath represent the home which the couple
          will build together. The two female figures in the foreground symbolise friendship. They uplift bouquets, promising
          gifts and celebration.</p>

        <p>The bridge on their left side signals a new and better phase in the querent’s life. The manor house
          conveys life in the country and abundance. The people in the background signify a happy social life.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Four of Wands + <a ui-sref="app.theMagician">The Magician</a>: A successful community event.</p>

        <p>2. Four of Wands + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Psychic circles. Your local
          Library. A book club.
        </p>

        <p>3. Four of Wands + <a ui-sref="app.theLovers">The Lovers</a>: Celebrating love.</p>

        <p>4. Four of Wands + <a ui-sref="app.theHermit">The Hermit</a>: Community teacher.
        </p>

        <p>5. Four of Wands + <a ui-sref="app.temperance">Temperance</a>: Property investor.
        </p>

        <p>6. Four of Wands + <a ui-sref="app.theDevil">The Devil</a>: Deep connection with the land.</p>

        <p>7. Four of Wands + <a ui-sref="app.theMoon">The Moon</a>: A designer. A night event.</p>

        <p>8. Four of Wands + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Celebrating creativity. Community art project.
        </p>

        <p>9. Four of Wands + <a ui-sref="app.twoOfCups">Two of Cups</a>: Celebrating love.
        </p>

        <p>10. Four of Wands + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Goodbye party. Saying goodbye to someone
          you care about.</p>

        <p>11. Four of Wands + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: A holiday. Relaxation.</p>

        <p>12. Four of Wands + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Health and fitness.</p>

        <p>13. Four of Wands + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Craftsmanship. Happiness in the
          workplace.
        </p>

        <p>14. Four of Wands + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: A good investment.</p>

        <p>15. Four of Wands + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Gardening. Community garden.
          Community farm.</p>

        <p>16. Four of Wands + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: A hard-working community.</p>

        <p>17. Four of Wands + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: A wealthy community.</p>

        <p>18. Four of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Doing well on exams, tests, interviews.
        </p>

        <p>19. Four of Wands + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Your neighbors.</p>

        <p>20. Four of Wands + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Getting visitors.</p>

        <p>21. Four of Wands + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Worrying about social settings.
          Regretting doing something in public.</p>

        <p>22. Four of Wands + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Celebrating retirement. Celebrating an
          ending.</p>

        <p>23. Four of Wands + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Celebrating a new enterprise, a new job, a
          new beginning.</p>

        <p>24. Four of Wands + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Protecting your community. Protecting
          your friends.</p>

        <p>25. Four of Wands + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Protecting what you have created.</p>

        <p>26. Four of Wands + <a ui-sref="app.kingOfWands">King of Wands</a>: A charismatic community leader.</p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>Something long-lasting is being celebrated. Long lasting traditions, friendships and relationships are in
          focus. A happy event has occurred and the querent is feeling how good life can be. The Four of Wands
          reminds us of the things in life with special value.
        </p>

        <p>We put up walls to protect it and we often worry about having to live without it. The best thing we can do is
          to simply enjoy it without taking it for granted.</p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
