<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">FOUR OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/fourOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. What goes up must come down.</p>

        <p>2. Feeling flat and uninspired.</p>

        <p>3. Being self-absorbed.</p>

        <p>4. Not enjoying other people’s company.</p>

        <p>5. Feeling left out.</p>

        <p>6. Contemplation.</p>

        <p>7. Being dissatisfied. Being bored.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Four of Cups is the card for contemplation. It often shows up when the querent is dissatisfied about
          something, and doesn’t fully notice what they are being offered. They are bored with what they’ve got, but
          don’t do much to change it either. It is the card for apathy. The Four of Cups with the Hermit can denote they have
          lost interest in the outside world and are instead focusing on meditation. This can also be the case if the Four
          of Cups is next to the Four of Swords, but to a less extent. The Four of Cups sometimes shows up when
          someone is needing the querent’s help, but the querent might not realize until it is too late.</p>

        <p>In a love reading the Four of Cups denotes the querent is not paying attention to what is on offer when
          it comes to love. They may not fully appreciate their partner, or if single they don’t see someone who is
          offering them love.</p>

        <p>In a career reading the Four of Cups signifies complacency in work. The querent
          knows how to do their work well, but doesn’t love it enough to be really good at it. It can also
          mean work in administration and broadcasting. As with all the Cups, the Four of Cups also can mean work in
          hospitality and counselling. </p>


        <h4 class="padding">Personality Types</h4>

        <p>the Four of Cups type is someone who is dissatisfied with their current situation. They never seem to
          get exactly what they want, and end up being in conflict with what they have and what they need. This is
          someone who lacks the drive and motivation to go ahead and make themselves happy. </p>

        <p>When opportunities present themselves, they often miss them do to their lack of focus. They need to open
          their eyes and see the world as it actually is, not how they believe it to be. This is someone who’s life
          lacks magic and excitement. They often take things for granted and are often missing the point.</p>
      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Doing something you will later regret.</p>

        <p>2. Emotional emptiness.</p>

        <p>3. Lack of imagination.</p>

        <p>4. Unhealthy lifestyle and cravings.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Four of Cups reversed signals that the querent has become unbalanced, and has difficulty noticing the
          opportunities that are presenting themselves. Life has become so emotionally empty that the querent can’t even
          imagine anything better coming along. Sometimes this card shows up reversed when the querent needs to do more
          meditation and listen more to their intuition. The Four of Cups reversed can also indicate unhealthy cravings and temptations.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Four of Cups reversed conveys someone who is irritable, crabby and unstable when under pressure.
          They are terrified of displeasing those around them, and sacrifice their own happiness for other people’s
          convenience. There are often unresolved issues with the women in their life. They often suffer from too much
          feminine influences and are over-reacting to those around them.
        </p>

        <p>The Four of Cups reversed personality type needs to connect with their own hearts, and ask themselves what it is they really
          want. They need to spend some time alone until they know who they are, as they too often just follow the lead
          of other people.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The three cups symbolize the outside world of social groups and
          people coming together. The man sits under the tree with his arms and legs folded, intimating a meditative
          state of contemplating, as well as being introverted and reserved. He takes little interest in the three
          cups in front of him. A cup is being presented to him by an outstretched representation of the Ace of Cups; a new
          opportunity is presenting itself. The man takes no notice of the cup offered to him, symbolising emotional
          apathy. The tree represents life and growth still being a possibility.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Four of Cups + <a ui-sref="app.theFool">The Fool</a>: Restoring joy through meditation.
        </p>

        <p>2. Four of Cups + <a ui-sref="app.theMagician">The Magician</a>: Lack of substance.</p>

        <p>3. Four of Cups + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Unable to accept an answer.</p>

        <p>4. Four of Cups + <a ui-sref="app.theEmpress">The Empress</a>: Working from home. Administration.</p>

        <p>5. Four of Cups + <a ui-sref="app.theEmperor">The Emperor</a>: Bored with a routine.</p>

        <p>6. Four of Cups + <a ui-sref="app.theChariot">The Chariot</a>: Wanting a better life.</p>

        <p>7. Four of Cups + <a ui-sref="app.theHermit">The Hermit</a>: Proofreading and editing. Bookkeeping. Writing.
        </p>

        <p>8. Four of Cups + <a ui-sref="app.theWheel">The Wheel</a>: Feeling out-of-place. Unaware of a big
          opportunity.</p>

        <p>9. Four of Cups + <a ui-sref="app.temperance">Temperance</a>: Wanting to speed things up.</p>

        <p>10. Four of Cups + <a ui-sref="app.theDevil">The Devil</a>: Feeling too restricted. Unhealthy choices.</p>

        <p>11. Four of Cups + <a ui-sref="app.theStar">The Star</a>: Needing more recognition.
        </p>

        <p>12. Four of Cups + <a ui-sref="app.theWorld">The World</a>: Wanting more responsibility. Wanting to go
          overseas.</p>

        <p>13. Four of Cups + <a ui-sref="app.twoOfWands">Two of Wands</a>: Being too smart for the job you do. Wanting
          career change.</p>

        <p>14. Four of Cups + <a ui-sref="app.threeOfWands">Three of Wands</a>: Wanting a reward. Wanting more
          recognition.</p>

        <p>15. Four of Cups + <a ui-sref="app.sixOfWands">Six of Wands</a>: Wanting more popularity.</p>

        <p>16. Four of Cups + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Needing more space.</p>

        <p>17. Four of Cups + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Feeling unmotivated.</p>

        <p>18. Four of Cups + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Reviewing a contract.</p>

        <p>19. Four of Cups + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Stalemate.</p>

        <p>20. Four of Cups + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Meditation.</p>

        <p>21. Four of Cups + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Wanting a sea-change.</p>

        <p>22. Four of Cups + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Self-doubt.</p>

        <p>23. Four of Cups + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Restlessness.</p>

        <p>24. Four of Cups + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Wanting more security.</p>

        <p>25. Four of Cups + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Wanting more job satisfaction.
        </p>

        <p>26. Four of Cups + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Needing kindness.</p>

        <p>27. Four of Cups + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Missing original family.</p>

        <p>28. Four of Cups + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Waiting for inspiration. Needing to be
          inspired.</p>

        <p>29. Four of Cups + <a ui-sref="app.twoOfCups">Two of Cups</a>: Wanting love.</p>

        <p>30. Four of Cups + <a ui-sref="app.threeOfCups">Three of Cups</a>: Needing more fun.</p>

        <p>31. Four of Cups + <a ui-sref="app.sixOfCups">Six of Cups</a>: Nostalgia.</p>

        <p>32. Four of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Wanting a spiritual connection.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>There is a need for emotional satisfaction that seems to be unavailable when the Four of Cups
          turns up. You might find yourself chasing good times that seem to elude you. Take this time to get in touch
          with your inner voice and you will be restored to your natural state of joy.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
