<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">FOUR OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/fourOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Status and wealth. Doing business.</p>

        <p>2. Stubbornness. Holding on to what you know.</p>

        <p>3. Great richness.</p>

        <p>4. Being comfortable.</p>

        <p>5. Recognition.</p>

        <p>6. Financial security.</p>

        <p>7. Being money oriented.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Four of Pentacles suggests the need for security and recognition in your life. This card shows
          financial stability and having made a solid foundation due to career advancement and rising to the top in
          career and business. Just make sure you don’t take a defensive stance where you are too careful to move
          forward to guard against losing your comfortable position.</p>

        <p>This card shows stubbornness in the situation or in the querent. The querent needs to have control and see
          their money increasing. The Four of Pentacles often shows up when you have been nurturing something
          that later ends up turning against you in some way.</p>

        <p>Tips for when the Four of Pentacles shows up in a reading: it speaks of the querent's relationship with
          money.
          How far are they willing to go for money? Help your querent find ways of feeling secure. When this card shows
          up the querent will often act as if they are poor, when they in fact have plenty.</p>

        <p>In a love reading the Four of Pentacles speaks to money being an important factor in the relationship.
          Money might be the main motivation to stay in the relationship. If the querent is single the Four of Pentacles
          can
          indicate fears of giving and sharing, keeping the querent single. The querent might be only interested in a
          potential partner if they are very wealthy.</p>

        <p>In a career reading the Four of Pentacles forecasts contracts involving big money. It also relate
          careers in well-established firms. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Four of Pentacles-type person is someone who is very well-connected and is always hungry for more success
          and
          wealth. These people are very stubborn and don’t let go of their position easily.</p>

        <p>They rarely take advice from others and therefore go through many hard life lessons, especially in their
          personal life. This is someone who is resisting change and is limited by their control issues.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A miser.</p>

        <p>2. Hoarding.</p>

        <p>3. Penny smart, but Pound foolish.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Four of Pentacles is reversed it expresses a lack of something solid and dependable. There is
          nothing really reliable
          to hold on to. The querent might be being foolish with their money. </p>

        <p>There is meanness with money, business problems and poor self-esteem seen in the Four of Pentacles reversed.
          Four
          of Pentacles reversed often shows up when the querent is penny smart but pound foolish, meaning that they are
          smart with small amounts of money, but foolish with larger amounts. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Four of Pentacles reversed signals someone who is holding onto material accomplishments out of fear of
          failure or abandonment. They often lose their financial security due to their lack of generosity, and they
          become greedy or needy as a result. They believe money is the answer to all problems and measure their worth
          against how much is in their bank account.
        </p>

        <p>This is someone who tries to impress others by pretending to be much more successful than how they really
          are. The Four of Pentacles reversed types are people who tend to lose track of what is really important in life.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The crown symbolises status. There is a coin underneath each of the man’s feet, referencing earthly
          possessions. He holds a coin in his arm folded in the infinity symbol, representing flow of abundance. One coin
          is on top of his crown signifying mastery and authority in the material world. His clothing is red with a
          blue trim, illustrating passion and contemplation combined. </p>

        <p>The man is sitting on a cubic stone, suggesting stability and perfection. In the background is a city
         promising opportunities. The man is sitting above it on what looks like a throne, infering that the man has
          high social status.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Four of Pentacles + <a ui-sref="app.theFool">The Fool</a>: New money. A new investment. A rich kid. Born
          rich.</p>

        <p>2. Four of Pentacles + <a ui-sref="app.theMagician">The Magician</a>: Successful sale. Getting more than you
          thought.</p>

        <p>3. Four of Pentacles + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Secret investment. Business
          woman.</p>

        <p>4. Four of Pentacles + <a ui-sref="app.theEmperor">The Emperor</a>: Government money. Business man.</p>

        <p>5. Four of Pentacles + <a ui-sref="app.theHierophant">The Hierophant</a>: Private schools. Financial
          institutions.</p>

        <p>6. Four of Pentacles + <a ui-sref="app.strength">Strength</a>: Passionate about business and investment.
          Compassionate with money.</p>

        <p>7. Four of Pentacles + <a ui-sref="app.theHermit">The Hermit</a>: A wealthy benefactor.</p>

        <p>8. Four of Pentacles + <a ui-sref="app.justice">Justice</a>: Protecting your assets. Compensation. Business
          law.</p>

        <p>9. Four of Pentacles + <a ui-sref="app.temperance">Temperance</a>: Business management.</p>

        <p>10. Four of Pentacles + <a ui-sref="app.theDevil">The Devil</a>: Dirty money.</p>

        <p>11. Four of Pentacles + <a ui-sref="app.theTower">The Tower</a>: Fighting about money.</p>

        <p>12. Four of Pentacles + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A new financial opportunity.</p>

        <p>13. Four of Pentacles + <a ui-sref="app.twoOfWands">Two of Wands</a>: Business negotiation. Financial
          planning.</p>

        <p>14. Four of Pentacles + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Business travel. Business news.</p>

        <p>15. Four of Pentacles + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Pressure in business. Pressure to
          perform in business.</p>

        <p>16. Four of Pentacles + <a ui-sref="app.pageOfWands">Page of Wands</a>: Early stages in business.</p>

        <p>17. Four of Pentacles + <a ui-sref="app.kingOfWands">King of Wands</a>: Business leader.</p>

        <p>18. Four of Pentacles + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Loving your business.</p>

        <p>19. Four of Pentacles + <a ui-sref="app.threeOfCups">Three of Cups</a>: Wealthy friends.</p>

        <p>20. Four of Pentacles + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Financial disappointments.</p>

        <p>21. Four of Pentacles + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Spiritual entrepreneurship.</p>

        <p>22. Four of Pentacles + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Travelling up the business and
          social ladder.</p>

        <p>23. Four of Pentacles + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Cuts in business.
        </p>

        <p>24. Four of Pentacles + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Business contract.</p>

        <p>25. Four of Pentacles + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Financial betrayal.</p>

        <p>26. Four of Pentacles + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: Competition in business.</p>

        <p>27. Four of Pentacles + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: New wealth.</p>

        <p>28. Four of Pentacles + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Financial loss.</p>

        <p>29. Four of Pentacles + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Family money.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Four of Pentacles is a card that speaks of wealth on the material plane, rather than a spiritual
          aspect. There is the need to always have more money when the Four of Pentacles shows up. There is also a need to
          flaunt and impress with money. Status is of importance.
        </p>

        <p>Sometimes this card shows up when the querent has a fear of being poor, and business and money matters come
          before friendships and intimacy. The Four of Pentacles can indicate that the querent has trust issues, especially
          if it shows up reversed. </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
