<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">JUDGEMENT</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/judgement.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Being a good judge of character.</p>

        <p>2. Change and transformation that we are ready for.</p>

        <p>3. Taking responsibility for your life.</p>

        <p>4. Stepping up to the task. Taking a stand.</p>

        <p>5. Being the person you were always meant to be.</p>

        <p>6. Recognising your true vocation.</p>

        <p>7. Confusion.</p>

        <p>8. Hearing a call and answering a need.</p>

        <p>9. Unburdening yourself.</p>


        <h4 class="padding">Meanings</h4>

        <p>Judgement cards indicate taking responsibility for your actions and your life, being a good
          judge of character, seeing the truth and knowing what you want. It often shows up when you need to
          step up and be a leader, speak the truth and be more assertive. This card also shows up around
          endings and new beginnings. </p>

        <p>It differs from the Death card in the sense that with Death you might feel that you have little
          choices, and the transformation is happening against your will. The Judgement card signifies changes that
          you have manifested more consciously by stepping up and becoming more of the person you were always meant to
          be.</p>

        <p>Tips for when Judgement shows up in your reading: it often shows up in a reading when the
          querent has made an important decision. The Judgement card is telling the querent to trust in their decisions and to have
          faith in their abilities. </p>

        <p>In a love reading Judgement describes a relationship that nearly ended, only to be revived in the
          last minute. Judgement can mean that the couple needs to appreciate each other more. If the querent is single
          Judgement speaks to finding love through fulfilling your calling in life. Someone will fall in love with your
          leadership qualities.</p>

        <p>In a career reading the Judgement card signifies careers in recruitment, politics and
          management.</p>

        <h4 class="padding">Personality Types</h4>

        <p>A Judgement type personality is someone who is very assertive, and who enjoys being the one in charge. They know what
          they want and how to get it, and they are excellent judges of character. If something is out of their
          control they feel quite uneasy about it. Judgement personalities are concerned with the long-term future of human
          existence.</p>

        <p>They are great leaders and full of courage. Judgement-type people are quite good at getting what they want, even
          if some manipulation is needed. Deep down they have a calling, but they are not always listening to it. As
          soon as they accept their life's purpose, they blossom into someone with great clarity. They often start a
          completely new direction later in life. Their challenge is to break free from the recurring patterns and
          behaviours holding them back.</p>
      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A burden.</p>

        <p>2. Poor judgement.</p>

        <p>3. Repeating the same mistake.</p>


        <h4 class="padding">Meanings</h4>

        <p>A Judgement card reversed indicates taking on burdens, digging oneself deeper into an old life, being
          haunted by the past, and being unable to let go. There is something blocking the querent from renewing themselves.
          There seems to be no escape from the mistakes of the past and little hope for a better future.</p>

        <p>The querent’s judgement of characters is often incorrect when this card shows up reversed. They should be calling
          the shots in their own lives, but are instead being controlled and suppressed by outside influences.

          If the Judgement card is showing up reversed when asking about a house or a property it can indicate that the
          place has ill-fortune.</p>


        <h4 class="padding">Personality Types</h4>

        <p>When Judgement is reversed it can signal someone operating on a negative vibration. They cannot be trusted
          and have issues with trusting others. This is someone who is a poor judge of character, who believes in
          liars and distrusts the honest people. They often repeat the same patterns in their lives over and over, even if
          it is hurting them.
        </p>

        <p>A Judgement reversed person is someone who feels a lot like a zombie, who, due to their programming and circumstances,
          are stuck in an unhealthy situation and often feel life is passing them by. They are tired and worn out,
          wishing for a new life, but often lack the energy to make it happen.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>Judgement is ruled by Pluto, the planet for transformation, and its element is fire. Pluto
          represents the subconscious forces and rules everything hidden in the depth of our minds. It represents
          endings and new beginnings. The position of Pluto shows where people search for truth and deeper meaning.
          There might be issues with power struggles and control. It is important to feel we are in control of our lives
          and that we are living our highest calling in life. When the Judgement card shows up we search for change
          and transformation, and we are encouraged to accept our deepest need. If we choose to ignore our dark side,
          destructiveness might soon follow.</p>
      </div>


      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The angel is represents the delivering of messages. The trumpet symbolises the afterlife’s triumph
          over death, denoting endings followed by positive new beginnings. The white banner with the orange cross is a
          victory banner, expressing a victory over death </p>

        <p>A man, a woman and a child are being called from the
          tomb of ego consciousness. The three people are reflected on the other side of the river, another symbol of
          the spirit’s victory over death.</p>

        <p>The three people are also a sign of the three pillars of the tree of life. The ocean represents the end of
          the river, showing individuals coming together for a greater good. The mountains represent the structure
          that surrounds us all.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Judgement + <a ui-sref="app.theMagician">The Magician</a>: Researching.</p>

        <p>2. Judgement + <a ui-sref="app.theHierophant">The Hierophant</a>: Studying. Taking an oath.</p>

        <p>3. Judgement + <a ui-sref="app.theChariot">The Chariot</a>: Saving someone. A hero.</p>

        <p>4. Judgement + <a ui-sref="app.death">Death</a>: Ending something.</p>

        <p>5. Judgement + <a ui-sref="app.temperance">Temperance</a>: Communicating with angels.</p>

        <p>6. Judgement + <a ui-sref="app.theWorld">The World</a>: The world of politics.</p>

        <p>7. Judgement + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Leadership job.</p>

        <p>8. Judgement + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: New Policies.</p>

        <p>9. Judgement + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Helping the poor.</p>

        <p>10. Judgement + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: New work procedures.</p>

        <p>11. Judgement + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Renewed confidence.</p>

        <p>12. Judgement + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Spiritual gifts.</p>

        <p>13. Judgement + <a ui-sref="app.fourOfCups">Four of Cups</a>: Poor advice. Listening to the wrong people.</p>

        <p>14. Judgement + <a ui-sref="app.sixOfCups">Six of Cups</a>: Re-connection with past people.</p>

        <p>15. Judgement + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Calling the shots.</p>

        <p>16. Judgement + <a ui-sref="app.twoOfWands">Two of Wands</a>: Being assertive.</p>

        <p>17. Judgement + <a ui-sref="app.fourOfWands">Four of Wands</a>: An alternative lifestyle. A unique community.</p>

        <p>18. Judgement + <a ui-sref="app.kingOfWands">King of Wands</a>: Change of leadership.</p>

        <p>19. Judgement + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: New belief systems. Changing your beliefs.</p>

        <p>20. Judgement + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Bridging the gab between opposing forces.</p>

        <p>21. Judgement + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Worrying about other people’s beliefs.</p>

        <p>22. Judgement + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Influencing others.</p>

        <p>23. Judgement + <a ui-sref="app.kingOfSwords">King of Swords</a>: A judge. An influential leader.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>Judgement signifies your calling in life. It can mean you are stepping out of the main stream
          consciousness to live a life more meaningful. Other people might seek you out for guidance so they also can
          get more out of life. The Judgement card also means being a good judge of character. If reversed, Judgement signifies
          believing in false idols, and distrusting those who could actually help.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
