<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">JUSTICE</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/justice.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Balance and fairness.</p>

        <p>2. The truth will set you free.</p>

        <p>3. Doing what is right.</p>

        <p>4. Being impartial.</p>

        <p>5. Being in control.</p>

        <p>6. Seeing all sides of a situation.</p>

        <p>7. Making decisions based in facts rather than your emotions.</p>

        <p>8. Being accountable.</p>

        <p>9. Legal affairs.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Justice card represent all kinds of legal matters, the spiritual laws of truth and cause and effect. When the
          Justice card shows up it reminds us to be lawful and fair to achieve best result. It can also represent a
          legal case. The other cards next in the layout will tell you if the legal matters playing out in your life
          will be of your benefit or dismay. Justice is a non-emotional card so make sure you are keeping to facts
          rather than building your arguments purely based on emotional agendas.</p>

        <p>It is the law of the land that governs
          and not your personal values, so play the game well by keeping your emotions in check. Justice reminds us that
          things work out according to the quality of effort and work you have put into it. What goes around often comes
          around, so be fair and square. In a reading Justice shows up to tell you to give yourself a fair shot. There
          is no reason why you can’t succeed. You have as good a chance as anyone, and if you put the effort in you will
          most definitely reap the rewards. No-one can stop you, other than you.</p>

        <p>In a love reading the Justice card can signify a relationship with many rules, and one part might be
          compromising more than the other. Justice describes a relationship both intellectually and emotionally
          stimulating. If the querent is single, Justice promises that the wait is almost over, just don’t
          settle for less than what you deserve.</p>

        <p>In a career reading Justice suggests jobs in law and order,
          as well as in fitness. When paired with the World card it can express teaching jobs. </p>

        <h4 class="padding">Personality Types</h4>

        <p>A Justice personality type is someone with a strong sense of what is right and wrong and who likes to play fair and square. They
          like things to be balanced and take their time making decisions as they often fear they will make the wrong
          one. They are good at setting their emotions aside to make use of their logical brain. Sometimes they are
          considered to be cold as they don’t like to show their emotions, however Justice people just want to stay
          true to their principles.</p>

        <p>It takes a lot for them to let go of their position, and when they do they will
          reflect it for a long time. They look at all sides of a situation, considering all viewpoints, before
          they make their minds up on the matter. Justice people are psychologically stable people who seek balance in
          their relationships. They need partnerships to be blissful and harmonious to feel good, if not they
          suffer a lot and will work hard towards a peaceful conflict resolution.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Injustice.</p>

        <p>2. Corruption.</p>

        <p>3. Crime.</p>


        <h4 class="padding">Meanings</h4>

        <p>Justice reversed equates to injustice, unfairness, or imbalance. You are either getting too much or too little of
          what you need. Something might be preventing the energy of fairness and balance from succeeding. It can be
         resources being hidden or people acting selfishly. The tools of justice might be missing and the scales of
          balance and the sword of the intellect are gone. This can indicate a corrupt system. You are not getting what
          you need and you might find that you are on the wrong path, spending time with the wrong people in all the
          wrong places.</p>


        <h4 class="padding">Personality Types</h4>

        <p>Justice reversed indicates someone who might be in trouble with the law. They often tell lies and manipulate
          in ways of getting out of trouble. They are often indecisive when presented with choices and are siding with
          who ever they are with to avoid upsetting the status quo. Justice reversed is someone who is in
          relationships/partnerships that are harming them, and with enemies that are attacking the core of their being.
          Bad habits and poor lifestyle choices are piling up against the person, who needs to learn to take
          responsibility for their life.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>Justice is ruled by Libra. Libra is ruled by Venus. Libra is called the ‘portal of death’ because its natural
          placement is with the seventh house at sunset, but Justice alone is not enough to determine endings without
          the appropriate cards to put it in a poor aspect. The World (Saturn), The Tower (Mars), Judgement (Pluto), The
          Hanged Man (Neptune) and The Fool (Uranus) will in conjunction with Justice denote endings and
          transformations. Justice oversees things that requires extreme balance. Venus govern marriage, beauty and
          financial gain.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The lady represents the goddess Athena, who is the goddess for wisdom, courage, inspiration, civilization,
          law and justice, just warfare, mathematics, strength, strategy, the arts, crafts, and skill. Like the High
          Priestess and the Hierophant, she stands between two pillars, becoming the third pillar. There is a veil between
          her pillars. Behind it is the yellow glow of a new dawn, symbolising a new beginning once justice has been
          served. Her yellow crown with a small square suggests well-organised thought patterns.
        </p>

        <p>The clasp holding her cloak together is a circle inside a square; the square representing protection and
          order, the circle signifying oneness and equality. The double-edged sword symbolises both favorable and
          unfavorable consequences. Since it is pointing up it represents the law of cause and effect as well as being
          ready for ‘battle’ and/or conflict if need be.</p>

        <p>The sword in her right hand expresses the use of the conscious and
          logical mind. The scale in her left hand illustrates fair and impartial judgement. Her stance expresses the
          use of the intuitive mind in balance with the logical mind. The intuitive mind reflects, the logical mind
          responds accordingly.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Justice + <a ui-sref="app.theFool">The Fool</a>: Letting go of guilt. Starting over.</p>

        <p>2. Justice + <a ui-sref="app.theMagician">The Magician</a>: A talented lawyer.</p>

        <p>3. Justice + <a ui-sref="app.theEmpress">The Empress</a>: A lucrative contract.</p>

        <p>4. Justice + <a ui-sref="app.theHierophant">The Hierophant</a>: Law school.</p>

        <p>5. Justice + <a ui-sref="app.theWorld">The World</a>: A big city. The legal world.</p>

        <p>6. Justice + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: The Law.</p>

        <p>7. Justice + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Injustice. A criminal.</p>

        <p>8. Justice + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Prison. Stuck due to legalities. Lack of clarity.</p>

        <p>9. Justice + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: An activist. International lawyer.</p>

        <p>10. Justice + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Signing legal documents.</p>

        <p>11. Justice + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: A defense lawyer. Legal defense.</p>

        <p>12. Justice + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Corruption in the workplace.</p>

        <p>13. Justice + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Spiritual laws.</p>

        <p>14. Justice + <a ui-sref="app.twoOfCups">Two of Cups</a>: Finding balance in a relationship.</p>

        <p>15. Justice + <a ui-sref="app.pageOfCups">Page of Cups</a>: Speaking the truth.</p>

        <p>16. Justice + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Poetic justice. Conscious art.</p>

        <p>17. Justice + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Compensation money.</p>

        <p>18. Justice + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Business law.</p>

        <p>19. Justice + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Law of the land.</p>

        <p>20. Justice + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Studying law.</p>

        <p>21. Justice + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Working from home. Work/home balance.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Justice card speaks of the rules that define your life. Justice sometimes shows up when the querent is
          dealing with the legality of their jobs or their investments. It also shows up when there are disputes and
          sometimes even court cases. Justice encourages you to see a situation from angles than your
          own to gain a better perspective. When reversed, the Justice card warns that you must be extra careful
          signing contracts and be careful who you trust. Someone might be deliberately trying to con you when this card
          shows up reversed.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
