<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">KING OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/kingOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A natural leader.</p>

        <p>2. Ambitious and charismatic.</p>

        <p>3. Good with technology.</p>

        <p>4. A married man.</p>

        <p>5. Entrepreneurial skills.</p>

        <p>6. New and exciting projects.</p>

        <p>7. Making other people feel special.</p>

        <p>8. Wanting to have it all.</p>


        <h4 class="padding">Meanings</h4>

        <p>The King of Wands often denotes someone who is married with a family. This is someone who is a natural
          and charismatic leader. The King of Wands indicates entrepreneurial skills and running new and exciting projects.
          This card can represent an industry leader and being an expert, especially in media and communication.</p>

        <p>This card signifies being passionate about life. King of Wands-type people don’t do well with compromises and
          neither will you if this card represents you in a reading. In most situations the King of Wands means leadership,
          commitment, getting recognition, success and doing the things that makes you tick.</p>

        <p>In a love reading the King of Wands can mean the querent is falling in love with someone who is
          committed elsewhere.</p>

        <p>In a career reading this card signifies careers in media, technology and small business
          owners.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The King of Wands is the king of cool, someone very exciting. A powerful risk taker, the King of Wands personality types
          have plenty of healthy confidence. It is the kind of confidence that makes other people feel confident too.
          They make great leader,s and people are drawn to their magnetic personalities.</p>

        <p>They have a real talent in making others feel special. This is someone very driven and magnetic. They have a
          genuine concern and consideration for other people’s well-being. They love to invest and they love to push
          themselves to go further. With so much to experience, they want to have it all.</p>

      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Terror.</p>

        <p>2. A double life.</p>

        <p>3. Laziness.</p>


        <h4 class="padding">Meanings</h4>

        <p>The King of Wands reversed indicates dictatorship. This is someone with a superiority complex and a bad
          temper, often violent. Sometimes this card shows up when someone lives a double life, they are
          charming to the outside world, but at home they are terrorizing their families with their temper and control
          issues. If not a person, this card reversed indicates red tape, fear of taking risks and poor leadership.</p>


        <h4 class="padding">Personality Types</h4>

        <p>If the King of Wands is reversed it indicates someone who needs to learn to control their temper. They have too
          much ego and expect everyone to tip toe around them and cater for their every need. These
          people don't take responsibility for the state of their relationships and blame everyone else if something
          goes wrong.
        </p>

        <p>They rarely stay faithful to their partners or friends, and don't conduct themselves with integrity. They are vain and
          believe themselves to be much better looking than what they are in reality. They also have an annoying habit
          of believing everyone is secretly in love with them. This is someone who lacks self-awareness. </p>

        <p>They only want to talk about topics they are interested in, which usually is themselves.
          At times they are shameless and promiscuous, and they often have a drinking problem.</p>

        <p>They exaggerate their own importance and brag continuously. Some of them have even worse problems and become
          violently dangerous and unstable.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The king’s cape and throne are decorated with images of the lion and the salamander, symbolizing strength and
          courage among change and transformation. The salamander biting its own tale represents an Ouroboros. The Ouroboros
          expresses the ability to re-create yourself.</p>

        <p>The throne is made of gold, signaling prestige. The king’s crown is the shape of flames, the reflecting a
          passion for prestige. The wand in his right hand conveys ambitious ideas. The king’s lion necklace
          implies courage.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. King of Wands + <a ui-sref="app.theMagician">The Magician</a>: A successful sales person.</p>

        <p>2. King of Wands + <a ui-sref="app.theChariot">The Chariot</a>: Success in self-employment.</p>

        <p>3. King of Wands + <a ui-sref="app.theHangedMan">The Hanged Man</a>: The modern man.</p>

        <p>4. King of Wands + <a ui-sref="app.theMoon">The Moon</a>: Acting.</p>

        <p>5. King of Wands + <a ui-sref="app.theSun">The Sun</a>: A good husband.</p>

        <p>6. King of Wands + <a ui-sref="app.judgement">Judgement</a>: Change of leadership.</p>

        <p>7. King of Wands + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: A business man.</p>

        <p>8. King of Wands + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Business leader.</p>

        <p>9. King of Wands + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A confident business owner.</p>

        <p>10. King of Wands + <a ui-sref="app.threeOfWands">Three of Wands</a>: International business.</p>

        <p>11. King of Wands + <a ui-sref="app.fourOfWands">Four of Wands</a>: A charismatic community leader.</p>

        <p>12. King of Wands + <a ui-sref="app.sixOfWands">Six of Wands</a>: Success in leadership.</p>

        <p>13. King of Wands + <a ui-sref="app.eightOfWands">Eight of Wands</a>: An international business owner.
        </p>

        <p>14. King of Wands + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Success at all undertakings. Ambition.
        </p>

        <p>15. King of Wands + <a ui-sref="app.tenOfWands">Ten of Wands</a>: A hard working business owner.
        </p>

        <p>16. King of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: An opinionated leader.</p>

        <p>17. King of Wands + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Violence.</p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The King of Wands denotes natural leadership. This card sometimes shows up when you are
          interacting with authority figures. It is wise to let them help you.
        </p>

        <p>The King of Wands is also the card for achievement. The best thing you can do is to focus on yourself.
          Compete only with yourself and you will be amazed at how far you will go.</p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
