<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">KING OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/kingOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A business man.</p>

        <p>2. Career orientated.</p>

        <p>3. Middle management. Project management.</p>

        <p>4. A comfortable life.</p>

        <p>5. Successful touch.</p>

        <p>6. Being an expert in your field.</p>

        <p>7. The love of money and success.</p>

        <p>8. Being at the top of your game.</p>


        <h4 class="padding">Meanings</h4>

        <p>The King of Pentacles denotes success in business. This is a stable and authoritative character, who
          is hard-working and dependable. The King of Pentacles achieves success through discipline and is an expert in
          his
          field. It is a very ambitious and career oriented card, and if you are being represented by this card than you
          need to have control and power, as well as security and a stable home.</p>

        <p>The King of Pentacles indicates a strong provider, both financially and through giving advice and guidance.
          There is a lot of support provided by the King of Pentacles, who is willing to hear you you, but he is
          business
          oriented at his core, so do not try to con him. He is no fool.</p>

        <p>In a love reading the King of Pentacles communicates a secure and committed relationship. The couple is
          enjoying great wealth and success.</p>

        <p>In a career reading it signifies the querent has mastered something vital which
          provides them with success and recognition. The querent feels secure in their work role and promotions are
          likely.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The King of Pentacles type person is someone with a great work ethic who is good with both money and people.
          They are excellent project managers and can handle several projects at once. Several people will have to be
          hired to replace one King of Pentacles person. They have great observational skills and leadership
          abilities. </p>

        <p>They are not afraid to have a conflict if it means getting the work done properly. This is someone who loves
          nature, animals and people, who is stable, accomplished and powerful.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Hoarding.</p>

        <p>2. Averse to changes.</p>

        <p>3. Poor health.</p>

        <p>4. Lacking people skills.</p>


        <h4 class="padding">Meanings</h4>

        <p>A King of Pentacles card reversed indicates being too conservative. When reversed it suggests
          difficulties in making the necessary changes. Falling behind is likely. The King of Pentacles reversed is
          likely
          to be a miser and a hoarder. </p>

        <p>This is someone who expects the best, but allows others to have the worst. Neglect of hygiene and poor health
          are
          indicated when King of Pentacles shows up reversed. Stubbornness and fear prevent positive change.</p>


        <h4 class="padding">Personality Types</h4>

        <p>A King of Pentacles reversed person is someone who lives in clutter, both in his house and in his head. They
          are often dirty and terribly disorganized. They want to do well, but lack both people skills and
          organisational skills to get very far. They might even be unemployed or doing unreliable casual employment.
          They don’t make good providers and never let you know how they really feel.
        </p>

        <p>If they are in leadership positions they often make a real mess of things, because they are unable to handle
          conflicts and difficult situations. They are very money oriented and dream about winning the lottery. If they
          do come to money they will store it away only for them to keep, and continue acting as if they are in poverty.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The rooftop garden symbolises comfort and abundance. The king’s throne is decorated with carvings of bulls
          and vines. The bulls convey mastering the material world. The vines relate excess. The king’s robe is
          decorated with images of grapevines rich with fruit conveying abundance.</p>

        <p>Around him and at his feet are vines and flowers symbolising his success in the physical world. In his right
          hand he is holding a sceptre representing authority. In his left hand he holds a pentacle indicating financial
          wealth.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. King of Pentacles + <a ui-sref="app.theFool">The Fool</a>: New business opportunity.</p>

        <p>2. King of Pentacles + <a ui-sref="app.theMagician">The Magician</a>: Mastering the financial world of sales.
        </p>

        <p>3. King of Pentacles + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A female boss.</p>

        <p>4. King of Pentacles + <a ui-sref="app.theEmpress">The Empress</a>: Great riches. Success in the home and in
          career.</p>

        <p>5. King of Pentacles + <a ui-sref="app.theHermit">The Hermit</a>: A spiritual entrepreneur.</p>

        <p>6. King of Pentacles + <a ui-sref="app.theWheel">The Wheel of Fortune</a>: Wealth.</p>

        <p>7. King of Pentacles + <a ui-sref="app.theHangedMan">The Hanged Man</a>: A redundancy.</p>

        <p>8. King of Pentacles + <a ui-sref="app.theStar">The Star</a>: A visionary. Investing well.</p>

        <p>9. King of Pentacles + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Being well respected.</p>

        <p>10. King of Pentacles + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Business apprentice.
        </p>

        <p>11. King of Pentacles + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: A father.
        </p>

        <p>12. King of Pentacles + <a ui-sref="app.threeOfWands">Three of Wands</a>: Expanding a business
          opportunity.</p>

        <p>13. King of Pentacles + <a ui-sref="app.fourOfWands">Four of Wands</a>: A wealthy community.</p>

        <p>14. King of Pentacles + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Protecting your business.</p>

        <p>15. King of Pentacles + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Protecting your money.</p>

        <p>16. King of Pentacles + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Middle management.</p>

        <p>17. King of Pentacles + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: A brutal business.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The King of Pentacles speak to achieving on the material plane. You are mastering the art of
          finance and wealth-creating if the King of Pentacles represents you and your life.
        </p>

        <p>The King of Pentacles is a useful card to get in questions about business endeavors. It denotes career
          advancement and having a successful touch. </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
