<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">KING OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/kingOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Authority and responsibility.</p>

        <p>2. Power and ambition.</p>

        <p>3. A professional man.</p>

        <p>4. Well educated.</p>

        <p>5. Being well prepared.</p>

        <p>6. Having a good reputation.</p>

        <p>7. Being polite in public, but can be rude to people they know.</p>

        <p>8. Cold and aloof.</p>


        <h4 class="padding">Meanings</h4>

        <p>The King of Swords portrays a professional who is at the top of their game. This is someone who is an
          expert in their field, and studied to acquire this knowledge. They also have plenty of
          practical experience in how to apply this knowledge in a very sophisticated manner. The King of Swords is an
          intellectual authority figure who are often chefs, lawyers, judges, doctors, surgeons and pilots.</p>

        <p>In interpersonal situations the King of Swords signifies success, especially if you prepared. The more
          prepared you are the better the outcome will be. This is a unemotional card, so it is better to know your stuff then
          to try to rely on charm and luck to get through.</p>

        <p>The King of Swords in a love reading can denote a committed relationship with someone who is very
          independent. </p>

        <p>In a career reading the King of Swords signifies being a master at a certain skill, and being in high
          demand. It can also express authority and can be a policeman, judge or lawyer. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The King of Swords denotes a rational and ethical person who is often mentoring others who need to
          learn from their expertise. The King of Swords personalities are our experts, but different form a
          know-it-all, because they actually do know. They have no need to flaunt their knowledge, they are already highly regarded people.
          They are successful and very confident.</p>

        <p>They stay with the facts and rarely makes things personal. Their reputation is of uppermost importance to
          them. They are very well-educated, and have well-paid and well-respected positions in society. This is someone
          who makes good decisions and who usually win an argument.</p>

      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Cruelty.</p>

        <p>2. Censorship.</p>

        <p>3. Holding back truths.</p>

        <p>4. Injustice.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the King of Swords is reversed it indicates someone who will manipulate the facts to get their own ways. There
          are blocks in regards to integrity and objectivity. This is someone opinionated and biased. New ideas get
          mocked and censored. It sometimes shows up reversed when the querent is holding back
          truths they should be telling.</p>

        <p>There is ignorance to this card when it shows up reversed, and the person might even be tyrannical and
          abusive, especially verbally. In situations wherein the King of Swords is reversed it can mean the querent is unprepared and
          unable to accomplish tasks. When reversed in a love reading it can signal an abusive
          relationship. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The King of Swords reversed type personality are people with a nasty and hateful nature. They want to disgrace
          others as much as possible, especially through humiliation. Deep down they are defeated and unable to handle
          their own emotional reactions. They demand respect, but do nothing to actually deserve any. This is someone
          who is bad-tempered and hostile.
        </p>

        <p>They are emotionally unavailable and care only about themselves. If you cross them they will never forget
          it. When they start awakening to love and light, it is a very slow process, and once you think they finally
          have got it, they revert back to their usual cruel and arrogant selves.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The ring on the king’s left Saturn finger symbolizes authority and responsibility. His blue tunic indicates
          knowledge and understanding. His purple cape reflects power and ambition. The clouds represent mental
          challenges.</p>

        <p>The two birds flying above the clouds represent Hugin and Munin, inferring information available to the
          king at all times. The double edged sword in the king’s right hand relates the king’s power see both sides
          of a situation. His throne is decorated with symbols of butterflies, two crescent moons and an angel.</p>

        <p>The butterflies represent transformation. The two crescent moons are the balance between male and
          female energies. The angel next to his left ear implies guidance. The trees symbolizes education.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. King of Swords + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A woman in a man’s world. Psychic detective.</p>

        <p>2. King of Swords + <a ui-sref="app.theHierophant">The Hierophant</a>: Administration.</p>

        <p>3. King of Swords + <a ui-sref="app.death">Death</a>: The tax man. A business man.</p>

        <p>4. King of Swords + <a ui-sref="app.temperance">Temperance</a>: A news reporter. Broadcasting.</p>

        <p>5. King of Swords + <a ui-sref="app.theStar">The Star</a>: A public servant.</p>

        <p>6. King of Swords + <a ui-sref="app.theMoon">The Moon</a>: Mental health specialist.</p>

        <p>7. King of Swords + <a ui-sref="app.judgement">Judgement</a>: A judge. An influential leader.</p>

        <p>8. King of Swords + <a ui-sref="app.threeOfCups">Three of Cups</a>: Restaurant owner. A chef.</p>

        <p>9. King of Swords + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: A conductor.</p>

        <p>10. King of Swords + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Becoming a professional, then a master
          within the field.</p>

        <p>11. King of Swords + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Debt collector. Competitive business.</p>

        <p>12. King of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: A professional team. The best in
          the business.</p>

        <p>13. King of Swords + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: An uncle.
        </p>

        <p>14. King of Swords + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A new boss. A new authority in your life.
        </p>

        <p>15. King of Swords + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Skill shortage.</p>

        <p>16. King of Swords + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Victory in the intellectual world.</p>

        <p>17. King of Swords + <a ui-sref="app.sixOfSwords">Six of Swords</a>: A navigator.</p>

        <p>18. King of Swords + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Autism.</p>
      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The King of Swords expresses mastery and expertise. If you have become complacent in your role
          it arrives to get you up to speed again. The King of Swords can be an authority you feel intimidated
          by, however if you put your pride aside, the King of Swords will be exactly what you need, especially in career
          questions. Te King of Swords is demanding, but if you listen to it'll make a lot of sense.
        </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
