<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">KNIGHT OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/knightOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Determination and drive.</p>

        <p>2. Very charming and lovable.</p>

        <p>3. Passionate and hot-tempered.</p>

        <p>4. Self-confident.</p>

        <p>5. Living life in the fast lane.</p>

        <p>6. Love showing off.</p>

        <p>7. Impulsiveness.</p>

        <p>8. Travel to fun and exciting locations.</p>


        <h4 class="padding">Meanings</h4>

        <p>Knight of Wands entails a person who is travelling through life at a high-speed. This is someone
          who will be the life of the party. It's almost impossible to ignore this person. Fun and adventurous,
          life is never dull when the Knight of Wands is around. In situations, this card speaks of impulsiveness, travel,
          high energy, passion, lust and adventure.</p>

        <p>The Knight of Wands often shows up in a reading when the querent wants to achieve big. They want to be able to
          impress people with their skills and knowledge. This card also shows up when the querent is planning to move to
          another country.</p>

        <p>Tips to the reader: When the Knight of Wands shows up in a reading the querent wants to have it all - the perfect
          life! Ask your client (or yourself) if they had a magical wand and could create their dreams what would that
          look like. The querent is shopping for a whole new life, and are often planning to move overseas. </p>

        <p>In a love reading the Knight of Wands speaks of a fun relationship, a holiday romance or a travelling
          couple.</p>

        <p>In a career reading this card signifies exciting jobs, working outdoors and work that
          involves travel. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Knight of Wands expresses someone carefree and playful. They are impulsive and are usually on
          the move somewhere. They are very active people who love to travel. This is someone who appreciates their
          freedom above all else, and they have an optimistic attitude towards life (as long as they are not too tied
          down).</p>

        <p>They only care about how they feel in the moment and never worry too much about the future. These sorts of
          people are courageous and generous. They love a challenge, especially of the creative variety. They are usually
          athletic. They are competitive and usually do well in sports. They are very confident
          people.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Addictions.</p>

        <p>2. Arguments.</p>

        <p>3. Hazards.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Knight of Wands is reversed it insinuates that there is a bully who wants to win at any costs. This is someone with
          acting talent who can turn his charm on and off and manipulate people to get his way. This is someone who is very
          ill-tempered and revengeful, evil-minded and false. If not a person, this card reversed signals trouble while
          travelling.</p>

        <p>This card also shows up reversed when the querent feels they have lost their freedom, and are being caught in
          a web they are unable to get out of. The Knight of Wands reversed also indicates hazards on the querent’s path,
          especially during travels.</p>


        <h4 class="padding">Personality Types</h4>

        <p>This personality type hates to lose. They see enemies in everyone, and
          they believe attacking is the best defense. They are usually quite childish people. They believe rules are
          meant to be broken and they rarely learn from their mistakes. The only things they regret is when they get
          caught and have to answer to authorities about their behavior.
        </p>

        <p>They often have a criminal background and are notorious trouble makers. Many have addictions to drugs and
          alcohol, and they love to gamble. If they owe money they don’t care whether or not they can pay it back. In
          relationships they cheat their partners, and are capable of running off with all of their savings.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The orange horse represents determination and drive. The rider’s tunic is decorated by images of salamander,
          symbolizing adaptability and opportunities. The plumes from the knight’s helmet and at the back of his arm
          illustrates movement and change of residence.</p>

        <p>His yellow tunic refers to joy and excitement. The knight’s armor hints at the querent’s taste for risk,
          danger and challenges.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Knight of Wands + <a ui-sref="app.theMagician">The Magician</a>: A talented competitor.</p>

        <p>2. Knight of Wands + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Secret admirer.</p>

        <p>3. Knight of Wands + <a ui-sref="app.theHierophant">The Hierophant</a>: Spiritual warrior. Spiritual work. A mission.</p>

        <p>4. Knight of Wands + <a ui-sref="app.theHermit">The Hermit</a>: Lighting the way for others.</p>

        <p>5. Knight of Wands + <a ui-sref="app.theWheel">The Wheel of Fortune</a>: A thrill seeker. A successful athlete. A lucky move.</p>

        <p>6. Knight of Wands + <a ui-sref="app.temperance">Temperance</a>: An overseas adventure.</p>

        <p>7. Knight of Wands + <a ui-sref="app.theDevil">The Devil</a>: A bully.</p>

        <p>8. Knight of Wands + <a ui-sref="app.theStar">The Star</a>: A revolutionary. A revolution.</p>

        <p>9. Knight of Wands + <a ui-sref="app.theSun">The Sun</a>: Relocation to a warmer place. A happy career change.</p>

        <p>10. Knight of Wands + <a ui-sref="app.theWorld">The World</a>: Moving overseas. Travelling.</p>

        <p>11. Knight of Wands + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Spiritual teacher.</p>

        <p>12. Knight of Wands + <a ui-sref="app.twoOfCups">Two of Cups</a>: Adventurous love.</p>

        <p>13. Knight of Wands + <a ui-sref="app.fiveOfCups">Five of Cups</a>: A bully.
        </p>

        <p>14. Knight of Wands + <a ui-sref="app.sixOfCups">Six of Cups</a>: Travelling to a place from your
          childhood.
        </p>

        <p>15. Knight of Wands + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Publishing.</p>

        <p>16. Knight of Wands + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Moving to a place where your dreams
          can come true.
        </p>

        <p>17. Knight of Wands + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Fun jobs.</p>

        <p>18. Knight of Wands + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Downsizing.</p>

        <p>19. Knight of Wands + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: A tradesman.</p>

        <p>20. Knight of Wands + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: A sibling.</p>

        <p>21. Knight of Wands + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Moving. Change of residence.</p>

        <p>22. Knight of Wands + <a ui-sref="app.twoOfWands">Two of Wands</a>: A career move.</p>

        <p>23. Knight of Wands + <a ui-sref="app.fiveOfWands">Five of Wands</a>: A strong personality.</p>

        <p>24. Knight of Wands + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Avoiding a bad situation by moving.
        </p>

        <p>25. Knight of Wands + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Manipulating others.</p>

        <p>26. Knight of Wands + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Being used as a doormat.
        </p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>Make sure your passport is up to date as the Knight of Wands promises travel that can take you to
          new and exciting destinations. If you have contemplated moving this card is a big yes, and a push to get you
          packing. If you are asking about a career, the Knight of Wands signals a fun job with which you can travel.
        </p>

        <p>The Knight of Wands marks fun and/or action filled work where the hours seem to fly by. Socially, the
          Knight of Wands indicates someone is competing for your affection. It can also
          forecast a holiday romance.</p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
