<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">KNIGHT OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/knightOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Moving forward fast.</p>

        <p>2. Advancing.</p>

        <p>3. Multitasking. Making hasty decisions.</p>

        <p>4. Being on the war path. A soldier.</p>

        <p>5. Communication and problem solving skills.</p>

        <p>6. Being competitive.</p>

        <p>7. Being an activist.</p>

        <p>8. A truth seeker.</p>


        <h4 class="padding">Meanings</h4>

        <p>Knight of Swords bespeaks a communicative, strong-minded and at times opinionated person who is
          very action oriented, and thrives on change. This is someone with a competitive streak that doesn’t like to let
          go of his/hers position in an argument. It can signify a soldier or someone who is in war,
          battle and/or conflict area.</p>

        <p>The Knight of Swords describes hasty decisions and competitive environments. Things
          will move quickly and you will have to pay attention or you will quickly fall behind. Communication will be at
          it’s peak, as everyone has something to say.</p>

        <p>In a love reading the Knight of Swords indicates finding love when you least expect it. If the querent
          is in a relationship it marks a relationship that can be of a competitive nature.</p>

        <p>In a career reading the Knight of Swords signifies action oriented jobs and careers involving
          searching for truth. It can also denote a soldier or war correspondent. The Knight of Swords is in
          the pursuit for truth, and can indicate a hacktivist. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Knight of Swords hints at someone clever and intelligent. They are talkative, opinionated,
          ingenious and competitive. They can be quite animated, and they love it when they get all the attention. Knight
          of Swords type people are able to accomplish many things at once. They need to use their brilliant mind in order to be
          happy. They often lack diplomacy and have a habit of stepping on people’s toes. </p>

        <p>If someone hurts them, they make sure they hurt them back before they move on. They always give as good as
          they get, and then a little extra to make sure you never cross their boundaries again. This is someone who
          thinks quick, walks fast and often has a habit of speeding. Everything has to happen <i>now</i>. They tend to be
          impatient people.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Unable to express yourself.</p>

        <p>2. Quarrel.</p>

        <p>3. Impatience.</p>

        <p>4. A trouble maker.</p>

        <p>5. A criminal.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Knight of Swords reversed suggests a person with a speech impediment or learning disabilities. This
          is someone who is intelligent but for some reason is unable to express themselves. The Knight of Swords also shows
          up reversed when there is a lack of observational skill or attention to detail.</p>

        <p>This is someone who might steal information from others and take credit for their work. It can even be
          someone who spreads information on the Internet to create fear and havoc. If this card is about travel it can
          indicate delays, especially with air travel.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Knight of Swords signals someone who needs to learn to listen to others. They have a habit of
          thinking it’s all about them. They always try to win an argument and will quarrel so they can argue for the
          sake of it. They lack boundaries and have little awareness of other people’s space and boundaries.
        </p>

        <p>They have a track record of upsetting others and driving people mad. They push your buttons and test your
          patience. After spending time with a this type of person you feel exhausted.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The white horse represents the bravery of the rider, as white horses are often the bearer of heroes. The horse is
          charging ahead, illustrating the mental conviction of the querent. The rider is holding his sword up in the air
          with his right hand and steering his horse with his left, showing the querent’s ability to multi-task.
          The sword symbolise his communication and ideas coming through his conscious mind.</p>

        <p>The turbulent clouds stands for opposition, and the wind blowing against the rider shows that the knight
          is following his own beliefs and convictions.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Knight of Swords + <a ui-sref="app.justice">Justice</a>: An activist. International lawyer.</p>

        <p>2. Knight of Swords + <a ui-sref="app.theTower">The Tower</a>: A warrior. A soldier. An attack.</p>

        <p>3. Knight of Swords + <a ui-sref="app.aceOfCups">Ace of Cups</a>: An inspirational person.</p>

        <p>4. Knight of Swords + <a ui-sref="app.threeOfCups">Three of Cups</a>: A military man.</p>

        <p>5. Knight of Swords + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Craving danger. Thrill seeker.</p>

        <p>6. Knight of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Dangerous work.</p>

        <p>7. Knight of Swords + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Competition in business.</p>

        <p>8. Knight of Swords + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Aid worker.</p>

        <p>9. Knight of Swords + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: A modern Robin Hood.
        </p>

        <p>10. Knight of Swords + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Studying.</p>

        <p>11. Knight of Swords + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Standing up for your beliefs.
          Fighting for what you believe in.</p>

        <p>12. Knight of Swords + <a ui-sref="app.eightOfWands">Eight of Wands</a>: An adventurer.</p>

        <p>13. Knight of Swords + <a ui-sref="app.twoOfSwords">Two of Swords</a>: A sophisticated activist. Legal
          channels.</p>
      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>Truth seeker or trouble maker? That is the question when the Knight of Swords shows up in your reading. This card has
          the kind of energy that brings about change, however there is often conflict involved.
        </p>

        <p>
          The Knight of Swords indicates someone who would make great investigators, policemen, detectives,
          journalists, scientists, activists - any occupation that focuses on finding out the truth. On the flip side
          they also makes great criminals and troublemakers.
        </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
