<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">KNIGHT OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/knightOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Change of work.</p>

        <p>2. Ambition.</p>

        <p>3. A move due to work.</p>

        <p>4. Putting in the effort. Never giving up-attitude.</p>

        <p>5. Being practical.</p>

        <p>6. Work hard and play hard.</p>

        <p>7. Seeing result after working hard at it.</p>

        <p>8. More of the same effort will yield results.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Knight of Pentacles connotes being of service and doing the actual work (in contrast to the Page of
          Pentacles who enjoys daydreaming about the idea rather than actually living it). The Knight of Pentacle is
          comfortable with routine, is efficient and conservative. If this card represents you in a reading it often
          means you will be trusted with more responsibility and accountability.</p>

        <p>Do not shy away from this, but make sure you accomplish your work dutifully and with attention to detail. There
          is no need to make any major changes to your approach, as this card says more of the same effort will do, and
          following through with your well worked out routine is the way to go.</p>

        <p>In a love reading the Knight of Pentacles signals finding love when you are either changing
          residence or changing jobs. If in a relationship it shows the couple is working hard for
          a better future. They might be renovating or investing in property, or they are working hard in their careers
          to earn more money for their future.</p>

        <p>In a career reading the Knight of Pentacles speaks of changes in a work routine. A new job will present
          itself, which will be a move in the right direction. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Knight of Pentacles type is someone who is usually very kind and understanding. They are considerate
          and have others best interest at heart. They are grounded, trustworthy and reliable, dedicated to service and
          sacrifice. These people are both logical and creative at once, they know when it is time to
          follow a strict routine and when it is time to make the necessary changes. </p>

        <p>They have a love for property and get excited by the thought of owning a portfolio of investments. They love
          business and are very practical people. They are family oriented and are often great providers.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Envy.</p>

        <p>2. Sloppiness.</p>

        <p>3. Stagnation in career.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Knight of Pentacles is reversed reflects sloppiness, bitterness and envy. This is someone who is
          sucking up to those who can help them climb the ladder to wealth and success, but will do nothing for those
          who haven’t got money or connections. </p>

        <p>This is someone who is also tight with money. The Knight of Pentacles sometimes shows up reversed when there
          is stagnation and frustration in career and financial matters. If not a person, this card indicates a problem
          in travels, especially in journeys by foot, hiking or cycling. Double check your gear. Getting lost is a
          strong possibility.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Knight of Pentacles reversed personality is someone ready for a change, but too scared to make a move. They
          desperately long for a holiday, and feel bitter about putting effort into their work and home. They have
          issues with breaking out of unhealthy habits and are immature for their age.
        </p>

        <p>Such people have terrible time management skills and often prioritize poorly.
          This is someone who will spend as much time as possible playing games on their
          phone or on game consoles, talking about things that have little value. They tend to spend more time with the
          TV than with their family.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The heavy horse symbolizes the knights efforts and his grounded nature. The road indicates his ambition and
          where he is heading. The knight is holding a coin up with his right hand, insinuating earning a wage. His gaze
          is ahead, marking his vision. His horse stands on a hill, inferring that he is contemplating a possible
          change.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Knight of Pentacles + <a ui-sref="app.theFool">The Fool</a>: New job opportunity.</p>

        <p>2. Knight of Pentacles + <a ui-sref="app.theEmpress">The Empress</a>: Changing your career to be more abundant.</p>

        <p>3. Knight of Pentacles + <a ui-sref="app.theEmperor">The Emperor</a>: Government housing.</p>

        <p>4. Knight of Pentacles + <a ui-sref="app.theHierophant">The Hierophant</a>: Job security.</p>

        <p>5. Knight of Pentacles + <a ui-sref="app.theChariot">The Chariot</a>: A successful career change.</p>

        <p>6. Knight of Pentacles + <a ui-sref="app.theDevil">The Devil</a>: Workaholic.</p>

        <p>7. Knight of Pentacles + <a ui-sref="app.theTower">The Tower</a>: Unexpected changes to your work situation.</p>

        <p>8. Knight of Pentacles + <a ui-sref="app.theWorld">The World</a>: Government work.</p>

        <p>9. Knight of Pentacles + <a ui-sref="app.threeOfCups">Three of Cups</a>: Celebrating a career
          milestone.</p>

        <p>10. Knight of Pentacles + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Lacking the right connections
          (especially in career).</p>

        <p>11. Knight of Pentacles + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Bored at work.</p>

        <p>12. Knight of Pentacles + <a ui-sref="app.nineOfCups">Nine of Cups</a>: A successful career change.
        </p>

        <p>13. Knight of Pentacles + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Health care professional.
        </p>

        <p>14. Knight of Pentacles + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Job searching.</p>

        <p>15. Knight of Pentacles + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A new exciting job.</p>

        <p>16. Knight of Pentacles + <a ui-sref="app.threeOfWands">Three of Wands</a>: A creative job.</p>

        <p>17. Knight of Pentacles + <a ui-sref="app.fourOfWands">Four of Wands</a>: A hard-working community.</p>

        <p>18. Knight of Pentacles + <a ui-sref="app.sixOfWands">Six of Wands</a>: Successful career change.</p>

        <p>19. Knight of Pentacles + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Being a jack-of-all-trades at
          work.
        </p>

        <p>20. Knight of Pentacles + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Walking away from a bad work
          situation.</p>

        <p>21. Knight of Pentacles + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Applying for other jobs.
        </p>

        <p>22. Knight of Pentacles + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Unemployment.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The knights are all about changes, so when the Knight of Pentacles turns up in your reading it is an agent of change in
          your work. Often this card speaks to change of work, either as a conscious choice or as a inevitable turn of
          events. The Knight of Pentacles also suggests moving into a new living situation.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
