<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">KNIGHT OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/knightOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A declaration of love. Being in love with love.</p>

        <p>2. A business trip.</p>

        <p>3. A singer, poet, painter or writer.</p>

        <p>4. A creative phase.</p>

        <p>5. Wearing rose-colored glasses.</p>

        <p>6. Optimism.</p>

        <p>7. Putting on a performance. Entertaining others.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Knight of Cups conveys a person on a quest to declare his love. This is your knight in shining
          armor. They are a singer, poet and writer. They paint and create, wherever they go. They are charming
          and love romance. In most situations Knight of Cups often speaks to a creative phase
          in your life, where music and art will play a huge part. The Knight of Cups often shows up in your cards when you
          are travelling, when the act of travel feels joyful and meaningful. Your imagination will be at a peak, especially when
          combined with the Moon card.</p>

        <p>In a love reading the Knight of Cups often shows up when someone takes you on a romantic getaway. If
          single, it often represents a love interest. In the context of a relationship the Knight of Cups can mean the couple
          is moving forward in a very positive way, and it often includes physical travel as well. </p>

        <p>In a career reading the Knight of Cups signifies a poet, musician, painter, or any type of creative
          jobs. This card can also mean health care jobs, but only if the querent really loves to care for others.
          The Knight of Cups can also signify a business trip. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Knight of Cups is someone who is in love with love, and they are often wearing rose-colored
          glasses. They are dramatic, romantic and optimistic, and they have strong emotional responses.
          They are very artistically and musically inclined.</p>

        <p>This is someone who is bringing emotions to the surface, both in themselves and in others. These
          people are very charming, loving, adaptable and they are easily influenced by their environment and the people
          around them.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Cynicism.</p>

        <p>2. Pretending.</p>

        <p>3. Leaving someone or something behind.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Knight of Cups is reversed it alludes to a person who is walking away from a relationship and/or
          a creative venture. The emotional state of the querent might be far from romantic, instead it is more likely to
          be cynical and they use their insights and intuition to make others hurt as much as they do. Lazy and
          untruthful, this person is someone who might even hate the opposite sex. Knight of Cups reversed
          indicates intimacy issues.</p>

        <h4 class="padding">Personality Types</h4>

        <p>If the Knight of Cups is reversed it marks someone who is putting on a performance rather than being
          themselves. The performance is draining and they end up exhausted. They are so emotional that there is no rest
          from their current circumstance.
        </p>

        <p>They have no idea who they are or who the persona is they created to keep everyone else happy and
          entertained. These sorts of people are excellent actors/actresses. They attract people like a moth to a
          flame, but they have deep-rooted intimacy issues, and will not let anyone close.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The white horse symbolises the bearer of heroes. The knight acts as a messenger, often bearing a romantic message.
          The cloak is decorated with images of fish, which stands for the spirit. The wings on the helmet and feet are a
          symbol of freedom of expression. The river intimates the flow of emotions.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Knight of Cups + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Secret talent. Acting. Performing.</p>

        <p>2. Knight of Cups + <a ui-sref="app.theEmperor">The Emperor</a>: Theater.</p>

        <p>3. Knight of Cups + <a ui-sref="app.justice">Justice</a>: Poetic justice. Conscious art.</p>

        <p>4. Knight of Cups + <a ui-sref="app.theHangedMan">The Hanged Man</a>: A poet. Escaping reality.</p>

        <p>5. Knight of Cups + <a ui-sref="app.theDevil">The Devil</a>: Addictive personality.</p>

        <p>6. Knight of Cups + <a ui-sref="app.theStar">The Star</a>: A new love interest.</p>

        <p>7. Knight of Cups + <a ui-sref="app.theMoon">The Moon</a>: A bachelor. A salesman.</p>

        <p>8. Knight of Cups + <a ui-sref="app.threeOfCups">Three of Cups</a>: A proposal. A romantic gesture.</p>

        <p>9. Knight of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Your sibling.</p>

        <p>10. Knight of Cups + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Business travels.</p>

        <p>11. Knight of Cups + <a ui-sref="app.fourOfPentacles">Four Of Pentacles</a>: Travelling up the business and
          social ladder.</p>

        <p>12. Knight of Cups + <a ui-sref="app.sixOfPentacles">Six Of Pentacles</a>: An entertainer. Big personality.</p>

        <p>13. Knight of Cups + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Working with animals.</p>

        <p>14. Knight of Cups + <a ui-sref="app.eightOfPentacles">Eight Of Pentacles</a>: An artist.</p>

        <p>15. Knight of Cups + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Resort living.
        </p>

        <p>17. Knight of Cups + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A chance meeting. A passionate affair.
        </p>

        <p>18. Knight of Cups + <a ui-sref="app.threeOfWands">Three of Wands</a>: Poet. Writer.</p>

        <p>19. Knight of Cups + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Business politics.</p>

        <p>20. Knight of Cups + <a ui-sref="app.sixOfWands">Six of Wands</a>: A confident performer.</p>

        <p>21. Knight of Cups + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Persuasion.</p>

        <p>22. Knight of Cups + <a ui-sref="app.twoOfSwords">Two Of Swords</a>: Avoiding getting emotionally attached.
        </p>

        <p>23. Knight of Cups + <a ui-sref="app.fourOfSwords">Four of Swords</a>: A beautiful mind.</p>

        <p>24. Knight of Cups + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Ignoring your creative talents.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Knight of Cups hints that you are moving in the right direction, and things are speeding up.
          You might feel unprepared for what is expected of you, and you might even feel like you have to fake it before
          you make it. The best thing you can do is to be yourself, because you are attracting attention with your
          charisma and personality. If you pretend to be someone else it will only decrease your natural light that
          people are so drawn to. You are a sensitive and beautiful soul, and people feel they can relate to you. The Knight
          of Cups often shows up in your cards when you are about to go on a significant physical journey.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
