<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">NINE OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/nineOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Abundance and satisfaction.</p>

        <p>2. Getting what you want.</p>

        <p>3. Feeling proud of yourself.</p>

        <p>4. A wish coming true.</p>

        <p>5. Living in luxury. Enjoying your life.</p>

        <p>6. Having meaning and purpose.</p>

        <p>7. Being on the path you desire.</p>

        <p>8. Loosing yourself in the moment.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Nine of Cups is the card for getting what you want or having a wish come true. It speaks of
          abundance and satisfaction, and can also be about being proud of what you have achieved. The dissatisfaction in the
          material world shown by the Eight of Cups is now gone, as this card relishes in all the good things life has to
          offer; the foods, the drinks and all its comfort and pleasure. </p>

        <p>There is real enjoyment in the material world, because the querent fulfilled themselves spiritually in the Eight
          of Cups, and has returned to the material world with a new sense of meaning and purpose.</p>

        <p>In a love reading the Nine of Cups speaks of getting what you want, and feethe ling good about yourself.
          If the querent is single it can mean they are happily so. In a relationship Nine of Cups signifies
          love that is deeply satisfying to the querent. </p>

          <p>In a career reading Nine of Cups can speak of work the querent is immensely proud of. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Nine of Cups reflects someone who is thoroughly enjoying their life. They love to celebrate and indulge, and
          they enjoy a life of excess. This is someone who has high self-esteem. They seem to always get what they want.
          They are quite worry-free people and find their life to be a magical and highly satisfying experience. They
          are very content and sensual people. These people believe themselves to be sexy and they think
          they bring the sexy out in others, which makes them flamboyant.</p>

        <p>This is someone with all their ducks in a row and the best thing is that they earned it all by putting the
          effort in and investing in themselves. They like their life to look good, but they don’t stop there - it has to
          actually be good as well. They can get carried away in the moment and lose themselves in life’s pleasures.
          They know it is little things in life that give the most satisfaction.</p>
      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Poor lifestyle choices.</p>

        <p>2. Over indulgence.</p>

        <p>3. Foolish generosity.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Nine of Cups reversed indicates that the querent is not going to get what they wish for. Family and
          friendships might be falling apart. There is disintegration and separation when this card is reversed, often
          due to lifestyle choices. Over-indulgence in food, alcohol and drugs are also common. Abundance is ruined
          by foolish generosity and wasting/gambling. Happiness has been spilled out of the Cups. Pleasure has turned to
          pain. The Cups must be filled with what will make the querent truly happy.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Nine of Cups reversed type person is someone who has problems with over-indulging, and is living an empty life
          where pleasure has turned to pain. This is someone who has unhealthy lifestyle habits. They are often obese
          and have issues with addictions. They can be hedonistic and easily deceived, at times even exploited, due to
          their lack of self-esteem. There is hardly any self-love. Nine of Cups reversed people throw themselves into
          experiences that will distract them from growing character and substance.
        </p>

        <p>Their life might look good, but it certainly doesn’t feel good. This is someone who only has friends because
          they are lose with their money. They don’t understand what the foundations of real friendships and relationships are built
          upon. They have hardly any spiritual strength and are unhappy or insecure people, depending on money,
          materialism and earthly pleasures as their only solitude.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The nine cups in an arch symbolize abundance and satisfaction. The wooden bench equates to being grounded.
          The man’s red hat reflects his passion. The blue fabric illustrate health and tranquillity. His yellow shoes
          convey that the path he is on is one of happiness, joy and energy.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>Nine of Cups + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A successful business idea.
        </p>

        <p>2. Nine of Cups + <a ui-sref="app.theHierophant">The Hierophant</a>: A performing arts company.</p>

        <p>3. Nine of Cups + <a ui-sref="app.strength">Strength</a>: A successful marriage.
        </p>

        <p>4. Nine of Cups + <a ui-sref="app.theSun">The Sun</a>: A happy new relationship.</p>

        <p>5. Nine of Cups + <a ui-sref="app.judgement">Judgement</a>: Career advancement.</p>

        <p>6. Nine of Cups + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: The beauty industry.</p>

        <p>7. Nine of Cups + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Having fun at work.
        </p>

        <p>8. Nine of Cups + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Job satisfaction.</p>

        <p>9. Nine of Cups + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: A true friend.
        </p>

        <p>10. Nine of Cups + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Being spoiled.</p>

        <p>11. Nine of Cups + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: A successful career change.
        </p>

        <p>12. Nine of Cups + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Successful home business.</p>

        <p>13. Nine of Cups + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A happy pregnancy.
        </p>

        <p>14. Nine of Cups + <a ui-sref="app.threeOfWands">Three of Wands</a>: Freedom at work.
        </p>

        <p>15. Nine of Cups + <a ui-sref="app.fiveOfWands">Five of Wands</a>: A creative group.</p>

        <p>16. Nine of Cups + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Safeguarding your assets and business.
          Defending your career.</p>

        <p>17. Nine of Cups + <a ui-sref="app.pageOfWands">Page of Wands</a>: Success in social media.</p>

        <p>18. Nine of Cups + <a ui-sref="app.fourOfSwords">Four of Swords</a>: A happy holiday.</p>

        <p>19. Nine of Cups + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Successful marketing.
        </p>

        <p>20. Nine of Cups + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Image orientation. Fashion.</p>

        <p>21. Nine of Cups + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A smooth talker.</p>

        <p>22. Nine of Cups + <a ui-sref="app.kingOfCups">King of Cups</a>: A high-ranking officer.
        </p>

        <p>23. Nine of Cups + <a ui-sref="app.twoOfCups">Two of Cups</a>: A successful relationship.</p>

        <p>24. Nine of Cups + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Getting out of a bad situation.</p>

        <p>25. Nine of Cups + <a ui-sref="app.sixOfCups">Six of Cups</a>: A happy child.</p>

        <p>26. Nine of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A happy family.</p>

        <p>27. Nine of Cups + <a ui-sref="app.pageOfCups">Page of Cups</a>: A successful interview, meeting,
          presentation or audition.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Nine of Cups bespeaks you are about to get what you want. This is the wish-coming-true
          card. It denotes emotional rewards in relation to something that means a lot to you. There is a true
          connection to your purpose and/or the people in your life when the Nine of Cups shows up. You might
          have taken a risk that paid off, or you put in the efforts a little at a time. Whatever the reason is for your
          happiness, you deserve the happy outcome.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
