<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">NINE OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/nineOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Worry and anxiety.</p>

        <p>2. Unable to sleep at night.</p>

        <p>3. Overwhelmed by guilt and regrets.</p>

        <p>4. Being consumed by negativity.</p>

        <p>5. Feeling unworthy.</p>

        <p>6. Being overly fearful.</p>

        <p>7. Worrying about the future.</p>

        <p>8. Living in your head.</p>

        <p>9. Being overly sensitive to other people’s opinions.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Nine of Swords expresses worry and anxiety, sleeplessness and being overwhelmed by negative emotions
          such as guilt and regrets. It is the card for sleepless nights, loud noises, arguments and
          nightmares. If the Nine of Swords shows up with the Moon, or even worse, the Moon in reverse, then
          there might be mental health issues. </p>

        <p>While surrounded by Pentacles then the cause of worry is usually a financial matter. If the
          other cards are mainly Swords then this person is living in their head and is repeating a mental pattern of
          worrying. If there are a lot of court cards in the spread then the cause of worry can often be the pressure
          felt by the querent to fit in.</p>

        <p>In a love reading the Nine of Swords indicates a relationship that has taken away the querent’s peace
          of mind. If the querent is single Nine of Swords can mean the querent is lonely, and perhaps has regrets
          about past relationships. </p>

        <p>In a career reading it signifies a job that eats away at the querent. The Nine of Swords
          can also denote a mental health worker or working night shifts. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Nine of Swords alludes to someone who often ends up being on the receiving end of other people’s
          cruel behavior. They are sensitive and takes things to heart. They feel unworthy and have a hard time
          letting things go. They get dragged into disputes, getting worked up and overwhelmed. They crave order and
          comfort and are unable to cope if their security is threatened. These people often struggle for
          perfection, which is a pursuit that quickly turns into a nightmare.</p>

        <p>They worry unnecessarily, and are playing worst case scenarios over and over again in their minds. They
          question
          their past choices and are always stressed. They carry jarring energy within them, and often bring the worst
          out in others. There is an air of unease about them that everyone picks up on, which pushes everyone to be
          extra edgy and snappy.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Stuck in the past.</p>

        <p>2. Despair.</p>

        <p>3. On the wrong path in life.</p>


        <h4 class="padding">Meanings</h4>

        <p>If the Nine of Swords is reversed it indicates that issues and problems have been ignored rather than dealt
          with, and when they resurface the querent might not know how to deal with them. Instead they try and bury
          their
          heads further into the sand. As a result things become very uncomfortable, and there is, at times, despair.
          The querent has not got the insight into how to deal with their problems.</p>

        <p>The Nine of Swords often shows up reversed when the querent is focusing on something that happened in
          the past, unable to let it go. The querent might be suffering angst and panic attacks as a result. It
          also shows up reversed when the querent is on the wrong path in life.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Nine of Swords personality is someone who is so committed to their own viewpoint they are unwilling to
          bend. This is someone who justifies their bad behaviour by the belief that the world owes them. They have a
          victim mentality, and believes that everyone is treating them unfairly. There is a lack of self-awareness, and
          the
          person is not questioning their own motives.
        </p>

        <p>This person can be very hypocritical and take little if any responsibility. Most of the time they are
          confused and misinformed, and when they do get all the facts they twist it all around so that they end up just
          as ignorant as they were before.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The woman sitting up in her bed with her head in her hands represents anxieties and fears. The nine swords
          symbolize worries and troubles, and what she is holding on to. The symmetrical pattern of the swords
          hints that the problems are due to way of thinking habits.</p>

        <p>The bed is decorated by a carving of a duel between two people, illustrating conflict and competition.
          The black wall relates a lack of optimism.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Nine of Swords + <a ui-sref="app.theFool">The Fool</a>: Worrying about a new situation. Feeling
          unprepared.</p>

        <p>2. Nine of Swords + <a ui-sref="app.theMagician">The Magician</a>: Misunderstandings causing stress.</p>

        <p>3. Nine of Swords + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Over-protective mother.</p>

        <p>4. Nine of Swords + <a ui-sref="app.theEmperor">The Emperor</a>: Unpredictable authority figure.</p>

        <p>5. Nine of Swords + <a ui-sref="app.theLovers">The Lovers</a>: Worrying about relationship.</p>

        <p>6. Nine of Swords + <a ui-sref="app.strength">Strength</a>: Self-doubt.</p>

        <p>7. Nine of Swords + <a ui-sref="app.theHermit">The Hermit</a>: Isolation due to anxiety.</p>

        <p>8. Nine of Swords + <a ui-sref="app.theWheel">The Wheel of Fortune</a>: Fearing the future.
        </p>

        <p>9. Nine of Swords + <a ui-sref="app.theDevil">The Devil</a>: Being bullied.
        </p>

        <p>10. Nine of Swords + <a ui-sref="app.theSun">The Sun</a>: Bad reasoning causing stress.</p>

        <p>11. Nine of Swords + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A new beginning causing stress.</p>

        <p>12. Nine of Swords + <a ui-sref="app.threeOfWands">Three of Wands</a>: Being out of your depth. Too many
          demands.</p>

        <p>13. Nine of Swords + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Unhealthy peer pressure.</p>

        <p>14. Nine of Swords + <a ui-sref="app.sixOfWands">Six of Wands</a>: Arrogance.
        </p>

        <p>15. Nine of Swords + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Changing your mind at the last minute.
          Worrying about a trip.</p>

        <p>16. Nine of Swords + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Lack of energy.
        </p>

        <p>17. Nine of Swords + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Fear of success.</p>

        <p>18. Nine of Swords + <a ui-sref="app.threeOfCups">Three of Cups</a>: Bad company.
        </p>

        <p>19. Nine of Swords + <a ui-sref="app.sixOfCups">Six of Cups</a>: Haunting memories.</p>

        <p>20. Nine of Swords + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Wanting a new reality.</p>

        <p>21. Nine of Swords + <a ui-sref="app.pageOfCups">Page of Cups</a>: A gloomy personality.</p>

        <p>22. Nine of Swords + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Consumed by dark feelings.</p>

        <p>23. Nine of Swords + <a ui-sref="app.kingOfCups">King of Cups</a>: Lack of motivation.</p>

        <p>24. Nine of Swords + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Worrying about money.</p>

        <p>25. Nine of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Unhappy at work.</p>

        <p>26. Nine of Swords + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Worrying about learning a new
          skill.</p>

        <p>27. Nine of Swords + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Worrying about family.</p>

        <p>28. Nine of Swords + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Mental confusion and worry.</p>

        <p>29. Nine of Swords + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Heartache.</p>

        <p>30. Nine of Swords + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Insomnia.</p>

        <p>31. Nine of Swords + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Problems with mental tasks.</p>

        <p>32. Nine of Swords + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Being your own worst enemy.</p>

        <p>33. Nine of Swords + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Worrying about gossip and rumours.
        </p>

        <p>34. Nine of Swords + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Living behind a cold mask.</p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>When the Nine of Swords shows up in your reading examine where the stress in your life is coming from.
          This card often shows up when there is a negative loop of thoughts that keep repeating themselves in your
          head, desperately needing to be released. These thoughts will create stress and anxiety until dealt with. People
          who suffer negative feedback loops of thoughts are stuck in an unhealthy stress pattern.
        </p>

        <p>
          Negative thoughts can result in the person feeling worthless. Feelings of worthlessness can result in health
          issues, such as a low immune system. Find ways to reduce stress. Look at the other cards to identify where the stress
          is coming from and how best to deal with it.
        </p>

        <p>Remember: material things can become a source of stress. Detach from the need to have a lot of material
          possessions. Find a way to have a non-resistance relationship with money. When you do that you will become
          more aware of the things that actually interest you. When you start living your life with passion. Your soul
          will come alive within you. When this happens your stress and angst often disappear. </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
