<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">NINE OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/nineOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Luxury.</p>

        <p>2. Security and possessions.</p>

        <p>3. Taking a break to enjoy life.</p>

        <p>4. Being in beautiful surroundings.</p>

        <p>5. Being classy and sophisticated.</p>

        <p>6. A lavish holiday.</p>

        <p>7. Being smart, wise and clever.</p>

        <p>8. Being self-reliant.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Nine of Pentacles denotes luxury and financial security. This card sometimes means being
          on a lavish holiday. It also signifies being surrounded by beauty, such as a garden, and living in an oasis
          of comfort. A comfortable home that soothes the body, mind and spirit are the energies of this card.
          Sometimes the Nine of Pentacles is someone who seems like an overnight success, at least on the surface, but
          they know
          was plenty of work put in that people don’t see.</p>

        <p>If this card represents the querent than he/she is likely to be self-sufficient and self-confident. If this
          card is in the advice position, than taking a break from work and instead enjoying beautiful scenery will
          bring
          you peace and balance. Enjoy your life and live the life you enjoy. This will give you the energy you need to
          complete any unfinished jobs and projects. The Nine of Pentacles reminds us to be graceful and tactful when
          dealing with others, as this is the card for class and style.</p>

        <p>Tips for when the Nine of Pentacles turns up in a reading: The energy of this card is someone who has the
          freedom to be themselves. They are empowered to speak their mind. They can spread their wings if they choose
          to. Help the querent see how they are empowered in their lives to be who they choose to be.</p>

        <p>In a love reading the Nine of Pentacles speaks of a relationship that is privileged. If the querent is
          single it cautions no rush to settle down.</p>

        <p>In a career reading the Nine of Pentacles signifies earning a wage through the use of one’s talent.
          The querent can also enjoy the luxury of freedom and minimal supervision at work. In many cases it means
          the querent has money and might not even need to work. If they do work it is in leadership
          roles that pay well.</p>

        <h4 class="padding">Personality Types</h4>

        <p>Personality-wise, the Nine of Pentacles type people are wise and smart. They make good decisions and are
          confident and
          self-reliant. They enjoy spending time alone in their garden and renovating their house to be an even more
          luxurious haven. </p>

        <p>This is someone very content who loves the finer things in life. They know who they are and are not afraid to
          be themselves.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Loneliness.</p>

        <p>2. Clutter.</p>

        <p>3. Poor decisions.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Nine of Pentacles reversed relates loneliness and unhappiness. The home is neither secure, nor
          very comfortable. The querent might feel like a prisoner in their own home. </p>

        <p>There is a lack of self-knowledge and there is little consistency. This card
          often shows up reversed when the querent needs to complete something, but is unable to.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Eight of Pentacles reversed personality is someone who argues for the sake of arguing and who lacks
          people
          skills. They are often obsessed with themselves and their own efforts and fail to see anyone else’s
          input.
        </p>

        <p>There are issues with too much resentment and fear of failure. The querent might want to learn something new,
          but believe they are either too old, too stupid or both. There is a fear of change.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The vineyard symbolizes success and accomplishment. The garden represents a place for enjoyment and rest. In
          her left hand sits a falcon, standing for focus on our desires and our goals, and doing what is necessary to
          bring our desires into our reality. The manorial house in the background suggests security and possessions.
          The two trees in the background refer to substance and vitality.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Nine of Pentacles + <a ui-sref="app.theMagician">The Magician</a>: Feeling at home with the person in your
          life.
        </p>

        <p>2. Nine of Pentacles + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A rich and confident woman.
        </p>

        <p>3. Nine of Pentacles + <a ui-sref="app.theEmpress">The Empress</a>: A beautiful home with a garden.</p>

        <p>4. Nine of Pentacles + <a ui-sref="app.theLovers">The Lovers</a>: A relationship giving you confidence.</p>

        <p>5. Nine of Pentacles + <a ui-sref="app.theChariot">The Chariot</a>: Preparing to make your move in a big way.
        </p>

        <p>6. Nine of Pentacles + <a ui-sref="app.theHermit">The Hermit</a>: A confident leader.</p>

        <p>7. Nine of Pentacles + <a ui-sref="app.justice">Justice</a>: Confident in legal matters.
        </p>

        <p>8. Nine of Pentacles + <a ui-sref="app.death">Death</a>: Evolving through the use of one’s talents.
        </p>

        <p>9. Nine of Pentacles + <a ui-sref="app.theWorld">The World</a>: Doing well on exams, tests and assignments.
        </p>

        <p>10. Nine of Pentacles + <a ui-sref="app.twoOfWands">Two of Wands</a>: Making a good financial decision.
          Investing well.</p>

        <p>11. Nine of Pentacles + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: A confident teacher and speaker.
        </p>

        <p>12. Nine of Pentacles + <a ui-sref="app.eightOfWands">Eight of Wands</a>: A holiday.
        </p>

        <p>13. Nine of Pentacles + <a ui-sref="app.pageOfWands">Page of Wands</a>: Relying on your personality.</p>

        <p>14. Nine of Pentacles + <a ui-sref="app.kingOfWands">King of Wands</a>: A confident business owner.</p>

        <p>15. Nine of Pentacles + <a ui-sref="app.threeOfCups">Three of Cups</a>: Confident socially.</p>

        <p>16. Nine of Pentacles + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Afraid to try something new.</p>

        <p>17. Nine of Pentacles + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: A herbalist, natural-path and/or
          healer.</p>

        <p>18. Nine of Pentacles + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Going on an adventure.
        </p>

        <p>19. Nine of Pentacles + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Getting what you want. Staying on top.
        </p>

        <p>20. Nine of Pentacles + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Having the perfect life.
        </p>

        <p>21. Nine of Pentacles + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Resort living.
        </p>

        <p>22. Nine of Pentacles + <a ui-sref="app.kingOfCups">King of Cups</a>: A talented business man.
        </p>

        <p>23. Nine of Pentacles + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Keeping your property in the best
          shape.
        </p>

        <p>24. Nine of Pentacles + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Hiding yourself away.
        </p>

        <p>25. Nine of Pentacles + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Doubting your own abilities.
        </p>

        <p>26. Nine of Pentacles + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Graduating or finishing off a big
          project.
        </p>

        <p>27. Nine of Pentacles + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Preferring your own company to
          others.
        </p>

        <p>28. Nine of Pentacles + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Materialism.
        </p>

        <p>29. Nine of Pentacles + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: An academic.
        </p>

        <p>30. Nine of Pentacles + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: A financial reward.
        </p>

        <p>31. Nine of Pentacles + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Confident at work.
        </p>

        <p>32. Nine of Pentacles + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: A strong and creative
          community.
        </p>

        <p>33. Nine of Pentacles + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Self-reliant.
        </p>

        <p>34. Nine of Pentacles + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: A strong family.
        </p>

        <p>35. Nine of Pentacles + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Long term investments.
        </p>

      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Nine of Pentacles expresses the confidence you have once you are applying yourself in the
          highest and best way. We all have an infinite amount of talents and abilities - the question is this: are we
          developing them so that we can apply ourselves and make ourselves proud.
        </p>

        <p>The feeling of contentment that comes out of developing your talents is priceless, and it is the highest
          reward for your efforts. Thus, the Nine of Pentacles denotes success from investing and developing your
          skills and talents. </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
