<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">NINE OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/nineOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Standing your ground.</p>

        <p>2. Finding your courage.</p>

        <p>3. Knowing what you believe in.</p>

        <p>4. Protecting your family.</p>

        <p>5. Finding out you are stronger than you could ever imagine.</p>

        <p>6. Learning something new about yourself.</p>

        <p>7. Never giving up.</p>

        <p>8. Being suspicious of others.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Nine of Wands is the card for strength, courage, resilience and endurance. Never give up and never
          surrender. Things might not turn out exactly as you wanted, but if you hang in there you will get something
          much better. </p>

        <p>You will also learn something new about yourself that is invaluable. The Nine of Wands often shows up
          when the querent is in the middle of a rapid learning curve.</p>

        <p>In a love reading it marks being in a stressful relationship, or that the querent is
          protective of their relationship.</p>

        <p>In a career reading the Nine of Wands signifies a position in defense, such as careers in customs,
          security, police or fire brigade. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Nine of Wands indicates someone with boundless potential to achieve their goals and desires. They
          are often planning a significant move or are in the process of accomplishing a long-term goal. They are also
          very supportive of their children’s goals. They are very protective of their home and loved ones.</p>

        <p>This is someone who is optimistic about the future and will never give up. They will never surrender. They
          are patient and resilient, and in the long run they usually get what they want.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Weakness.</p>

        <p>2. Carelessness.</p>

        <p>3. Obstacles.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Nine of Wands shows up reversed it indicates weakness and stubbornness rather, than strength and willpower.
          There is waste of energy or lack of energy to save something. The querent might not care enough about what they
          have built to save and stand by it, or they are holding their onto their position out of stubbornness, rather than because
          they really care about what they are defending.</p>

        <p>Doubts and fears that should have been dispelled remain. The obstacles might seem too big for the querent to
          overcome. There is confusion, possibly even injuries to the head.</p>


        <h4 class="padding">Personality Types</h4>

        <p>When reversed, this card bespeaks someone with unorthodox views who often ends up either alienating
          others or becoming alienated themselves. They need to learn to get along with others, and be more supportive of themselves
          and their children. They often give up before they try, and they don’t believe in themselves.
        </p>

        <p>The Nine of Wands reversed also signals someone who believes they have nothing left to lose, and that they are ready to
          walk away from whatever is going on in their lives. They have given up on defending their territory as they
          didn’t truly want it in the first place.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The nine Wands evinces the beliefs and values that need to be protected by the querent. The man holding the
          wand is injured and ready to fight, inferring strength and determination. The mountains in the background
          symbolize boundaries.</p>

        <p>His orange tunic connotes domination and action. The man is standing on a yellow stage, representing being on
          an intellectual high ground.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Nine of Wands + <a ui-sref="app.theEmpress">The Empress</a>: Being taken advantage of.</p>

        <p>2. Nine of Wands + <a ui-sref="app.theEmperor">The Emperor</a>: A responsible job/position.
        </p>

        <p>3. Nine of Wands + <a ui-sref="app.strength">Strength</a>: A character building situation.</p>

        <p>4. Nine of Wands + <a ui-sref="app.justice">Justice</a>: Fighting for the basics. Needing more security.
        </p>

        <p>5. Nine of Wands + <a ui-sref="app.death">Death</a>: Resisting change.
        </p>

        <p>6. Nine of Wands + <a ui-sref="app.theTower">The Tower</a>: Getting long awaited retribution.</p>

        <p>7. Nine of Wands + <a ui-sref="app.theStar">The Star</a>: Telling the truth when no one else dares to.</p>

        <p>8. Nine of Wands + <a ui-sref="app.judgement">Judgement</a>: Facing the music.
        </p>

        <p>9. Nine of Wands + <a ui-sref="app.twoOfCups">Two of Cups</a>: Protecting your relationship.
        </p>

        <p>10. Nine of Wands + <a ui-sref="app.fourOfCups">Four of Cups</a>: Avoiding change.
        </p>

        <p>11. Nine of Wands + <a ui-sref="app.sixOfCups">Six of Cups</a>: A sheltered child(hood).</p>

        <p>12. Nine of Wands + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Protecting your dream. A secret life.</p>

        <p>13. Nine of Wands + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Protecting your family.
        </p>

        <p>14. Nine of Wands + <a ui-sref="app.kingOfCups">King of Cups</a>: Fear of rejection.</p>

        <p>15. Nine of Wands + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Physical exercise.</p>

        <p>16. Nine of Wands + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Physical work.</p>

        <p>17. Nine of Wands + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Pressure in business.</p>

        <p>18. Nine of Wands + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: A steep and rewarding learning
          curve.
        </p>

        <p>19. Nine of Wands + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Protecting your family fortune.</p>

        <p>20. Nine of Wands + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: Protecting your money.</p>

        <p>21. Nine of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Being persuaded.</p>

        <p>22. Nine of Wands + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Avoiding facts. Scared of the truth.
        </p>

        <p>23. Nine of Wands + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Putting too much pressure on oneself to
          be perfect.</p>

        <p>24. Nine of Wands + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A strong and clever person.</p>

        <p>25. Nine of Wands + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Protecting an organisation.</p>

        <p>26. Nine of Wands + <a ui-sref="app.twoOfWands">Two of Wands</a>: Over-skilled. Looking for better work
          conditions.</p>

        <p>27. Nine of Wands + <a ui-sref="app.threeOfWands">Three of Wands</a>: Spreading your wings to apply your
          talents.</p>

        <p>28. Nine of Wands + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Being forced out of your comfort zone.
        </p>

        <p>29. Nine of Wands + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Expecting too much of yourself.
        </p>

        <p>30. Nine of Wands + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Avoiding a bad situation by moving.
        </p>

        <p>31. Nine of Wands + <a ui-sref="app.queenOfWands">Queen of Wands</a>: A strong competitor.
        </p>

        <p>32. Nine of Wands + <a ui-sref="app.kingOfWands">King of Wands</a>: Success at all undertakings. Ambition.
        </p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Nine of Wands means protecting what your care most about. You are heavily invested in
          your life right now, and you know how to handle almost any situation. This is the card for people who work
          behind the scenes to make it easy for everyone else.
        </p>

        <p>It might not be the easiest of jobs, and you have come too far to throw it all away. No one can do the job as
          well as you. The Nine of Wands speaks to the roles we were born to do. Sometimes the only reward is
          that you know you are making a difference.</p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
