<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">PAGES OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/pageOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A gentle spirit.</p>

        <p>2. Sentimental and romantic.</p>

        <p>3. A romantic message.</p>

        <p>4. An audition. Showing your talents.</p>

        <p>5. Being creative and learning a creative skill.</p>

        <p>6. Seeing something with new eyes.</p>

        <p>7. Loving and sweet, but also shy.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Page of Cups relays a young person with gentle and sensitive nature. This is someone who lives in
          wonder and can be quite naive at times. There is a highly creative side to this person who loves to make
          things, sing and write. Since all the Pages also are messengers, the Page of Cups is the messager of love,
          intuition and creativity. The Page of Cups describes seeing something with new eyes, and experiencing
          positive surprises.</p>

        <p>In a love reading it foretells that romantic news is on the way. If the querent is single they
          might find out that they have an admirer. In a relationship, the Page of Cups speaks of renewing the relationship
          through kind words and romantic gestures.</p>

        <p>In a career reading the Page of Cups signifies working as a psychic, or using your psychic gifts in your
          work. It can also mean creative jobs or working with children. The Page of Cups often means putting
          yourself out there to be judged (such as an audition or interview) to get what you want in career. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Page of Cups personality is someone sensitive and intuitive. They are very sweet, gentle, warm and loving.
          They are also shy, often holding something back. They don’t tell you how they really feel, and are good at
          pretending everything is fine, even when it isn’t. They do their best avoiding pain and conflict. </p>

        <p>These sorts of people need to feel loved, and their main intention while interacting with others is to be loved
          and liked. They are youthful and playful, and they have plenty of hobbies and interests. This is a person who
          needs to feel special to someone, and they need to be listened to. If not they feel terribly wounded and might
          lash out in some way. The Page of Cups type people tend to be very emotional.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Avoiding responsibility.</p>

        <p>2. Manipulations.</p>

        <p>3. Feeling low emotionally.</p>


        <h4 class="padding">Meanings</h4>

        <p>While the Page of Cups is reversed it indicates someone who is hard to motivate. They are feeling sad and bring
          others down with their gloomy nature. They might promise a lot, but deliver little if any. This is someone who
          will manipulate to get what they want. They have problems with trust. They need more love than they are able
          to give. This card sometimes shows up reversed when the querent feels low emotionally.
          Difficulties communicating feelings are also indicated. </p>

        <h4 class="padding">Personality Types</h4>

        <p>This personality type is someone with erratic and secretive behavior. They are overly emotional and
          often sexually repressed. They tend to avoid pain at all costs, even to the detriment of their development.
        </p>

        <p>They are very juvenile and childish, taking the victim role so they can avoid responsibility. These
          people tend to be very manipulative.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The nine cups in an arch evoke abundance and satisfaction. The wooden bench symbolizes being grounded.
          The man’s red hat hints at his passion. The blue fabric represents health and tranquillity. His yellow shoes
          suggests that the path he is on is one of happiness, joy and energy.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

          <p>1. Page of Cups + <a ui-sref="app.theFool">The Fool</a>: Auditioning. Taking a creative risk.</p>

          <p>2. Page of Cups + <a ui-sref="app.theHierophant">The Hierophant</a>: Spiritual scriptures.</p>

          <p>3. Page of Cups + <a ui-sref="app.justice">Justice</a>: Speaking the truth.</p>

          <p>4. Page of Cups + <a ui-sref="app.theMoon">The Moon</a>: An audition. A job interview.</p>

          <p>5. Page of Cups + <a ui-sref="app.theSun">The Sun</a>: Mentoring someone.</p>

          <p>6. Page of Cups + <a ui-sref="app.theWorld">The World</a>: The Hospitality industry.</p>

          <p>7. Page of Cups + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: A dreamer.</p>

          <p>8. Page of Cups + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Auditioning.</p>

          <p>9. Page of Cups + <a ui-sref="app.nineOfCups">Nine of Cups</a>: A successful interview, meeting,
            presentation or audition.</p>

          <p>10. Page of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A loved child. The baby in the family.</p>

          <p>11. Page of Cups + <a ui-sref="app.eightOfWands">Eight Of Wands</a>: Acting impulsive.</p>

          <p>12. Page of Cups + <a ui-sref="app.tenOfWands">Ten of Wands</a>: An unhappy teenager. Wanting to escape
            responsibility.</p>

          <p>13. Page of Cups + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Emotional blackmail.</p>

          <p>14. Page of Cups + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Shyness.</p>

          <p>15. Page of Cups + <a ui-sref="app.nineOfSwords">Nine Of Swords</a>: A gloomy personality.</p>

          <p>16. Page of Cups + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: A pessimistic person.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Page of Cups expresses that talents are coming to the surface, especially performing and
          artistic abilities. Any kind of creative pursuits are recommended. The Page of Cups indicates a time where
          creative people are influencing you, and you might find that you are more emotionally charged than usual. This card
          also shows up in your reading when you're putting yourself out there for the world to see so that you can
          achieve your creative ambitions.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
