<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">PAGE OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/pageOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Being physically attractive.</p>

        <p>2. Taking care of how you look and present yourself.</p>

        <p>3. Reinventing yourself.</p>

        <p>4. Starting something new.</p>

        <p>5. Studying.</p>

        <p>6. Working towards a goal.</p>

        <p>7. Being practical. Following the rules.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Page of Pentacles entails reinventing yourself in some way. It often denotes an opportunity to
          start something new, whether it is a creative venture, studying, business or a new job offer. The Page of
          Pentacles is not yet an expert in their field of choice, but has a clear goal or dream to achieve. If you draw
          its you will get a chance to make your dream a reality, but you must put in the work and learn what is
          required
          to fulfill this goal.</p>

        <p>You might feel there are a lot of possibilities, but little support behind you. You are enchanted with the
          idea of your aspirations, rather than getting on with the practical aspect of actual living it as it requires
          a lot of work, and you
          might not yet be ready for that. Just remember not to let your insecurities rule you, you will need to gain
          experience somehow, so why not just do it now?</p>

        <p>In a love reading the Page of Pentacles often means someone wants to be with you due to the way you
          look, not because of who you are. If in a relationship the querent might feel the pressure to always look
          their
          best, or their partner will lose interest.</p>

        <p>In a career reading the Page of Pentacles can mean the querent still has a lot to learn before they
          experience success. This card signals entry level jobs, students or interns. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Page of Pentacles personality is someone interested in education and learning. When they learn they feel
          alive,
          and some become eternal students, never leaving the comfort of being a student. They must learn to apply their
          knowledge in a practical way. </p>

        <p>They love the finer things, and are quite enchanted with life. They don’t like it if things get too
          serious, they'd much rather play than work. These people often get recognised for how they look, not
          for what they know.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Wasting time and talents.</p>

        <p>2. Intellectual snobbery.</p>

        <p>3. Caring too much about things and money.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Page of Pentacles is reversed someone who feels deprived, unsuccessful and frustrated with the lack of
          support in their lives. When this card shows up reversed it indicates someone who is immature in the way they
          approach situations.</p>

        <p>They do their best at avoiding the harsher realities of life. Sometimes they get bitter and feel like the
          whole world is against them. They don’t communicate clearly and thing people should understand them
          better.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Page of Pentacles persona is someone interested in education and learning. When they learn they feel alive
          and some become eternal students, never leaving the comfort of being a student. They must learn to apply their
          knowledge in a practical way.
        </p>

        <p>They love the finer things in life and are quite enchanted with life. They don’t like it if things get too
          serious, they'd much rather play than work. They often get recognised for how they look, not
          for what they know.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The open green field expounds the opportunity to grow. The trees in the background espouse support. The
          mountain represents learning and growth. The young man is looking at the pentacle in his raised hands,
          inspiring diligence. The bright sky represents wellness and tranquility.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Page of Pentacles + <a ui-sref="app.theEmpress">The Empress</a>: A model. Modeling.</p>

        <p>2. Page of Pentacles + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Going back to school.</p>

        <p>3. Page of Pentacles + <a ui-sref="app.temperance">Temperance</a>: Post graduate degree.</p>

        <p>4. Page of Pentacles + <a ui-sref="app.theStar">The Star</a>: Getting recognition for your physical
          appearance. A model.</p>

        <p>5. Page of Pentacles + <a ui-sref="app.theSun">The Sun</a>: A happy student.</p>

        <p>6. Page of Pentacles + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Physical beauty.</p>

        <p>7. Page of Pentacles + <a ui-sref="app.twoOfCups">Two of Cups</a>: Physical attraction.</p>

        <p>8. Page of Pentacles + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Being spoilt.</p>

        <p>9. Page of Pentacles + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Investing in yourself.</p>

        <p>10. Page of Pentacles + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Investing all your time
          into your study.</p>

        <p>11. Page of Pentacles + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Studying something you are
          passionate about.</p>

        <p>12. Page of Pentacles + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Reinventing yourself.</p>

        <p>13. Page of Pentacles + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Wasted talents.</p>

        <p>14. Page of Pentacles + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Distracting others with the way
          you look.</p>

        <p>15. Page of Pentacles + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Lack of independence.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>A young (at heart) and studious person is portrayed by the Page of Pentacles. It marks the early stages
          of a project/plan/enterprise. You will need the support of others to reach
          your goals, or you might get delayed.
        </p>

        <p>There is a renewal in health and vitality denoted by this card. The Page of Pentacles shows up when the querent
          gets recognised for their appearance and not for what they know. </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
