<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">PAGE OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/pageOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Passion and determination.</p>

        <p>2. Attention seeking individual.</p>

        <p>3. Can be a drama queen.</p>

        <p>4. Messages of all kind; texts, phone calls, emails.</p>

        <p>5. Receiving news.</p>

        <p>6. Chasing adventures and good times. Risk taker.</p>

        <p>7. Go in a new direction. Do something you have never done before.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Page of Wands portrays an enthusiastic young person who is eager to explore and gain life
          experience. This card could also be a creative idea in it’s initial stages. The potential of this idea will be
          decided in the other cards in the spread.</p>

        <p>There are a lot of messages, texts, phone calls and emails when this card shows up, as this is the card for
          giving and receiving news of all kinds. The Page of Wands often shows up when the querent is very
          excited about a new project.</p>

        <p>In a love reading it signifies someone who creates and/or attracts drama in
          relationships.</p>

        <p>In a career reading the Page of Wands serves as an agent of creative work, community projects or working with the youth. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Page of Wands signifies someone with plenty of passion and enthusiasm. They love taking risks, and
          are creative and endearing. They often end up being the center of attention. They need to feel like they
          live life to the fullest and are always going on a new adventure somewhere. Their natural state is that of
          happiness and joy, however they also need others to feel happy with.</p>

        <p>They work hard to pick up the moods of those around them so that everyone can have a good time. This is
          someone who seeks others endearment. They have a big heart, and they are not afraid to show you how much they
          love you.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Bad news.</p>

        <p>2. Lack of enthusiasm.</p>

        <p>3. A bully.</p>


        <h4 class="padding">Meanings</h4>

        <p>When reversed, the Page of Wands indicates a bully or mean tempered person who likes to show off and is
          demanding attention. The enthusiasm indicated in the Page of Wands upright is blocked when this card shows up
          reversed. </p>

        <p>The Page of Wands reversed also portends bad news on its way. Sometimes the Page of Wands shows up reversed when the
          querent is involved in a doomed project. There is unhealthy competition going on.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Page of Wands reversed type people are, for whatever reason, unable to let their light shine. They often find
          themselves creatively stagnate and exhausted. They feel powerless, and act out in various ways to compensate
          for the way they feel about themselves.
        </p>

        <p>They often feel like life is passing them by. They are afraid of being forgotten and pursue careers that
          they hope will give them recognition. They often end up unpopular and alienated, the two things they fear the
          most.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The feather on his hat illustrates movement. His yellow tunic signals freshness and joy. His yellow shoes
          espouse happiness. His orange tights purport ambition and drive.</p>

        <p>His tunic is decorated with images of salamander. Salamanders stand for opportunities, visions and
          adaptability. The orange landscape symbolizes the querents passion and determination.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Page of Wands + <a ui-sref="app.theEmpress">The Empress</a>: Photography.</p>

        <p>2. Page of Wands + <a ui-sref="app.strength">Strength</a>: A strong personality.</p>

        <p>3. Page of Wands + <a ui-sref="app.theTower">The Tower</a>: The shocking truth.</p>

        <p>4. Page of Wands + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Success in social media.</p>

        <p>5. Page of Wands + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Youth work.</p>

        <p>6. Page of Wands + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Early stages in business.</p>

        <p>7. Page of Wands + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Eager to help. Over-helpful.</p>

        <p>8. Page of Wands + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Relying on your personality.</p>

        <p>9. Page of Wands + <a ui-sref="app.fiveOfWands">Five of Wands</a>: A dramatic personality.</p>

        <p>10. Page of Wands + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Attention querent. Negative attention.
        </p>

        <p>11.Page of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: A strong personality. Acting talent.</p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Page of Wands is someone who needs to be heard. It can be a child who is constantly trying to get your
          attention, or it can be a friend who likes to have your full attention.
        </p>

        <p>In a work related question the Page of Wands can forecast a new project or workplace. It is a
          card that speaks of an overflow of excitement bundled up in a person who has a personality larger than
          life. </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
