<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">QUEEN OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/queenOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Attractive and fun.</p>

        <p>2. Popular and easily liked.</p>

        <p>3. Keen interest in magic and the supernatural.</p>

        <p>4. Independent.</p>

        <p>5. Goal oriented and ambitious.</p>

        <p>6. Can create both harmony and havoc easily.</p>

        <p>7. Following your true passion.</p>

        <p>8. Kind, warm and passionate. Busy and active.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Queen of Wands portrays a warm, kind, and passionate person. This is someone who is goal
          oriented and determined. The Queen of Wands is also a metaphysic who can use her mind to create both harmony and
          havoc. She is hot-tempered and mysterious.</p>

        <p>This card reports determination towards self-discovery, self-realization and career advancement.
          There is advancement in career and personal life when the Queen of Wands shows up; this is
          the card for following your true passions. People will be seeking you out for your advice.</p>

        <p>Tips for when this card shows up in a reading: the Queen of Wands loves to learn, especially through
          stories they can relate to. They have a great imagination that interacts best in creative settings. Help your
          querents to find ways to express themselves in creative ways that are also educational. They are happiest when
          they can nurture their creativity.</p>

        <p>In a love reading the Queen of Wands denotes having plenty of options and many admirers.</p>

        <p>In a career reading it signifies teaching jobs, leadership or entrepreneurship. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Queen of Wands is someone classy, witty and smart. These people are vibrating with
          ideas and inspiration. She is an artist at core and has to express herself on a daily basis. If she has no
          creative outlet she feels like she has no purpose, and she’ll start to panic because the Queen of Wands persona
          desperately needs to care about something.</p>

        <p>They need to belong to a cause more than they need to belong to places. This is someone who’ll make
          wonderful friends. They love to shower their friends and family with love, understanding and support. At the same
          time, they don’t give their whole self away to anyone, they keep their inner self safely tucked away for only
          themselves to enjoy.</p>

        <p>You’ll never know exactly what a Queen of Wands type person is thinking. People often try figure them out,
          as they are often mysterious people.</p>

      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Jealousy.</p>

        <p>2. Sabotage.</p>

        <p>3. Revenge.</p>


        <h4 class="padding">Meanings</h4>

        <p>Where the Queen of Wands is reversed there is intimidation and domination. There is a lack of faith or, even
          worse, faith in black magic or darkness. They has no real friends and no one wants to be associated with
          her. </p>

        <p>There is drama all around, or lying and manipulation. This person might have a personality disorder.
          Jealousy and infidelity are also present.</p>


        <h4 class="padding">Personality Types</h4>

        <p>This reversed card reveals someone with an evil streak. They use their charm to play people
          against each other, are compulsive liars, and are often addicted to drama. This is someone with no
          originality or ideas of their own, and they compensate by being overly loud and animated. They pretend to know
          about things they actually have no clue about, and are often left looking disengenuous when this is exposed.
          This is someone with no peace of mind and no substance.
        </p>

        <p>They believe themselves to be very smart and clever, but in reality they are easy to see through.
          They rely on the kindness of others to survive, and often use people’s
          kindness against them. They are always working hard towards ruining other people’s happiness. This is someone
          who has suffered plenty of setback, but they always come back, just like a bad rash.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The back of the queen’s throne is decorated by an image of lions facing each other, representing courage. Her
          throne is carved in an image of lions facing opposing direction on each side of the queen, illustrating
          strength and power.</p>

        <p>In her left hand she is holding a sunflower, expressing joy. In her right hand she is holding the wand,
          representing action. The black cat symbolizes magic and sorcery, as well as the independent nature of the querent.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Queen of Wands + <a ui-sref="app.theFool">The Fool</a>: Becoming an entrepreneur.</p>

        <p>2. Queen of Wands + <a ui-sref="app.theEmperor">The Emperor</a>: Business school.</p>

        <p>3. Queen of Wands + <a ui-sref="app.theHierophant">The Hierophant</a>: A spiritual entrepreneur.</p>

        <p>4. Queen of Wands + <a ui-sref="app.strength">Strength</a>: A strong and charismatic business man.</p>

        <p>5. Queen of Wands + <a ui-sref="app.theHangedMan">The Hanged Man</a>: A counselor. A healer.</p>

        <p>6. Queen of Wands + <a ui-sref="app.theTower">The Tower</a>: A drama queen.</p>

        <p>7. Queen of Wands + <a ui-sref="app.theWorld">The World</a>: International teacher.</p>

        <p>8. Queen of Wands + <a ui-sref="app.aceOfCups">Ace of Cups</a>: An artist.</p>

        <p>9. Queen of Wands+ <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Online entrepreneur.</p>

        <p>10. Queen of Wands + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Teaching something you are passionate
          about.</p>

        <p>11. Queen of Wands + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A spiritual entrepreneur.
        </p>

        <p>12. Queen of Wands + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Wanting more financial freedom.</p>

        <p>13. Queen of Wands + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Teaching jobs.</p>

        <p>14. Queen of Wands + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Tested faith.</p>

        <p>15. Queen of Wands + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Entrepreneur.</p>

        <p>16. Queen of Wands + <a ui-sref="app.nineOfWands">Nine of Wands</a>: A strong competitor.
        </p>

        <p>17. Queen of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: A demanding person.</p>

        <p>18. Queen of Wands + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Academic success.</p>

        <p>19. Queen of Wands + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Fear of success.</p>

        <p>20. Queen of Wands + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Creating chaos.</p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Queen of Wands denotes branching out and making people notice you. It often
          shows up in your reading when you want to have your own enterprise. The Queen of Wands can also signify someone
          charismatic who inspires you. When the Queen of Wands is upright she is the most lovable creature ever!
          Sideways or reversed she is quite a different story.
        </p>

        <p>Due to her passionate nature she can be your best friend or a dangerous nemesis. Be careful not to get on
          her bad side as no one can plot revenge like the Queen of Wands. In career questions she turns up when you
          need to create something of your own - something you don’t have to share. In love she speaks of someone you are
          unable to ignore or take your eyes off. When the Queen of Wands is you it means you are attracting admirers.</p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
