<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">QUEEN OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/queenOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A practical person.</p>

        <p>2. Love of gardening and the home.</p>

        <p>3. The giving of love and support.</p>

        <p>4. Fertility and vitality.</p>

        <p>5. The best is yet to come.</p>

        <p>6. Being a parent.</p>

        <p>7. Taking care of children, plants and animals.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Queen of Pentacles communicates a down to earth and practical approach to life and situations. It is
          important to have work/home balance, in fact if you could work from home you probably would. The Queen of
          Pentacles takes enjoyment in material pleasures and success.</p>

        <p>This is a very nurturing card and taking care of people around you is important, especially by
          providing shelter, food and a warm place to be. The Queen of Pentacles inspires integrity and warmth, and being an
          abundant parent, partner and friend.</p>

        <p>In a love reading this card speaks of being the rock in your relationship. Your partner
          might rely on you to stay grounded in a healthy routine. If the querent is single, the Queen of Pentacles recommends
          finding a partner who appreciates your nurturing abilities. It also signifies a very traditional
          relationship.</p>

        <p>In a career reading the Queen of Pentacles indicates jobs caring for others. This card is
          also good with business, and can mean you will be running your own business, very likely from home.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Queen of Pentacles is someone with a gentle nature, both generous and abundant. These
          people love the home and the garden, and they enjoy spending time cooking, decorating or gardening. They are
          pragmatic and self-contained. They often do very well in their careers, not because they are overly ambitious,
          but because they genuinely care about what they do. </p>

        <p>They also take care of everyone around them, and put in the effort to make their surroundings look beautiful.
          People love to visit and be entertained by this personality type. They are the perfect host, a talented
          gardener and they have a big heart.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Home and work imbalance.</p>

        <p>2. Reputation ruined.</p>

        <p>3. Toxic environment.</p>


        <h4 class="padding">Meanings</h4>

        <p>If the Queen of Pentacles is reversed it indicates poor taste and a lack of sensitivity to other people’s needs.
          This is someone who expect everyone to work as hard as they do and make the same practical choices. This card
          reversed warns of insecurity, hypocritical behaviour or an inability to share with others. The Queen of
          Pentacles often shows up reversed when the querent has no work/home balance. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The persona of the Queen of Pentacles reversed is someone who is brooding behind your back.
          They lash out with hurtful remarks, and they always believe in the worst in people. This reversed card indicates
          someone with a nasty nature. They often lack the ability to be reasoned with.
        </p>

        <p>They can give it, but never take it. As soon as someone criticize them, they feel terribly wounded and
          victimized, unable to see that they are themselves to blame. They are constantly looking for faults in others,
          they love the blame game and go out of their way of assassinate other people’s good character. </p>

        <p>This is someone who is toxic to their environment. They are often sick people, both emotionally,
          physically and spiritually. These people have no work-home balance and are constantly complaining
          , but wouldn’t have it any other way.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The throne is decorated by symbols of material success. The goat’s head on her left side represents
          fertility, vitality and ceaseless energy. The image of the angel alludes to the queen’s spiritual nature. The
          trees and flowers implies abundance. The pentacle in her hand exhibits her richness.</p>

        <p>The rabbit forecasts the freshness of spring and the promise of wonderful things to come. Her cape is green,
          connoting her security. Her shirt is white, marking her purity. Her red dress is her love and
          passion for all things living.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Queen of Pentacles + <a ui-sref="app.theMagician">The Magician</a>: Home renovation. Buying/selling property.</p>

        <p>2. Queen of Pentacles + <a ui-sref="app.justice">Justice</a>: Working from home. Work/home balance.</p>

        <p>3. Queen of Pentacles + <a ui-sref="app.theWheel">The Wheel of Fortune</a>: Your dream home. Winning a home.</p>

        <p>4. Queen of Pentacles + <a ui-sref="app.theTower">The Tower</a>: Arguments in the family unit.</p>

        <p>5. Queen of Pentacles + <a ui-sref="app.theStar">The Star</a>: Healing with food. Nurturing in the home.</p>

        <p>6. Queen of Pentacles + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Interior designs. A new home.</p>

        <p>7. Queen of Pentacles + <a ui-sref="app.sixOfCups">Six of Cups</a>: Caring for children.</p>

        <p>8. Queen of Pentacles + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Wanting to care and nurture
          people, animals and plants.</p>

        <p>9. Queen of Pentacles + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Successful home business.</p>

        <p>10. Queen of Pentacles + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Fostering. Volunteering.
        </p>

        <p>11. Queen of Pentacles + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Long term investments.
        </p>

        <p>12. Queen of Pentacles + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: A mother.
        </p>

        <p>13. Queen of Pentacles + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Protecting your home. Putting
          your family first.</p>

        <p>14. Queen of Pentacles + <a ui-sref="app.eightOfWands">Eight of Wands</a>: A receptionist.
          Administration.</p>

        <p>15. Queen of Pentacles + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Borrowing money.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Queen of Pentacles speaks to quality of life and material comfort. When this card shows up
          in your reading you will have the opportunity to thoroughly enjoy your life in a prosperous and safe way.
          It also suggests having the competence to get things done.
        </p>

        <p>This card has the blessing of being both practical and innovative in a harmonious mix. The Queen of Pentacles
          shows up in your reading with the message that everything is good and you deserve it. In fact, the best is yet
          to come. </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
