<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">QUEEN OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/queenOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A highly sensitive and intuitive person.</p>

        <p>2. Using your imagination to create.</p>

        <p>3. Compassionate and caring.</p>

        <p>4. Making everyone at ease.</p>

        <p>5. Self-improvement.</p>

        <p>6. Being a magnet for romance.</p>

        <p>7. People are falling in love with you.</p>

        <p>8. Blaming yourself too much.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Queen of Cups denotes someone who is highly intuitive and sensitive. This is someone who is in
          touch with their emotions, subconscious and the Universe. This card signifies someone compassionate, who
          cares deeply about the welfare of others. They are a great friend, spouse and parent.</p>

        <p>As a natural healer and psychic, a Queen of Cups person gives great advice. They can tune into their
          surroundings and people like few others. This card denotes using and developing your psychic
          powers, and creating using your imagination.</p>

        <p>In a love reading the Queen of Cups compares you to a magnet, with people being freuently drawn to you.
          If you are in a relationship it often means you feel appreciated and loved.</p>

        <p>In a career reading the Queen of Cups connotes being able to grow and evolve in your workplace, free
          from unreasonable demands and red tape. It can also suggest a gifted psychic, healer and
          writer. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Queen of Cups indicates someone with highly developed psychic abilities. They are wise and kind
          people who nurture those around them. They have the gift of making everyone at ease and comfortable. They are
          spiritual, understanding and giving. They care deeply about children and animals. These people are
          empathic, reflective and full of insights.</p>

        <p>They constantly look within and question they can improve themselves. They blame themselves if a relationship fails.
          If someone they care about is not well, a Queen of Cups person would know without even having to physically see the
          person.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Dark feelings.</p>

        <p>2. Blocked intuition.</p>

        <p>3. Insensitive.</p>


        <h4 class="padding">Meanings</h4>

        <p>If reversed, the Queen of Cups indicates someone with blocked psychic abilities with an emotionally
          unstable nature. This person might be very numb or inhabit dark feelings. Externally this person
          might be on too many medication, drinking or taking substances.</p>

        <p>There might be bi-polar tendencies, depression and/or hormonal imbalances. These people
          often experience emotional mood swings and the feeling of being out of control. Given a chance,
          they will disappoint you, and even possibly break your heart deliberately.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Queen of Cups reversed conveys someone with a twisted belief about love, relationship and family.
          They might even have emotional problems or maybe a mental illness. Rather than being empathic, they tend to be
          cruel, deliberately hurting the feelings of others. These people only feel good about
          themselves when they can put someone else down.
        </p>

        <p>They over-dramatize and tend to lie a lot. They are very unhappy people. They go from elevated and joyful to
          uncontrollably crying, and and can develop an intense feeling of sadness in a very short amount of time. They can be very scary to
          be around. If you are not grounded they will take you on an emotional roller-coaster.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The white horse acts as a bearer of heroes. The knight equates to a messenger, often carrying a romantic message.
          The cloak is decorated with images of fish, reflecting the spirit. The wings on the helmet and feet are a
          symbol of freedom of expression. The river stands for the flow of emotions.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Queen of Cups + <a ui-sref="app.theMagician">The Magician</a>: A successful artist.</p>

        <p>2. Queen of Cups + <a ui-sref="app.theEmpress">The Empress</a>: Natural therapist.</p>

        <p>3. Queen of Cups + <a ui-sref="app.theChariot">The Chariot</a>: Winning in artistic endeavors.</p>

        <p>4. Queen of Cups + <a ui-sref="app.temperance">Temperance</a>: A Humanitarian.</p>

        <p>5. Queen of Cups + <a ui-sref="app.theDevil">The Devil</a>: Manipulations.</p>

        <p>6. Queen of Cups + <a ui-sref="app.theMoon">The Moon</a>: A writer. Writing talents. Interior designs.</p>

        <p>7. Queen of Cups + <a ui-sref="app.theSun">The Sun</a>: A story teller.</p>

        <p>8. Queen of Cups + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Spiritual writing. Channeling.</p>

        <p>9. Queen of Cups + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Writing a book.</p>

        <p>10. Queen of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Your mother.</p>

        <p>11. Queen of Cups + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Nursing. Health care jobs.</p>

        <p>12. Queen of Cups + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Healer. Natural therapy.</p>

        <p>13. Queen of Cups + <a ui-sref="app.sixOfWands">Six of Wands</a>: Manifesting your desires.
        </p>

        <p>14. Queen of Cups + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Spiritual teacher.
        </p>

        <p>15. Queen of Cups + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Creative travel.
        </p>

        <p>16. Queen of Cups + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Dark feelings blocking abundance.</p>

        <p>17. Queen of Cups + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Nursing.</p>

        <p>18. Queen of Cups + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Hiding your psychic talents.
        </p>

        <p>19. Queen of Cups + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Writer's block. Creative blocks.
        </p>

        <p>20. Queen of Cups + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Consumed by dark feelings.</p>

        <p>21. Queen of Cups + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Recovering from grief. Writing about
          grief.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Queen of Cups marks people who are extraordinary in some way. They are often incredibly
          psychic and encompass a deep compassion for all living things. If hurt, they take their time to recover as
          their feelings run deep. They have a heart of gold, but don’t always let people see it.
          The Queen of Cups foretells an occassion when you will benefit from being around people who understand
          you. People are often triggered around you, as your healing nature unintentionally brings out their issues.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
