<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">QUEEN OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/queenOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Cynical and cold. Impractical high ideals.</p>

        <p>2. Intelligent and clear in her dealings.</p>

        <p>3. Witty and smart.</p>

        <p>4. Professional.</p>

        <p>5. Career oriented.</p>

        <p>6. Often hurt in love.</p>

        <p>7. Well organised.</p>

        <p>8. Perfectionist.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Queen of Swords expresses a person who is cold, professional and smart. The Queen of Swords is witty and
          funny in a sophisticated way. She often represents single people who have been hurt in love,
          and are bitter and hurt, but good at covering it up. This card is career oriented. It is
          intellectually oriented, rather than feeling oriented.</p>

        <p>The Queen of Swords rules the world of intellect, and this card can denote manager positions, or
          councilor/advisory positions. This card describes an emotionally cold but well
          organized (and sometimes controlling) environment.</p>

        <p>Staying professional is a must. You might feel you are under scrutiny and all eyes are on you. Follow the
          rules, because there is not much room for artistic interpretations when the Queen of Swords describes a situation.</p>

        <p>In a love reading this card signifies difficulties in letting the wall come down. In a
          relationship reading is can indicate the querent is their own worst enemy.</p>

        <p>In a career reading the Queen of Swords signifies intellectual work: lecturer, professor, manager, or
          coordinator.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Queen of Swords portrays someone mature, intelligent and independent. There is something classy
          about Queen of Swords people, and others are instinctively at their best behaviour around them. These sorts of
          people tolerate no non-sense. Queen of Swords type people are
          sometimes more interested in finding out if other people are doing the right thing, rather than if they are themselves
          doing what is right. </p>

        <p>This is someone who puts people on the spot, and makes theym feel like they are under scrutiny. This personality type
          needs to be at the top end of society and in prestigious organisations in order to feel comfortable. They are often very
          educated. They believe in social justice and fight honourable causes (without getting their own hands dirty).</p>

        <p>They excel at organisational activities in which they can oversee the work, rather than being hands on. They are very
          convincing people and do well in politics. They have a brilliant sense of humour and are irresistible
          once they turn on their charm. This is someone who has acquired broad and varied life experiences. They are
          courageous, cool, calm and collected. They also know they are smarter than most people.</p>

      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Ruthless.</p>

        <p>2. Lack of compassion.</p>

        <p>3. Problems with phones, emails. Language barrier.</p>


        <h4 class="padding">Meanings</h4>

        <p>While the Queen of Swords is reversed it indicates issues with problem solving and communication. It
          can denote accusations being made without facts being checked. There are also problems with reading
          emails and answering phone calls.</p>

        <p>These problems can be exterior, like problems with computers and phones, as well as language barriers.
          Sometimes this card shows up reversed when the querent feels misunderstood, or are misunderstanding everyone
          else. The querent might not feel very connected and is overly emotional as a result.</p>

        <p>The Queen of Swords often shows up reversed when the querent needs to be more forgiving. It
          can also signify someone who is going through a bitter divorce.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Queen of Swords reversed describes someone with a ruthless tendency. They have little to no
          compassion for others. They often jump down other peoples throats, accusing them of all sorts of things, without the facts to
          back up their claims. They rarely investigate facts and are always jumping to conclusions. They are cold-hearted and harsh.
        </p>

        <p>They know how to give you a convincing smile, however their cold eyes will always give them away. This is
          someone who needs to figure out what they want and take appropriate actions. They need to get out of their
          heads and connect to their hearts. This is someone who hasn’t felt anything emotional in a very long
          time.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The clouds connote mental challenges. The woman’s head is above the clouds, exhibiting her intellect rising
          above these challenges. Her sword is in her right hand pointing upwards, expressing her clarity. The bird
          above her head reflects the mind’s ability to find solutions to problems. Her left hand extended represents
          her ability to offer clear advice. Her throne is decorated with an image of a winged child, a pair
          of moons and butterflies.</p>

        <p>The winged child signals blessings, the moons refers to intuition and the butterflies symbolize
          transformation. Her butterfly crown suggests her intellect’s ability to adapt to any situation. Her cloak
          decorated in clouds insinuates changes. The red tassels on her sleeves means passion. Her white gown
          bespeaks purity.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">
        <p>1. Queen of Swords + <a ui-sref="app.theEmpress">The Empress</a>: Career orientation.</p>

        <p>2. Queen of Swords + <a ui-sref="app.judgement">Judgement</a>: Influencing others.</p>

        <p>3. Queen of Swords + <a ui-sref="app.theWorld">The World</a>: Stepping up in your career.</p>

        <p>4. Queen of Swords + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Hiding your feelings.</p>

        <p>5. Queen of Swords + <a ui-sref="app.twoOfCups">Two of Cups</a>: Turning your back at someone.</p>

        <p>6. Queen of Swords + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Hurt in love.</p>

        <p>7. Queen of Swords + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Over-qualified.</p>

        <p>8. Queen of Swords + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A perfectionist.
        </p>

        <p>9. Queen of Swords + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Multilingual.</p>

        <p>10. Queen of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Organisational work.</p>

        <p>11. Queen of Swords + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Organising a charity event.</p>

        <p>12. Queen of Swords + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: An academic.
        </p>

        <p>13. Queen of Swords + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: An aunt.
        </p>

        <p>14. Queen of Swords + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Playing your own game.</p>

        <p>15. Queen of Swords + <a ui-sref="app.sixOfWands">Six of Wands</a>: A successful organiser.</p>

        <p>16. Queen of Swords + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: A coordinator.</p>

        <p>17. Queen of Swords + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Protecting an organisation.</p>

        <p>18. Queen of Swords + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Being married to your work.</p>

        <p>19. Queen of Swords + <a ui-sref="app.fourOfSwords">Four of Swords</a>: A professor. Study.</p>

        <p>20. Queen of Swords + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Bitterness.</p>

        <p>21. Queen of Swords + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Getting revenge on someone.</p>

        <p>22. Queen of Swords + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Living behind a cold mask.</p>

        <p>23. Queen of Swords + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: A woman scorn.</p>
      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Queen of Swords is the most demanding of all the court cards, even more so than King of Swords.
          This card can often be unreasonable, and people many find themselves tip toeing around the Queen of Swords in fear of setting
          her off. It can represent either a male/female, or a adult/child. The energy of the Queen of Swords makes others feel uneasy.
        </p>

        <p>
          The Queen of Swords can often rely on others too much, and can become a parasitic energy in your life. It
          can take over your life in a way you might not even notice at first. Her words are harsh. Don’t take it
          personally. Of all the Queens this card is the most damaged, especially if she shows up reversed.
        </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
