<ion-view cache-view="false">
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">

      <div class="center">
      <h3 ng-class="headerClass" class="center white padding">Ex-Lover Reading</h3>
        <div class="hidden-box">{{spreadURL='app.spreadExLover'}} {{newDate | date:'MM-dd-yyyy'}} {{spread='Ex-Lover'}} {{headerClass='red'}}</div>
      <form class="padding" ng-submit="slideTo('results')">
      <input type="text" ng-model="newQuery" class="litegray centertextarea padding"
                placeholder=" What is your query about?"></input>
      </form>
        <button class="button button-clear padding skip-button" ng-click="slideTo('results')">Skip
        </button>


        <button ng-click="slideTo('results')" ng-class="headerClass" class="button white large-icon center confirm-button">
          Confirm
        </button>

      </div>


      <div class="center below-fold">
      <a ng-click="slideTo('layout')">
        <img id="results" src="img/spreadExLover.jpg">
      </a>
      </div>

      <div ng-class="headerClass" class="item item-divider white large-icon">
        Results
      </div>

      <ion-list>

        <div ng-repeat="card in newReading = (cardNames | limitTo: 9)">

         <div ng-hide="hideTrigger" class="padding-big"> <a class="remove-underline" href="#" ng-click="revealedCards=true; hideTrigger=true"> <img class="smallcard" ng-src="/img/blankCard.jpg"><div class="vertical-pad">{{$index + 1}}. Reveal</div></a> </div>

          <div ng-show="revealedCards">
          <ion-item class="button-full" ui-sref="{{card.cardURL}}">
            <img class="smallcard" ng-src="{{card.cardImage}}"><div ng-init="card.cardName" class="vertical-pad">{{$index + 1}}. {{card.cardName}}</div>
          </ion-item>
          </div>


        </div>


      </ion-list>
      <h3 ng-class="headerClass" class="white padding">
        Notes
      </h3>
      <div class="center padding">
      <form ng-submit="addSpread(newDate, notes, newReading, spread, headerClass, spreadURL, newQuery); clearNav(); scrollToTop()">
      <input type ="text" ng-model="notes" class="litegray centertextarea padding"
                placeholder=" Reflections on your reading..."></input>
    </form>
        <button nav-clear class="button button-clear padding skip-button" ng-click="clearNav(); scrollToTop()" ui-sref="app.read">Skip
        </button>

      <button ng-click="addSpread(newDate, notes, newReading, spread, headerClass, spreadURL, newQuery); clearNav(); scrollToTop()" ui-sref="app.journal" ng-class="headerClass" class="button white large-icon confirm-button">
        Save Reading
      </button>
</div>
      <div ng-class="headerClass" class="item item-divider white large-icon" id="layout">
          Layout
        </div>

        <div class="padding">

         <p>1. Past history of the querent's relationship.</p>

        <p>2. Where the querent is now.</p>

        <p>3. Where the querent's ex is now.</p>

        <p>4. What the querent really feels about getting back together with their ex.</p>

        <p>5. What their ex really feels about getting back together with the querent.</p>

        <p>6. Who or what opposes what the querent wants.</p>

        <p>7. Who or what can help the querent get what they want.</p>

        <p>8. Something the querent may not know about the situation.</p>

        <p>9. Outcome.</p>

        </div>

        <div ng-class="headerClass" class="item item-divider white large-icon">
          Reading
        </div>
        <div class="padding">
          <p>A nine card spread that looks at the possibility of the querent getting back together with an
          ex-lover.</p>
        </div>

    </ion-content>

  </div>
</ion-view>
