<ion-view cache-view="false">
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">

      <div class="center">
      <h3 ng-class="headerClass" class="center white padding">Which Job? Reading</h3>
        <div class="hidden-box">{{spreadURL='app.spreadWhichJob'}} {{newDate | date:'MM-dd-yyyy'}} {{spread='Which Job?'}} {{headerClass='green'}}</div>
      <form class="padding" ng-submit="slideTo('results')">
      <input type="text" ng-model="newQuery" class="litegray centertextarea padding"
                placeholder=" What is your query about?"></input>
      </form>
        <button class="button button-clear padding skip-button" ng-click="slideTo('results')">Skip
        </button>


        <button ng-click="slideTo('results')" ng-class="headerClass" class="button white large-icon center confirm-button">
          Confirm
        </button>

      </div>


      <div class="center below-fold">
      <a ng-click="slideTo('layout')">
        <img id="results" src="img/spreadWhichJob.jpg">
      </a>
      </div>

      <div ng-class="headerClass" class="item item-divider white large-icon">
        Results
      </div>

      <ion-list>

        <div ng-repeat="card in newReading = (cardNames | limitTo: 9)">

         <div ng-hide="hideTrigger" class="padding-big"> <a class="remove-underline" href="#" ng-click="revealedCards=true; hideTrigger=true"> <img class="smallcard" ng-src="/img/blankCard.jpg"><div class="vertical-pad">{{$index + 1}}. Reveal</div></a> </div>

          <div ng-show="revealedCards">
          <ion-item class="button-full" ui-sref="{{card.cardURL}}">
            <img class="smallcard" ng-src="{{card.cardImage}}"><div ng-init="card.cardName" class="vertical-pad">{{$index + 1}}. {{card.cardName}}</div>
          </ion-item>
          </div>


        </div>


      </ion-list>
      <h3 ng-class="headerClass" class="white padding">
        Notes
      </h3>
      <div class="center padding">
      <form ng-submit="addSpread(newDate, notes, newReading, spread, headerClass, spreadURL, newQuery); clearNav(); scrollToTop()">
      <input type ="text" ng-model="notes" class="litegray centertextarea padding"
                placeholder=" Reflections on your reading..."></input>
    </form>
        <button nav-clear class="button button-clear padding skip-button" ng-click="clearNav(); scrollToTop()" ui-sref="app.read">Skip
        </button>

      <button ng-click="addSpread(newDate, notes, newReading, spread, headerClass, spreadURL, newQuery); clearNav(); scrollToTop()" ui-sref="app.journal" ng-class="headerClass" class="button white large-icon confirm-button">
        Save Reading
      </button>
</div>
      <div ng-class="headerClass" class="item item-divider white large-icon" id="layout">
          Layout
        </div>

        <div class="padding">

       <p>1. What is the querent looking for in a job?</p>

        <p>2. What is steering the querent towards job A?</p>

        <p>3. What is steering the querent towards job B?</p>

        <p>4. What is the main attraction of job A?</p>

        <p>5. What is the main benefit of job A?</p>

        <p>6. What is the main drawback of job A?</p>

        <p>7. What is the main attraction of job B?</p>

        <p>8. What is the main benefit of job B?</p>

        <p>9. What is the main drawback of job B?</p>

        </div>

        <div ng-class="headerClass" class="item item-divider white large-icon">
          Reading
        </div>
        <div class="padding">
          <p>A nine card spread which looks at the factors involved when the querent is faced
          with a choice of two different jobs and is unsure which one to take.</p>
        </div>

    </ion-content>

  </div>
</ion-view>
