<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">SEVEN OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/sevenOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Taking care of your Pentacles (possessions).</p>

        <p>2. Efforts vs. rewards.</p>

        <p>3. Taking stock.</p>

        <p>4. Reaching a milestone.</p>

        <p>5. Long term investment.</p>

        <p>6. Feeling not good enough.</p>

        <p>7. Wanting more job satisfaction.</p>

        <p>8. Routines at work.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Seven of Pentacles predicts a vision that will pay off in the future. You are planting the seeds now so
          that you will be able to harvest a more secure and abundant future for yourself. Look at your investments
          long-term and make a plan for yourself. There is a reward waiting to be reaped if you stick to it. Be patient
          with yourself. Take a step back and look at the value of your effort.</p>

        <p>You might feel you are working hard for little gain, but the Seven of Pentacles looks at the long-term benefit.
          Sometimes it is a notification that you might not have enough energy to finish what you
          started.</p>

        <p>It gives you a warning not to make any major decisions as you don’t have all the facts (don’t sign any
          contracts right now). Work smarter instead of harder, because hard work is not always enough, and you might
          run out of resources if you continue.</p>

        <p>In a love reading the Seven of Pentacles communicates a relationship stuck in a routine. The querent might
          want more excitement. If the querent is single it can mean they are dissatisfied as singles,
          but are doing little to change their situation. </p>

        <p>In a career reading the Seven of Pentacles denotes working outside. It can also mean the querent
          is a student. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Seven of Pentacles persona is someone who has little time to enjoy their life. There is also a lack of
          energy to accomplish goals and dreams. These people work hard but feel like no matter
          how much effort they put in it will never be enough. They need to lighten up and change their attitude towards
          what they are trying to achieve. </p>

        <p>They are often very close to the land and are drawn to working and spending time outside. This is someone
          very determined who needs to take a step back and re-evaluate. They are very patient people and plant seeds
          for the future. The Seven of Pentacles type people often become complacent in their jobs and
          end up wanting something completely different.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Unemployment.</p>

        <p>2. Lack of rewards.</p>

        <p>3. Eternal student.</p>


        <h4 class="padding">Meanings</h4>

        <p>When reversed the Seven of Pentacles indicates impatience, and moving forward before the time is ripe. The
          querent might have invested in the wrong project and are realizing the rewards that should have come will never
          arrive. </p>

        <p>There is also a lack of faith in projects. There is no motivation to work. Not completing the task is the
          consequence. This card reversed can also indicate unemployment. It can also signal someone
          who loves to study, but who finds it hard stay in a job. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Seven of Pentacles reversed character is someone with low self-worth, impatience and an unhealthy body image.
          They don’t care about their health and have problems getting motivated. They feel like they are not enough and
          that no one wants them. This indicates someone who is unable to enjoy the pleasures of
          life and they have few if any friends.
        </p>

        <p>Other people end up taking the credit for their work and they often find work so unpleasant that they end up
          unemployed. They often lie to cover up what is really going on in their lives and how they really feel. They
          pretend everything is okay, when in reality it isn’t. These people enjoys studying, but
          find it hard to enjoy employment.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The seven Pentacles are connected to plants and earth symbolizing cycles, and the harvest is related to finances.
          The man is standing resting his hands on a farm tool, suggesting perseverance is required to see the rewards of
          investments. His face is contemplative, wondering if his efforts are worth the rewards. </p>
      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Seven of Pentacles + <a ui-sref="app.theFool">The Fool</a>: A fun work routine.
        </p>

        <p>2. Seven of Pentacles + <a ui-sref="app.theMagician">The Magician</a>: Working with tools.</p>

        <p>3. Seven of Pentacles + <a ui-sref="app.theHierophant">The Hierophant</a>: Spiritual rewarding work.</p>

        <p>4. Seven of Pentacles + <a ui-sref="app.theHermit">The Hermit</a>: Cashing in on an investment.</p>

        <p>5. Seven of Pentacles + <a ui-sref="app.judgement">Judgement</a>: End of a routine. Doing the same in a new
          way.</p>

        <p>6. Seven of Pentacles + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Nurturing a new project.</p>

        <p>7. Seven of Pentacles + <a ui-sref="app.fourOfWands">Four of Wands</a>: Volunteer work.
        </p>

        <p>8. Seven of Pentacles + <a ui-sref="app.eightOfWands">Eight of Wands</a>: An electrician or telecom worker.
        </p>

        <p>9. Seven of Pentacles + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Feeling under-appreciated.</p>

        <p>10. Seven of Pentacles + <a ui-sref="app.twoOfCups">Two of Cups</a>: Friendships at work.</p>

        <p>11. Seven of Pentacles + <a ui-sref="app.fourOfCups">Four of Cups</a>: Administration.</p>

        <p>12. Seven of Pentacles + <a ui-sref="app.sixOfCups">Six of Cups</a>: Working with children.</p>

        <p>13. Seven of Pentacles + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Hospitality.</p>

        <p>14. Seven of Pentacles + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Working with animals.</p>

        <p>15. Seven of Pentacles + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Unsatisfying compromises.</p>

        <p>16. Seven of Pentacles + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Working alone.</p>

        <p>17. Seven of Pentacles + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: Studying.</p>

        <p>18. Seven of Pentacles + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Work making you unhealthy.
        </p>

        <p>19. Seven of Pentacles + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A well-earned breakthrough.
        </p>

        <p>20. Seven of Pentacles + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Job searching.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>You might be sacrificing on the material plane when the Seven of Pentacles is showing up. Seven is
          a spiritual number and can denote being drawn towards work that is spiritually rewarding - however, it might
          be low paid.
        </p>

        <p>This card often shows up when people have a need to work out doors with animals or plants. The Seven of
          Pentacles often shows up when the querent is drawn towards working in solitude rather than in a team. </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
