<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">SEVEN OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/sevenOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Being in a advantageous position.</p>

        <p>2. Being a chameleon.</p>

        <p>3. Being defensive.</p>

        <p>4. Putting up boundaries.</p>

        <p>5. Being a teacher or public speaker.</p>

        <p>6. Being overwhelmed by too much attention.</p>

        <p>7. Getting what you want, and then not wanting it anymore.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Seven of Wands conveys being defensive and putting up barriers and boundaries. You are protecting
          your point of view and your position. You have the advantageous position. People might find it hard to get close
          to you when this card shows up. In a business question you might have an overly narrow niche of customers you want
          to serve, and you might have to broaden your customer platform. </p>

        <p>This card can also be an indication of how you handle being in demand, as the person on the picture is a bit
          overwhelmed by the attention he is getting. The Seven of Wands also shows up when the querent is hearing the call
          to teach.</p>

        <p>In a love reading the Seven of Wands often means the querent is afraid to get hurt, and is putting up
          walls. </p>

        <p>In a career question it signifies careers in teaching, politics or management. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Seven of Wands character is someone who stands up for what they believe in, and their opinions often
          put them in the minority. They have sound knowledge to back up their beliefs, and they fight ignorance in
          others by teaching them. They have strong determination and make great advocates, especially for severely
          vulnerable people who depend on a social system for survival. </p>

        <p>They also makes great teachers and believe in a fair and just society. This is someone who is smarter than
          the average person and is therefore in an advantageous position. They have more knowledge and skill than the next
          man so they can handle more stress and opposition. They need to learn to choose their battles more wisely.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Alienating others.</p>

        <p>2. A losing battle.</p>

        <p>3. Being your own worst enemy.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Seven of Wands reversed indicates inability to hold your ground, especially if it is not popular.
          There is a lack of defending oneself. The beliefs and actions that should make changes are instead not going
          anywhere.</p>

        <p>Embarrassments and anxiety are suggested. This card also shows up reversed when there is strong opposition
          from subordinates. There might be a fear of authorities. This card reversed can also mean the querent is
          fighting a losing battle.</p>


        <h4 class="padding">Personality Types</h4>

        <p>This is someone who is pushing so hard to get their points across that they are losing credibility. The
          causes they follow are often long-lost and they have little facts to back up their claims. The Seven of Wands
          reversed people often bring out the worst in others. Their sex drive is often in overdrive and they recklessly
          seek pleasurable distractions. This is someone who needs stronger boundaries.
        </p>

        <p>They often end up with several divorces and numerous children with their ex-partners. They also have a
          tendency to lose their jobs, alienate their friends and family, or get themselves into trouble. They are
          their own worst enemy.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The man holding his wand in a defensive position marks taking a stand. The high ground he stands on
          illustrates being in the advantage position. His green tunic suggests ambition. The clear sky reflects
          there are little to no real obstacles or threats to the querent. The man is wearing mismatched footwear,
          inferring the man’s ability to adapt. He is uneasy in his position, showing he has not yet decided what
          actions and/or path to take. </p>
      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Seven of Wands + <a ui-sref="app.theFool">The Fool</a>: University. Lecturing.</p>

        <p>2. Seven of Wands + <a ui-sref="app.theEmperor">The Emperor</a>: Standing up against authority.
        </p>

        <p>3. Seven of Wands + <a ui-sref="app.theHierophant">The Hierophant</a>: Opposition to group consciousness.</p>

        <p>4. Seven of Wands + <a ui-sref="app.strength">Strength</a>: Protecting animals. Activism.
        </p>

        <p>5. Seven of Wands + <a ui-sref="app.theWheel">Wheel of Fortune</a>: Protecting your long-term investments.
        </p>

        <p>6. Seven of Wands + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Observing and bidding your time.
          Researching.</p>

        <p>7. Seven of Wands + <a ui-sref="app.temperance">Temperance</a>: Management.</p>

        <p>8. Seven of Wands + <a ui-sref="app.theWorld">The World</a>: Challenges.
        </p>

        <p>9. Seven of Wands + <a ui-sref="app.threeOfCups">Three of Cups</a>: Taking a break from friends.
        </p>

        <p>10. Seven of Wands + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Covering your tracks.
        </p>

        <p>11. Seven of Wands + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Walking away from stress.</p>

        <p>12. Seven of Wands + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Protecting your sacred space.</p>

        <p>13. Seven of Wands + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Spiritual teacher.
        </p>

        <p>14. Seven of Wands + <a ui-sref="app.kingOfCups">King of Cups</a>: Philosopher.</p>

        <p>15. Seven of Wands + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: More responsibility at work.</p>

        <p>16. Seven of Wands + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Protecting your money.</p>

        <p>17. Seven of Wands + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Confusion about how to apply
          oneself.</p>

        <p>18. Seven of Wands + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Being an all-rounder at
          work.
        </p>

        <p>19. Seven of Wands + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Protecting your home. Putting
          your family first.</p>

        <p>20. Seven of Wands + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: Protecting your business.</p>

        <p>21. Seven of Wands + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Avoiding making decisions.</p>

        <p>22. Seven of Wands + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Getting hurt easily.</p>

        <p>23. Seven of Wands + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Being surrounded by enemies.</p>

        <p>24. Seven of Wands + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: Standing up for your beliefs.
          Fighting for what you believe in.</p>

        <p>25. Seven of Wands + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: A coordinator.</p>

        <p>26. Seven of Wands + <a ui-sref="app.twoOfWands">Two of Wands</a>: Waiting until the last-minute before
          making a decision.</p>

        <p>27. Seven of Wands + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Trying to slow things now.</p>

        <p>28. Seven of Wands + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Getting what you want, but at a price.
        </p>

        <p>29. Seven of Wands + <a ui-sref="app.pageOfWands">Page of Wands</a>: Attention seeker. Negative attention.
        </p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Seven of Wands is all about being in a advantageous position. People are starting to see you as
          an authority, whether you are one or not, and it seems like you suddenly have a lot to defend. Joining the crowd is
          not an option, as you want to be an individual.
        </p>

        <p>Let people know what you are about, and stay proud even if they disapprove. You are here to teach something.
          Focus on you those who want to learn.</p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
