<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">SEVEN OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/sevenOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Sneaking off.</p>

        <p>2. Avoiding responsibility.</p>

        <p>3. Stealing (especially ideas).</p>

        <p>4. Breaking the rules.</p>

        <p>5. Being caught out.</p>

        <p>6. Being afraid to face the music.</p>

        <p>7. Dishonesty.</p>

        <p>8. Coming and going as you please.</p>

        <p>9. Working more efficiently on your own.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Seven of Swords reveals that someone is moving forward in a less than honorable way. There is often
          dishonesty connected with this card, and trying to get away with something or trying to get out of something
          by lying. This is the card for thieves. The Seven of Swords combined with the Magician reversed can refer to a con
          man. The Seven of Swords can be someone who hides the truth, has parasitic energy, comes and goes with or
          without you knowing about it, or plays around behind your back and don’t pay their way.</p>

        <p>The Seven of Swords combined with Three of Swords can be a sign that you are being cheated on, especially if you
          also have Three of Cups reversed, or combined with other court cards or The High Priestess. The Seven of Swords
          with Nine of Cups reversed can denote a gambling or drinking problem that are being hidden from you.</p>

        <p>Tips for when the Seven of Swords shows up in a reading: there is a narrow-mindedness in this card, and the
          querent might be unable to see other options and opportunities. Help the querent see other ways of dealing with
          situations that will be more beneficial for them in the long run.</p>

        <p>In a love reading the Seven of Swords can indicate trust issues within a relationship. If the querent is
          single it can communicate causal relationships with little potential to be anything more.</p>

        <p>In career questions the Seven of Swords can denote that you are applying for work in a new
          company. You are taking the expertise you learned in one company to benefit another one (most likely the
          competition). This card in a career question can also mean careers in the secret service, espionage, army
          or marketing. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Seven of Swords personality is someone who is obnoxious and unavailing, mostly because they are
          always putting their noses in everybody else’s business. They are dishonest and usually comes and go
          as they please, living off of others, possibly even stealing from people. They are charming enough that this behavior
          often goes on for quite some time without anyone becoming suspicious.</p>

        <p>A few people see through them though, however a Seven of Swords type person always has an explanation when
          questioned. There is just something that doesn’t quite make sense and it is hard to put your finger on it.
          This is someone who will hack into your email and read everything. They will read your diary and look through
          your phone if they get a chance. Do not trust them.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A scapegoat.</p>

        <p>2. Clumsiness.</p>

        <p>3. Forgetfulness.</p>

        <p>4. Slander.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Seven of Swords reversed reports clumsiness and forgetfulness, especially when it comes to
          recollecting which lies have been told and to who. Sneaking around and cheating will not work out, you will
          lose track of what you are doing. Sometimes the Seven of Swords shows up reversed when the querent is
          afraid of getting into trouble, even if they haven’t done anything wrong. </p>

        <p>They might be a bit paranoid and are aiming at staying under the radar. Sometimes the Seven of Swords
          shows up reversed when the querent is being used as a scapegoat. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Seven of Swords reversed exposes someone so messed up they have no idea how to act or how to
          behave. They are fearful people and do what they can to please others, but all they end up doing is being
          annoying. This is someone animated and attention seeking. If they are not the center of attention they
          don’t know what to do with themselves. They interrupt people’s conversations and talk about things they have
          no knowledge about. Most of the time they feel left out and are desperately trying to get your attention. In
          personal relationships they drain their partners empty.
        </p>

        <p>They have no hesitation about slandering people if that means being a part of a conversation.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The five Swords in the man’s arms symbolize getting away with something less than honorable. The military
          camp in the background embodies the rules and laws he is breaking. There are two Swords behind him pointing
          downwards, representing the apathy of society towards what he has done.</p>

        <p>In the background there is a small group of soldiers, one of which has his sword raised, suggesting that
          he has been caught.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Seven of Swords + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Keeping secrets.</p>

        <p>2. Seven of Swords + <a ui-sref="app.theEmpress">The Empress</a>: Single parent.</p>

        <p>3. Seven of Swords + <a ui-sref="app.theHierophant">The Hierophant</a>: Breaking the rules.</p>

        <p>4. Seven of Swords + <a ui-sref="app.death">Death</a>: Sensitive information. Intelligence officer.</p>

        <p>5. Seven of Swords + <a ui-sref="app.theMoon">The Moon</a>: Spying on someone.</p>

        <p>6. Seven of Swords + <a ui-sref="app.judgement">Judgement</a>: Journalism.</p>

        <p>7. Seven of Swords + <a ui-sref="app.threeOfWands">Three of Wands</a>: Faking it until you make it.</p>

        <p>8. Seven of Swords + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Lack of team work.</p>

        <p>9. Seven of Swords + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Playing your own game.
        </p>

        <p>10. Seven of Swords + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Lack of communication.</p>

        <p>11. Seven of Swords + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Manipulating others.</p>

        <p>12. Seven of Swords + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Taking time out to enjoy life.</p>

        <p>13. Seven of Swords + <a ui-sref="app.threeOfCups">Three of Cups</a>: Being an outsider.</p>

        <p>14. Seven of Swords + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Soul searching.
        </p>

        <p>15. Seven of Swords + <a ui-sref="app.pageOfCups">Page of Cups</a>: Shyness.</p>

        <p>16. Seven of Swords + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Hiding your psychic talents.
        </p>

        <p>17. Seven of Swords + <a ui-sref="app.kingOfCups">King of Cups</a>: Applying yourself in an unusual way.</p>

        <p>18. Seven of Swords + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Gambling.</p>

        <p>19. Seven of Swords + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Hiding your money.</p>

        <p>20. Seven of Swords + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Teaching yourself an art
          form.</p>

        <p>21. Seven of Swords + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Distracting others with the way
          you look.</p>

        <p>22. Seven of Swords + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Borrowing money.</p>

        <p>23. Seven of Swords + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Avoiding taking a stand.</p>

        <p>24. Seven of Swords + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Mentally confused.</p>

        <p>25. Seven of Swords + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Going back to what you know.</p>

        <p>26. Seven of Swords + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Whistle-blowing. Spying.</p>

        <p>27. Seven of Swords + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Getting revenge on someone.</p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>When the Seven of Swords shows up there might be a fear of both conflict and commitment. The
          querent might want to get out of anything that can lead to too much responsibility. There is escapism in this
          card, but not in the same sense as in Seven of Cups (daydreaming). This escapism has more to do with wanting to
          avoid having to answer to anyone or be held accountable.
        </p>

        <p>
          Help the querent see how they can be of use without the feeling of being trapped. In relationships the querent
          might also feel difficulty in expressing themselves freely. When the Seven of Swords represents the querent then
          the querent prefers being behind the scenes. Being in the public eye is especially difficult when this card shows up.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
