<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">SEVEN OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/sevenOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Your imagination.</p>

        <p>2. Wishful thinking.</p>

        <p>3. Daydreaming.</p>

        <p>4. Learning a healing modality.</p>

        <p>5. Having plenty of choices.</p>

        <p>6. Poor time management.</p>

        <p>7. Emotional emptiness.</p>

        <p>8. Escaping reality.</p>

        <p>9. The internet.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Seven of Cups is the card for day dreaming, illusions, wishful thinking and fantasies. It
          usually shows up when you have plenty of choices, and need visions to make them a reality. It might feel
          better to daydream than to live in reality. The querent might find it difficult to see clearly what is the best
          option forward, as the Seven of Cups entails that not all options are going to be positive ones. If it
          appears with many court cards the querent might be influenced by what other people think they should be
          doing. The other cards in the spread will tell you what is the best way forward. The Seven of Cups can
          signify that the querent is searching for answers on the internet.</p>

        <p>Tips for when the Seven of Cups shows up in a reading: help the querent find ways of improving their time
          management. </p>

        <p>In a love reading the Seven of Cups reveals searching online for love. If the querent is in a
          relationship its can mean the querent is escaping the reality of the relationship by daydreaming,
          reading or spending time online. The querent might not feel emotionally fulfilled in the relationship. In a
          career reading the Seven of Cups signifies internet jobs, and being a ‘jack-of-all-trades’.
          It can also mean the querent’s work is in the alternative health care industry or in
          healing careers.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Seven of Cups portrays someone who is losing themselves in illusions and self-deceptions to escape
          emotional emptiness. They lose themselves in fantasies to help them cope with a life they find difficult and
          meaningless. They need to find significance in their life so that is can be truly satisfying. They often
          have unrealistic expectations and enjoy indulging in excess.</p>

        <p>This is someone who procrastinates and has a difficult time making decisions. These people often have
          unrealistic expectations and don’t know how to deal with painful consequences. They need to watch out for
          abusive people as they do not know how to defend themselves effectively and can easily become victims of
          bullying.</p>
      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Nightmares.</p>

        <p>2. Secrets.</p>

        <p>3. Substance abuse.</p>


        <h4 class="padding">Meanings</h4>

        <p>While the Seven of Cups is reversed the querent’s imagination is blocked. Daydreaming has turned into
          thoughts of fears and anxieties. It can forecast a downward spiral of depression, anxiety and
          possibly even drug or alcohol abuse. We all need time to day-dream and a place for our imagination, however
          this card reversed intimates that there is no such space.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Seven of Cups reversed type of person is someone who has a poisonous secret and/or a past that is poisoning them
          in some way. They are often extremely confused, and they are unable to see or deal with the truth about a
          situation. They have a hard time accepting reality and often turn down professional help.
        </p>

        <p>They rarely listen to advice. This is someone who has issues with jealousy or dangerous partnerships. Their
          lives are filled with conflicts and dirty secrets. These people are unable to see other ways
          of living, and are stuck in imbalanced and unhealthy patterns.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The cloud represents dreams and thoughts that change and transform quickly. The human head alludes to a
          potential partner to the querent. The shrouded, glowing figure symbolizes the need for illumination and
          artistic ventures. The snake signals animal wisdom and knowledge. The castle stands for stability. The
          treasure hoard expresses wealth and abundance.</p>

        <p>The laurel wrath conveys victory, honour and status. The dragon is an agent of danger. The figure with his
          back toward us is dark from the shade, insinuating being in the dark about the choices and direction to make,
          searching without any real direction. In the modern age, the Seven of Cups can be a symbol for the internet or virtual
          realities.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Seven of Cups + <a ui-sref="app.theFool">The Fool</a>: Searching for a new beginning.
        </p>

        <p>2. Seven of Cups + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Becoming more independent.</p>

        <p>3. Seven of Cups + <a ui-sref="app.theEmperor">The Emperor</a>: Simplifying your life.
        </p>

        <p>4. Seven of Cups + <a ui-sref="app.death">Death</a>: Re-discovering a childhood dream.</p>

        <p>5. Seven of Cups + <a ui-sref="app.theStar">The Star</a>: Fear of abandonment.</p>

        <p>6. Seven of Cups + <a ui-sref="app.theMoon">The Moon</a>: A creative blog.</p>

        <p>7. Seven of Cups + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Changing your appearance.
        </p>

        <p>8. Seven of Cups + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: An ideas person.</p>

        <p>9. Seven of Cups + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Online friends.
        </p>

        <p>10. Seven of Cups + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Bored at work.</p>

        <p>11. Seven of Cups + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Craving a change.
        </p>

        <p>12. Seven of Cups + <a ui-sref="app.threeOfWands">Three of Wands</a>: Writing down your ideas.</p>

        <p>13. Seven of Cups + <a ui-sref="app.fourOfWands">Four of Wands</a>: Online community.</p>

        <p>14. Seven of Cups + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Rumors.</p>

        <p>15. Seven of Cups + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Searching for love. Craving love.</p>

        <p>16. Seven of Cups + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Publishing.</p>

        <p>17. Seven of Cups + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Online entrepreneur.</p>

        <p>18. Seven of Cups + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Winning against the odds.</p>

        <p>19. Seven of Cups + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Hurting someone without knowing it.
        </p>

        <p>20. Seven of Cups + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Avoiding boredom.</p>

        <p>21. Seven of Cups + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Over-qualified.</p>

        <p>22. Seven of Cups +<a ui-sref="app.kingOfSwords">King of Swords</a>: A conductor.</p>

        <p>23. Seven of Cups + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Creative problem-solving.</p>

        <p>24. Seven of Cups + <a ui-sref="app.twoOfCups">Two of Cups</a>: Online dating.</p>

        <p>25. Seven of Cups + <a ui-sref="app.threeOfCups">Three of Cups</a>: Online friendships.</p>

        <p>26. Seven of Cups + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Creating a vision.</p>

        <p>27. Seven of Cups + <a ui-sref="app.pageOfCups">Page of Cups</a>: A dreamer.</p>

        <p>28. Seven of Cups + <a ui-sref="app.kingOfCups">King of Cups</a>: A marketing genius. A writer.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Seven of Cups embodies the kind of mindlessness you experience as you aimlessly surf the internet
          without knowing what exactly you are looking for, and at the same time you end up learning about things that
          are mostly irrelevant to your life. It is nice to switch off from stress, and ever so often you stumble upon
          something that is valuable to you. In your daydream there are moments of real clarity. It is advised that you
          write them down or they might disappear with all the other thoughts that enter your dream time. The Seven of Cups
          also foretells you are about to learn or advance in a healing modality.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
