<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">SIX OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/sixOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Victory and success.</p>

        <p>2. Coming out on top.</p>

        <p>3. Feeling good about yourself.</p>

        <p>4. Being very fortunate.</p>

        <p>5. Being looked up to and admired.</p>

        <p>6. Popularity.</p>

        <p>7. Getting recognition.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Six of Wands is the card for popularity, progress, victory and success, self-confidence and getting
          what you want. You will be getting recognition for something that is important to you. People look up to you.
          The one who seeks shall find.</p>

        <p>Move towards your dreams, rather than away from your fears. Your inspiration and motivation will get you
          further than your doubts and fears ever will.</p>

        <p>In a love reading the Six of Wands indicates being adored by your partner. </p>

        <p>In a career reading it signifies working on projects that attract recognition. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Six of Wands persona is someone confident and accomplished. They are very strong and have the ability to succeed
          against all odds. They are winners in every sense of the word and their friends and family boast about their
          connection to them. This is someone who has public recognition as well as the adoration of their family. They are
          optimistic people who are willing to take risks to reach their goals. </p>

        <p>They love their family, especially their children, and they know how to show their appreciation to the
          special people in their lives. In return they are much loved. When things are dark they brighten 
          up the situation and make everything better. This is someone who has a great reputation based on being approachable and
          friendly.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Unapproachable.</p>

        <p>2. Unpopular.</p>

        <p>3. Overlooked.</p>

        <p>4. Loss of reputation.</p>

        <p>5. Defeat.</p>


        <h4 class="padding">Meanings</h4>

        <p>While the Six of Wands is reversed it signifies not getting the rewards that are owed. Delays are indicated.
          Improvements that should be made are not being made, and instead there is deterioration. Everything is aimed at the
          lowest common denominator and there is a lack of quality.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Six of Wands reversed hints at someone who has a tendency to brag and over exaggerate their own
          abilities. They love attention and expect everyone to give them constant attention and recognition for their
          achievements. They believe others should show them an unreasonable amount of respect and are shocked and
          horrified if people don’t bow to their demands.
        </p>

        <p>If people are unaffected by the Six of Wands so-called charm, they think it is something seriously wrong with them.  Thesevpeople are stuck up and unappealing, and some even have narcissistic traits.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The wreath around the man’s head stands for victory. The white horse symbolizes being the bearer of a hero, and strengthens the significance on the man riding the horse. </p>

        <p>The wand in the man’s left hand has a wreath tied to it, evincing achievements and success. The footmen
          marks public recognition. The horse’s decorations indicates rewards.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Six of Wands + <a ui-sref="app.theFool">The Fool</a>: Being able to pick and choose from options.</p>

        <p>2. Six of Wands + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A successful woman. Powerful
          woman.
        </p>

        <p>3. Six of Wands + <a ui-sref="app.theLovers">The Lovers</a>: Success in love. Being with The One.</p>

        <p>4. Six of Wands + <a ui-sref="app.justice">Justice</a>: Success in legal affairs.
        </p>

        <p>5. Six of Wands + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Less is more. Success in innovation.
        </p>

        <p>6. Six of Wands + <a ui-sref="app.theDevil">The Devil</a>: Success in business.</p>

        <p>7. Six of Wands + <a ui-sref="app.theTower">The Tower</a>: Fighting for popularity.</p>

        <p>8. Six of Wands + <a ui-sref="app.theStar">The Star</a>: Success in media.
        </p>

        <p>9. Six of Wands + <a ui-sref="app.theWorld">The World</a>: Success in education.
        </p>

        <p>10. Six of Wands + <a ui-sref="app.threeOfCups">Three of Cups</a>: Popularity. Success in social settings.
        </p>

        <p>11. Six of Wands + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Getting what you want and then not wanting
          it.</p>

        <p>12. Six of Wands + <a ui-sref="app.knightOfCups">Knight of Cups</a>: A confident performer.</p>

        <p>13. Six of Wands + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Manifesting your desires.
        </p>

        <p>14. Six of Wands + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Achieving the WOW factor.</p>

        <p>15. Six of Wands + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Helping someone who needs you.
          Feeling needed.</p>

        <p>16. Six of Wands + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A happy and relaxed lifestyle.</p>

        <p>17. Six of Wands + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Successful career change.</p>

        <p>18. Six of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: A brilliant idea. The Winning Formula.
        </p>

        <p>19. Six of Wands + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Successful move.</p>

        <p>20. Six of Wands + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Fear of success.</p>

        <p>21. Six of Wands + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Knowing what your strengths are.</p>

        <p>22. Six of Wands + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: A successful organiser.</p>

        <p>23. Six of Wands + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Successful new beginning.</p>

        <p>24. Six of Wands + <a ui-sref="app.twoOfWands">Two of Wands</a>: Being head-hunted.</p>

        <p>25. Six of Wands + <a ui-sref="app.threeOfWands">Three of Wands</a>: Success in export. Success in
          freelancing.</p>

        <p>26. Six of Wands + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Success in communication.</p>

        <p>27. Six of Wands + <a ui-sref="app.kingOfWands">King of Wands</a>: Success in leadership.</p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Six of Wands refers to success and recognition. It is easy to have confidence when everyone
          loves you. You are making others proud of you, and they might even be putting you on a pedestal. This is a good time to plan your next move. The conditions now are favourable.
        </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
