<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">SIX OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/sixOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Your childhood.</p>

        <p>2. Memories.</p>

        <p>3. Pleasures.</p>

        <p>4. Innocence.</p>

        <p>5. Your past returning to you.</p>

        <p>6. Your home is where your heart is.</p>

        <p>7. Feeling at home.</p>

        <p>8. Being childlike.</p>

        <p>9. Good will.</p>

        <p>10. Being kind to someone.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Six of Cups is the card for sensuality and pleasure, memories, innocence, nostalgia and childhood.
          Sometimes it shows up when someone from the past is on their way back into your life again. The Six of
          Cups recalls a worry free and happy childhood. It speaks of children and your inner child. It
          reminds us that our home is where our hearts are. The Six of Cups often shows up when the querent feels
          at home where they are and with what they are doing.</p>

        <p>In a love reading the Six of Cups can relate a sensual relationship that brings joy to the querent. It
          can mean old love returning, or it can mean love that connects you to your inner child. The Six of Cups
          denotes a kind relationship where the couple is free to be themselves. In a career reading the Six of
          Cups signifies feeling at home with work, and feeling safe at work with the people you work
          alongside.</p>

        <p>The work environment is very favourable when the Six of Cups shows up. It can also mean
          careers in childcare and hospitality. This card can also suggests work that involves delving into the past, such
          as a historian or investigator. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Six of Cups portrays someone very sensual, who must learn to respect their own and others
          boundaries. These people have a love for pleasure and sensual excess, with a roller coaster
          response to the highs and lows of their own emotions. They have a tendency to be stuck in the nostalgia of the
          past and they often have a childlike nature. They often have deep-rooted issues that need to be addressed.</p>

        <p>They escape dealing with their emotions by seeking pleasures and excessive sensual experiences. They tend to
          live too much on the physical plane and need to have a look at why they get so stuck in their past. They seem
          like the happiest people on the planet, but there are often tears behind their smile. The Six of Cups type people are
          often the kindest people you will ever meet.</p>
      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Bad memories.</p>

        <p>2. Feeling out of place.</p>

        <p>3. Memory loss.</p>


        <h4 class="padding">Meanings</h4>

        <p>Six of Cups reversed indicates a difficult childhood and haunting, even disturbing childhood
          memories. Memories of all kinds can be an issue when this card shows up reversed, even memory loss. It can
          also indicate difficulties in growing and evolving. Six of Cups often shows up reversed when the querent is
          trying to make others happy which is ultimately doomed to fail. The querent has to make themselves happy
          first.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Six of Cups reversed bespeaks someone with a tendency to quit before they’ve finished what they
          started. They often lean towards extreme lifestyles that can be dangerous and uncomfortable. They are seeking
          pleasure and thrills regardless of the long-term consequences.
        </p>

        <p>They are usually full of contradictions, and they have no healthy boundaries in their life. They’re escaping
          traumatic childhood memories with unhealthy lifestyle habits and addictions. They don’t know who they are, and
          often imitate the personalities of the people they are with.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The five petal flowers symbolize innocence, wonder and purity. The children represent the past and memories.
          The taller child is handing a cup with a flower to the younger child, illustrating kindness. The older person
          in the background is walking away, signaling that the future is now. The harvested garden implies abundance. The house
         stands for security.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Six of Cups + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A psychic child. Your sister.
        </p>

        <p>2. Six of Cups + <a ui-sref="app.theEmpress">The Empress</a>: A nurturing home.</p>

        <p>3. Six of Cups + <a ui-sref="app.theChariot">The Chariot</a>: Teenagers. Young adults.
        </p>

        <p>4. Six of Cups + <a ui-sref="app.theHermit">The Hermit</a>: Remembering the past. Your Memoir.</p>

        <p>5. Six of Cups + <a ui-sref="app.theWheel">Wheel of Fortune</a>: Finding your path from childhood.</p>

        <p>6. Six of Cups + <a ui-sref="app.death">Death</a>: Your childhood.</p>

        <p>7. Six of Cups + <a ui-sref="app.theMoon">The Moon</a>: Your childhood dreams.
        </p>

        <p>8. Six of Cups + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A new child.</p>

        <p>9. Six of Cups + <a ui-sref="app.threeOfWands">Three of Wands</a>: Children book.
        </p>

        <p>10. Six of Cups + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Teaching children.</p>

        <p>11. Six of Cups + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Travelling to a place from your
          childhood.
        </p>

        <p>12. Six of Cups + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Your childhood home.</p>

        <p>13. Six of Cups + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Sick and/or poor children.</p>

        <p>14. Six of Cups + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A playground. Playful holiday.</p>

        <p>15. Six of Cups + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Caring for children.</p>

        <p>16. Six of Cups + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Beliefs learnt in childhood.</p>

        <p>17. Six of Cups + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Twins.</p>

        <p>18. Six of Cups + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Childhood trauma.</p>

        <p>19. Six of Cups + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A talented child.
        </p>

        <p>20. Six of Cups + <a ui-sref="app.aceOfCups">Ace of Cups</a>: A creative child.</p>

        <p>21. Six of Cups + <a ui-sref="app.threeOfCups">Three of Cups</a>: Childhood friends.</p>

        <p>22. Six of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A happy family.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>Home is where the heart is, and when you follow your heart you might end up in some interesting places. Six
          of Cups is a card that makes you feel right at home in your environment and there is often a link to
          childhood emotions of magic. There is a purity to this card that is difficult to describe, but once you are
          under its spell life is both exciting and safe in a wonderful blend.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
