<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">SIX OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/sixOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Moving towards a better future.</p>

        <p>2. Finding solutions.</p>

        <p>3. Changing location.</p>

        <p>4. Problem solving.</p>

        <p>5. Feeling a bit low emotionally.</p>

        <p>6. Being sentimental.</p>

        <p>7. Moving in the right direction.</p>

        <p>8. The need for change.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Six of Swords is about crossing a troubled sea and entering calmer water. This is the card
          for finding solutions and implementing them, often bringing other people with you in the process.
          The other cards in the spread will tell you which areas you are making these changes. Sometimes it
          shows up when people are taking physical travel away from stress.</p>

        <p>If this card shows up with Eight of Wands it can denote going on a holiday. If it shows up with Nine of
          Pentacles it often mean moving to a beautiful place. The Six of Swords with the Chariot can signify a quick leap
          forward in the right direction, so don’t lose sight of the bigger picture and don’t let go of control.</p>

        <p>In a love reading the Six of Swords denotes meeting someone online, or a long distance relationship.
          It can also mean a relationship where the couple has worked on their relationship and has come through the other
          side.</p>

        <p>In a career reading it signifies science, problem-solving, computer and travel
          jobs.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Six of Swords indicates someone who is very good at problem solving and implementing new
          strategies and systems. They are very intelligent people who can master skills in many different
          environments. They continuously seek to create a better world, and are impartial and fair. They often
          succeed in personal goals and are always ready to go on a new adventure, learning new skills and meeting new
          people as they go.</p>

        <p>These sorts of people love to invest in themselves and they often take their expertise to humanitarian causes
          and non-profit organisations, where they work hard towards building a better tomorrow.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Problems staying afloat.</p>

        <p>2. Losing important information.</p>

        <p>3. Mental confusion.</p>


        <h4 class="padding">Meanings</h4>

        <p>While the Six of Swords is reversed it forecasts travel plans being cancelled or delayed. It also means difficulty
          in problem solving, especially with mental tasks like math or science. The swords fall out of the boat when
          the Six of Swords shows up reversed, denoting the danger of losing valuable information needed.</p>

        <p>Make sure you back up and protect your data. This card sometimes shows up reversed when the someone is
          stealing someone else’s intellectual properties, homework and/or ideas. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Six of Swords reversed implies someone who has problems staying afloat. They might even have
          problems with authority figures or following rules. They believe rules are there to be broken. There are problems
          with getting stuck and lost, and there are issues with time management. This is someone who is constantly
          asking for other people’s help and handouts.
        </p>

        <p>They seem to always be in deep water with little effort, and few resources to get them out of trouble. They
          often drain their friends and family, who in the end get fed up with them. When that happens they hook on to
          someone else, often an unknowing do-gooder.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The turbulent water on the boat’s right side marks trouble. The calm water on the boat’s left side
          signals the ending of troubles. The man steering them across is standing upright, alluding to planning
          ahead. The woman and the child sit in front of him. The woman’s head is covered, indicating humbleness.</p>

        <p>The child on her left side stands for new beginnings. All the six swords are pointing downwards, signifying
          mental rest and non-activity. The six swords are in front of the people in this card represent their
          boundaries.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Six of Swords + <a ui-sref="app.theFool">The Fool</a>: A chance meeting.</p>

        <p>2. Six of Swords + <a ui-sref="app.theEmperor">The Emperor</a>: Moving up the organisation.</p>

        <p>3. Six of Swords + <a ui-sref="app.theHierophant">The Hierophant</a>: Settling down.</p>

        <p>4. Six of Swords + <a ui-sref="app.theLovers">The Lovers</a>: Moving forward in your relationship.</p>

        <p>5. Six of Swords + <a ui-sref="app.theChariot">The Chariot</a>: A small move turns into a big move.</p>

        <p>6. Six of Swords + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Scientific breakthrough.</p>

        <p>7. Six of Swords + <a ui-sref="app.temperance">Temperance</a>: Moving far away.</p>

        <p>8. Six of Swords + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Going on a journey to learn about
          yourself.</p>

        <p>9. Six of Swords + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Becoming a manager. More responsibility.
        </p>

        <p>10. Six of Swords + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Investing in career.</p>

        <p>11. Six of Swords + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Academic success.</p>

        <p>12. Six of Swords + <a ui-sref="app.twoOfCups">Two of Cups</a>: Travelling for love.</p>

        <p>13. Six of Swords + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Online studies.</p>

        <p>14. Six of Swords + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Ending a chapter.
        </p>

        <p>15. Six of Swords + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Finding your true purpose.</p>

        <p>16. Six of Swords + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Moving towards financial security.
        </p>

        <p>17. Six of Swords + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Learning a new language.</p>

        <p>18. Six of Swords + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Moving to the country.</p>

        <p>19. Six of Swords + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A holiday. A breakthrough.</p>

        <p>20. Six of Swords + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Visiting family.</p>

        <p>21. Six of Swords + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Mathematical and technical skills.</p>

        <p>22. Six of Swords + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Musical skills.</p>

        <p>23. Six of Swords + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Being an outsider.</p>

        <p>24. Six of Swords + <a ui-sref="app.kingOfSwords">King of Swords</a>: A navigator.</p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Six of Swords embodies the mental workout that will lead to a better and brighter future. Once you
          learn the necessary skills you will have the security you need. It can also speak to travel, as
          traveling always entails learning in some way or another, and this card stands for the joy of that learning process.
        </p>

        <p>
          If you want a brighter future the Six of Swords will get you there by bringing about change through learning.
          The most prevalent mental skills seen in Six of Swords are computer skills, musical skills and language
          skills.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
