<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">SIX OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/sixOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Giving or receiving charity.</p>

        <p>2. Being kind.</p>

        <p>3. Showing off.</p>

        <p>4. High personal status.</p>

        <p>5. Earning a wage.</p>

        <p>6. Sharing wealth.</p>

        <p>7. Giving of yourself to others.</p>

        <p>8. Entertaining others.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Six of Pentacles expresses generosity towards those who have less than you. It can also mean
          receiving generosity from others. Sometimes this card means earning a wage, or if you are a business owner,
          paying wages. This is the card for sharing wealth to benefit others and thus creating stability. It is a
          warm-hearted and kind card. </p>

        <p>It signals being in harmony with money and being grateful for what you have. This is
          also the for people who give a lot of themselves to others. It is the card for entertainment and
          theater, as well as being a very spiritual card.</p>

        <p>In a love reading the Six of Pentacles speaks of relationships that are supportive and kind.
          The act of helping others is very important to the couple. If the querent is single then they will find love in
          situations where they are giving of themselves. They might find love when they help out in a charity. If the
          querent has acting talents then giving of themselves on a stage will bring them love.</p>

        <p>In a career reading the Six of Pentacles signifies jobs in the entertainment industry or in
          charities. It siggests the querent will have financial advantage to help others. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Six of Pentacles character is someone robust and zestful, with plenty of energy. They care deeply about those around
          them, and are generally generous people. These people often have a good singing voice and they
          are strong and reliable. They show their spiritual side through good deeds, patience and generosity.</p>

        <p>They love to laugh and are drawn towards entertainments of all kind. These types of people often come into
          your life when you need a helping hand, and they make supportive friends you can trust. They
          tend to be loyal people.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Greed.</p>

        <p>2. Cruelty.</p>

        <p>3. Disloyalty.</p>


        <h4 class="padding">Meanings</h4>

        <p>If the Six of Pentacles occurs reversed it indicates a lack of generosity. There might be greediness rather than
          the sharing of wealth. Cruelty instead of kindness. Sometimes this card shows up reversed when the querent is short
          on cash. </p>

        <p>Are you spending more than you are earning? Are you borrowing more than you can afford? The Six of Pentacles
          reversed also shows up when the querent is unable to give of themselves.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Six of Pentacles reversed indicates someone who has mood swings, is overly emotional,
          withdrawn and has a tendency to overreact. They are drama queens and can be very manipulative. They are great
          actors and will fake it until they get their way.
        </p>

        <p>When you see through them they go deeper into their false characters in an attempt to save face. They don’t
          know how to give to others and are often needy and draining people.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The scale symbolizes fairness and equality. The man holding the scale is standing up while the other men are
          sitting down, referring to the hierarchy of society. He is wearing green shoes, representing self-respect and
          well-being. </p>

        <p>The six pentacles are organised around the standing man’s upper body as in a doorway, evoking the door to
          abundance. The man is standing on what looks like a stage, inferring image and status.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Six of Pentacles + <a ui-sref="app.strength">Strength</a>: A strong leader.
        </p>

        <p>2. Six of Pentacles + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Earning a wage.</p>

        <p>3. Six of Pentacles + <a ui-sref="app.theTower">The Tower</a>: Cruelty.</p>

        <p>4. Six of Pentacles + <a ui-sref="app.theStar">The Star</a>: The entertainment industry.</p>

        <p>5. Six of Pentacles + <a ui-sref="app.theSun">The Sun</a>: Helping children.</p>

        <p>6. Six of Pentacles + <a ui-sref="app.threeOfWands">Three of Wands</a>: A manuscript.</p>

        <p>7. Six of Pentacles + <a ui-sref="app.fourOfWands">Four of Wands</a>: A generous community. Gifts.</p>

        <p>8. Six of Pentacles + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Wanting more than you are getting.
        </p>

        <p>9. Six of Pentacles + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Being withdrawn.</p>

        <p>10. Six of Pentacles + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Working to create jobs.</p>

        <p>11. Six of Pentacles + <a ui-sref="app.pageOfWands">Page of Wands</a>: Eager to help. Over-helpful.</p>

        <p>12. Six of Pentacles + <a ui-sref="app.threeOfCups">Three of Cups</a>: Social work.</p>

        <p>13. Six of Pentacles + <a ui-sref="app.fourOfCups">Four of Cups</a>: Counselling.</p>

        <p>14. Six of Pentacles + <a ui-sref="app.knightOfCups">Knight of Cups</a>: An entertainer. Big personality.</p>

        <p>15. Six of Pentacles + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Healer. Natural therapy.</p>

        <p>16. Six of Pentacles + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: A speech. Public speaking.</p>

        <p>17. Six of Pentacles + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Treating yourself.</p>

        <p>18. Six of Pentacles + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Taking advantage of the poor.</p>

        <p>19. Six of Pentacles + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A child actor. Natural talent in
          acting.</p>

        <p>20. Six of Pentacles + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: A modern Robin Hood.
        </p>

        <p>21. Six of Pentacles + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Organising a charity event.</p>

        <p>22. Six of Pentacles + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Relying on charity.
        </p>

        <p>23. Six of Pentacles + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Fostering. Volunteering.
        </p>

      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Six of Pentacles denotes harmony with money. When people are comfortable with who they are
          and what they have achieved they begin to show generosity and kindness towards others. This card encourages
          helping others less fortunate. It also indicates earning a living entertaining and uplifting others.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
