<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">READY FOR LOVE?</h3>

      <div class="center">
        <img src="img/spreadReadyForLove.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Lesson(s) from the distant past.</p>

        <p>2. Is there still work to be done or have I learned them?</p>

        <p>3. Lesson(s) from the recent past.</p>

        <p>4. Is there still work to be done or have I learned them?</p>

        <p>5. Lesson(s) in the present.</p>

        <p>6. Is there still work to be done or have I learned them?</p>

        <p>7. The degree to which I understand the importance of being happy alone.</p>

        <p>8. The degree to which I understand the importance of compromise.</p>

        <p>9. The degree to which I understand the importance of equality.</p>

        <p>10. The degree to which I understand the importance of being a "whole" and not a "half."</p>

        <p>11. The degree to which I understand the importance of being open.</p>

        <p>12. Is my heart as ready as it should or could be?</p>

        <p>13. Is my mind as ready as it should or could be?</p>

        <p>14. Is my soul as ready as it should be?</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A fourteen card spread that looks at the various aspects of being ready for love. It is
          particularly suitable for those who have spent a long time looking and seem to be getting nowhere and are
          prepared to look at possible shortcomings they have in their approach to finding love and happiness.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
