<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">WHICH JOB?</h3>

      <div class="center">
        <img src="img/spreadWhichJob.jpg">
      </div>


      <div class="item item-divider green white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. What is the querent looking for in a job?</p>

        <p>2. What is steering the querent towards job A?</p>

        <p>3. What is steering the querent towards job B?</p>

        <p>4. What is the main attraction of job A?</p>

        <p>5. What is the main benefit of job A?</p>

        <p>6. What is the main drawback of job A?</p>

        <p>7. What is the main attraction of job B?</p>

        <p>8. What is the main benefit of job B?</p>

        <p>9. What is the main drawback of job B?</p>

      </div>


      <div class="item item-divider green white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A nine card spread which looks at the factors involved when the querent is faced
          with a choice of two different jobs and is unsure which one to take.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
