<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">STUCK</h3>

      <div class="center">
        <img src="img/spreadStuck.jpg">
      </div>


      <div class="item item-divider plum white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Current overall state of querent's life.</p>

        <p>2. Current state: Family.</p>

        <p>3. Current state: Friends.</p>

        <p>4. Current state: Love.</p>

        <p>5. Current state: Money.</p>

        <p>6. Current state: Work/Career.</p>

        <p>7. Current state: Location.</p>

        <p>8. Current state: Spirituality.</p>

        <p>9. What can be done to help improve: Family relationships.</p>

        <p>10. What can be done to help improve: Friendships.</p>

        <p>11. What can be done to help improve: Love.</p>

        <p>12. What can be done to help improve: Money.</p>

        <p>13. What can be done to help improve: Work/Career.</p>

        <p>14. What can be done to help improve: Location.</p>

        <p>15. What can be done to help improve: Spirituality.</p>

        <p>16. The outcome if any recommended changes are made.</p>

      </div>


      <div class="item item-divider plum white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A sixteen card spread that looks at all the main aspects of life, and considers
          whether anything can be done to improve the situation.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
