<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">IS IT TOO LATE?</h3>

      <div class="center">
        <img src="img/spreadIsItTooLate.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. The querent's current position.</p>

        <p>2. The querent's ex-partner's or partner's current position.</p>

        <p>3. Positive actions that should be taken by querent.</p>

        <p>4. Negative actions that should not be taken by querent.</p>

        <p>5. Other influences that may affect the situation for good or bad.</p>

        <p>6. The time scale that a possible reunion/reconciliation may take.</p>

        <p>7. The degree of success that may be achieved in the short term.</p>

        <p>8. The degree of success that may be achieved in the long term.</p>

        <p>9. Overall view and/or recommendation.</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A nine card spread that can be used to look at the possibility of a successful reunion for
          couples that have parted, as well as the possibility of a successful reconciliation for couples that are still
          together but may be nearing breaking point.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
