<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">CHALLENGING CHILDREN</h3>

      <div class="center">
        <img src="img/spreadChallengingChildren.jpg">
      </div>


      <div class="item item-divider orange white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Past influences affecting the querent's child.</p>

        <p>2. Present influences affecting the querent's child.</p>

        <p>3. Is it better for querent to leave things alone?</p>

        <p>4. Is it better for the querent to confront the issue?</p>

        <p>5. Is it better for someone else to confront the issue?</p>

        <p>6. The outcome of the best option suggested by cards 3, 4 or 5.</p>

      </div>


      <div class="item item-divider orange white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A six card spread that looks at children that are a challenge to their parent(s), and whether or not anything can be done to help improve the situation.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
