<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">WHICH LOVE?</h3>

      <div class="center">
        <img src="img/spreadWhichLove.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Does #1 have the potential to be a "true love" for the querent?</p>

        <p>2. Influences acting as an obstacle to a relationship with #1.</p>

        <p>3. Influences acting in favor of a relationship with #1.</p>

        <p>4. What should the querent do to help make #1 part of their life?</p>

        <p>5. Will the querent be happy with #1?</p>

        <p>6. Does #2 have the potential to be a "true love" for the querent?</p>

        <p>7. Influences acting as an obstacle to a relationship with #2.</p>

        <p>8. Influences acting in favor of a relationship with #2.</p>

        <p>9. What should the querent do to help make #2 part of their life?</p>

        <p>10. Will the querent be happy with #2?</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A ten card spread that looks at two potential lovers.</p>
      </div>

      <div class="item item-divider red white large-icon" id="upright">
        Insights
      </div>
      <div class="padding">
        <p>The querent should decide beforehand which potential lover is depicted by cards 1 and 6.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
