<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">YOUNG LOVE</h3>

      <div class="center">
        <img src="img/spreadMoney.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Current position of querent's child.</p>

        <p>2. Is this love real or a teenage crush?</p>

        <p>3. Will the querent's child get hurt in this relationship?</p>

        <p>4. Should the querent talk to their child or just let things take their course?</p>

        <p>5. The future of the relationship.</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A five card spread that looks at a relationship the querent's child is in. It considers whether
          the love is real or temporary, and whether the querent should talk to their child or let matters take
          their natural course.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
