<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">TREE OF LIFE</h3>

      <div class="center">
        <img src="img/spreadTreeOfLife.jpg">
      </div>


      <div class="item item-divider plum white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Spiritual.</p>

        <p>2. Responsibilities.</p>

        <p>3. Difficulties.</p>

        <p>4. Helpful matters.</p>

        <p>5. Opposing matters.</p>

        <p>6. Achievements.</p>

        <p>7. Emotional relationships.</p>

        <p>8. Communication and career.</p>

        <p>9. Unconscious foundation.</p>

        <p>10. Home and family.</p>

      </div>


      <div class="item item-divider plum white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A ten card spread which examines all of the major factors surrounding the querent's present
          situation. It looks at the spiritual, emotional, professional, home and family circumstances as well as the querent's
          responsibilities. It also considers obstacles and sources for help.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
