<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">WORK</h3>

      <div class="center">
        <img src="img/spreadThreeCard.jpg">
      </div>


      <div class="item item-divider green white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Has the querent chosen the right job or career?</p>

        <p>2. Is it a secure job or career?</p>

        <p>3. Should the querent make changes, adjust, stay or go?</p>

      </div>


      <div class="item item-divider green white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A three card spread that looks at the career or job that the querent has chosen, and whether
          they made the right choice or should consider a different choice.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
