<ion-view>
  <div ng-controller="StorageCtrl">
<ion-content delegate-handle="mainScroll">
  <h3 class="handwritten center padding-top large-font green white">MONEY PROBLEMS</h3>

  <div class="center">
    <img src="img/spreadMoneyProblems.jpg">
  </div>


  <div class="item item-divider green white large-icon">
    Layout
  </div>
  <div class="padding">

    <p>1. The root cause of the financial problem.</p>

    <p>2. What the querent needs to do.</p>

    <p>3. Influences working against the querent.</p>

    <p>4. Influences working on behalf of the querent.</p>

    <p>5. Who or what can help the querent?</p>

    <p>6. Outcome.</p>

  </div>


  <div class="item item-divider green white large-icon">
    Reading
  </div>
  <div class="padding">
    <p>A six card spread that looks at the issues in the querent's current financial situation and what
      they need to do. It also considers whether help in some form is available.</p>
  </div>

</ion-content>

<div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
</div>
</div>
</ion-view>
