<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">MAGICAL LOVE</h3>

      <div class="center">
        <img src="img/spreadChild.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Will the querent ever find his/her true love?</p>

        <p>2. Will the querent feel safe and secure with this person?</p>

        <p>3. Is marriage a potential for the querent?</p>

        <p>4. Will this new love be similar to the querent's past lovers?</p>

        <p>5. Will commitment be possible with this new love?</p>

        <p>6. Can the magic last between them?</p>

        <p>7. What can the querent do to make this person part of their life?</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A seven card spread that is for the often asked question "Is he/she the one"? As
          well as considering whether the existing relationship is indeed one of true love it can also be used as a
          general answer to "Will I ever find true love"?</p>
      </div>
      
    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
