<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">MONEY</h3>

      <div class="center">
        <img src="img/spreadMoney.jpg">
      </div>


      <div class="item item-divider green white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. The querent's current financial foundation.</p>

        <p>2. Will money be coming into the querent's life very soon?</p>

        <p>3. Money opportunities the querent may wish to consider more closely.</p>

        <p>4. Who or what project will bring in more money?</p>

        <p>5. Outcome.</p>

      </div>


      <div class="item item-divider green white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>This is a five card Tarot spread that looks at the issues in the querent's current financial situation and
          whether or not money will be coming into their life in the near future.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
