<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">THE ONE?</h3>

      <div class="center">
        <img src="img/spreadChild.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Is the person potentially "the one" for the querent?</p>

        <p>2. Is commitment/marriage a possibility with this person?</p>

        <p>3. Influences standing in the way of a relationship.</p>

        <p>4. Influences acting in favor of a relationship.</p>

        <p>5. What can the querent do to help (or be ready for) this person (to) become part of their life?</p>

        <p>6. What does this person need to do before they are ready to become part of the querent's life?</p>

        <p>7. Will the querent be happy with this person?</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A seven card spread that addresses if a person is 'the one'?</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
