<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">RIGHT PATH</h3>

      <div class="center padding-bottom">
        <img src="img/spreadRightPath.jpg">
      </div>


      <div class="item item-divider teal white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1.  Is the querent on the right path? If yes, go to card #2 and ignore cards #5 to #7. If no, go to card #5 and ignore cards #2 to #4.</p>

        <p>2. Why the querent is on this path.</p>

        <p>3. Influences or people acting in favor of further progress.</p>

        <p>4. Influences or people acting against further progress.</p>

        <p>5. What spiritual path should the querent be on?</p>

        <p>6. Influences or people helpful to finding the correct path.</p>

        <p>7. Influences or people detrimental to finding the correct path.</p>

        <p>8.  How difficult this path will be for the querent.</p>

      </div>


      <div class="item item-divider teal white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>An eight card spread that helps determine whether the querent is on the right path. If so, it looks at what the querent can do to help speed up progress, and if not, then it considers what the right path is and who/what can help or hinder progress in the right direction.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
