<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">PET</h3>

      <div class="center">
        <img src="img/spreadPet.jpg">
      </div>


      <div class="item item-divider orange white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. What the querent's pet is trying to tell them.</p>

        <p>2. What the pet is feeling - what it desires.</p>

        <p>3. What the querent can do to help their pet.</p>

        <p>4. What the pet needs most at this time.</p>

        <p>5. The pet's general health.</p>

        <p>6. Something the pet will feel or need in the near future.</p>

        <p>7. Overall outlook for the querent's pet.</p>

      </div>


      <div class="item item-divider orange white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A seven card spread which should be used when the querent thinks their pet is trying to tell
          them something.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
