<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">CHILD</h3>

      <div class="center">
        <img src="img/spreadChild.jpg">
      </div>


      <div class="item item-divider orange white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. What the querent's child came into life to learn.</p>

        <p>2. Where the child is now.</p>

        <p>3. Where the child shines.</p>

        <p>4. What the querent needs to know about this child.</p>

        <p>5. Where the child is headed in the upcoming future.</p>

        <p>6. Something that will impact the child's life in the upcoming future.</p>

        <p>7. What the child will achieve.</p>


      </div>


      <div class="item item-divider orange white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A seven card spread that looks at the querent's child in regard to what they came into life to
          learn and do.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
