<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">SEVEN CARD HORSESHOE</h3>

      <div class="center">
        <img src="img/spreadSevenCardHorseshoe.jpg">
      </div>


      <div class="item item-divider plum white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. The past.</p>

        <p>2. The present.</p>

        <p>3. Hidden influences.</p>

        <p>4. Obstacles.</p>

        <p>5. Attitudes of others.</p>

        <p>6. What should the querent do?.</p>

        <p>7. The Outcome.</p>

      </div>


      <div class="item item-divider plum white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A seven card spread that can be used to answer a specific question or give a general view of what's going on and what is likely to happen. It considers the attitudes of others involved in the current situation and what the querent needs to do.</p>
      </div>

      <div class="item item-divider plum white large-icon" id="upright">
        Insights
      </div>
      <div class="padding">
        <p></p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
