<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">SHOULD YOU SHOULDN'T YOU?</h3>

      <div class="center">
        <img src="img/spreadShouldYouShouldntYou.jpg">
      </div>


      <div class="item item-divider plum white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. What may happen if the querent does what they're contemplating #1.</p>

        <p>2. What may happen if the querent does what they're contemplating #2.</p>

        <p>3. What may happen if the querent does what they're contemplating #3..</p>

        <p>4. What may happen if the querent maintains the status quo #1.</p>

        <p>5. What may happen if the querent maintains the status quo #2.</p>

        <p>6. What may happen if the querent maintains the status quo #3.</p>

        <p>7. Outcome if the change is made.</p>

        <p>8. Outcome if the change is not made.</p>

        <p>9. Something the querent needs to know before making a decision.</p>

      </div>


      <div class="item item-divider plum white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A nine card spread that can be used when the querent is facing a decision between making a
          change or not making a change.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
