<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">FINANCE</h3>

      <div class="center">
        <img src="img/spreadFinance.jpg">
      </div>


      <div class="item item-divider green white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. What are the querent's main concerns about money? #1</p>

        <p>2. What are the querent's main concerns about money? #2</p>

        <p>3. What are the querent's main concerns about money? #3</p>

        <p>4. What are the querent's main concerns about money? #4</p>

        <p>5. How can the querent gain financial security? #1</p>

        <p>6. How can the querent gain financial security? #2</p>

        <p>7. How can the querent gain financial security? #3</p>

        <p>8. Who can offer the querent the help they need? #1</p>

        <p>9. Who can offer the querent the help they need? #2</p>

        <p>10. What are the querent's plans for the future?</p>

      </div>


      <div class="item item-divider green white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A ten card spread that examines the querent's financial situation. It looks at their concerns
          and whether there is anything that can be done to help improve financial security.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
