<ion-view>
  <div ng-controller="StorageCtrl">
<ion-content delegate-handle="mainScroll">
  <h3 class="handwritten center padding-top large-font teal white">SPIRITUAL PROGRESS</h3>

  <div class="center">
    <img src="img/spreadThisMonth.jpg">
  </div>


  <div class="item item-divider teal white large-icon">
    Layout
  </div>
  <div class="padding">

    <p>1. Where the querent is in their current spiritual cycle.</p>

    <p>2. The querent's central lesson for this cycle.</p>

    <p>3. Influences in favor of spiritual progress.</p>

    <p>4. Influences acting against spiritual progress.</p>

    <p>5. What the querent needs to do.</p>

  </div>


  <div class="item item-divider teal white large-icon">
    Reading
  </div>
  <div class="padding">
    <p>A five card spread which looks at the querent's current spiritual cycle, and gives clues as to what is
      preventing further progress, and how the querent can overcome the obstacle(s).</p>
  </div>

</ion-content>

<div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
</div>
</div>
</ion-view>
