<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">LETTING GO</h3>

      <div class="center">
        <img src="img/spreadLettingGo.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. The querent's current position.</p>

        <p>2. Why it is necessary for the querent to let go and move on.</p>

        <p>3. How will the querent fare in the short-term (0-3 months)?</p>

        <p>4. How will the querent fare in the longer-term (4-12 months)?</p>

        <p>5. When will a new love appear in the querent's life?</p>

        <p>6. What the querent needs to do to be ready for this new love.</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A six card spread that looks at an unsatisfactory relationship and why it would be better for
          the querent to let go and move on.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
