<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">STARTING UP</h3>

      <div class="center">
        <img src="img/spreadStartingUp.jpg">
      </div>


      <div class="item item-divider green white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Should the querent start their own business at this time?</p>

        <p>2. Has the querent chosen the best option for their business?</p>

        <p>3. Is there another option that the querent should consider?</p>

        <p>4. Influences working against the querent.</p>

        <p>5. Influences working on behalf of the querent.</p>

        <p>6. Is there someone who can help the querent?</p>

        <p>7. Will the business be successful?</p>

      </div>


      <div class="item item-divider green white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A seven card spread that considers whether it is a good time for the querent to start their own
          business. It also looks at whether the querent has made the right choice and how successful they will be.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
