<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">ANNUAL</h3>

      <div class="center">
        <img src="img/spreadAnnual.jpg">
      </div>


      <div class="item item-divider plum white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. January.</p>

        <p>2. February.</p>

        <p>3. March.</p>

        <p>4. April.</p>

        <p>5. May.</p>

        <p>6. June.</p>

        <p>7. July.</p>

        <p>8. August.</p>

        <p>9. September.</p>

        <p>10. October.</p>

        <p>11. November.</p>

        <p>12. December.</p>

        <p>13. Overall signifier.</p>
        </div>


        <div class="item item-divider plum white large-icon">
          Reading
        </div>
        <div class="padding">
          <p>This spread looks at the next 12 months. A thirteenth card is drawn as an overall significator for the year, and
            any card whose meaning is in doubt should be read in conjunction with this card. It is possible to lay out a
            further twelve or twenty-four cards to give a greater depth to each month.</p>
        </div>

        <div class="item item-divider plum white large-icon" id="upright">
          Insights
        </div>
        <div class="padding">
          <p>Refer to card 13 if the meaning for any other card is unclear. Although this spread is usually used for a
            general look at the next twelve months, it can be targeted in a specific direction if required. This spread
            can be done with just 12 cards with the significator being omitted if desired. It is also suitable for a
            shorter time spread such as 6 months.</p>
        </div>

    </ion-content>

  <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
  </div>
  </div>
</ion-view>
