<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">IT'S NEVER TOO LATE</h3>

      <div class="center">
        <img src="img/spreadItsNeverTooLate.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Will the querent ever find love again?</p>

        <p>2. Does the querent already know this person?</p>

        <p>3. If the answer is "yes" then this card represents where the querent knows the person from. If no, then
          when/where/how will the querent meet this person?</p>

        <p>4. If #2 is "yes" then go to #5. If no, then will the attraction be instant or a slow-burning
          realization?</p>

        <p>5. Are there issues that are delaying a meeting/relationship with this person?</p>

        <p>6. What will this person be like physically?</p>

        <p>7. What will this person be like emotionally?</p>

        <p>8. What will this person be like sexually?</p>

        <p>9. The potential of the relationship.</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A nine card spread that addresses whether a querent who is in the later part of life will ever
          find love again.</p>
      </div>

      <div class="item item-divider red white large-icon" id="upright">
        Insights
      </div>
      <div class="padding">
        <p>If the answer to #2 is "yes" then #3 is interpreted as to where the querent knows this person from and #4 should
          not be read. This reading introduces a sexual component to the love reading as not everyone in later life is
          sexually active.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
