<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">MISSING PET #2</h3>

      <div class="center">
        <img src="img/spreadMissingPet2.jpg">
      </div>


      <div class="item item-divider orange white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Is the missing pet injured or still alright?</p>

        <p>2. Is the missing pet alone or in somebody's care?</p>

        <p>3. Is the missing pet nearer or further away?</p>

        <p>4. Where the querent should begin their search #1.</p>

        <p>5. Where the querent should begin their search #2.</p>

        <p>6. Something that will help the querent with their search.</p>

        <p>7. Can someone help the querent with their search?</p>

        <p>8. Other factors or influences that should be considered #1.</p>

        <p>9. Other factors or influences that should be considered #2.</p>

        <p>10. Outcome.</p>

      </div>


      <div class="item item-divider orange white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A ten card spread which should be used when the querent's pet has gone missing.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
