<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">CELTIC CROSS</h3>

      <div class="center">
        <img src="img/spreadCelticCross.jpg">
      </div>


      <div class="item item-divider plum white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. What influences currently surround the querent?</p>

        <p>2. What are the obstacles currently blocking the querent?</p>

        <p>3. The recent past which formed the foundation for the current situation.</p>

        <p>4. The distant past - issues the querent has had to deal with.</p>

        <p>5. What does the querent wish to achieve?</p>

        <p>6. What is before the querent? The future.</p>

        <p>7. The querent's attitude or position on the matter.</p>

        <p>8. How others see the querent.</p>

        <p>9. The querent's hopes or fears.</p>

        <p>10. The outcome.</p>

      </div>


      <div class="item item-divider plum white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>Apart from the three card or simple Tarot spreads this is probably the most often used spread 
          and has become a classic. Good for answering a specific question or giving a general reading in-depth.</p>
      </div>

      <div class="item item-divider plum white large-icon" id="upright">
        Insights
      </div>
      <div class="padding">
        <p>This spread is sometimes done with 11 cards with the first card representing the querent and the second card
          being the influences etc.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
