<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">SHE HE IT</h3>

      <div class="center">
        <img src="img/spreadSheHeIt.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. What the querent wants.</p>

        <p>2. What the other person wants.</p>

        <p>3. What the relationship wants.</p>

        <p>4. What the querent "really" wants.</p>

        <p>5. What the other person "really" wants.</p>

        <p>6. What the relationship "really" wants.</p>

        <p>7. What the querent needs.</p>

        <p>8. What the other person needs.</p>

        <p>9. What the relationship needs.</p>

        <p>10. What the querent gets.</p>

        <p>11. What the other person gets.</p>

        <p>12. What the relationship gets.</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A twelve card Tarot spread that looks at a relationship from the point of view of each partner, as
          well as the relationship itself.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
