<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">CAREER</h3>

      <div class="center">
        <img src="img/spreadThisMonth.jpg">
      </div>


      <div class="item item-divider green white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Why did the querent chose this career?</p>

        <p>2. Is the querent on the correct pathway?</p>

        <p>3. What is the main obstacle facing the querent?</p>

        <p>4. What is in the querent's favor?</p>

        <p>5. How can progression be maintained?</p>

      </div>


      <div class="item item-divider green white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>This spread examines the underlying reasons as to why the querent chose a particular career.
          It helps to establish whether that choice was correct and what obstacles there are in the way of further
          progression.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
