<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THIS WEEK</h3>

      <div class="center">
        <img src="img/spreadThisWeek.jpg">
      </div>


      <div class="item item-divider plum white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Day 1.</p>

        <p>2. Day 2.</p>

        <p>3. Day 3.</p>

        <p>4. Day 4.</p>

        <p>5. Day 5.</p>

        <p>6. Day 6.</p>

        <p>7. Day 7.</p>

      </div>


      <div class="item item-divider plum white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A seven card spread that looks at the upcoming seven days.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
