<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">MOVING HOUSE</h3>

      <div class="center">
        <img src="img/spreadMovingHouse.jpg">
      </div>


      <div class="item item-divider orange white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Is this a good house?</p>

        <p>2. Is the neighborhood a good one?</p>

        <p>3. Will the querent and their family be happy there?</p>

        <p>4. Positive aspects of moving to this house?</p>

        <p>5. Negative aspects of moving to this house?</p>

        <p>6. Overall recommendation.</p>

      </div>


      <div class="item item-divider orange white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A six card spread that comes into play when the querent has found a house (or houses) they are
          considering moving into. The spread can be repeated for each individual possibility and help give an overview
          of the suitability of each house.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
