<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">WILL I FIND TRUE LOVE?</h3>

      <div class="center">
        <img src="img/spreadChild.jpg">
      </div>


      <div class="item item-divider red white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Will the querent ever find true love?</p>

        <p>2. Will the attraction be instant or a slow-burning realization?</p>

        <p>3. What will this person be like physically?</p>

        <p>4. What will this person be like emotionally?</p>

        <p>5. Are there issues the querent needs to deal with that are delaying a meeting/relationship with this
          person?</p>

        <p>6. Are there issues this person needs to deal with that are preventing a meeting/relationship?</p>

        <p>7. When/where/how will the querent meet this person?</p>

      </div>


      <div class="item item-divider red white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A seven card spread that addresses the question of will the querent ever find true love?</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
