<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">EXPANDING YOUR BUSINESS</h3>

      <div class="center">
        <img src="img/spreadThisMonth.jpg">
      </div>


      <div class="item item-divider green white large-icon">
        Layout
      </div>
      <div class="padding">

        <p>1. Is it a good time for the querent to expand their business?</p>

        <p>2. Influences working for the expansion.</p>

        <p>3. Influences working against the expansion.</p>

        <p>4. Other factors for the querent to consider.</p>

        <p>5. Will the expansion be successful?</p>

      </div>


      <div class="item item-divider green white large-icon">
        Reading
      </div>
      <div class="padding">
        <p>A five card Tarot spread that considers whether it is a good time for the querent to consider
          expanding their business - what they need to know and how successful they will be.</p>
      </div>

    </ion-content>

    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
