<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">TEMPERANCE</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/temperance.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Balance, harmony and equilibrium.</p>

        <p>2. Mixing different situations to create a better one.</p>

        <p>3. People and situations complementing each other.</p>

        <p>4. Finding the middle ground.</p>

        <p>5. Enjoying well-being.</p>

        <p>6. Healing.</p>

        <p>7. Getting your life together.</p>

        <p>8. Testing the waters.</p>

        <p>9. Communicating with higher powers.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Temperance card represents balanced interaction between the elements to create something new and fresh.
          It includes all the elements in such a way that it brings out the best of each substance. When this card shows up in your life there is great balance and strength between the different areas and
          people in your life that are working together. The outcome is beneficial for everyone involved. Temperance
          appears in your life to point out to you what is giving your life meaning and purpose. This card also says
          that you will achieve the best results by being moderate and humble. Temperance is also linked to the angelic realm,
          so listen to your inner guidance as this is the messages from your guardian angel. Temperance assists with
          staying connected and balanced. It is a card for good timing and the ability to adapt to new situations, as well as
          working well with others.</p>

        <p>In a love reading Temperance signifies a relationship between two opposites who complete each
          other. If the querent is single Temperance means they will meet someone different who will bring out the best
          in them. They will fall in love without losing their heads. </p>

          <p>In a career reading Temperance signifies Humanitarian careers. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Temperance personality type is someone who is accustomed to compromise, and who has a patient and balanced approach. This is someone who might have healing or psychic abilities. They often combine two totally different aspects of a situation to create something new and fresh. They are great at management, especially when it comes to
          managing people. This is someone who gets the best out of people. They believe in moderation and are aiming at
          long-term goals, higher education and far away places. This is someone who lives their adult life quite
          different from how they grew up, often even in a new country with a different culture. They live by the axiom that
          a marathon lasts longer than a sprint, and pursue their goals and dreams in the same manner. Everything
          happens when it’s meant to, there is no need to rush it. Temperance type people are also excellent
          communicators and mediators.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Exhaustion.</p>

        <p>2. Recklessness.</p>

        <p>3. Intolerance.</p>


        <h4 class="padding">Meanings</h4>

        <p>If Temperance is reversed it exhibits that the balance between two opposing elements to create a third is
          going terribly wrong. This card often shows up when two different people who could bring out the best in each
          other instead bring out the worst. There is no middle ground and at least one is left feeling exhausted and
          drained. Elements refuse to mix. Merging of groups and families do not work. Creating a new business by the
          merging of two smaller companies will fail. The environment is toxic and circumstances make creating difficult. There
          is a lack of substance to make the dream a reality. On a more personal level, there is a hot temper or
          impatience, and an unwillingness to unify and mix in.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Temperance card reversed is someone who is going too fast, too far and is taking too many risks. They
          need to slow down and take a break. Someone or something in their life is driving them crazy, bringing out the
          worst in them. At the pace they are going they will burn out long before they reach any of their goals. This is
          someone irritable and angry, who just wants some peace and quiet, however there is little of that around. They
          are too stubborn to change, and are sticking with what is not working for them. Temperance reversed denotes
          someone who is ready for change, but is too exhausted to make any decisions that will shake things up. They
          are very easily manipulated by others.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>Temperance is ruled by Sagittarius. Sagittarius is ruled by Jupiter. Jupiter is the planet for seeking
          knowledge through experience, long-distance travel, tolerance, expansion and luck. There is a desire to
          understand other cultures, and for aiming at long distance goals, as well as destinations. Jupiter is the planet for
          the querent and when well aspected promises confidence and inner knowledge, intuition, vision, good fortune and
          optimism. When poorly aspected it exposes fanaticism, recklessness and intemperate behavior gone too far.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The angel is a messenger of the truth, and assists us to
          see our highest and best path. The cups in the angel’s hands represents the vessels that contains eternal
          life.
        </p>

        <p>The angel’s feet, one on land and one in water, embody the unification of the external and internal,
          conscious and subconscious. It also represents testing the waters before jumping into the unknown. The red
          wings on the angel are the color of blood, which symbolizes life. The sun conceals a crown which stands for a connection to a higher power. </p>

        <p>The triangle on the angels dress is an equilateral triangle and refers to spirit, divinity, fire, life,
          prosperity and harmony. The square outside the triangle suggests protection and stability.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Temperance + <a ui-sref="app.theMagician">The Magician</a>: The wellness industry.</p>

        <p>2. Temperance + <a ui-sref="app.theHighPriestess">The High Priestess</a>: An angel intuitive. A psychic healer.</p>

        <p>3. Temperance + <a ui-sref="app.theLovers">The Lovers</a>: A balanced relationship. A relationship that heals.</p>

        <p>4. Temperance + <a ui-sref="app.theChariot">The Chariot</a>: Moving or travelling overseas.</p>

        <p>5. Temperance + <a ui-sref="app.theWorld">The World</a>: Higher education. Living overseas.</p>

        <p>6. Temperance + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Channeling spiritual information. The Arts. Spiritual work.</p>

        <p>7. Temperance + <a ui-sref="app.fourOfCups">Four of Cups</a>: Contemplating.</p>

        <p>8. Temperance + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A happy and loving family. Spiritual family.</p>

        <p>9. Temperance + <a ui-sref="app.queenOfCups">Queen of Cups</a>: A Humanitarian.</p>

        <p>10. Temperance + <a ui-sref="app.kingOfCups">King of Cups</a>: A diplomat.</p>

        <p>11. Temperance + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Long career path.</p>

        <p>12. Temperance + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Your soul family.</p>

        <p>13. Temperance + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Post graduate degree.</p>

        <p>14. Temperance + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Speaking the truth.</p>

        <p>15. Temperance + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Meditating.</p>

        <p>16. Temperance + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Anthropology. Learning from other cultures.</p>

        <p>17. Temperance + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Communicating in another language.</p>

        <p>18. Temperance + <a ui-sref="app.kingOfSwords">King of Swords</a>: A news reporter. Broadcasting.</p>

        <p>19. Temperance + <a ui-sref="app.twoOfWands">Two of Wands</a>: A successful idea/enterprise.</p>

        <p>20. Temperance + <a ui-sref="app.threeOfWands">Three of Wands</a>: Export/import.</p>

        <p>21. Temperance + <a ui-sref="app.knightOfWands">Knight of Wands</a>: An overseas adventure.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>Temperance expresses creating your own Heaven on Earth. It speaks to opening the channels to
          your guardian angels and to the cosmos to have inner peace while on Earth. Temperance shows
          up when health and well-being are of utmost importance. This card helps us create peace and harmony through
          the way we think and communicate.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
