<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">TEN OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/tenOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Being burdened with work and responsibilities.</p>

        <p>2. Being a martyr.</p>

        <p>3. Unable to say No.</p>

        <p>4. Being task oriented.</p>

        <p>5. Worrying what other people think of you.</p>

        <p>6. Performance punishment.</p>

        <p>7. Making other people happy instead of themselves.</p>

        <p>8. Waiting for their big break.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Ten of Wands is the card for hard work and taking on more responsibility. Don’t lose sight of the
          bigger picture, remember why you are putting in all the effort. Sometimes the querent is feeling burned out
          and weighed down when this card is present.</p>

        <p>They only see the wood for trees. The Ten of Wands often shows up when the querent is unable to say no,
          and people are taking advantage of them.</p>

        <p>In a love reading the Ten of Wands can signify a high-maintenance relationship, or that the querent is
          putting work first.</p>

        <p>In a career reading Ten of Wands means working on too many projects and suffering performance anxiety. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Ten of Wands persona is someone with a creative side who is very talented, but who is also
          suffering performance anxiety. They are so dependable in both their professional and personal lives that
          they end up carrying all the responsibilities. They are often weighed down and worn out. They believe if they
          just keep on going that maybe someone will see how much they are doing and come and help out. </p>

        <p>That unfortunately rarely happens. These people are the ones that will help everyone else, but rarely
          receive any help themselves. They often blame themselves unnecessarily, and guilt keeps them trapped in
          work and worry. These characters are often people pleasers to their own detriment.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Buckle under pressure.</p>

        <p>2. Throwing it all in.</p>

        <p>3. Avoiding responsibility.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Ten of Wands reversed shows fear of responsibilities, and an inability to keep on top of things.
          The querent might be unmotivated and ready to walk away from their duties. This card often shows up when the
          querent has lost motivation to do hard work. They might not see the meaning of it anymore and want to invest
          their energies elsewhere.</p>


        <h4 class="padding">Personality Types</h4>

        <p>When the Ten of Wands is reversed it denotes someone who is afraid to use their talents for fear that they
          will have to take on more responsibility. They are so used to be the one pointing the finger and playing the blame
          game that if they were the ones making decisions they know it would all come back to them. They are afraid of
          being judged and hide behind others: unions, policies and so forth, so that no one can target them.
        </p>

        <p>They twist situations and words to make it sound like they are the victims. They have trapped themselves in
          their own fears of failure and are unable to free themselves. They often end up running away from opportunities
          that could have taken them far. They are unwilling to grow and are instead going in so many directions that
          they really are not going anywhere. They are usually in a state of feeling overwhelmed. Deep down they feel
          hopelessness.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The Wands being carried are responsibilities. They are blocking his view, representing task
          orientation rather than seeing the bigger picture. He is looking at the earth, asserting that he is concerned about logistics. His orange tunic demonstrates determination. His red belt shows his drive to finish what he
          started.</p>

        <p>His brown shoes illustrate his practicality. He is moving towards a building in the background. The building
          reflects the security that he wants to achieve and maintain.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Ten of Wands + <a ui-sref="app.theMagician">The Magician</a>: Working hard to prove yourself.</p>

        <p>2. Ten of Wands + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A demanding female boss.
        </p>

        <p>3. Ten of Wands + <a ui-sref="app.theEmpress">The Empress</a>: Trying to please everyone.</p>

        <p>4. Ten of Wands + <a ui-sref="app.theHierophant">The Hierophant</a>: Emotional manipulation in the workplace.
        </p>

        <p>5. Ten of Wands + <a ui-sref="app.theHermit">The Hermit</a>: Being at the top of an organisation.
        </p>

        <p>6. Ten of Wands + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Working hard behind the scenes making
          everyone else look good.</p>

        <p>7. Ten of Wands + <a ui-sref="app.theStar">The Star</a>: Working hard for a better future.</p>

        <p>8. Ten of Wands + <a ui-sref="app.theWorld">The World</a>: Being in a demanding work role.
        </p>

        <p>9. Ten of Wands + <a ui-sref="app.twoOfCups">Two of Cups</a>: A high-maintenance relationship.
        </p>

        <p>10. Ten of Wands + <a ui-sref="app.threeOfCups">Three of Cups</a>: A demanding friendship.
        </p>

        <p>11. Ten of Wands + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Spreading yourself too thin.</p>

        <p>12. Ten of Wands + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Working hard to make your dreams come
          true.</p>

        <p>13. Ten of Wands + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Being owned by your possessions.
        </p>

        <p>14. Ten of Wands + <a ui-sref="app.pageOfCups">Page of Cups</a>: An unhappy teenager. Wanting to escape
          responsibility.</p>

        <p>15. Ten of Wands + <a ui-sref="app.kingOfCups">King of Cups</a>: Working hard for success.</p>

        <p>16. Ten of Wands + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Being money oriented.</p>

        <p>17. Ten of Wands + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Working hard without getting where
          you want.</p>

        <p>18. Ten of Wands + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Working hard to get out of
          financial difficulties.
        </p>

        <p>19. Ten of Wands + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Long term work.</p>

        <p>20. Ten of Wands + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Walking away from a bad work
          situation.</p>

        <p>21. Ten of Wands + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: Middle management.</p>

        <p>22. Ten of Wands + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Staying out of office politics.
        </p>

        <p>23. Ten of Wands + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Being taken advantage of at work. Being
          bullied at work.</p>

        <p>24. Ten of Wands + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Stuck in a work routine.</p>

        <p>25. Ten of Wands + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Being married to your work.</p>

        <p>26. Ten of Wands + <a ui-sref="app.twoOfWands">Two of Wands</a>: Working hard in a leadership position.</p>

        <p>27. Ten of Wands + <a ui-sref="app.fourOfWands">Four of Wands</a>: Working hard for your community..</p>

        <p>28. Ten of Wands + <a ui-sref="app.sixOfWands">Six of Wands</a>: Lacking confidence in your work.
        </p>

        <p>29. Ten of Wands + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Working hard and playing hard.
        </p>

        <p>30. Ten of Wands + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Being pushed to the limit at work.
        </p>

        <p>31. Ten of Wands + <a ui-sref="app.kingOfWands">King of Wands</a>: A hard working business owner.
        </p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Ten of Wands can mean the querent is hiding behind a role, a work commitment, or a uniform so that
          they don’t have to ask what it is they really want to do. This card shows up when it is time to take steps
          towards your dreams. The ten wands are currently blinding you, and you might have lost track of the bigger
          picture. Remember back to when you were a child - what was it you really wanted to do?
        </p>

        <p>You might have to do a complete U-turn, or you might be on your way. It might even be what you are currently
          doing has taken over too much of your life. You need to let people help you and support you. No man is
          an island.</p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
