<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">TEN OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/tenOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Security within the family unit.</p>

        <p>2. Retirement.</p>

        <p>3. Investments.</p>

        <p>4. Passive income.</p>

        <p>5. Wealth. Financial security.</p>

        <p>6. The Establishment.</p>

        <p>7. Trusting that what has worked in the past will work in the future.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Ten of Pentacles denotes the type of wealth you get when you inherit something, which could be your own
          retirement money, hand me downs, or possessions from someone who has passed away. It can represent a family
          unit that has a very strong sense of security and safety, and the feeling of being protected within the family
          unit. This security travels with you wherever go in the world, as the secure foundation is within. </p>

        <p>It is the type of security of knowing you always have a place to return to where you are loved and cherished.
          This is a card of culmination, it is financial security combined with the spiritual understanding that all the
          money in the world mean nothing compared to the love you have for your family, friends and community.</p>

        <p>The Ten of Pentacles has the energy of someone who has worked hard and is now in the position of being
          able to provide for others, especially family and extended family. If the querent is asking about money, this card says that the money you need is coming and you can enjoy the fruits of your labor. You
          are provided for.</p>

        <p>In a love reading the Ten of Pentacles signals a relationship with strong traditions and family ties.
          If the querent is single they might find love with a family friend, or they will meet someone with a loving
          family.</p>

        <p>In a career reading the Ten of Pentacles speaks to work in a family business, passive income,
          work-bonuses or careers in property development. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Ten of Pentacles personality is someone who is the rock of their family, group of friends or even workplace, and
          they are grateful for everything they’ve got. They are content on the material plane and their family often
          means everything to them. These people seem to have it all.</p>

        <p>This is someone who makes solid connections with their families and communities. These people have
          made some great investments in their lives, and when they are reaping the rewards they share with family.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Decreased fortune.</p>

        <p>2. Poor investments.</p>

        <p>3. Wealth wasted.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Ten of Pentacles is reversed it bespeaks fortunes wasted or lost, or on a lesser note, delayed. The
          querent might be ready for retirement, only to find out that they do not have enough money to retire with. </p>

        <p>Investments might have been poorly made, and there is little savings. The Ten of Pentacles sometimes
          shows up reversed when the inheritance money is lost, spent or never existed in the first place.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Ten of Pentacles personified is someone who wishes for more money and success, or who spends other
          people’s money without much care. They ride the success of others, and their accomplishments are often the poorest of
          all their friends and family. They are unable or unwilling to provide for their families and don’t plan for
          the future at all.
        </p>

        <p>They live from week to week and sometimes rely heavily on welfare to get by. Sometimes they refuse to retire
          because they don’t want to spend more time with their family. Family becomes a heavy burden rather than a
          blessing when the Ten of Pentacles shows up reversed.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The aged man represents retirement. His robe is decorated with symbols, all which infer his wisdom and
          life experience. The couple and the child stands for family. The dogs translate to friendships. The ten pentacles are
          spread around the picture, showing that there is enough for everyone. The archway signifies blessings and
          harmony.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Ten of Pentacles + <a ui-sref="app.theHighPriestess">The High Priestess</a>: The family matriarch.
        </p>

        <p>2. Ten of Pentacles + <a ui-sref="app.theHermit">The Hermit</a>: A grand father or family patriarch.
        </p>

        <p>3. Ten of Pentacles + <a ui-sref="app.theWheel">The Wheel of Fortune</a>: Family fortune.</p>

        <p>4. Ten of Pentacles + <a ui-sref="app.justice">Justice</a>: A will.</p>

        <p>5. Ten of Pentacles + <a ui-sref="app.death">Death</a>: Inheritance.
        </p>

        <p>6. Ten of Pentacles + <a ui-sref="app.theDevil">The Devil</a>: Family business.</p>

        <p>7. Ten of Pentacles + <a ui-sref="app.theTower">The Tower</a>: Sudden wealth.
        </p>

        <p>8. Ten of Pentacles + <a ui-sref="app.theStar">The Star</a>: A new family legacy.
        </p>

        <p>9. Ten of Pentacles + <a ui-sref="app.twoOfWands">Two of Wands</a>: A firm.
        </p>

        <p>10. Ten of Pentacles + <a ui-sref="app.fourOfWands">Four of Wands</a>: Family celebration.</p>

        <p>11. Ten of Pentacles + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Visiting family.
        </p>

        <p>12. Ten of Pentacles + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Family wounds.
        </p>

        <p>13. Ten of Pentacles + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Taking care of family.</p>

        <p>14. Ten of Pentacles + <a ui-sref="app.knightOfWands">Knight of Wands</a>: A sibling.</p>

        <p>15. Ten of Pentacles + <a ui-sref="app.aceOfCups">Ace of Cups</a>: A baby.</p>

        <p>16. Ten of Pentacles + <a ui-sref="app.twoOfCups">Two of Cups</a>: A married couple.</p>

        <p>17. Ten of Pentacles + <a ui-sref="app.sixOfCups">Six of Cups</a>: Family roots.</p>

        <p>18. Ten of Pentacles + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Shares. Stock market.
        </p>

        <p>19. Ten of Pentacles + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Leaving the family unit to find
          yourself.
        </p>

        <p>20. Ten of Pentacles + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A wedding. Newlyweds.
        </p>

        <p>21. Ten of Pentacles + <a ui-sref="app.kingOfCups">King of Cups</a>: Family friend.
        </p>

        <p>22. Ten of Pentacles + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Passive income.
        </p>

        <p>23. Ten of Pentacles + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Family pain. Loss of family.
        </p>

        <p>24. Ten of Pentacles + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Retirement.
        </p>

        <p>25. Ten of Pentacles + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Stealing from family.
        </p>

        <p>26. Ten of Pentacles + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Being controlled by family.
        </p>

        <p>27. Ten of Pentacles + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Worrying about family and security.
        </p>

        <p>28. Ten of Pentacles + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Feeling let down by family. A family
          secret.
        </p>

        <p>29. Ten of Pentacles + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: An aunt.
        </p>

        <p>30. Ten of Pentacles + <a ui-sref="app.kingOfSwords">King of Swords</a>: An uncle.
        </p>

        <p>31. Ten of Pentacles + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: A close work team (like
          family).
        </p>

        <p>32. Ten of Pentacles + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Old family money.
        </p>

        <p>33. Ten of Pentacles + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Working in a family
          business.
        </p>

        <p>34. Ten of Pentacles + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: A mother.
        </p>

        <p>35. Ten of Pentacles + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: A father.
        </p>

      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Ten of Pentacles expresses money to retire with, family money or security within the family
          unit. The older generations are helping out the younger generations. There is order in the Ten of Pentacles, and
          everyone knows their role and has a place they are comfortable with. The unit is stronger
          than its individual parts, and the bond between its members is unbreakable.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
