<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">TEN OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/tenOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Being stabbed in the back.</p>

        <p>2. Being the victim.</p>

        <p>3. The end of something.</p>

        <p>4. Hitting rock bottom.</p>

        <p>5. Feeling useless.</p>

        <p>6. The need for a new beginning.</p>

        <p>7. The end of darkness. Only way forward is up.</p>

        <p>8. Unable to cope with demands.</p>


        <h4 class="padding">Meanings</h4>

        <p>Ten of Swords is the card for endings and loss, backstabbing and lack of support. Sometimes this card
          represents hitting rock bottom. It has the mentality of "when it rains, it pours", and the querent might be feeling
          like there is no end to the suffering. However on a more positive note, this card often shows up when there is an
          opportunity to end the suffering. The worst has happened and you survived it. On a day-to-day basis the Ten of
          Swords can mean feeling depleted and tired, unable to cope with the demands.</p>

        <p>In a love reading the Ten of Swords reflects a need for renewal in relationships. If the querent is
          single, then it can signal the end of being single.</p>

        <p>In a career reading the Ten of Swords signifies work that involves death, such as a funeral director,
          detective, or the field of forensic science. It can also mean the querent is ready to retire. The Ten of Swords can also mean unemployment, especially if it shows up reversed. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Ten of Swords personality is someone who often finds themselves in hardship and struggle. They want to
          free themselves from dependency and feel relieved when their relationships, jobs and projects end. They often
          end dramatically and even violently, but it still gives the person a sense of freedom. This is someone who
          struggles with being happy.</p>

        <p>They feel comfortable with gloom, where they can lick their wounds. They know they need to heal,
          and dream about better times, but are afraid to actually live a new way of life. They find all kinds of
          relationships exhausting, mostly because of their constant feelings of failure and ruin. They come across as
          cold and distant.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Holding on to pain.</p>

        <p>2. Being a scapegoat.</p>

        <p>3. Mental torture.</p>


        <h4 class="padding">Meanings</h4>

        <p>While the Ten of Swords is reversed it signifies holding on to pain, often pain inflicted by others. This querent might not be able to let go of what other people have inflicted on them, and is feeling no support. Not just that there is no support, but that there might even be deliberate sabotage.</p>

        <p>This card often shows up reversed when the querent is being lured into a deliberate plot, in which 
          they become the scapegoat and have to take the blame for other people’s misconduct. Other times this card
          shows up reversed when the querent is so tired and worn down that they make a mistake that will cost them dearly.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Ten of Swords reversed portrays someone so scared of failing that they live in constant terror
          and anger. Their reputation is often poor as a result. They play mind games as a way to salvage their
          reputation. They often promise the world and deliver little, if anything. They leave their family and friends
          constantly disappointed. They need to take a step back and face their fears, or at least admit that they have
          them.
        </p>

        <p>The Ten of Swords reversed indicates someone who is unable to admit short comings. They need to be perfect and
          find themselves exhausted as a result. They lack the inner substance to see what is really important. Their
          lives look good on the surface, but is in reality a very shallow and empty existence with few good
          memories.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The man laying on the ground with the ten swords in his back embodies hitting rock bottom. The ten swords in
          asymmetrical order represent defeat, and endings that are completely unmanageable to the man on the ground. The
          red cape stands for his flesh.</p>

        <p>The lower grouping of six swords in it connote having nowhere to run and nowhere to hide. The four swords in the man’s
          upper body illustrate unwanted endings and loss. The sun is rising in the background dispelling the darkness,
          hinting at a new beginning.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Ten of Swords + <a ui-sref="app.theFool">The Fool</a>: Re-training.</p>

        <p>2. Ten of Swords + <a ui-sref="app.theEmpress">The Empress</a>: Neglecting your own or someone else’s needs.
        </p>

        <p>3. Ten of Swords + <a ui-sref="app.theEmperor">The Emperor</a>: Feeling like just a number. Lost in a system.
        </p>

        <p>4. Ten of Swords + <a ui-sref="app.theHierophant">The Hierophant</a>: A spiritual crisis. Ego out of control.
        </p>

        <p>5. Ten of Swords + <a ui-sref="app.theLovers">The Lovers</a>: Loosing your identity in a relationship.</p>

        <p>6. Ten of Swords + <a ui-sref="app.strength">Strength</a>: Saving others in an attempt to save oneself.</p>

        <p>7. Ten of Swords + <a ui-sref="app.theHermit">The Hermit</a>: Being emotionally unavailable.</p>

        <p>8. Ten of Swords + <a ui-sref="app.theWheel">The Wheel of Fortune</a>: A quick turn to the better.
        </p>

        <p>9. Ten of Swords + <a ui-sref="app.justice">Justice</a>: Seeking compensation.
        </p>

        <p>10. Ten of Swords + <a ui-sref="app.temperance">Temperance</a>: A situation or person bringing out the worst
          in you.</p>

        <p>11. Ten of Swords + <a ui-sref="app.theTower">The Tower</a>: Seeking revenge.</p>

        <p>12. Ten of Swords + <a ui-sref="app.theWorld">The World</a>: Fear of failure prevents growth.</p>

        <p>13. Ten of Swords + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Starting a new life.</p>

        <p>14. Ten of Swords + <a ui-sref="app.threeOfWands">Three of Wands</a>: A demanding situation.
        </p>

        <p>15. Ten of Swords + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Giving up before trying.</p>

        <p>16. Ten of Swords + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Escaping problems.
        </p>

        <p>17. Ten of Swords + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Unable to keep on top of things.</p>

        <p>18. Ten of Swords + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Being used as a doormat.
        </p>

        <p>19. Ten of Swords + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Creating chaos.</p>

        <p>20. Ten of Swords + <a ui-sref="app.kingOfWands">King of Wands</a>: Violence.</p>

        <p>21. Ten of Swords + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Healing the sick. Helping others.</p>

        <p>22. Ten of Swords + <a ui-sref="app.twoOfCups">Two of Cups</a>: Growing closer in adversity.</p>

        <p>23. Ten of Swords + <a ui-sref="app.fourOfCups">Four of Cups</a>: Depression.</p>

        <p>24. Ten of Swords + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Deep grief.</p>

        <p>25. Ten of Swords + <a ui-sref="app.sixOfCups">Six of Cups</a>: Unable to let go of the past. Haunting
          memories.</p>

        <p>26. Ten of Swords + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Escaping through drugs.</p>

        <p>27. Ten of Swords + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Putting on a brave face. Not letting others
          in.</p>

        <p>28. Ten of Swords + <a ui-sref="app.pageOfCups">Page of Cups</a>: A pessimistic person.</p>

        <p>29. Ten of Swords + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Ignoring your creative talents.</p>

        <p>30. Ten of Swords + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Recovering from grief. Writing about
          grief.</p>

        <p>31. Ten of Swords + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Wasting money.</p>

        <p>32. Ten of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Lack of work progress.</p>

        <p>33. Ten of Swords + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: End of charity.
        </p>

        <p>34. Ten of Swords + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Loosing interest in something
          that used to mean a lot to you.</p>

        <p>35. Ten of Swords + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Feeling like a prisoner.
          Detention.</p>

        <p>36. Ten of Swords + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Restrictions and burdens.</p>

        <p>37. Ten of Swords + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Lack of independence.</p>

        <p>38. Ten of Swords + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Unemployment.</p>

        <p>39. Ten of Swords + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Recovering from illness.</p>

        <p>40. Ten of Swords + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Moving away from a bad situation.</p>

        <p>41. Ten of Swords + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Hurting others without knowing.</p>

        <p>42. Ten of Swords + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Deep insecurities.</p>

        <p>43. Ten of Swords + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Learning the hard way.</p>

        <p>43. Ten of Swords + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: A woman scorned.</p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>When the Ten of Swords shows up in your cards it denotes a time during which you are faced with endings of some
          sorts. You might even feel grief and sorrow. This is a time when you must face up to change.
        </p>

        <p>
          The Ten of Swords also comes about when the querent has invested themselves into a way of thinking which turns out to
          longer serve them. Their beliefs might have been proven wrong or they realize they can no longer go on the way
          they used to. There has to be a renewal. You either renew yourself or face peril, sink or swim. Things can no
          longer stay the same.
        </p>

        <p>This card is present when the querent needs to renew themselves, and realize that the world still needs them. One
          way or the other life will get interesting again. It doesn’t have to be through work. It can be anything the
          querent wants it to be. </p>

      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
