<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">TEN OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/tenOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Happiness.</p>

        <p>2. Spiritual truth.</p>

        <p>3. Well-being. Experiencing good fortune.</p>

        <p>4. Counting your blessings and feeling grateful.</p>

        <p>5. Spiritual connection in your relationships.</p>

        <p>6. Being aligned with your true nature. Idealistic values.</p>

        <p>7. A happy ending. Having it all.</p>

        <p>8. Being in the best relationship you have ever experienced.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Ten of Cups is the card for bliss experienced in your relationships, home and family
          life. It is about being in alignment with your true nature, and everything in your life being in
          harmony with your higher self and purpose. The Ten of Cups is the card for perfection and high achievements.
          Sometimesthough you will have to allow yourself to be ‘human’ and to have imperfections, as those are the qualities
          that make you ‘real’ and lovable.</p>

        <p>In a love reading the Ten of Cups foretells a relationship that will be the best you have ever
          experienced, primarily due to the spiritual connection and level of perfection in your compatibility. If single,
          it can mean the querent is waiting for the perfect partner, and will not settle for anything less.</p>

        <p>In a career reading the Ten of Cups denotes careers in the public eye, creative jobs or property
          investments. It can also mean the querent has found the perfect job.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Ten of Cups character is someone spiritual and positive, but with a tendency to needing everything to
          be perfect so that they can stay in their blissful state. They work hard towards making others happy so that
          their own happiness can stay untainted. These people need to have it all: the perfect family, house, job
          and relationship, and staying on top of everything can be hard work. </p>

        <p>They believe in being happily ever after, and will not give up until they have found the life that they are after.
          This is someone who is seeking a stress free and harmonious life. They don’t deal with toxic people and
          conflict very well, and disassociate themselves from situations that threaten their heaven on earth. This can
          turn life into a very limited experience, and they must allow themselves to get a bit dirty without feeling
          they are no longer a spiritual being.</p>

        <p>Behind a seemingly perfect facade lurks hidden hostility and manipulation that this type of person can find hard to
          deal with. They have strong and idealistic values and are romantic. These people tend to
          idealize everything, especially their kids and partners, who they put on pedestals.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Falsehood.</p>

        <p>2. Disruption in harmony.</p>

        <p>3. Hidden agendas.</p>


        <h4 class="padding">Meanings</h4>

        <p>If the Ten of Cups is reversed it alludes to disruption in the harmony, something or someone is making
          it hard to maintain the love. The querent might be pretending everything is still wonderful in the hope that it
          will continue forever. Maintaining the happiness takes a lot of effort, and in the end it takes too much work
          and the cups spill out the joy and happiness. The moral of the Ten of Cups reversed is that less is sometimes
          more. The harder we try, the less we accomplish.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Ten of Cups reversed type is someone who’s pursuit for happiness has ironically left them unhappy and unfulfilled.
          They are lonely people who through their own high standards became too hard to please. They are hard work and
          they can not be trusted. These people tend to manipulate, and have hidden agendas. They often
          force their ideals onto others. They never compromise. When they achieve their ideals they find them empty and
          unsatisfying. Living the dream has become a nightmare and their personal heaven has become a personal hell
          instead. They have trapped themselves.
        </p>

        <p>They want to be happy and need to execute total control on their environment to contain their happiness.
          However happiness is not something that can be controlled, nor can it be contained, and if they were self-aware
          they would understand this. They need to love more unconditionally. The Ten of Cups reversed personalities have a
          tendency to think that they are perfect and that they have nothing to work on, but this is not the truth.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The nine Cups in an arch, representing abundance and satisfaction. The wooden bench refers to being grounded.
          The man’s red hat illustrates his passion. The blue fabric equates to health and tranquillity. His yellow shoes
          serves as a sign that the path he is on is one of happiness, joy and energy.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Ten of Cups + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A grandmother.
        </p>

        <p>2. Ten of Cups + <a ui-sref="app.theEmpress">The Empress</a>: A happy mother.</p>

        <p>3. Ten of Cups + <a ui-sref="app.theEmperor">The Emperor</a>: A personnel oriented organization.
        </p>

        <p>4. Ten of Cups + <a ui-sref="app.theHierophant">The Hierophant</a>: A family oriented organization.</p>

        <p>5. Ten of Cups + <a ui-sref="app.theLovers">The Lovers</a>: A blissful time in your relationship.</p>

        <p>6. Ten of Cups + <a ui-sref="app.theChariot">Chariot</a>: Love conquers all.</p>

        <p>7. Ten of Cups + <a ui-sref="app.theHermit">The Hermit</a>: A grandfather.
        </p>

        <p>8. Ten of Cups + <a ui-sref="app.theWheel">The Wheel of Fortune</a>: A fortunate family.</p>

        <p>9. Ten of Cups + <a ui-sref="app.theMoon">The Moon</a>: Unable to communicate real feelings.
        </p>

        <p>10. Ten of Cups + <a ui-sref="app.theSun">The Sun</a>: A happy childhood.</p>

        <p>11. Ten of Cups + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A happy pregnancy.
        </p>

        <p>12. Ten of Cups + <a ui-sref="app.fourOfWands">Four of Wands</a>: A happy community.</p>

        <p>13. Ten of Cups + <a ui-sref="app.sixOfWands">Six of Wands</a>: Being appreciated for who you are.
        </p>

        <p>14. Ten of Cups + <a ui-sref="app.queenOfWands">Queen of Wands</a>: A spiritual entrepreneur.
        </p>

        <p>15. Ten of Cups + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Sticking together brings success.</p>

        <p>16. Ten of Cups + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Recouping with family. A spiritual
          retreat.</p>

        <p>17. Ten of Cups + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Emotional marketing.</p>

        <p>18. Ten of Cups + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A confident person.</p>

        <p>19. Ten of Cups + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: A perfectionist.
        </p>

        <p>20. Ten of Cups + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Loving the people you work with.
        </p>

        <p>21. Ten of Cups + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Family security.</p>

        <p>22. Ten of Cups + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Creative talent.
        </p>

        <p>23. Ten of Cups + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Nourishing your soul with
          learning.</p>

        <p>24. Ten of Cups + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: Being well respected.</p>

        <p>25. Ten of Cups + <a ui-sref="app.twoOfCups">Two of Cups</a>: Falling back in love with your partner.</p>

        <p>26. Ten of Cups + <a ui-sref="app.threeOfCups">Three of Cups</a>: A family celebration.</p>

        <p>27. Ten of Cups + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Feeling trapped in a secure relationship.</p>

        <p>28. Ten of Cups + <a ui-sref="app.sixOfCups">Six of Cups</a>: Wishing you were a child again.</p>

        <p>29. Ten of Cups + <a ui-sref="app.pageOfCups">Page of Cups</a>: A loved child. The baby in the family.</p>

        <p>30. Ten of Cups + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Your sibling.</p>

        <p>31. Ten of Cups + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Your mother.</p>

        <p>32. Ten of Cups + <a ui-sref="app.kingOfCups">King of Cups</a>: Your father.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Ten of Cups characterizes spiritual bliss, happiness and perfect memories in the making. There is a
          renewal happening in your life. Your outer life might not seem to change, but there are inner changes
          occurring that soon filter through every part of your life. It speaks of positive transformation
          through inner peace and serenity.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
