<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE CHARIOT</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theChariot.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Victory and success.</p>

        <p>2. Being a hero.</p>

        <p>3. Using your will power to accomplish your goals.</p>

        <p>4. Being assertive.</p>

        <p>5. Being in control.</p>

        <p>6. Getting your way.</p>

        <p>7. Looking out for your own interests.</p>

        <p>8. Travelling.</p>

        <p>9. Your vehicle.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Chariot card represents your will-power and determination. It represents victory through assertiveness.
          The Chariot gives you the green light to charge ahead and take control over your life. Your success depends on
          your will and ability to be in control, and to be brave enough to move forward even in unknown territory. In a
          reading the Chariot reminds us to steer our lives in the direction we desire. If we apply will-power and
          motivation, we can create our own destiny. Set yourself goals. The Chariot will speed up the process and get
          you there quicker. The Chariot can also represent travel, or your vehicle.</p>

        <p>In a love reading the Chariot denotes the importance of loving yourself first.</p>

        <p> In a career reading the Chariot signifies careers in transport, quality control, software, or audits.</p>

        <h4 class="padding">Personality Types</h4>

        <p>Chariot type people are very strong-willed. They are determined to succeed in this world and come
          across as fearless. Sometimes they fake it until they make it, and they are rarely as confident as they
          seem. What drives them is their desire to do well, and they work hard to get what they want. This is
          someone who puts in the effort. They can be diligent, self-composed, self-aware, controlling and brave.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Lack of direction.</p>

        <p>2. Delay.</p>

        <p>3. Self-Doubt.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Chariot card reversed indicates defeat and cowardice. Instead of charging ahead there is the feeling of
          giving up before even trying. "What is the use?" is the energy when the Chariot is reversed. The querent is too
          self-conscious to move forward. The outside environment is not very favourable either. On a more practical
          note, the Chariot shows up sometimes reversed when the querent is experiencing car trouble or becomes stagnant
          due to loss of vehicle.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Chariot reversed is someone with low self-esteem, and little control over their emotions. They lack direction
          in their lives and are afraid of success. Sometimes they are interested in so many things that they get lost
          and fail to choose a path for themselves. There is often sadness within and even overwhelming grief. This is
          someone who might have fatigue and social anxiety. They struggle with reality, and are moody or overly
          sensitive. Rather than taking responsibility over their situation they complain and end up playing the victim
          role. To get things done they need to be pressured by outside forces, like an angry boss. They are motivated by
          a fear of failure rather than a hunger for success.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Chariot is ruled by the sign Cancer, which is ruled by the Moon. The crab has a hard shell, symbolizing the
          need to be in control over your emotions. With the crab comes claws that tend to grab things to hang on to,
          especially the home, family, friends and possessions. Cancer is the first water sign and deals primarily with
          the ebb and flow of life. Despite any obstacles that may come our way we must proceed forward towards what will
          ultimately enlighten us.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The eight pointed star crown represents the octagram of creation. The union of lingam and yoni symbolise inseparability of the male and
          female principles and the totality of creation. The crescent moon on the hero’s shoulder promises new
          beginnings. The winged sun is the solar disc of Horus, a symbol of protection.
        </p>

        <p>His chariot is the cubic stone, illustrating stability, and perfection of work through effort (from rough stone to
          a perfect cubic stone, the unshakable foundation of any building). The hero is the spirit emerging from the
          stone, representing purification of spirit through earthly efforts. The six pointed stars on his canopy
          represent the Seal of Solomon and its mystical properties. The eight pointed star on the hero’s
          crown stand for balance, harmony and cosmic order.</p>

        <p>On the hero’s chest is a square suggesting the fourfold world. On the shield is a tantric sexual emblem
         indicating that the vehicle is in fact the Hero’s drive and energy. The black and white sphinxes represent
          inner victory over the lower forces of its own nature through a journey of purification.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Chariot + <a ui-sref="app.theFool">The Fool</a>: Life on the road. Touring. Back packing.</p>

        <p>2. The Chariot + <a ui-sref="app.theEmpress">The Empress</a>: Pregnancy.</p>

        <p>3. The Chariot + <a ui-sref="app.justice">Justice</a>: Success in legal affairs. Winning a legal case.</p>

        <p>4. The Chariot + <a ui-sref="app.theTower">The Tower</a>: Dangerous travel.</p>

        <p>5. The Chariot + <a ui-sref="app.judgement">Judgement</a>: Finding your calling in life.</p>

        <p>6. The Chariot + <a ui-sref="app.theWorld">The World</a>: Travelling the world.</p>

        <p>7. The Chariot + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Acing a job interview. Winning a mental competition.</p>

        <p>8. The Chariot + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Winning in conflict. Getting back at someone.</p>

        <p>9. The Chariot + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Undercover. Pretending to be someone else. Hiding who you are.</p>

        <p>10. The Chariot + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: The police.</p>

        <p>11. The Chariot + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Traffic accident.</p>

        <p>12. The Chariot + <a ui-sref="app.aceOfCups">Ace of Cups</a>: A career change.</p>

        <p>13. The Chariot + <a ui-sref="app.sixOfCups">Six of Cups</a>: Visiting an old friend.</p>

        <p>14. The Chariot + <a ui-sref="app.tenOfCups">Ten of Cups</a>: A spiritual journey.</p>

        <p>15. The Chariot + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Winning in artistic endeavors.</p>

        <p>16. The Chariot + <a ui-sref="app.kingOfCups">King of Cups</a>: Recognition at work.</p>

        <p>17. The Chariot + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Lifestyle change.</p>

        <p>18. The Chariot + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Success in public speaking. Success in teaching.</p>

        <p>19. The Chariot + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Much travel.</p>

        <p>20. The Chariot + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Spending too much time at work. Performance punishment.</p>

        <p>21. The Chariot + <a ui-sref="app.kingOfWands">King of Wands</a>: Success in self-employment.</p>

        <p>22. The Chariot + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Promotion. Earning more money.</p>

        <p>23. The Chariot + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Winning in business.</p>

        <p>24. The Chariot + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Successful charity. Overseas charity.</p>

        <p>25. The Chariot + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A successful holiday. A holiday home.</p>

        <p>26. The Chariot + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: A successful career change.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Chariot expresses success and victory in career and personal goals. It gives you
          the green light to move forward with your life in the direction of your desire.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
