<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE DEVIL</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theDevil.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. The need to be in control over others and situations.</p>

        <p>2. Making others obey you.</p>

        <p>3. Being enslaved to addictions.</p>

        <p>4. Lack of freedom.</p>

        <p>5. Lacking faith and always believing the worst.</p>

        <p>6. Materialism.</p>

        <p>7. Being overly ambitious.</p>

        <p>8. The underworld.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Devil card represents our primal desire for earthly pleasures. It also represents our fears that
          cause addiction and compulsive behaviour. The Devil is a very materialistic and ambitious card so when
          it shows up in your reading you might find yourself craving more power and money in your life. The
          other cards in the layout will show you why and in what area you are feeling the effect of the ambitious,
          competitive and highly sexual Devil card. The Devil often shows up in a reading when someone is being
          obsessed with a person, a job, or a goal, and the cards will show what outcome this will have if the behavior
          continues. This card binds people together that are attracted to each other due to their primal physical
          needs, rather than a higher spiritual connection. The Devil shows up to shed light on what enslaves us, our
          cravings and our need to indulge. You might need to be more devilish in your life, depending on where the
          it shows up in your tarot spread.</p>

        <p>In a love reading the Devil can denote love that feels like an addiction. It can also signify a
          couple who are under a lot of stress, such as financial burdens. If the querent is single it can mean they are destructive as a single and desperate for someone to share their life with.</p>

          <p> In a career reading the Devil signifies careers with computer and IT. The Devil can also mean workplace
          bullying. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Devil portrays someone who has a very strong will, and often executes this strong will to gain
          power and control over others. This is someone who will make something happen not because it is the will of
          the cosmos, but because it is the will of man. Devil type people are very stubborn, and they are often chained to their own
          stubborn ways like slaves. Results are delivered, but at a high price. They are angry and obsessive, stuck in a
          toxic pattern they believe they need. Beneath it all is someone with low self-esteem who is afraid of failure.
          They get things done when everyone else has given up. They never play complacent with anyone. They are highly
          sexual people. They need to be stimulated by either foods (sugar), drugs, tobacco or alcohol to cope.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Avoiding temptations.</p>

        <p>2. Escaping danger.</p>

        <p>3. Lack of ambition.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Devil reversed marks temptations resisted, stricter morality kept, and the escape from the chains of the
          Devil. The querent might be too restricted in their life, or they have little or no desires that drive them.
          They might be taking no chances at all, have no ambition to become anything out of the ordinary in the
          physical and material world. On a lighter note, the querent might have eluded danger and freed themselves from
          whatever was entrapping them.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Devil reversed is someone who wants to steer their life away from addictions and bad habits.
          Their turnaround can be so complete that they end up fearing the world’s pleasures, always taking the moral
          high-ground. This is someone who feels guilty when they enjoy themselves. There might also be issues with
          sexuality and intimacy. They are often plagued with guilt and shame without knowing why. Sometimes there are
          hidden traumas buried in the subconscious and they spend a lot of energy keeping it locked away. This results
          in a very limited life experience.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Devil is ruled by Capricorn. Capricorn is ruled by Saturn. Saturn has been called the planet of fate and
          the lord of karma. It governs the part of you that accepts challenge to gain wisdom. Saturn exerts an opposing
          force to limit the expansion of Jupiter to keep Jupiter’s nature from running rampantly out of control. Saturn
          cements us into the physical plane, and rules things that are constricting and hard. When well aspected,
          Saturn’s influence denotes patience, diligence, practicality, self-discipline, reliability and healthy
          ambition. Saturn assists us in succeeding in the earthly plane. On a negative note Saturn denotes cold,
          indifferent, rigid, overly stubborn and miserly aspects of a person who might be paying the price for their
          earthly behaviour.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The card of the Devil portrays a winged and horned creature combining human
          and bestial features,  keeper of the mysteries deep within our planet and in the underworld. The Devil symboliZes
          our fears and beliefs that bind us and prevents us from experiencing expansiveness and growth. The Devil
          stands on an altar which represents the lower aspects of the ego, our obsessions and our addictions. The man
          and the woman have horns and tails, betraying their earthly desires. The chain around their heads is loose
          and their hands are not bound, alluding to their free will. They are enslaved through their own choosing, rather
          than by force. The Devil with the man and the woman creates a anti-benediction, mocking
          the Hierophant’s love of the cosmos and traditions, indicating that the Devil stands for the opposite.
        </p>

        <p>Rather than tradition and order, the Devil wants to break the rules and create more chaos. The man and the
          woman are Adam and Eve from the Lovers card, but their angel of love has become a fallen angel of selfishness,
          greed and darkness. The Devil’s right hand holds a torch that lights the man's tail, referring to the male sex drive.
          The torch in the Devil’s right hand expresses the power of the conscious mind to escape the darkness.</p>

        <p>The grapes on the female's tail symbolizes the desire for security and the finer things in life. The reversed
          pentagram on the Devils forehead illustrates dark energy as it overturns the proper order of things, and
          demonstrates the triumph of matter over spirit.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Devil + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Fearful psychic.</p>

        <p>2. The Devil + <a ui-sref="app.theLovers">The Lovers</a>: Love obsession.</p>

        <p>3. The Devil + <a ui-sref="app.death">Death</a>: The mining industry.</p>

        <p>4. The Devil + <a ui-sref="app.justice">Justice</a>: Criminal law. Crime.</p>

        <p>5. The Devil + <a ui-sref="app.theWorld">The World</a>: The Underworld.</p>

        <p>6. The Devil + <a ui-sref="app.twoOfCups">Two of Cups</a>: Jealousy in relationship.</p>

        <p>7. The Devil + <a ui-sref="app.threeOfCups">Three of Cups</a>: Infidelities. Substance abuse.</p>

        <p>8. The Devil + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Addictive personality.</p>

        <p>9. The Devil + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Manipulations.</p>

        <p>10. The Devil + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: A hoarder.</p>

        <p>11. The Devil + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Too much debt.</p>

        <p>12. The Devil + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Farming.</p>

        <p>13. The Devil + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Workaholic.</p>

        <p>14. The Devil + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Addicted to travel. A love addiction.</p>

        <p>15. The Devil + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Being dominated at work.</p>

        <p>16. The Devil + <a ui-sref="app.knightOfWands">Knight of Wands</a>: A bully.</p>

        <p>17. The Devil + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Trying to please everyone, including unreasonable people. Avoiding conflict.</p>

        <p>18. The Devil + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Restlessness. Fearfulness.</p>

        <p>19. The Devil + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Moving away from toxic situations and people. Needing a break.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Devil signifies obsessions, addictions, temptations and fear. It can represens someone
          who is bullying the querent, or even stalking and harassing them. On a positive note The Devil can mean the
          querent is determined to succeed, and putting all their efforts into a project. Failure is not an option.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
