<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE EMPRESS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theEmpress.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Pregnancy and giving birth, being a mother.</p>

        <p>2. Creativity and nurturing in the home.</p>

        <p>3. Intelligence and leadership.</p>

        <p>4. Being beautiful and sensual.</p>

        <p>5. Being abundant and healthy.</p>

        <p>6. A good marriage.</p>

        <p>7. Happiness.</p>

        <h4 class="padding">Meanings</h4>

        <p>The Empress card represents feminine power, a nurturer and a family oriented person - our mother or a mother
          figure, abundance, femininity, fertility and the love of the home and family. The Empress is very sensual and
          confident in her own skin. She owns her own beauty. She is creative and nurturing and in touch with her own
          inner feelings. She loves luxury and beauty. This card ensures you that it is time to act upon your plans. You
          are attractive and can attract what you want and need. You are endlessly abundant in this moment. This is a
          very favorable card if you want to have a child, give birth to a business/project, create a home, renovate,
          attract a partner, romance, friendship and art.</p>

        <p>In a love reading the Empress signifies long lasting love and loyalty. In a career reading the
          Empress denotes careers in the beauty and fashion industry. The Empress also signifies working from
          home.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Empress speaks of someone who is warm, sensual, loving, charismatic and beautiful. This is someone
          who loves deeply, and openly shows their affections towards others. They are very creative people with
          nurturing instincts. Intelligent and artistic they often do very well in the professional world. Empress type
          people love artful pursuits, and turn their surroundings into beautiful havens. They care for the environment
          and everything that is alive. They make excellent parents and are very determined to get things done.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Neglect.</p>

        <p>2. Poor health.</p>

        <p>3. Abandonment.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Empress reversed alludes to neglect and a lack of attention, where there should be
          nurturing. It can represent a mother who gives little affection or protection to her child. The
          child can also stand for a project, a relationship, an enterprise, the home or a business that need attention,
          but is instead being left unattended.</p>

        <p>There might even be the abandonment of a child, the family or the home when this card shows up reversed. The Empress'
          motherly and nurturing instincts are gone, even destroyed or actively prevented. This person might even be lost
          in promiscuity and seduction, with a lack of loveor care. This card often shows up reversed when the querent
          is feeling ugly and unattractive.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Empress reversed expresses someone promiscuous, who feels alone and is often a worrywart. This is someone
          who is desperate for love, and often goes looking for it in all the wrong places. Rather than making everyone
          feel comfortable, the Empress reversed is needy and high maintenance. This card reversed can also indicate someone with
          ill-health due to emotional issues.
        </p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>Empress is connected to Venus, the planet that rules our heart, affection, women, love, nurturing,
          desire, pleasure, feminine sexuality, relationships, beauty, fashion and art. Venus represents the fullness of
          womanhood and the positive influences of the women in our life. Venus is non-aggressive, leaving conflict to
          her cosmic lover Mars. Venus rules both Taurus, the sign for the Hierophant and libra, the sign for Justice.
          Both signs are associated with affection, sociability, love of beauty. The Taurian nature of Venus is more
          sensuous and materialistic, while the Libran side is more refined and artistic. Venus is exaggerated in
          Pisces, which with the vibration of Neptune, the ruler of Pisces, creates a heighten spiritual experiences.
        </p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>A crown of 12 stars stand for the 12 signs of the Zodiac. The yellow background illustrates her intellect.
          The Empress’s throne of stars represents the loving nature of the nurturer and the mother.</p>

        <p>The wheat and the pomegranates indicate abundance. The pomegranates reveal their red seeds, a symbol of
          sexuality and fertility. The lush surroundings visualize the Empress' connection to earth and her fertility.
          The waterfall marks being in the flow of abundance and happiness.
        </p>

        <p>The rod demonstrates her ability to create. Her luxurious cushion suggests a beautiful home. The glyph of
          Venus on her heart shape shield intimates the Empress sensual nature.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Empress + <a ui-sref="app.theHierophant">The Hierophant</a>: A bride. A wedding.</p>

        <p>2. The Empress + <a ui-sref="app.theChariot">The Chariot</a>: Success in the beauty industry.</p>

        <p>3. The Empress + <a ui-sref="app.strength">Strength</a>: A healer.</p>

        <p>4. The Empress + <a ui-sref="app.theDevil">The Devil</a>: In-vitro fertilisation.</p>

        <p>5. The Empress + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Loneliness.</p>

        <p>6. The Empress + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A beautiful home and garden.</p>

        <p>7. The Empress + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: A strong family.</p>

        <p>8. The Empress + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: A model. Modeling.</p>

        <p>9. The Empress + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: Great riches. Success in the home and in career.</p>

        <p>10. The Empress + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Changing your career to be more abundant.</p>

        <p>11. The Empress + <a ui-sref="app.sixOfCups">Six of Cups</a>: Happy children.</p>

        <p>12. The Empress + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Finding your dream.</p>

        <p>13. The Empress + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Natural therapist.</p>

        <p>14. The Empress + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Feeling unattractive.</p>

        <p>15. The Empress + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Moving to a beautiful location.</p>

        <p>16. The Empress + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Career orientation.</p>

        <p>17. The Empress + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Birth of a business plan. Birth of a creative idea.</p>

        <p>18. The Empress + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Protecting your family.</p>

        <p>19. The Empress + <a ui-sref="app.queenOfCups">Page of Wands</a>: Photography.</p>

      </div>

      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Empress means beauty, harmony, love, motherhood, parenting, family, nurturing, good
          health and abundance. The Empress manifests abundance through nurturing and caring for others, showing others
          love and appreciation, and creating an oasis of comfort and safety. It is a very positive card
          as it portends the querent’s well-being operating at optimum levels.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
