<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE FOOL</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theFool.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. New beginnings, a new path and a new belief system.</p>

        <p>2. Not knowing what to expect.</p>

        <p>3. Making it up as you go.</p>

        <p>4. Heading into the unknown.</p>

        <p>5. Letting go of worry and fear.</p>

        <p>6. Feeling happy, joyful and carefree.</p>

        <p>7. Being in the right place at the right time.</p>

        <p>8. A higher than usual intuition.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Fool represents new beginnings, having faith in the future, being inexperienced, not
          knowing what to expect, having beginners luck, improvisation, believing that the Universe provides, having no
          strings attached, and being care free.</p>

        <p>The Fool can represent a child or being child-like. The Fool has a ‘there is no right or wrong answer’-mentality and instead follows his instinct to navigate himself through life. The Fool is pure and utter potential. This card often represents a new situation that you are feeling very excited about.</p>

        <p>The Fool is also a lucky card, and when it shows up for you it can mean you are
          about to be in the right place at the right time, win a competition, or travel somewhere you have never
          been before.
        </p>

        <p>In a love reading the Fool can denote difficulties in committing.</p>

        <p> In a career reading the Fool speaks of careers in power plants, electricity, technology or social media.
        </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Fool persona someone who is exuberant and not afraid to show you just how much they enjoy
          life. They like to try new things, but might lose interest after the initial excitement has worn off.</p>

        <p>They believe everything will work out well for them. They are full of faith and charisma. They listen to their hearts and follow their bliss and joy. Taking risks is a way of life, and more times than not, it is paying off.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Stagnation.</p>

        <p>2. Loss of Faith.</p>

        <p>3. Feeling fearful.</p>

        <h4 class="padding">Meanings</h4>

        <p>The Fool reversed indicates that new beginnings are being blocked, the path is hidden and the querent is
          having difficulties seeing the world with fresh eyes. You might be feeling stuck and uninspired when the Fool turns
          up reversed. Some might get lost in their heads, and losing touch with reality. Be lost in the dream and
          unable to manifest and grow in the physical plane.</p>

        <p>This card characterizes those that are young at heart, and who are often highly sensitive. They are in touch with their inner child, which can get wounded quite easily (like children often do). They are still growing up and have a lot to learn. If this card shows up reversed for you in a reading it is not a great time for you to begin something new.</p>

        <p> Take a step back and go back to something you know really well (do what you know, go where you have been before etc). Bide your time for better result before leaping into the unknown.
        </p>

        <h4 class="padding">Personality Types</h4>

        <p>This is someone who has lost hope and is trapped in the doom and gloom. They believe they
          have nothing left to learn. They believe there is nothing wrong with them emotionally and often shame others,
          pointing their fingers at everyone else. They repeat the same pattern in their lives and never seem to be in
          the flow. Often they have addictions that bind them to their behaviours. They are ready for the grave,
          thinking life is generally disappointing.
        </p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Fool is connected to Uranus. Uranus is the planet for surprise and all things unexpected, the
          future and technology, especially electricity. Uranus is also the planet for creativity and science. Uranus
          is the planet for nonconformists, including but not limited to the bohemian, the beatnik, the hippie,
          revolutionaries, anarchists, rebels, and radical humanitarians Uranus stays in a sign for 7 years. Uranus
          also rules Aquarius, the sign for The Star.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The Fool is the first card in the deck and marks new beginnings. The posture of the Fool strengthens
          this.</p>

        <p>He is carefree, mostly because he is too inexperienced to be afraid. The dog in the picture tries to
          warn the Fool who is on his way to walk over a cliff. The dog symbolize your friends who try to advise you.
        </p>

        <p>The bag with his belongings represent carrying little burden and being emotionally innocent. The white rose is the symbol of silence and rebirth. The rose also reflects the purity of his soul, and the creativity and inspiration that flows through him, making him jolly and spontaneous. The feather on his cap is a token for air and it points to the sun which expresses enlightenment.</p>

        <p>Is the Fool ignoring enlightenment by facing away from the sun, or is has he already learned all The Sun's lessons? Look at the cards that flank him, especially the ones he faces for the answer. The sun can also represent that there is a bright new day, justice has been served, and the Fool is free. The yellow background represents the mental attitude of the Fool who lives in his head, and needs to be grounded. </p>

        <p>The Fool represents freedom on all levels, not just physically. It is the kind of freedom you experience when you have no regrets or obligations.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Fool + <a ui-sref="app.theMagician"> The Magician</a>: Landing your dream job where talent and passion collide.</p>

        <p>2. The Fool + <a ui-sref="app.theEmpress"> The Empress</a>: Pregnancy.</p>

        <p>3. The Fool + <a ui-sref="app.theLovers"> The Lovers</a>: Crazy in love.</p>

        <p>4. The Fool + <a ui-sref="app.threeOfCups">Three of Cups</a>: Rushing into marriage. Rushing into a relationship.</p>

        <p>5. The Fool + <a ui-sref="app.pageOfCups">Page of Cups</a>: Auditioning. Taking a creative risk.</p>

        <p>6. The Fool + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Overnight success.</p>

        <p>7. The Fool + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: New job opportunity.</p>

        <p>8. The Fool + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: New business opportunity.</p>

        <p>9. The Fool + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Learning the hard way.</p>

        <p>10. The Fool + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A talent that needs to be nurtured.</p>

        <p>11. The Fool + <a ui-sref="app.sixOfWands">Six of Wands</a>: Beginners luck.</p>

        <p>12. The Fool + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Travelling. Backpacking.</p>

        <p>13. The Fool + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Becoming an entrepreneur.</p>
      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>Notice where Fool is facing in a tarot reading, and notice what the Fool has turned his back on,
          as this denotes the flow of energy occurring in the querent’s life and the direction in which the querent should be moving forward. The Fool in a reading speaks to where you have extra blessings and intuition in your life:
          your new beginnings and the joys that are about to manifest.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
