<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE HANGED MAN</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theHangedMan.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Letting go of control.</p>

        <p>2. Seeing life from a new perspective.</p>

        <p>3. Letting go of your position to get peace.</p>

        <p>4. Pausing to reflect.</p>

        <p>5. Appreciation.</p>

        <p>6. Learning from mistakes.</p>

        <p>7. Sacrificing your self-interest to benefit a group.</p>

        <p>8. Putting others first.</p>

        <p>9. Waiting for a better opportunity.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Hanged Man represents being temporarily suspended. Life is on hold, but it serves a purpose. While you
          are being suspended you gain a whole new perspective, and this perspective is necessary for you to gain the
          insight and enlightenment necessary to take you to your next level. If you were to get hanged, what thoughts
          would flood your mind. The Hanged Man speaks of the kind of clarity you have just before you are about to lose
          it all. You would suddenly know what was of true importance, how much you love the people in your life, and
          even love for life itself. </p>

          <p>The Hanged Man tells you to reflect upon what is truly important to you, without having
          to have a near death experience. The Hanged Man does not get grounded and balanced through putting his feet on the ground; instead he achieves it through putting his head towards the ground where he starts to listen more. </p>

        <p>In a love reading The Hanged Man signifies taking a step back in your relationship. You will achieve much more by doing a lot less. If you are very invested in your relationship The Hanged Man says you must now invest in yourself as an individual. Your partner will start noticing you when you stop trying to get his/hers attention. If the querent is single The Hanged Man signifies manifesting love by learning to love life as single. The Hanged Man achieves his through appreciation.</p>

        <p>In a career reading The Hanged Man signifies careers in pharmaceuticals, psychology and innovation.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Hanged Man speaks of someone who is sacrificing parts of themselves to create a higher good. They don’t like conflict and will often carry most of the load to keep others happy and balanced. They are either doing too much or too little to help themselves. They like to escape into daydreams and need to pause regularly for reflection. When feeling attacked they often fall apart emotionally and can lash out dramatically. Their ideas are often unconventional and they both feel different and <i>are</i> different from the rest of us.</p>

        <p>The Hanged Man is viewing the world from a different perspective and is trying to figure out how the world works through observation. This is someone who is a mystic and a visionary, and who is abiding their time to make their move. This person might very well be a genius, something that is rarely appreciated in their time, due to their own inconstant and vague efforts.</p>

        <p>The Hanged Man is looking for intellectual connections with other people, rather than physical ones. He feels whole and complete already. He is not really hungry for more, he believes he already has everything he needs.  He wants to invent and create, and he doesn’t need any recognition for his efforts as he already feels blessed. He loves nature and outdoor activities. </p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Egotism.</p>

        <p>2. Inability to change.</p>

        <p>3. Missing an opportunity.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Hanged Man reversed exhibits stubbornness and selfishness, refusing to give up your
          perspective to gain new insight. This card reversed shows someone who is feeling away from the world, and
          is unable to communicate their point of view or perspective to others. Often with this card reversed
          there is no sacrifice and no new insight. As a consequence the querent is unable to accomplish what they
          wanted. The querent is not willing to suffer the pain, so there is no gain either.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Hanged Man reversed is someone with strange antisocial behaviour. They might even show
          sociopathic or even psychopathic tendencies. The Hanged Man reversed conveys a person lost in their own ideas and
          beliefs, often with a poor or non-existent grip on reality. They might be completely living in a dream,
          deceiving themselves and others for their own selfish purposes. They might even sacrifice themselves for a
          cause that is false or in the belief that it will help someone else when in reality it will not. This is
          someone with a personality disorder, mental illness or a lack of moral.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Hanged Man is ruled by Neptune and connected to the water element. Neptune rules drugs of any sort, both
          legal and illegal. Additionally Neptune indicates fogs, gasses and sleep disorders, hypnosis and asphyxiation.
          Well placed, Neptune indicates psychics and idealists, writers, magicians, artists and musicians. It is the
          planet for inspiration. Neptune purifies and asks us to sacrifice for the higher good, or for the love we have
          for one another. Neptune rules visual communication such as photography, film, dance and paintings. When
          poorly placed, Neptune has issues with reality and suggests the querent might be missing something or even
          hiding something. There might be memory problems, insanity, delusions and nervous breakdowns. Neptune also
          rules psychopaths, antisocial disorder and sociopath. Neptune also rules the sea and is connected to the water
          element. Psychologically, Neptune makes us want to escape reality and to enter into a heavenly, blissful
          state. If poorly aspected this can make us vague, inconsistent and confused.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The image of the Hanged Man recalls the Hermetic Order of the Golden Dawn, an organisation devoted to the
          study and practice of the occult. The gallows from which the man is suspended symbolizes the
          world tree, connoting there is learning and wisdom to be gained when this card shows up.
        </p>

        <p>The position of his legs forms a Fylfot cross which indicates the direction of the sun. The halo around his
          head marks a holy person or spiritual attainment. It is also a reference to the sun, inferring
          enlightenment. His red pants implies passion. His blue coat communicates knowledge. His yellow shoes
          represents idealism. </p>

        <p>The man’s hands folded at the back of his body illustrate a time for non-action. His suspended state
          exhibits life being on hold, a waiting period. It also suggests seeing the world or a situation from a
          different angle. The man has lost his position, but his face says he did so willingly, to further his goal.
          The peaceful expression on his face alludes to his free will.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Hanged Man + <a ui-sref="app.theFool">The Fool</a>: Plans delayed. Stay at home parent.</p>

        <p>2. The Hanged Man + <a ui-sref="app.theLovers">The Lovers</a>: Complacency in relationship leads to unwanted pressure.</p>

        <p>3. The Hanged Man + <a ui-sref="app.theMoon">The Moon</a>: A creative genius.</p>

        <p>4. The Hanged Man + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Trying something new career wise. Scientist.</p>

        <p>5. The Hanged Man + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Back to the drawing table.</p>

        <p>6. The Hanged Man + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: A student. Low income.</p>

        <p>7. The Hanged Man + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Going back to school.</p>

        <p>8. The Hanged Man + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: A redundancy.</p>

        <p>9. The Hanged Man + <a ui-sref="app.twoOfCups">Two of Cups</a>: A one-sided friendship.</p>

        <p>10. The Hanged Man + <a ui-sref="app.threeOfCups">Three of Cups</a>: A long engagement.</p>

        <p>11. The Hanged Man + <a ui-sref="app.sixOfCups">Six of Cups</a>: Reluctant to grow up. Teenagers.</p>

        <p>12. The Hanged Man + <a ui-sref="app.knightOfCups">Knight of Cups</a>: A poet. Escaping reality.</p>

        <p>13. The Hanged Man + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: A philosopher.</p>

        <p>14. The Hanged Man + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Procrastinating. Fear of change.</p>

        <p>15. The Hanged Man + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Observational skills. Being an observer. Noticing what others don’t.</p>

        <p>16. The Hanged Man + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Antisocial behaviour. Danger.</p>

        <p>17. The Hanged Man + <a ui-sref="app.threeOfWands">Three of Wands</a>: Lack of perspective.</p>

        <p>18. The Hanged Man + <a ui-sref="app.fourOfWands">Four of Wands</a>: Being an outsider.</p>

        <p>19. The Hanged Man + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Aiming too low. Giving up too quickly.</p>

        <p>20. The Hanged Man + <a ui-sref="app.queenOfWands">Queen of Wands</a>: A counselor. A healer.</p>

        <p>21. The Hanged Man + <a ui-sref="app.kingOfWands">King of Wands</a>: The modern man.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Hanged Man means doing less achieves more. The more you let go, the more things will start to
          flow. The Hanged Man is willing to sacrifice being right in order to have peace in his life. When the Hanged Man shows
          up in your spread you will have to chose: You can be right or you can have peace.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
