<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE HIGH PRIESTESS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theHighPriestess.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A woman with psychic powers.</p>

        <p>2. A woman in your life influencing you.</p>

        <p>3. Making the impossible become possible.</p>

        <p>4. Your inner life.</p>

        <p>5. Making plans that are right for you, rather than what suits other people.</p>

        <p>6. Having a hidden talent.</p>

        <p>7. Knowing the answer and the right thing to do.</p>

        <h4 class="padding">Meanings</h4>

        <p>The High Priestess embodies secrets, magic, mystery, intuition, wisdom and the art of making the impossible
          become possible. This card can represent a psychic connection between people, a psychic person or someone who
          is a complete mystery to you. It can also represent using your inner voice to navigate through life. The High
          Priestess can represent your subconscious, and/or connecting to your subconscious. In a reading it often
          represents the women in your life: your mother, sister, wife, girlfriend, female boss/colleague.</p>

        <p>In a love reading the High Priestess hints at an emotional affair that may never make it in the physical.</p>

        <p>In a career reading the High Priestess signifies academic work. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The High Priestess speaks of someone with an intuitive and mysterious nature. This is someone who is
          highly intelligent and psychic, often well-educated and calculated. This is someone who needs to
          know what is going on and who needs to be in control, especially through gaining knowledge and working out the
          truth of a situation. This is someone who has a hard shell, and is not easy to figure out. Behind the
          shell is a sensitive person who doesn't always show you how they feel.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Lack of insight.</p>

        <p>2. Foolishness.</p>

        <p>3. Over-sensitive.</p>

        <p>4. Fragile psyche.</p>

        <h4 class="padding">Meanings</h4>

        <p>The High Priestess reversed indicates blocked psychic abilities, and little to no awareness of the subconscious
          influences on our reality. Secrets are kept, answers are not found and instincts are wrong.</p>

        <p>She can represent an unpredictable woman in your life, with mood changes and hurtful remarks/outbursts. You
          might find it difficult to make decisions when this card turns up reversed. There is a loss of control and
          chaos often follows. There is a loss of knowledge and a kind of madness reigns.</p>


        <h4 class="padding">Personality Types</h4>

        <p>When reversed, the High Priestess is someone volatile and unstable. You'll find yourself walking on eggshells around
          this person. This is someone who goes out of their way to be a victim, and who believes the world is against
          them. Nothing positive seems to manifest itself, often due to the persons irrational thoughts and beliefs
          system. Mental illness and/or challenging behaviors are possible traits with the High Priestess reversed.
        </p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The High Priestess is connected to the Moon, which governs intuitions, mystery, instincts, cycles, the
          subconscious and emotions. The Moon is feminine by nature and often represents the female in your life, your
          wife, your mother, your sister or girlfriend, the yin principle and receptivity. The Moon rules your history
          and your emotional development. The Moon takes approximately 28 days to orbit the zodiac, so the changes
          occurring with the High Priestess often takes around 28 days to materialize and stabilize. The Moon rules
          Cancer, the astrological sign of the Chariot.
        </p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The High Priestess sits on a cubic stone, on the edge of the sea of the unconscious. Her scroll symbolizes ancient knowledge. The left pillar is the pillar of strength. The right pillar is the pillar of
          establishment. The pillars are representative of duality and polarity, of positive and negative, good and evil, masculine and feminine. </p>

        <p>The High Priestess sits as a mediating force between them. One black and one white, the High Priestess forms the third pillar. It illustrates the High Priestess being able to exist in both positive and negative environments, to her they are equal, in the sense that there is wisdom to be gained and lessons learned in both places.
        </p>

        <p>Her blue robe shows that she has knowledge. She is wearing the crown of Isis which denotes she is a
          patroness of nature and magic. The solar cross signals being connected to the earth and its seasons. The
          crescent moon by her feet exhibits that she is in control over her own emotions. The pomegranates entails
          the use of plant medicine. It is also a symbol of the High Priestess' ambition.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The High Priestess + <a ui-sref="app.theLovers">The Lovers</a>: Psychic connection.</p>

        <p>2. The High Priestess + <a ui-sref="app.theDevil">The Devil</a>: An emotional affair. Emotional Blackmail.</p>

        <p>3. The High Priestess + <a ui-sref="app.theMoon">The Moon</a>: Menopause. Female energies.</p>

        <p>4. The High Priestess + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Teacher.</p>

        <p>5. The High Priestess + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Secret admirer.</p>

        <p>6. The High Priestess + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Healing.</p>

        <p>7. The High Priestess + <a ui-sref="app.tenOfCups">Ten of cups</a>: Soul Family.</p>

        <p>8. The High Priestess + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Secret talent. Acting. Performing.</p>

        <p>9. The High Priestess + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Spiritual travel.</p>

        <p>10. The High Priestess + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A talented psychic.</p>

        <p>11. The High Priestess + <a ui-sref="app.kingOfSwords">King of Swords</a>: A woman in a mans world. Psychic detective.</p>

        <p>12. The High Priestess + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Bartering as a psychic.</p>

        <p>13. The High Priestess + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Charity.</p>

        <p>14. The High Priestess + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Landscape gardening.</p>

        <p>15. The High Priestess + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Learning psychic skills.</p>

        <p>16. The High Priestess + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: A female boss.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The High Priestess expresses your inner life and psychic connections. It often shows
          up in your reading when you are furthering your own education, educating others or publishing educational work. The
          High Priestess also represents the women in your life. Sometimes the High Priestess shows up in a reading when
          the querent discovers a hidden talent, or they change their perspective on what they can achieve (they make
          the impossible possible).
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
