<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE HIEROPHANT</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theHierophant.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Traditions, rituals and ceremony.</p>

        <p>2. Spiritual guidance.</p>

        <p>3. Support and structure in your community.</p>

        <p>4. A teacher.</p>

        <p>5. Following the rules.</p>

        <p>6. Following a leader.</p>

        <p>7. Having faith.</p>

        <p>8. Being a role model.</p>

        <p>9. Asking the big questions about life and death.</p>

        <p>10. Being in control over your emotions.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Hierophant card represents group consciousness, religion or your belief system. It also
          denotes ceremony, traditions, kindness, charity or spiritual counseling. The Hierophant helps the world to
          spiritually attune itself by giving the people rules and guidelines. It can represent an organization
          that is based or funded by a religious organization or an organization that is very set in its values. The
          Hierophant is all about service and being of service. The Hierophant can also mean mentoring and
          counseling. It reminds you to seek knowledge and to find your special place in this world. The Hierophant
          helps you find your path by searching for what nourishes your spirit.</p>

        <p>In a love reading Hierophant signifies a deep commitment such as marriage.</p>

        <p> In a career reading Hierophant denotes work in religious organizations, schools and institutions. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Hierophant archetype is someone searching for meaning in life. They are looking for an
          alternative approach to live, and are wise teachers and friends. Hierophant type people walk their talk and
          are educated and classy people. They give strength and support to those around them, and are often referred to
          as the ‘rock’ of someones life. Open to others beliefs and ideas, they don't get bound by them. They strongly
          stand by their own beliefs.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Corruption.</p>

        <p>2. Hypocrisy.</p>

        <p>3. Breaking the rules.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Hierophant reversed communicates prudence, silliness or hypocrisy. There are rules but no
          knowledge of why these rules are important. The ego is without guidance. There is an inflexibility in the
          system and in the people of the system. Perhaps there is an institution that controls information and the leaders
          make themselves rich, while the poor remain poor.</p>

        <p>By locking away information and keeping people ignorant, the poor remain powerless to effect change or improve
          the system. Rather than helping the people and the community, the system uses the communities as a platform to
          get their own agendas favored. Opponents get undermined, and there is a strong pressure to conform. On a more
          personal note, the Hierophant reversed can mean a decrease in security. Traditions might die out and there are
          unrecognizable differences between married couples.</p>


        <h4 class="padding">Personality Types</h4>

        <p>If the Hierophant is reversed is portrays someone who has lost their way, often due to lack of support from
          their family, school system and/or community. This is someone who lacks security, and therefore has little to
          give to others. There is insufficient resources both on a financial and emotional level. The Hierophant
          reversed indicates someone who is falling apart due to the fear of financial trouble. There is an inability to
          change. This is someone who is insecure.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Hierophant is ruled by Taurus. Taurus is ruled by Venus and is a fixed sign in the zodiac. It
          governs the physical world, sensuality, pleasure and the material world. Taurus is the second house of money
          and valuables, it is associated with preserving establishments and rules/code of conducts that promote
          security. Taurus rules resources, professionals, luxury and successful financial endeavors, love of indulgence
          or possessions. It promotes the traditions set forth by religion, culture and education.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The Hierophant is Greek for high priest. The two pillars stand for support and structure. The Hierophant
          himself represents organization, institution and spiritual guidance. In his left
          hand he holds a triple scepter which indicates domination over matter and emotion and thought. His three
          vestments illustrates purity, immortality and ritual. The triple crown demonstrates these three functions:
          supreme pastor, supreme teacher and supreme priest.</p>

        <p>Below the three crosses is a diamond reflecting the fourfold physical world. The crossed keys are the
          crossed keys of heaven, and represent the power of binding and loosening. The Hierophant's placement between the
          two pillars creates a third pillar, recalling the three pillars of the tree of life. To the pillar to our
          right, the Pillar of Severity, he offers a blessing.</p>

        <p>To the pillar to our left, the Pillar of Mercy, he holds the triple cross of martyrdom. The Hierophant being
          the central pillar infers the Hierophant bridging heaven to earth. The two kneeling priests, one wearing
          a chasuble decorated with roses and the other a chasuble decorated with lilies marks the union between
          flesh and spirit. </p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Hierophant + <a ui-sref="app.theFool">The Fool</a>: Students.</p>

        <p>2. The Hierophant + <a ui-sref="app.theLovers">The Lovers</a>: Getting married. Committing yourself.</p>

        <p>3. The Hierophant + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Psychology.</p>

        <p>4. The Hierophant + <a ui-sref="app.death">Death</a>: Taxes.</p>

        <p>5. The Hierophant + <a ui-sref="app.theTower">The Tower</a>: Corruption.</p>

        <p>6. The Hierophant + <a ui-sref="app.judgement">Judgement</a>: Politics.</p>

        <p>7. The Hierophant + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Community work. Spiritual work.</p>

        <p>8. The Hierophant + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Homeless shelter. Refugee center.</p>

        <p>9. The Hierophant + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Spiritual charity.</p>

        <p>10. The Hierophant + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Inheritance.</p>

        <p>11. The Hierophant + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Job security.</p>

        <p>12. The Hierophant + <a ui-sref="app.aceOfWands">Ace of Wands</a>: New faith. Answered prayers.</p>

        <p>13. The Hierophant + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Building an organization.</p>

        <p>14. The Hierophant + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Defending your beliefs.</p>

        <p>15. The Hierophant + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Spiritual warrior. Spiritual work. A mission.</p>

        <p>16. The Hierophant + <a ui-sref="app.queenOfWands">Queen of Wands</a>: A spiritual entrepreneur.</p>

        <p>17. The Hierophant + <a ui-sref="app.aceOfCups">Ace of Cups</a>: A spiritual society.</p>

        <p>18. The Hierophant + <a ui-sref="app.threeOfCups">Three of Cups</a>: A celebrant.</p>

        <p>19. The Hierophant + <a ui-sref="app.sixOfCups">Six of Cups</a>: Parenting.</p>

        <p>20. The Hierophant + <a ui-sref="app.eightOfCups">Eight of Cups</a>: A pilgrimage.</p>

        <p>21. The Hierophant + <a ui-sref="app.pageOfCups">Page of Cups</a>: Spiritual scriptures.</p>

        <p>22. The Hierophant + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Spiritual beliefs.</p>

        <p>23. The Hierophant + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Defeat within an organization. Poor leadership. Abuse of power.</p>

        <p>24. The Hierophant + <a ui-sref="app.kingOfSwords">King of Swords</a>: Administration.</p>


      </div>

      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Hierophant signifies traditions, especially weddings. Notice in your tarot reading which cards are
          closest to the Hierophant, receiving his blessing. This can indicate what the querent feels blessed with in
          life. The Hierophant can also denote what gives the querent meaning in life on a spiritual level.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
