<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE HERMIT</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theHermit.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. A wise teacher.</p>

        <p>2. Having wisdom beyond your years.</p>

        <p>3. Seeking solitude.</p>

        <p>4. Lighting the way for others.</p>

        <p>5. Being able to communicate with animals.</p>

        <p>6. Contemplation.</p>

        <p>7. Being alone, but not lonely.</p>

        <p>8. Needing more and seeking more.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Hermit stands for spending time alone, being a lone wolf, soul-searching, seeking spiritual
          guidance, introspection. The Hermit lets us know that the answers we seek are already within us. Other people
          will be drawn to you to get your advice. The Hermit can also represent a teacher, or being a
          teacher to others. You might find yourself in a situation where you are both being the teacher and the
          student. By sharing your knowledge, wisdom and advice you are guiding the way. The Hermit says that you are
          your own best teacher. If you quiet your mind you will hear an inner voice speaking to you. This takes
          practice. Meditation in solitude is the key to master this. You are the shining light in someones life, but to
          keep doing this, you also need time to yourself: to reflect, gather your thoughts and connect to your center.
          You can't be everything for everyone. Take time for you.</p>

        <p>In a love reading the Hermit shows a deep soulful relationship that develops over time.</p>

        <p> In a career reading it can signify careers in teaching, writing, publishing or mentoring.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Hermit persona is someone who is wise beyond their years, a true old soul. They are often on a spiritual quest for truth and enlightenment. They connect to their inner light through reading, writing, teaching and mentoring, and they consider life to be a big mystery. This is someone who spends a lot of time alone, however they don't consider themselves lonely. They thrive in their solitude as they often spend this time writing and reading.</p>

        <p>Hermit type people have heightened sensitivities and need to prove their worth through service and hard work. They tend to be meticulous and over-critical of themselves, fixating on unnecessary details rather than seeing the big picture. These people sometimes have the ability to communicate with animals effectively. </p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Isolation.</p>

        <p>2. Paranoia.</p>

        <p>3. Foolishness.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Hermit reversed indicates isolation and paranoia. There is no insight, rather there is a twisted and vicious
          side to the person. Hermit reversed also denotes someone who is very lonely and is ‘losing’ their
          grip on reality due to the amount of time they spend by themselves. The lantern is unable to shed any light
          and the person is buried in worries and darkness. The person might even seek the darkness out of fear of the
          light. There might be a problem with concentration, a lack of memory and mental ability. There are also lack
          of guidance and wisdom, and decisions being made are foolish and naive.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Hermit reversed shows someone who is restricted, fixated and obsessed by an idea or a belief system.
          This is someone who is self-absorbed and has little imagination or hardly any insight to offer. They need
          others to keep them intellectually stimulated and feel completely worthless and lonely when left on their own.
          They come across as needy, and have a lack of boundaries. Anything goes as long as they get the attention they
          crave. This card reversed can be someone who is quite isolated, and who spends a lot of time over-analyzing
          their own confused state. Their minds are filled with criticism and judgment of themselves, their bodies or
          their lives.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Hermit is ruled by Virgo. Virgo is ruled by Mercury. Mercury represents unemotional and objective thought.
          It rules perception, language, writing, editing, research, speaking and all kinds of learning experiences or
          learning styles. It also rules the assessment of data, telecommunications, computing, software, electronic
          gadgets, the postal service, shipping, and all forms of transportation. Psychologically the Hermit indicates
          heightened sensitivities and a need to prove our worth through service and hard work.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The Hermit's posture with his robe and hood symbolizes contemplation. The mountains insinuates accomplishments
          and growth. The Hermit standing on top of the mountain suggests that his wisdom must be earned by striving
          for the highest truth. The six pointed star in the lantern represents the power to command demons and to speak with animals. It star also signals being on your true spiritual path.
        </p>

        <p>The Hermit is being a pioneer who lights the way for others. The staff is an emblem of authority. The staff being in the Hermits left hand connects it to the power of the subconscious mind. The snow illustrates the introverted nature of the Hermit. The inner world is more important than the outer world. The gray cloak reflects wisdom and meditation. </p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Hermit + <a ui-sref="app.theMagician">The Magician</a>: Online classes.</p>

        <p>2. The Hermit + <a ui-sref="app.strength">Strength</a>: Publishing.</p>

        <p>3. The Hermit + <a ui-sref="app.justice">Justice</a>: Legal advice.</p>

        <p>4. The Hermit + <a ui-sref="app.theDevil">The Devil</a>: Business plans.</p>

        <p>5. The Hermit + <a ui-sref="app.theMoon">The Moon</a>: A writer. Writing.</p>

        <p>6. The Hermit + <a ui-sref="app.aceOfWands">Ace of Wands</a>: New age.</p>

        <p>7. The Hermit + <a ui-sref="app.threeOfWands">Three of Wands</a>: Online shop.</p>

        <p>8. The Hermit + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Born to teach.</p>

        <p>9. The Hermit + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Electronics. Computers. Telecommunication.</p>

        <p>10. The Hermit + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Lighting the way for others.</p>

        <p>11. The Hermit + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Learning a new language.</p>

        <p>12. The Hermit + <a ui-sref="app.twoOfCups">Two of Cups</a>: Past life love.</p>

        <p>13. The Hermit + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Connecting with someone online.</p>

        <p>14. The Hermit + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Searching for truth. Solving a cold case.</p>

        <p>15. The Hermit + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Spiritual text.</p>

        <p>16. The Hermit + <a ui-sref="app.kingOfCups">King of Cups</a>: A journalist.</p>

        <p>17. The Hermit + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: New research.</p>

        <p>18. The Hermit + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: loneliness.</p>

        <p>19. The Hermit + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A confident teacher.</p>

        <p>20. The Hermit + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: A spiritual entrepreneur.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Hermit suggests spending time alone to find satisfying answers to life's deeper mysteries.
          Sometimes the Hermit signifies a teacher, and sometimes you are that teacher. When the Hermit shows up in your
          reading you might feel drawn to solitude and meditation.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
