<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE LOVERS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theLovers.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Love, union and marriage.</p>

        <p>2. Being with your soul mate.</p>

        <p>3. Feeling passionate about something or someone.</p>

        <p>4. Physical attraction.</p>

        <p>5. Communication with like-minded people.</p>

        <p>6. Doing things that make you feel whole.</p>

        <p>7. Being enlightened about what decisions to make.</p>

        <p>8. Intimacy.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Lovers card represents love and relationships and soul mates. The Lovers embody
          physical attraction and the choices we make to become more whole. It's about doing the things that
          makes us feel complete, and being with the people who make us feel at home. The Lovers card is all about
          wholeness and union. It is also a card for enlightenment and communication, by being intellectually
          nourished as well as emotionally fulfilled. To find our match in a partner, job or community we must first
          get to know ourselves on a deeper level.</p>

          <p>The Lovers encourages you to go out there and find yourself, follow your passions, try different things and learn by opposites. Only then can you really know who you are. By doing what you would normally do, you will find out what you do want. By being with someone you are not compatible with you will figure out who you are compatible with. This way you will know what you need and want and you can attract the best partner for yourself.</p>

        <p>The Lovers in a love reading denotes being with your soul mate.</p>

        <p>In a career question the Lovers often signifies stimulating work such as information gathering and media work.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Lovers archetype is someone who makes choices from the heart. This is someone who needs to
          emotionally and intellectually connect to every aspect of their lives. This is someone who puts efforts into
          the way they look and are passionate and sensual people. They are attractive and passionate. Their
          appearance and image are important to them, and they care what you think of them. They put an effort into their
          relationship by being witty, curious and appealing. They often need to be in a relationship to feel whole.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Separation.</p>

        <p>2. Disconnection.</p>

        <p>3. Unable to make a decision.</p>

        <p>4. Making a poor decision.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Lovers reversed portends a breakup between partners, families or friends. Whatever it is,
          the people who split up are not creating the same magic and chemistry on their own, and become less whole.
          It can also indicate a wrong choice being made.</p>

        <p>The spiritual and mental connection between people is lost or blocked. When this card shows up reversed you
          might not know what to do. Decisions are being made according to earthly desires and needs, because it is
          practical, rather than because it makes you happy and fulfilled.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Lovers reversed type is someone who has difficulty making choices and is often in and out of relationships, unable
          to make a deep commitment. This is someone who believes there is something wrong with them and has problems in
          social settings. They might display obsessions about how they look and measure themselves by an external set
          of impossible standards. They often display erratic and imbalanced behavior. Lovers reversed indicates
          someone who is cruel to themselves and to those who love them, desperately wanting love and approval from
          those who will not give it to them.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Lovers is ruled by Gemini, which is ruled by Mercury. It is the third sign of the zodiac and it
          speaks of the immediate environment: siblings, neighbors, maps, letters, publishing, sales, advertising and
          communication between people. It speaks of the dualistic side of humanity, male/female, yin/yang, left/right
          brain. It also speaks of a person's ability to gather and communicate information. Mercury in Gemini has many
          gifts to offer, especially socially as it promotes curiosity and humor. It is associated with the kind of
          stimulus that makes you feel whole.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p> The Lovers meanings are depict through the card's symbolism. The two Lovers symbolize Adam and Eve.
              Eve is standing in front of the tree of knowledge. The tree of knowledge, the serpent and the apple in one
              tree represents the garden of Eden, forbidden knowledge and sexuality. The 5 apples stands for the 5
              senses. The snake also refers to the senses, as well as the temptations of the world. Adam stands in front
              of the Tree of Life, a token of divine love.
        </p>

        <p>There are 12 flames representing the 12 signs of the zodiac, the circle of life. The two trees
          also symbolize pillars, with the mountain forming the third pillar, and a sacred center. Being a mountain it
          illustrates unfailing loyalty.</p>

        <p>The purple cloak expresses royalty. The sun signals happiness derived from enlightenment. The green grass shows fertility and happiness. The man looks at the woman, who looks at the angel, which exhibits the balance between physical
          desire and spiritual needs.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Lovers + <a ui-sref="app.theEmpress">The Empress</a>: Abundant love. Many love interests.</p>

        <p>2. The Lovers + <a ui-sref="app.strength">Strength</a>: Strong love. Long lasting love.</p>

        <p>3. The Lovers + <a ui-sref="app.judgement">Judgement</a>: Renewed love. Renewal of vowels.</p>

        <p>4. The Lovers + <a ui-sref="app.theSun">The Sun</a>: New Love relationship.</p>

        <p>5. The Lovers + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Spiritual love.</p>

        <p>6. The Lovers + <a ui-sref="app.twoOfCups">Two of Cups</a>: Deep love.</p>

        <p>7. The Lovers + <a ui-sref="app.threeOfCups">Three of Cups</a>: Engagement.</p>

        <p>8. The Lovers + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Online dating.</p>

        <p>9. The Lovers + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Following your heart.</p>

        <p>10. The Lovers + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: You perfect job.</p>

        <p>11. The Lovers + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Finding love at work.</p>

        <p>12. The Lovers + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Internship in media. Entry job in communication and media.</p>

        <p>13. The Lovers + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Starting a project you are passionate about.</p>

        <p>14. The Lovers + <a ui-sref="app.threeOfWands">Three of Wands</a>: Moving forward in a relationship.</p>

        <p>15. The Lovers + <a ui-sref="app.fourOfWands">Four of Wands</a>: A wedding.</p>

        <p>16. The Lovers + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Love letters. Romantic correspondence.</p>

        <p>17. The Lovers + <a ui-sref="app.tenOfWands">Ten of Wands</a>: A high maintenance relationship.</p>

      </div>

      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Lovers intimates soul mate love and spiritual fulfillment. It speaks to doing
          what you love, and being with the people you love. Sometimes the Lovers indicates you are learning
          from anti-role-models or situations. You find out what you want and need by experiencing what you don't want.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
