<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE MOON</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theMoon.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Imagination running high.</p>

        <p>2. Strong and vivid dreams.</p>

        <p>3. Intuition pushing forward.</p>

        <p>4. Unknown territory.</p>

        <p>5. Fear and phobia.</p>

        <p>6. Uncertain reality.</p>

        <p>7. Confusion.</p>

        <p>8. Following your instincts.</p>

        <p>9. Creativity.</p>

        <p>10. Wanting to hide from the world.</p>

        <p>11. Treasures disguised as monsters.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Moon represents illusions, intuition, fantasies, fears and anxiety. When the Moon appears, things might not be quite as they seem. Your insecurities might be running high, or you find yourself on the receiving end of other people's insecurities. The Moon also shows up when dreams and intuitive messages are very strong, some might feel they are slipping into mental confusion and find it harder to concentrate. </p>

        <p>The Moon comes with great gifts of creativity and imagination, and you might be drawn to mystery or even dark
          adventures. The Moon is here to remind us that our reality is ruled by our beliefs. When we get in
          touch with ourselves we get in touch with our creativity.</p>

        <p>Hint to the reader: The Moon often shows up in a reading when there are a lot of creative energies storing up
          inside the querent. This energy must come out in a constructive way. Ask the querent what they would learn if
          learning was only to benefit their soul, not to get them a job or a pay raise. There is a desire inside the
          querent to be creative, but it has nothing to do with the practicality of life. It has to do with nurturing the
          spirit.</p>

        <p>In a love reading the Moon denotes being in love with love, and being in relationships as a way to
          mend a previously broken heart. If the querent is single the Moon can mean secret love, or even a dangerous
          romance.</p>

          <p>In a career reading the Moon signifies working at night time. The Moon can also signal a
          detective.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Moon character is someone who is mysterious, receptive and intuitive. They are very empathic, and tend
          to absorb their environment like a sponge, getting lost in those around them. Many exhibit artistic
          abilities and psychic gifts. Moon type people need to face their fears so they can grow stronger and more
          confident. </p>

        <p>They don't always tell you the truth as they fear the reactions of others. There has been a lot of
          manipulation and game playing in this persons life, which keeps them on their toes. These people are also great
          manipulators and liars if need to be. They have problems with trust.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Anarchy.</p>

        <p>2. Imagination blocked.</p>

        <p>3. Medication.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Moon card reversed reveals primitive forces at play, and a dark night of the soul. Intuition and
          creativity are blocked - a sexual block is also possible. There is a need to lock out the wilderness. Total chaos
          is held at bay by measures such as medication, institutions, prisons, locks and fences. Crime is prevented,
          but not stopped. </p>

        <p>The Moon often shows up reversed when there is madness and riots, turmoil and addiction. Primitive forces
          are in power and anarchy rules. For artists this card shows up when they are no longer in their creative flow,
          and are unable to focus and channel their energies effectively.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Moon reversed portrays someone who is lost in some kind of madness, often due to not allowing
          their creative abilities to surface. There might be pressure to conform, which is the last thing a Moon person
          can handle. They are individuals who follow their instincts, rather than rules and guidelines. This is someone
          in the midst of a faith crisis, especially if they repress their empathic abilities. They lose themselves in a
          web of lies and hidden agendas, and must embrace their own inner light to be balanced.
        </p>

        <p>Hint to the reader: When the Moon shows up reversed the querent has often neglected their ability to wonder
          and to tap into their imagination. The querent has a sharp intellect which they are ruled under. They think
          they already know everything and end up with limited life experiences. There is no adventure, no magic.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Moon is ruled by Pisces. Pisces is ruled by Neptune. Pisces is the final sign of the zodiac. Here we find
          all things in life that we most want to avoid, so we push them deeper into the depths of the subconscious in
          the hope that we can avoid them entirely. Neptune is the planet for mystery and illusions. It is understood to
          determine mankind's destiny and increase conscious awareness. It urges us to practice compassion towards
          others and to deal with our fears that stop us from being kind towards ourselves and others. Neptune
          symbolizes everything that is soft, sensitive and imaginative. It prompts escapism from the realities of
          life. On a positive note, it is highly creative. Industries such as film, television, fashion and theater are
          all under Neptune's influence. If poorly aspected it denotes hiding from the world, and exaggerated, confused
          state of being. Hypersensitivity and paranoia are the negative sides of Neptune's influence.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The Moon represents cycles, patterns and emotions. The Moon is rising between two towers, the same two towers
          seen in the distance on the Death card. However, the towers in the Death card were on the other side of the water. Now
          the towers are on the same side, showing that we now have crossed over and now find ourselves in unknown
          territory. The Moon implies a time for rest and preparation while we wait for the Sun to rise again. The
          two towers also allude to our left and right hemisphere of our brain.</p>

        <p>The path leads to the middle of the towers, hinting at the balance between our intuitive and logical brain.
          The Moon is engulfed by a giant sun, reminding us that the Moon is the reflection of the Sun upon it. This
          suggests our reality being out of reach as we only experience its echo. The Moon's light is dim and it's
          hard to see clearly. The lobster marks the influence the Moon has on our emotions, especially our primal
          needs. </p>

        <p>The water reflects our subconscious. The dog and the wolf represent our tamed and wild nature, the polarity
          of our mind. The face on the moon is expressing displeasure. The path twists and turns, insinuating that our
          instinct is guiding us, rather than the straight forward thinking of our intellect.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Moon + <a ui-sref="app.theMagician">The Magician</a>: Creative industries. A mystery.</p>

        <p>2. The Moon + <a ui-sref="app.theHighPriestess">The High Priestess</a>: A mystery.</p>

        <p>3. The Moon + <a ui-sref="app.theChariot">The Chariot</a>: Problems with vehicle. Creative journey. Astral travel.</p>

        <p>4. The Moon + <a ui-sref="app.judgement">Judgement</a>: A creative calling. Working in TV, film, radio, fashion. A writer.</p>

        <p>5. The Moon + <a ui-sref="app.theWorld">The World</a>: Social anxiety. Dreaming about success.</p>

        <p>6. The Moon + <a ui-sref="app.threeOfCups">Three of Cups</a>: Creative friends. Art exhibitions.</p>

        <p>7. The Moon + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Digital art.</p>

        <p>8. The Moon + <a ui-sref="app.pageOfCups">Page of Cups</a>: An audition. A job interview.</p>

        <p>9. The Moon + <a ui-sref="app.knightOfCups">Knight of Cups</a>: A bachelor. A salesman.</p>

        <p>10. The Moon + <a ui-sref="app.queenOfCups">Queen of Cups</a>: A writer. Writing talents. Interior designs.</p>

        <p>11. The Moon + <a ui-sref="app.kingOfCups">King of Cups</a>: A designer. Movie director.</p>

        <p>12. The Moon + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Conspiracy theory.</p>

        <p>13. The Moon + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Painful relationship.</p>

        <p>14. The Moon + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Harassment.</p>

        <p>15. The Moon + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A spy. Spying on others.</p>

        <p>16. The Moon + <a ui-sref="app.kingOfSwords">King of Swords</a>: Mental health specialist.</p>

        <p>17. The Moon + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A creative idea. The writers pen.</p>

        <p>18. The Moon + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Drawings.</p>

        <p>19. The Moon + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Teaching arts.</p>

        <p>20. The Moon + <a ui-sref="app.kingOfWands">King of Wands</a>: Acting.</p>

        <p>21. The Moon + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Selling art. Feeling fragile.</p>

        <p>22. The Moon + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Suffering for your art. Feeling bad about yourself.</p>

        <p>23. The Moon + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Acting talent. A documentary. A script.</p>

        <p>24. The Moon + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: A creative garden. A creative holiday. An artistic and confident
          person.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Moon shows up to remind us that our reality is ruled by our beliefs. Each and every one of us can
          change their reality by changing their thoughts. When we do this we get clarity. When we get clarity we become
          more creative. Our spirits long to be expressed in artistic ways: such as through paintings, drawings and
          writings. The Moon encourages us to explore our artistic selves through our physical experience on Earth. The
          Moon pushes our imaginations to run free, so when this card shows up in your reading things may not be as they
          appear.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
