<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE MAGICIAN</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theMagician.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Realizing your potential.</p>

        <p>2. Believing in yourself.</p>

        <p>3. Using your talents.</p>

        <p>4. Being in charge of your own destiny.</p>

        <p>5. Being able to sell yourself, sell your ideas and sell a product.</p>

        <p>6. Using old skills in a new field</p>

        <p>7. Re-inventing yourself.</p>

        <h4 class="padding">Meanings</h4>

        <p>The Magician represents your ability to communicate clearly, to ‘sell’ yourself and to be innovative. The
          Magician has all the tools and resources available to manifest his desired outcome, so it is a good card to
          get if you want to create. The Magician is skillful and confident in his abilities, and he has the gift of the
          gab, able to pull the people in that he needs for his desired outcome to take place.</p>

        <p>In a love reading the Magician often describes your most compatible soul mate.</p>

        <p>In a career question it relates to jobs in sales and communications.
        </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Magician personae are people who can manifest and create almost anything they put their minds to. This is the mind
          over matter card, and it indicates people who have amazing abilities to use their skill and knowledge in
          ways that serve them. They believe anything is possible. They are often very creative people who are used to
          taking the initiative. They are great at selling themselves. They can sell sand in the desert if they had to.
          They dream big and successfully move in any direction they choose. This card speaks to your mind and your
          intellect, and to use your intelligence to create and manifest. </p>

        <p>Play smart or don't play at all is the energy of this card. It also tells you to remember your spirit, and
          that your actions have consequences for your spirit, as well as your physical body. It is a card for
          innovation. If you draw this card it often means your will is pushing you in a direction that is
          exciting and stimulating. You might find yourself inventing something completely new or doing something in a
          new way. Whatever you do you'll be quite the trend setter as you seem to have magical abilities and everything
          you touch turns to gold.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Miscommunication.</p>

        <p>2. A fraud.</p>

        <p>3. Lack of self-belief.</p>

        <h4 class="padding">Meanings</h4>

        <p>The Magician reversed suggests empty promises, false possibilities, a con man, misunderstandings and a lack of
          substance to make possibilities become a reality. The possible is becoming impossible when the Magician is
          upside down.</p>

        <p>If this card shows up reversed for you in a reading it is not a great time for you to begin something new.</p>

        <p>You might find that no one is taking you seriously when this card shows up reversed, or that the people and
          situations in your life are more like a joke than real opportunities.
        </p>

        <h4 class="padding">Personality Types</h4>

        <p>This is the audacious con man. They don't believe they can have what they want, and use manipulation to try
          to get their way. They are lacking in confidence, and are either misunderstood, or they misunderstand others.
          They can have problems with learning, and are burying their heads in the sand. They procrastinate and are often
          overly critical of both themselves and others. They are quite messy people and their ideas live and die in
          their heads. When they contact you it is only because they want something from you, and it usually is your
          money.
        </p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Magician is connected to the planet Mercury. Mercury is the planet for communication, short distance travel,
          quick-moving connections (phones, internet, computers, etc.) Mercury is the planet of the intellect, it is linked
          with cleverness, dexterity and wittiness. It speaks of how we learn, how the mind works and how we communicate.
          Mercury governs the senses. Mercury is easily swayed by emotions, and there might be problems seeing the truth
          of the matter. Mercury also rules Gemini, the sign of The Lovers and Virgo, the sign of The Hermit.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The infinity symbol above the Magician’s head represents being connected to Source and the timeless. The belt
          forms an ouroboros, a circular symbol of time formed by a snake biting its tail. The Magician stands in a garden
          of roses and lilies, the red flowers are equated to the masculine and the white flowers the feminine.</p>

        <p>His wand is raised to the heavens and his finger is pointing to earth, which shows the Magician
          using his spiritual powers in conjunction with his practical abilities to create. His pose exhibits the
          Hermetic axiom ‘as above, so below’, meaning Heaven should be manifested on Earth.
        </p>

        <p>His table suggests being able to sell and putting an offer on the table. The four elements represented by a
          pentacle, a cup, a sword and a wand - the resources the Magician has at his disposal. Three symbols
          also appear to be carved on the edge of the table: the first being a seascape representing water, the second
          the element of fire and the third is a dove.</p>

        <p>The dove is the spirit. The yellow background indicates that this is an intellectual card, and using your wit,
          mind and communication skills is going to be favorable. This card signals willpower, initiations and
          beginnings.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Magician + <a ui-sref="app.theLovers"> The Lovers</a>: Your ideal partner. A Soul Mate.</p>

        <p>2. The Magician + <a ui-sref="app.theHermit"> The Hermit</a>: A brilliant teacher..</p>

        <p>3. The Magician + <a ui-sref="app.theHangedMan"> The Hanged Man</a>: Inventing something.</p>

        <p>4. The Magician + <a ui-sref="app.judgement"> Judgement</a>: Multimedia, TV/radio, fame.</p>

        <p>5. The Magician + <a ui-sref="app.fiveOfWands"> Five of Wands</a>: Standing out from the crowed.</p>

        <p>6. The Magician + <a ui-sref="app.knightOfWands"> Knight of Wands</a>: A talented competitor.</p>

        <p>7. The Magician + <a ui-sref="app.queenOfWands"> Queen of wands</a>: A skillful entrepreneur.</p>

        <p>8. The Magician + <a ui-sref="app.kingOfWands"> King of Wands</a>: A successful sales person.</p>

        <p>9. The Magician + <a ui-sref="app.aceOfCups"> Ace of Cups</a>: Selling art. Selling inspirations.</p>

        <p>10. The Magician + <a ui-sref="app.twoOfCups"> Two of Cups</a>: Romance and friendship combined.</p>

        <p>11. The Magician + <a ui-sref="app.queenOfCups"> Queen of Cups</a>: A successful artist.</p>

        <p>12. The Magician + <a ui-sref="app.sixOfSwords"> Six of Swords</a>: A successful move. Selling online.</p>

        <p>14. The Magician + <a ui-sref="app.sevenOfSwords"> Seven of Swords</a>: A marketing expert. Telling people what they want to hear.</p>

        <p>15. The Magician + <a ui-sref="app.eightOfPentacles"> Eight of Pentacles</a>: Mastering an internship, study or new skill.</p>

        <p>16. The Magician + <a ui-sref="app.queenOfPentacles"> Queen of Pentacles</a>: Home renovation. Buying/selling property.</p>

        <p>17. The Magician + <a ui-sref="app.kingOfPentacles"> King of Pentacles</a>: Mastering the financial world of sales.</p>
      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Magician personifies being able to use your talents to create prosperity. The Magician speaks to
          using your talents and your abilities to achieve the desired outcome using your unique skills. This 
          card can also indicate the ability to ‘sell sand in the desert and snow to the Eskimos’. The Magician is
          charming, and when it represents the querent in a tarot reading few people can resist your charm.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
