<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE SUN</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theSun.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Enlightenment.</p>

        <p>2. Joy and happiness.</p>

        <p>3. A child.</p>

        <p>4. A holiday. A warm place.</p>

        <p>5. Being accepted. Self-realization.</p>

        <p>6. Optimism.</p>

        <p>7. Great health and vitality.</p>

        <p>8. Victory and accomplishments.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Sun embodies success, joy, sunshine, day, warmth and happiness. This card shows up when life
          is sunny and you are enjoying your time with the people you love. Life is simple rather than complicated.
          Relationships are blossoming and you are feeling loved. Sometimes the Sun represents a much welcomed child.
          Have a look at the other cards to see where the source of happiness is coming from. It might be coming from
          within, from a child, success at work, harmony with family or a relationship.</p>

        <p>The Sun can also represent a much-needed holiday. The Sun is the BIG YES card in a positive sense, it
          will give you what you want and desire: you are encouraged to apply for that job, go on that holiday, ask
          out your crush on a date, connect with family, or do that art class. The Sun assures you that if you do, it will
          pay off for you. You will not be rejected. The Sun is the card for acceptance.</p>

        <p>In a love reading the Sun denotes a new relationship full of potential. The Sun describes a
          relationship which is sociable and fun. If the querent is single the Sun can mean they will soon experience
          love at first sight. This card can also mean a holiday romance.</p>

          <p> In a career reading the Sun signifies leadership jobs. The Sun can also mean a fun job.</p>


        <h4 class="padding">Personality Types</h4>

        <p>Sun card people are optimistic, happy and confident - someone who is always looking for ways to enjoy life and
          experience joy. This is someone with a youthful and carefree nature, no matter what age. They love new
          beginnings, seeing new places and learning new skills. They never grow old.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Poor logic.</p>

        <p>2. Sadness.</p>

        <p>3. Low vitality.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Sun reversed foretells that new beginnings, success and happiness is being blocked. Success is blocked due
          to reaching the wrong conclusions and having bad reasoning and poor logic. Things are frustrating and unclear.
          There might be some problems with pregnancy, or raising young children. The Sun reversed can form an
          eclipse, which means there are endings approaching, and some previously active mode or method is outdated.</p>

        <p>There is no longer excitement and joy, just feelings of the mundane and mediocrity. The querent might be
          afraid of new beginnings, of success and being in the spotlight. This person might feel more comfortable in
          the shadow of their own potential. Ignorance is winning. No one is listening to or thinking of the future
          generations.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Sun reversed marks someone who has low vitality, is arrogant, melodramatic or vain. This is
          someone with low energy, poor self-esteem and with a pessimistic outlook on life. They often make poor
          decisions about their future.
        </p>

      </div>


      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Sun is ruled by the sun, the ruler of your purpose, character, will, determination, heart, health,
          vitality and consciousness. The Sun represents the ego and how you view yourself. It rules our basic
          identity and our self-realization. The Sun represents reason rather than instinct. When well aspected the Sun
          rules happiness, enjoyment, integrity and strength of will and purpose. If poorly aspected it denotes poor
          vitality, low energy, lack of belief in one's self, poor judgment, arrogance, melodrama or vanity.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The child stands for innocence. The feather on the child's head is the same feather worn by the Fool. The
          feather is connecting the child with the Sun and with the Fool, connoting inner light. The banner is a
          victory banner, signaling accomplishments and victory. The child's posture enacts joy and happiness. </p>

        <p>The child holds the banner in her left hand, suggesting the power of the subconscious. The child rides the
          horse without saddle and reins, displaying trust and harmony. The white horse embodies strength, beauty and
          purity. The sun represents life and happiness, warmth and goodness. </p>

        <p>The 22 sun-rays are the major arcana. The straight rays represent action, and the wavy rays represent
          vibration and flow. The four sunflowers are the four suits in the minor arcana and the fourfold world.
          Sunflowers represent love and happiness.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Sun + <a ui-sref="app.theFool">The Fool</a>: A child.</p>

        <p>2. The Sun + <a ui-sref="app.theMagician">The Magician</a>: Utilizing your talents in the best way.</p>

        <p>3. The Sun + <a ui-sref="app.theEmpress">The Empress</a>: Pregnancy. Being a parent. Excellent health.</p>

        <p>4. The Sun + <a ui-sref="app.strength">Strength</a>: Being loved and accepted.</p>

        <p>5. The Sun + <a ui-sref="app.theDevil">The Devil</a>: Ambition.</p>

        <p>6. The Sun + <a ui-sref="app.judgement">Judgement</a>: Your calling being your vocation.</p>

        <p>7. The Sun + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: A great investment.</p>

        <p>8. The Sun + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Having fun at work.</p>

        <p>9. The Sun + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Working outside.</p>

        <p>10. The Sun + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: A happy student.</p>

        <p>11. The Sun + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Mathematics. Logic and reason.</p>

        <p>12. The Sun + <a ui-sref="app.fourOfSwords">Four of Swords</a>: A relaxing holiday.</p>

        <p>13. The Sun + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Science.</p>

        <p>14. The Sun + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Self-reliant.</p>

        <p>15. The Sun + <a ui-sref="app.fourOfWands">Four of Wands</a>: A strong community. A happy community. Childcare center.</p>

        <p>16. The Sun + <a ui-sref="app.eightOfWands">Eight of Wands</a>: A road trip. A fun holiday. A fun job.</p>

        <p>17. The Sun + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Relocation to a warmer place. A happy career change.</p>

        <p>18. The Sun + <a ui-sref="app.kingOfWands">King of Wands</a>: A good husband.</p>

        <p>19. The Sun + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Answered prayers.</p>

        <p>20. The Sun + <a ui-sref="app.sixOfCups">Six of Cups</a>: Feeling at home.</p>

        <p>21. The Sun + <a ui-sref="app.pageOfCups">Page of Cups</a>: Mentoring someone.</p>

        <p>22. The Sun + <a ui-sref="app.queenOfCups">Queen of Cups</a>: A story teller.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Sun means a happy and sunny outcome to the querent’s question. This is the card for
          acceptance and making good decisions. The Sun can also signify children and raising children.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
