<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE STAR</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theStar.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Quiet after the storm.</p>

        <p>2. The future looks bright.</p>

        <p>3. Inspiration.</p>

        <p>4. Fame.</p>

        <p>5. Sudden change and awakening.</p>

        <p>6. Being unique.</p>

        <p>7. Caring about others.</p>

        <p>8. Spiritual relationships.</p>

        <p>8. Living your bliss.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Star card stands for hope, a bright future, joy, optimism, guidance, finding satisfying answers and
          feeling connected to the divine. The Star can signify recovering from illness and/or trauma. Divine light
          shines through you always, and the Star is here to remind you of that.</p>

        <p>The Star guides you to be truly fulfilled in your life. It shines light on your blessings and joy. You
          might be experiencing quiet after the storm and forgiveness is called for. The Star tells you that you yourself are a
          star, created to shine and be magnificent, to love and to be loved, and to be your own unique self. </p>

        <p>In a love reading the Star denotes having to kiss a few frogs before meeting the right one. If in
          a relationship the Star describes rebuilding your future together after a tumultuous time.</p>

          <p> In a career reading the Star signifies careers in media and in public service.
        </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Star denotes someone who has gone through a difficult time and has come out the other end with
          great hope and determination. Star people believe in themselves and in their abilities, they also have plenty of
          friends, dreams and ideals.</p>

        <p>They are humanitarians and revolutionaries, inventors and philosophers. Intellectual, artistic and idealistic
          by nature, Star people are passionate about social welfare issues. They believe in working towards the greater
          good of humanity.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Negativity.</p>

        <p>2. Being led astray.</p>

        <p>3. A bleak future.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Star is reversed it forecasts that any hope or promise offered is going to be false. There is leading
          astray instead, of finding ones way. There is a feeling of being lost with no way out. Hope is blocked, and the
          querent is unable to see any new opportunities.</p>

        <p>The querent might be feeling hopeless, pessimistic and possibly even depressed. The Star reversed signifies a
          difficult phase where the querent might feel no one loves or cares for them. With no guiding light the Star
          reversed portends a bleak time both spiritually and emotionally. The querent might also be living a
          lie.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Star reversed character is someone stuck in negativity while they are longing for something better.
          They are lost in their aspirations and have become inflexible and possibly even bitter. This is someone who is
          experiencing the dark night of the soul and who doesn't believe they have any chance of a bright future.
        </p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Star is ruled by Aquarius. Aquarius is ruled by Uranus. Uranus rules sudden change, enlightenment and
          awakening, especially in the areas of public service, conventions and all that unifies humanity. It frees us
          from our bonds and restrictions. It rules revolutions, philosophies and democracies. If well aspected it
          denotes ideals, the intellectual world and the arts. On a negative note it brings inflexibility, lofty,
          peculiar and bitter aspects of a person.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>Like Temperance, the woman in the Star is standing with one foot on land and one foot in water,
          representing the connection between the inner and the outer world. She is washing away the remaining dark
          matter seen in the Tower card. The bird is a keeper and recorder of knowledge. The eight stars symbolize the chakras.</p>

        <p>The stars are eight pointed, inferring that the material manifests itself through the ether, and through
          intelligence the immaterial manifests. The pouring of water suggests the flow of abundance, healing and
          refreshment. The water that is poured on land creates 5 lanes, which equates to the 5 senses. </p>

        <p>The water poured in the water shows a ripple effect, reminding us of our actions also create ripple effects. The
          green, lush land evokes fertility and abundance. The woman is naked, which reflects her innocence. Her foot
          on the ground serves as her practical abilities. Her foot in the water signals her emotional depths.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The Star + <a ui-sref="app.theEmpress">The Empress</a>: Improved health. Improved quality of life.</p>

        <p>2. The Star + <a ui-sref="app.theHierophant">The Hierophant</a>: Renewed faith. New security.</p>

        <p>3. The Star + <a ui-sref="app.strength">Strength</a>: Inspiring others.</p>

        <p>4. The Star + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Unpredictable behavior.</p>

        <p>5. The Star + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: A new career path.</p>

        <p>6. The Star + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: The film industry. A performer.</p>

        <p>7. The Star + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Getting recognition for your physical appearance. A model.</p>

        <p>8. The Star + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Healing with food. Nurturing in the home.</p>

        <p>9. The Star + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: A visionary. Investing well.</p>

        <p>10. The Star + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Optimism.</p>

        <p>11. The Star + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A very intelligent person.</p>

        <p>12. The Star + <a ui-sref="app.kingOfSwords">King of Swords</a>: A public servant.</p>

        <p>13. The Star + <a ui-sref="app.sixOfWands">Six of Wands</a>: New-found popularity.</p>

        <p>14. The Star + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: A motivational teacher.</p>

        <p>15. The Star + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Inspirational writing. Technology.</p>

        <p>16. The Star + <a ui-sref="app.knightOfWands">Knight of Wands</a>: A revolutionary. A revolution.</p>

        <p>17. The Star + <a ui-sref="app.threeOfCups">Three of Cups</a>: An interest group.</p>

        <p>18. The Star + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: The internet. Multimedia.</p>

        <p>19. The Star + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Following a specific philosophy.</p>

        <p>20. The Star + <a ui-sref="app.knightOfCups">Knight of Cups</a>: A new love interest.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Star often shows up when the querent is recovering from a difficult situation. The Star conveys
          good health, and healing from the past. The Star is present to remind you that you can safely move forward, away
          from difficulties. Bad times never last. In the end the Light always wins.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
