<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE WORLD</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theWorld.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Structure and meaning.</p>

        <p>2. Accomplishments.</p>

        <p>3. The boundaries that direct us while we grow.</p>

        <p>4. Traveling to another part of the world.</p>

        <p>5. Teaching the world something you are an expert in.</p>

        <p>6. Rules and regulations that assist in making the world a safer place.</p>

        <p>7. Fulfillment.</p>

        <p>8. Completion.</p>

        <p>9. Doing what we desire most.</p>


        <h4 class="padding">Meanings</h4>

        <p>The World is the final Major Arcana card and it represents fulfillment and successful completion of a cycle.
          You know your place in the world, and your life lessons have made you smart and accomplished. The World shows
          up when the world is ready for you, and wants what you have to offer. You might have to broaden your horizon and
          move to where your dreams will come true. This card often shows up when there is travel involved to a far away
          place. Your sail just got some wind behind it, so make the most of it.</p>

        <p>The difference between the Fool's journey and journeying with the World is that where the Fool is
          inexperienced and relying on beginners luck, the World has experience, wisdom, knowledge and experience. The
          World shows up to remind you that you mean the world to someone, and because of this you are
          infinitely significant. </p>

        <p>In a love reading The World denotes a relationship that stays equally strong in both sickness and
          health. If the querent is single the World can mean finding love with someone from a different country.</p>

          <p> In a career reading The World signifies careers in government and politics. The World can also entail
          overseas jobs.</p>


        <h4 class="padding">Personality Types</h4>

        <p>Confident, wise, worldly and full of life experience, The World is someone with substance. They
          are not afraid to put in effort and get their hands dirty, and because of this they are often quickly promoted in their
          jobs. They excel in teaching/training positions. This character is someone who is confident in most
          situations. </p>

        <p>Their positive attitude and skills often take them to overseas locations where they share their knowledge. At
          the same time they love to learn - in fact they have to keep learning to feel alive. They are often very
          well-educated, as well as possessing plenty of practical knowledge. These people can be relied upon, and are often
          in trusted positions.</p>
      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Incomplete.</p>

        <p>2. Isolation.</p>

        <p>3. Undisciplined.</p>


        <h4 class="padding">Meanings</h4>

        <p>The World reversed indicates staying at home, secluded within comfort zones. Ventures are
          abandoned and projects remain incomplete. The querent is unable to finish what they started.</p>

        <p>There is a false view of the world that often stops the person from getting involved and enjoying what the
          world has to offer. There is a fear of the outside world. The World reversed denotes stillness rather than
          movement, or worse, going backwards rather than forward and being stuck in the past.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The World reversed purposes someone who is seeing the world through the eyes of fear. They are often
          isolating themselves, suffer social anxiety and have a general lack of confidence. They are inexperienced and
          immature, and they find it hard to finish what they've started. This is someone who shies away from challenges
          and responsibility, or who gets stuck in work roles with no future aspects of promotions.
        </p>

        <p>They like to study, but when it comes to implementing their knowledge in the workplace they fall short.
          Sometimes they stay in the student role so they can avoid responsibility all together. They are afraid of
          leaving their comfort zone. Around people they feel awkward, even scared. These sorts of people talk
          themselves out of trying new things and meeting new people. Abandonment issues and anxieties are often the
          underlying issue.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The World is ruled by Saturn. Saturn brings structure and meaning to the world, it knows the limits to time
          and matter. This way it brings definition to our lives. It rules our boundaries, responsibilities and
          commitments. Saturn helps us understand the world around us through governments and their resources,
          discipline, structure, rules and regulations. Saturn shows that it is our sense of responsibility and our limitations
          that define us and give us boundaries. The World card represents Saturn at its best: our duty, honor, work,
          discipline and traditions - the boundaries that direct us while we grow.
        </p>
      </div>


      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The human head represents Aquarius, the lion is Leo, the ox as Taurus and the eagle
          stands for Scorpio. These four signs are the fixed signs in the zodiac. They also represent the four corners
          of the earth, and the four elements.</p>

        <p>The World signals that we are viewing the cosmic throne. The dancing figure relates cosmic
          consciousness and the world force. The green wreath represents the sensual world. In each hand she
          holds a wand equal to each other. The two equal wands are the twin pillars of duality. They have become
          tools for the creative expression of the soul. </p>

        <p>The purple garment embodies the balance between the stability of blue and the passion of red. The red ribbon
          forms the infinity symbol, bespeaking endless opportunities, rewards and happiness. This card recalls the
          Anima Mundi (latin for World Soul) which is an intrinsic connection between all living things on the planet.
          In a reading the World represents what is truly desired. </p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. The World + <a ui-sref="app.theFool">The Fool</a>: Traveling overseas.</p>

        <p>2. The World + <a ui-sref="app.theLovers">The Lovers</a>: A worldwide romance.</p>

        <p>3. The World + <a ui-sref="app.theHermit">The Hermit</a>: A master teacher.</p>

        <p>4. The World + <a ui-sref="app.justice">Justice</a>: The legal world.</p>

        <p>5. The World + <a ui-sref="app.theSun">The Sun</a>: Self-realization.</p>

        <p>6. The World + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Language teacher. Learning and speaking a new language.</p>

        <p>7. The World + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: A dangerous place.</p>

        <p>8. The World + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Stepping up in your career.</p>

        <p>9. The World + <a ui-sref="app.twoOfWands">Two of Wands</a>: The world in your hands. Being offered something amazing.</p>

        <p>10. The World + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Gathering of different people and cultures.</p>

        <p>11. The World + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Moving overseas. Traveling.</p>

        <p>12. The World + <a ui-sref="app.queenOfWands">Queen of Wands</a>: International teacher.</p>

        <p>13. The World + <a ui-sref="app.threeOfCups">Three of Cups</a>: Army.</p>

        <p>14. The World + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Career counseling. Teaching computer skills.</p>

        <p>15. The World + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Blogging. Documentary making.</p>

        <p>16. The World + <a ui-sref="app.pageOfCups">Page of Cups</a>: The Hospitality industry.</p>

        <p>17. The World + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Earning money overseas. Accounting.</p>

        <p>18. The World + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: An international team.</p>

        <p>19. The World + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Accounting. International business.</p>

        <p>20. The World + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Overseas charity.</p>

        <p>21. The World + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Government work.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The World expresses accomplishments, structures and meaning. It speaks of what is truly
          important to the querent - what they are here to teach the World. In a reading the World can mean the querent is
          about to travel to a far away place. The querent travels to seek experience, knowledge and wisdom. When the
          World shows up reversed the querent is afraid to make their mark on the world.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
