<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font plum white">THE WHEEL OF FORTUNE</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-planet" ng-click="slideTo('astrology')">
        Astrology
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/theWheel.jpg">
      </div>


      <div class="item item-divider plum white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Being in touch with your Destiny.</p>

        <p>2. Freedom and adapting to change.</p>

        <p>3. Moving up in the world.</p>

        <p>4. Positive change.</p>

        <p>5. Getting what you want.</p>

        <p>6. Unexpected outcome and turns of events.</p>

        <p>7. Feeling a deep connection to people and places.</p>

        <p>8. Discovering your life purpose.</p>

        <p>9. A Promotion.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Wheel of Fortune is the big destiny card in the tarot deck. What is meant to be is meant to be. In the tarot,
          when the Wheel of Fortune turns up it means that the events and people in your life are in your life due to
          ordained prearrangement. Things work out the way it should due to cosmic timing and intervention. There
          is often a strong connection to those around you when the Wheel of Fortune shows up in your tarot
          readings. The Wheel of Fortune lets you know that you can allow letting go of some control. Your
          life will start flowing forward in amazing ways. The Wheel of Fortune reminds you that you belong to something
          bigger - a big wheel of cosmic consciousness. Even when you feel lost and alone, there is a grand plan for you.
          You are one with life, even when you feel out of sync and out of touch. You are being guided and protected, and
          you can never be disconnected. Trust life. The best is yet to come.</p>

        <p>In a love reading the Wheel of Fortune often means meeting your soul mate by chance. In
          relationships, it communicates a strong sense of destiny and bond between people.</p>

          <p>In a career question the Wheel of Fortune often means a promotion is on its way. It also suggests the querent is
          doing what they were born to do. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Wheel of Fortune persona is someone who has traveled, educated themselves and who has an expanded
          awareness. They adapt easily and are considered to be very lucky people, often receiving high regards from
          others. They have a strong sense of purpose and belonging, and they are not afraid to try something new. Proud
          and grandiose by nature, they often love to parties and are often the center of attention. These people
          carry themselves with style. They are always busy going somewhere and doing something exciting. They have
          little time for sleep and down time as they are busy achieving. This is someone who always land on their feet,
          and who bounces back stronger from every little setback.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Going backwards.</p>

        <p>2. Lack of progress.</p>

        <p>3. Misfortune.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Wheel of Fortune reversed forecasts bad luck and misfortune. Instead of hitting the top of the wheel and
          moving forward, you are hitting the bottom, often stagnating. The wheel might not be turning at all and
          much-needed change is eluding you. This card reversed can also mean that what should be good luck, turns
          into misfortune. You might get the promotion just to experience hell in the new job environment. Getting what
          you want will get you deeper into trouble. Luck cannot be trusted.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Wheel of Fortune tarot reversed relates someone who is tired of life's ups and downs. This is someone who is
          always in the wrong place with the wrong people, or at least this is how they feel. They are in desperate need
          of change, and are willing to do almost anything just to get as far away as possible. They even feel like they
          live in the wrong time, romanticizing the past. They also believe everything is better elsewhere. They long
          for prosperity, love and spiritual growth, yet get trapped in their own shortcomings. Stagnant and stuck, they
          look as miserable as they feel. Resentment and guilt are the tools they use to justify their situation.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-planet" id="astrology">
        Astrology
      </div>
      <div class="padding">
        <p>The Wheel of Fortune is ruled by Jupiter, the expander. Jupiter is known as the planet of good fortune. It
          expands opportunities in the houses it is visiting. It also rules wealth and material gain. Jupiter makes you
          want to aim high and think big, it brings vision and optimism to the querent. It encourages further education,
          reflection and long distance travel. Jupiter takes 12 years to circle the Zodiac.</p>
      </div>

      <div class="item item-divider large-icon plum white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The Wheel is the wheel of cosmos. The four winged creatures represent the four fixed signs
          in the Zodiac: Aquarius, Scorpio, Leo and Taurus.</p>

        <p>They in turn stand for the four elements: air, water, fire and earth. Their wings
          signify freedom to change, move forward and adapt. The book they are reading indicates ancient knowledge and wisdom. The god Anubis is seen rising to the top of the wheel. Anubis is the
          god for death therefore, bringing transformation and new beginnings. </p>

        <p>The snake descending on the left is Typhon, the most deadly creature in Greek mythology. The good is
          ascending and evil is descending, bespeaking that the best is yet to come. The sphinx on the top of the wheel
          marks strength and endurance.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Wheel of Fortune + <a ui-sref="app.theLovers">The Lovers</a>: Soul Mates. A chance meeting which leads to love.</p>

        <p>2. Wheel of Fortune + <a ui-sref="app.death">Death</a>: Inheritance. A lucky new beginning.</p>

        <p>3. Wheel of Fortune + <a ui-sref="app.temperance">Temperance</a>: Higher education.</p>

        <p>4. Wheel of Fortune + <a ui-sref="app.theStar">Star</a>: Fame and recognition. A talent.</p>

        <p>5. Wheel of Fortune + <a ui-sref="app.theMoon">The Moon</a>: Affiliated system. Passive income.</p>

        <p>6. Wheel of Fortune + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A fortunate opportunity.</p>

        <p>7. Wheel of Fortune + <a ui-sref="app.threeOfWands">Three of Wands</a>: Expanding a business. Publishing.</p>

        <p>8. Wheel of Fortune + <a ui-sref="app.sixOfWands">Six of Wands</a>: Popularity. Adoration.</p>

        <p>9. Wheel of Fortune + <a ui-sref="app.knightOfWands">Knight of Wands</a>: A thrill seeker. A successful athlete. A lucky move.</p>

        <p>10. Wheel of Fortune + <a ui-sref="app.twoOfCups">Two of Cups</a>: Friendship turning into romance. Falling in love with your best friend.</p>

        <p>11. Wheel of Fortune + <a ui-sref="app.sixOfCups">Six of Cups</a>: A childhood dream coming true.</p>

        <p>12. Wheel of Fortune + <a ui-sref="app.nineOfPentacles">Nine of Pentacles</a>: Overnight success.</p>

        <p>13. Wheel of Fortune + <a ui-sref="app.queenOfPentacles">Queen of Pentacles</a>: Your dream home. Winning a home.</p>

        <p>14. Wheel of Fortune + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: Wealth.</p>

        <p>15. Wheel of Fortune + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Settling down.</p>

        <p>16. Wheel of Fortune + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Retiring.</p>

        <p>17. Wheel of Fortune + <a ui-sref="app.pageOfSwords">Page of Swords</a>: Discovering your talents.</p>

      </div>


      <div class="item item-divider large-icon plum white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Wheel of Fortune announces that luck is on your side, and the wheel is turning in your favor. It often shows up when people and places have extra significance. The querent might receive a
          promotion, meet their soul mate or experience overnight success due to cosmic prearrangement. The querent is
          aligned with their highest and best intentions.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
