<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">THREE OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/threeOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Team work.</p>

        <p>2. Expertise and perfected work.</p>

        <p>3. Job satisfaction.</p>

        <p>4. Taking pride in your work.</p>

        <p>5. Being competent.</p>

        <p>6. Practical solutions.</p>

        <p>7. Great skill and talents.</p>

        <p>8. The ability to deliver.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Three of Pentacles expresses your work, especially where team work or listening to clients/customers
          is concerned. This is a positive card which messages job satisfaction and taking pride in your work. Look at
          the big picture, and how your work can benefit others. What is the purpose of your work? This card has the
          energy of being a specialist or expert at something of use for others.</p>

        <p>This card can also indicate creative work, especially if you are an artist with a special skill or if you are
          developing a skill in which you will become an expert. There might be hard work when this card is showing up,
          and you might feel the strain, but if you stay committed and focused, you will succeed. Don't give up on your
          ideas just because others don't agree with them. However you might have to make a compromise with your
          clients/customers/colleagues.</p>

        <p>In a love reading the Three of Pentacles speaks of love found at work. If the querent is already in a
          relationship it can mean work comes before the relationship. The Three of Pentacles can also mean
          the couple is working together. </p>

        <p>In a a career reading the Three of Pentacles signifies skilled work and enjoying teamwork. It can mean careers as architects, designers or construction managers. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Three of Pentacles persona is someone who loves their work. They exhibit skill and talent, and are
          team players. They have solid communication skills, and know how to deliver what people want.
          These people are often helping others to reach their potential. </p>

        <p>These types are prepared to fight for what they believe in, and are good problem solvers.
          Sometimes they are ahead of their time and must stick with their innovations, even if no one else
          understands.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Skill shortage.</p>

        <p>2. Poor performance.</p>

        <p>3. Mediocrity.</p>


        <h4 class="padding">Meanings</h4>

        <p>While the Three of Pentacles is reversed it indicates a lack of quality in work performance. There might be issues
          with losing track of tasks, or having little attention to detail. The querent might be unable to deliver what
          the clients/customers want.</p>

        <p>Instead of excelling there is mediocrity. There is also a lack of direction. The Three of Pentacles reversed
          often shows up when the querent feels they are unsupported in their work. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Three of Pentacles reversed is someone frustrated with their work conditions, and they are
          often insecure about their own abilities. This is someone who feels alone in work endeavors, and there is a
          lack of communication skills. There are often issues with anger as well.
        </p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The monk is wearing a gray robe conveys balance. His tonsure recalls the the crown of thorns. The monk personifies a higher purpose. The man holding the plans for the building is the master architect. He is wearing a Liripipe, which were worn by medieval academics and represents his knowledge.
          The man standing on the bench is the apprentice. He is learning from the architect. The bench connotes his
          practical foundation.</p>

        <p>His yellow apron signifies his knowledge. His tunic and boots are violet, standing for the wisdom of his
          craft. The three of them together marks team work.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Three of Pentacles + <a ui-sref="app.theMagician">The Magician</a>: A talented team. Sales team.</p>

        <p>2. Three of Pentacles + <a ui-sref="app.theEmperor">The Emperor</a>: A strong team. Stable job. Government
          jobs.</p>

        <p>3. Three of Pentacles + <a ui-sref="app.theLovers">The Lovers</a>: Finding love in the workplace. Loving your
          job.</p>

        <p>4. Three of Pentacles + <a ui-sref="app.temperance">Temperance</a>: A humanitarian team.</p>

        <p>5. Three of Pentacles + <a ui-sref="app.theStar">The Star</a>: Public service careers.</p>

        <p>6. Three of Pentacles + <a ui-sref="app.theMoon">The Moon</a>: Night work.</p>

        <p>7. Three of Pentacles + <a ui-sref="app.judgement">Judgement</a>: Hiring and recruiting. Human Resource
          careers.</p>

        <p>8. Three of Pentacles + <a ui-sref="app.theWorld">The World</a>: Overseas jobs.</p>

        <p>9. Three of Pentacles + <a ui-sref="app.aceOfWands">Ace of Wands</a>: A job offer.</p>

        <p>10. Three of Pentacles + <a ui-sref="app.threeOfWands">Three of Wands</a>: Writing jobs.</p>

        <p>11. Three of Pentacles + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Traveling with work. Tourism
          jobs.</p>

        <p>12. Three of Pentacles + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Fun jobs.</p>

        <p>13. Three of Pentacles + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Teaching jobs.</p>

        <p>14. Three of Pentacles + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Spiritual team.</p>

        <p>15. Three of Pentacles + <a ui-sref="app.fourOfCups">Four of Cups</a>: Complacency.</p>

        <p>16. Three of Pentacles + <a ui-sref="app.nineOfCups">Nine of Cups</a>: A successful team.</p>

        <p>17. Three of Pentacles + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Business travels.</p>

        <p>18. Three of Pentacles + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Nursing. Health care jobs.</p>

        <p>19. Three of Pentacles + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Competitive jobs. Mental jobs.</p>

        <p>20. Three of Pentacles + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Legal team.</p>

        <p>21. Three of Pentacles + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Administration jobs.</p>

        <p>22. Three of Pentacles + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Science jobs.</p>

        <p>23. Three of Pentacles + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Special needs therapist team.
        </p>

        <p>24. Three of Pentacles + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Mental health work. Stressful
          team.</p>

        <p>25. Three of Pentacles + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: Dangerous work.</p>

        <p>26. Three of Pentacles + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Organizational work.</p>

        <p>27. Three of Pentacles + <a ui-sref="app.kingOfSwords">King of Swords</a>: A professional team. The best in
          the business.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Three of Pentacles is a lucky omen when it comes to abundance, as it means you are on your way up
          the ladder in work. Promotions are likely. It also speaks to team work, and skills being put to good use.
        </p>

        <p>We spend so much time working so it is important that we enjoy ourselves. THe Three of Pentacles means
          competency and pride in the workplace. You feel like you are needed and that your skills are appreciated. </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
