<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">THREE OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/threeOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Celebration.</p>

        <p>2. Being with your friend.</p>

        <p>3. Having a good time. Appreciating life.</p>

        <p>4. Bursting with joy and energy.</p>

        <p>5. Dancing.</p>

        <p>6. Your friends. Being popular.</p>

        <p>7. Having an entourage.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Three of Cups is the card for celebration, going out with friends, having a good time and being part of
          a community. This card often shows up when someone is getting engaged or married. This card is also about
          happiness and abundance. There is enough for everyone. Sometimes this card shows up in a reading when you are
          starting to really love and appreciate the beauty of life, and the people in your life.</p>

        <p>In a love reading the Three of Cups speaks of happy times for the couple, where they have plenty to
          celebrate. If the querent is single this card can mean they will meet someone at social occasions. </p>

        <p>In a career reading the Three of Cups signifies work related events, and colleagues who are also your
          friends. It can also entail fun jobs in hospitality, tourism and event planning. Next to the Knight of
          Swords, Three of Cups can denote the army. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Three of Cups indicates someone affectionate and fun. They love to party, especially if they can
          be the host or center of attention. They have a huge group of friends and associates. You never see them on
          their own, as they always have their entourage with them. When they are not laughing, chatting or having a good
          time, they are probably sleeping.</p>

        <p>They are often known for their beauty and style, and they turn heads wherever they go. They are very
          charismatic and positive people and it is easy to fall in love with them. After spending time with a Three of
          Cups person you are bound to feel happy. They live in a stream of abundance and opportunity and they have so
          much going for them it can be hard to keep up with them. They always land on their feet and make new friends
          wherever they go.</p>
      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Adultery.</p>

        <p>2. Over-indulgence.</p>

        <p>3. Social angst.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Three of Cups is reversed it can indicate celebration gone wrong, bitching, jealousy and unhealthy
          competition. The querent might be avoiding social occasions due to these issues, and there is a possibility that
          there is some social angst at play. There might even be over-indulgence in food, liquor or drugs. Sometimes
          this card shows up reversed when there is infidelity, especially in combination with The High Priestess or two
          of Cups reversed.</p>


        <h4 class="padding">Personality Types</h4>

        <p>This character is someone who cannot be trusted. The Three of Cups reversed implicates
          someone who might be having an affair or who easily cheats others: friends, family and partners. They feel unloved and unattractive, and crave attention even if it is negative and unhealthy attention they get.
        </p>

        <p>This is someone who is unable to distinguish between thoughts and feelings. They often come from a
          troublesome past which clouds their perception about their present circumstances. They often feel depressed
          after being betrayed or by betraying others. They live in constant fear of rejection or abandonment.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The three maidens are holding their cups up in the air with in a joyful manner, signaling celebration and
          joy. The blue sky is free from clouds, portraying carefree times. The laurel wreaths on the women's heads
          purport victory, status, recognition and glory. The flowers, plants and fruits on the ground represent
          abundance and the beauty of life.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Three of Cups + <a ui-sref="app.theFool">The Fool</a>: Celebrating a new beginning. A University party.
        </p>

        <p>2. Three of Cups + <a ui-sref="app.theMagician">The Magician</a>: Meeting your soul mate at a party.</p>

        <p>3. Three of Cups + <a ui-sref="app.theEmpress">The Empress</a>: Celebrating abundance and fertility. Work in
          the beauty industry.</p>

        <p>4. Three of Cups + <a ui-sref="app.strength">Strength</a>: Being the heart of the group.</p>

        <p>5. Three of Cups + <a ui-sref="app.theStar">The Star</a>: A lucky occasion. Winning in competitions.</p>

        <p>6. Three of Cups + <a ui-sref="app.theMoon">The Moon</a>: Night life. A secret party.</p>

        <p>7. Three of Cups + <a ui-sref="app.theTower">The Tower</a>: The Military.</p>

        <p>8. Three of Cups + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Business partners.</p>

        <p>9. Three of Cups + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Bartering in hospitality.</p>

        <p>10. Three of Cups + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Work party.</p>

        <p>11. Three of Cups + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: A clouded vision for the future.
        </p>

        <p>12. Three of Cups + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Garden party. A market.</p>

        <p>13. Three of Cups + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: Celebrating a career
          milestone.</p>

        <p>14. Three of Cups + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Being the diplomat in the group.</p>

        <p>15. Three of Cups + <a ui-sref="app.nineOfSwords">Nine of Swords</a>: Social angst.</p>

        <p>16. Three of Cups + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: A military man.</p>

        <p>17. Three of Cups + <a ui-sref="app.kingOfSwords">King of Swords</a>: Restaurant owner. A chef.</p>

        <p>18. Three of Cups + <a ui-sref="app.fourOfWands">Four of Wands</a>: A joyful community group.</p>

        <p>19. Three of Cups + <a ui-sref="app.sixOfWands">Six of Wands</a>: Popularity.</p>

        <p>20. Three of Cups + <a ui-sref="app.tenOfWands">Ten of Wands</a>: Work hard/Play hard.</p>

        <p>21. Three of Cups + <a ui-sref="app.twoOfCups">Two of Cups</a>: A wedding or engagement party.</p>

        <p>22. Three of Cups + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Avoiding social occasions.</p>

        <p>23. Three of Cups + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Overindulgence.</p>

        <p>24. Three of Cups + <a ui-sref="app.knightOfCups">Knight of Cups</a>: A proposal. A romantic gesture.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Three of Cups is all about sharing happiness with the
          people you love the most. It is similar to the Four of Wands in a sense that something is being
          celebrated. In the Three of Cups the anticipation is high, while in the Four of Wands the climax has been
          reached and everyone is settling down into their roles. Friendships and love are in focus when the Three of
          Cups shows up.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
