<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">THREE OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/threeOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Preparing for what is to come.</p>

        <p>2. Planning ahead.</p>

        <p>3. An expanding enterprise.</p>

        <p>4. Freelancers.</p>

        <p>5. Creative writers.</p>

        <p>6. Expanding horizons.</p>

        <p>7. Seeing the big picture.</p>

        <p>8. Being a representative.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Three of Wands is the card for writers, writing jobs and freelancers. It is also the card that follows
          the manifesting the querent did in Two of Wands, and the querent is now living a new and exciting
          opportunity.</p>

        <p>Three of Wands signifies the querent is rewarded, promoted and/or has maximized their chances to
          succeed. The enterprise is expanding.</p>

        <p>In a love reading the Three of Wands speaks of the earlier stages of a relationship.</p>

        <p>In a career reading it suggests careers in writing, project management or
          freelancing. </p>


        <h4 class="padding">Personality Types</h4>

        <p>This is someone with great inner strength and power. They know they are in charge of their own destiny. They
          can be arrogant however, and may act entitled. They thrive on responsibility and take charge
          with a noble attitude.</p>

        <p>They love inserting new ideas into their routine, especially if it has a competitive touch. This is someone
          self-confident and optimistic. Their enthusiasm remains high as long as they can see the fruits of their
          labor.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Overwhelmed by demands.</p>

        <p>2. Unable to complete a project.</p>

        <p>3. A toxic environment.</p>

        <p>4. Disappointments.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Three of Wands reversed indicates that there are delays in rewards and achievements. The querent might be out
          of their league, or unable to cope with demands. The environment might be toxic, which makes it hard for
          growth. </p>

        <p>People might not like what you are doing. Disappointments are likely. Conceit is also a possibility.
          Psychologically this card reversed hints at arrogance and rudeness.</p>

        <h4 class="padding">Personality Types</h4>

        <p>The Three of Wands reversed reports someone with a hard time breaking free from their habits and
          routines. Their habits aren't healthy, and they need to break free from their toxic patterns. This
          is someone quite disagreeable, and they often find themselves in a defensive position.
        </p>

        <p>They need to learn about other cultures and ways of life, as their world is usually small and unappealing.
          They tend to exist within their own uncomfortable comfort zones.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The cliff edge signals being ready to leap. The wand in his left hand represents his planning ahead. The two
          wands behind him symbolize the work and research he has put into his vision.</p>

        <p>The yellow sky and sea suggests his intellect and knowledge, and facing the sun implies facing life.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Three of Wands + <a ui-sref="app.theFool">The Fool</a>: Communicating on social media.</p>

        <p>2. Three of Wands + <a ui-sref="app.theMagician">The Magician</a>: Online business. Talented writer. A
          copywriter.
        </p>

        <p>3. Three of Wands + <a ui-sref="app.theEmpress">The Empress</a>: An opportunity to work from home.</p>

        <p>4. Three of Wands + <a ui-sref="app.temperance">Temperance</a>: Journalism. Foreign correspondence. Overseas
          study.
        </p>

        <p>5. Three of Wands + <a ui-sref="app.theDevil">The Devil</a>: Self-employed business man/woman.
        </p>

        <p>6. Three of Wands + <a ui-sref="app.theTower">The Tower</a>: Unable to cope with demands.</p>

        <p>7. Three of Wands + <a ui-sref="app.theMoon">The Moon</a>: Bad habits.</p>

        <p>8. Three of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: A quick wit. Legal documents.</p>

        <p>9. Three of Wands + <a ui-sref="app.fourOfSwords">Four of Swords</a>: Tourism. Long distance relationships.
        </p>

        <p>10. Three of Wands + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Rudeness.</p>

        <p>11. Three of Wands + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Travel.</p>

        <p>12. Three of Wands + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Learning about a very different culture.</p>

        <p>13. Three of Wands + <a ui-sref="app.twoOfCups">Two of Cups</a>: Relationship therapist.
        </p>

        <p>14. Three of Wands + <a ui-sref="app.fourOfCups">Four of Cups</a>: Procrastination.</p>

        <p>15. Three of Wands + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Disappointments.</p>

        <p>16. Three of Wands + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Getting what you want in career and study.
          Doing well on exams and tests.</p>

        <p>17. Three of Wands + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Poet. Writer.</p>

        <p>18. Three of Wands + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: A manuscript.
        </p>

        <p>19. Three of Wands + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Doing what you love.</p>

        <p>20. Three of Wands + <a ui-sref="app.knightOfPentacles">Knight of Pentacles</a>: A creative job.</p>

        <p>21. Three of Wands + <a ui-sref="app.kingOfPentacles">King of Pentacles</a>: Expanding a business
          opportunity.</p>

        <p>22. Three of Wands + <a ui-sref="app.twoOfWands">Two of Wands</a>: Project management. Creative project.</p>

        <p>23. Three of Wands + <a ui-sref="app.sixOfWands">Six of Wands</a>: A successful decision. Being ahead of your
          time.</p>

        <p>24. Three of Wands + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Marketing. News reporter. Media.</p>

        <p>25. Three of Wands + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Intellectual property.</p>

        <p>26. Three of Wands + <a ui-sref="app.kingOfWands">King of Wands</a>: International business.</p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Three of Wands shows up when it is time to nurture what you've poured love and effort into. This is not a time to be complacent.
        </p>

        <p>Protect and expand on what you worked so hard to build, and the foundation will be the substance you need
          to assure future security and success.</p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
