<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">THREE OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/threeOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Cutting to the heart of a situation.</p>

        <p>2. Heart break.</p>

        <p>3. Sorrow.</p>

        <p>4. Separation.</p>

        <p>5. Emotional pain.</p>

        <p>6. Being let down or letting someone down (including yourself).</p>

        <p>7. Afraid of getting hurt.</p>

        <p>8. Finding it hard to trust.</p>

        <p>9. Being betrayed by someone in a trusted position.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Three of Swords infers heartbreak, sorrow, pain and separation. Sometimes the separation is only
          temporary, other times it is final. The other cards in the spread will tell you in what situation this pain is
          manifesting itself, and how strongly it is affecting you. This card will also show old pain
          that has been covered up, which needs help releasing. If surrounded by a lot of court cards your
          heart is hurting due to the people in your life.</p>

        <p>The Three of Swords combined with the Five of Swords can mean that someone is deliberately trying to hurt you. Don't
          let them. The Three of Swords often shows up to show you how to get to the heart of a situation. It also 
          sometimes shows up for people with a love of music, especially string music.</p>

        <p>Tips for when Three of Swords shows up in a reading: remind the querent of their passions and their dreams. Get
          them motivated about life again. Steer them away from wanting to escape their problems. They need to get
          themselves back on track first.</p>

        <p>In a love reading the Three of Swords denotes a painful time where the querent is dealing with
          rejection or separation. </p>

        <p>In a career reading it signifies work that puts the querent under stress. It can also
          refer to a cardiologist, surgeon or grief counselor. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Three of Swords characterizes someone who is easily offended and hurt due to past abandonment and
          loss. They are terrified of being rejected and are controlling or jealous people. These people
          don't know what it feels like to be secure, and often have twisted beliefs about love. As a result they never
          really give their heart to anyone, and can be very difficult people to love.</p>

        <p>Their partners try to fix them and counsel them, but it usually ends with more heartache. They are often stuck
          in the past and are reliving old trauma. They seek relationships to feel whole, but as their relationship
          develops they suffer anxiety and a fear of loss. As a consequence they are often in and out of relationships,
          and they never seem to settle down.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Deep emotional pain.</p>

        <p>2. Abuse.</p>

        <p>3. Neglect.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Three of Swords reversed marks that there is blocked grief stored in the person's heart.
          The querent might be afraid of grieving, and is internalizing their pain. This card often shows up when people don't tell others how they are really feeling.</p>

        <p>They have problems putting up the correct boundaries, and become punching bags for other peoples aggression
          and frustrations. They keep taking the abuse, believing they have no other choice. They don't honor their own
          feelings. This card also shows up when people reject others in fear of being rejected themselves. </p>


        <h4 class="padding">Personality Types</h4>

        <p>If the Three of Swords is reversed bespeaks someone who is calm on the surface, but is hiding something disturbing
          underneath. They often seem confident, and hide behind a fake smile. There is frequently deep-seated
          issues with abuse, neglect and loss that have never been processed. The person has never given themselves an
          opportunity to heal.
        </p>

        <p>They know how to act as if nothing is wrong. It seems like nothing upsets or worries them, but only because
          they have learned to hide their feelings. Somewhere along the way these people suffered greatly, and they
          have learned to control their outwardly responses. What you see is not what you get.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The three swords pointing downwards symbolize endings. The swords cross each other as they pierce a heart,
          expressing emotional pain. The sky is filled with rainy clouds, illustrating grief.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Three of Swords + <a ui-sref="app.theFool">The Fool</a>: Unable to commit.</p>

        <p>2. Three of Swords + <a ui-sref="app.theMagician">The Magician</a>: Breakdown in communication.</p>

        <p>3. Three of Swords + <a ui-sref="app.theLovers">The Lovers</a>: Making a bad decision.</p>

        <p>4. Three of Swords + <a ui-sref="app.theChariot">The Chariot</a>: Giving up before you give it a go.</p>

        <p>5. Three of Swords + <a ui-sref="app.strength">Strength</a>: Impatience. Fear of standing out due to peer
          pressure.</p>

        <p>6. Three of Swords + <a ui-sref="app.theHermit">The Hermit</a>: Loneliness.</p>

        <p>7. Three of Swords + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Unable to communicate your point of
          view.</p>

        <p>8. Three of Swords + <a ui-sref="app.theStar">The Star</a>: Being led astray.</p>

        <p>9. Three of Swords + <a ui-sref="app.theSun">The Sun</a>: Problems communicating with children.</p>

        <p>10. Three of Swords + <a ui-sref="app.theWorld">The World</a>: Difficulty completing what you started.</p>

        <p>11. Three of Swords + <a ui-sref="app.fourOfWands">Four of Wands</a>: Gossip. Toxic community.</p>

        <p>12. Three of Swords + <a ui-sref="app.sevenOfWands">Seven of Wands</a>: Unable to protect your boundaries
          properly.</p>

        <p>13. Three of Swords + <a ui-sref="app.eightOfWands">Eight of Wands</a>: Delays.</p>

        <p>14. Three of Swords + <a ui-sref="app.sixOfCups">Six of Cups</a>: A difficult childhood.
        </p>

        <p>15. Three of Swords + <a ui-sref="app.eightOfCups">Eight of Cups</a>: Surrendering to please others.</p>

        <p>16. Three of Swords + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Disintegration due to lifestyle choices.
        </p>

        <p>17. Three of Swords + <a ui-sref="app.queenOfCups">Queen of Cups</a>: Dark feelings blocking abundance.</p>

        <p>18. Three of Swords + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Separation.</p>

        <p>19. Three of Swords + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Lack in work performance.</p>

        <p>20. Three of Swords + <a ui-sref="app.fiveOfPentacles">Five of Pentacles</a>: Lack of spirituality and
          friendship. Health problems.</p>

        <p>21. Three of Swords + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Moving ahead before the time is
          ripe.</p>

        <p>22. Three of Swords + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Tedious work.</p>

        <p>23. Three of Swords + <a ui-sref="app.tenOfPentacles">Ten of Pentacles</a>: Pain with original family.</p>

        <p>24. Three of Swords + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Wasted talents.</p>

        <p>25. Three of Swords + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Unable to think clearly. Wanting
          revenge.</p>

        <p>26. Three of Swords + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: Someone is hurting you on purpose.
        </p>

        <p>27. Three of Swords + <a ui-sref="app.sevenOfSwords">Seven of Swords</a>: Lying.</p>

        <p>28. Three of Swords + <a ui-sref="app.pageOfSwords">Page of Swords</a>: A talented person in the wrong field.
        </p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Three of Swords is the start of the more negative influences of the Swords. The Swords in
          tarot are about conflict. Sometimes conflict is necessary. When combined with Three, which is about
          communication, it can denote breakdown in communication. The Three of Swords, on a more positive note, is about
          cutting to the heart of an issue to resolve it. On a more negative side, it is about hurt feelings and
          criticism.
        </p>

        <p>
          Most people would rather be ruined by flattery than saved by criticism. We all have to face criticism from
          time to time. It is how we handle it, and learn or grow from it that matters. The Three of Swords meaning
          can mean that the querent is learning not to take everything so personally.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
