<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font red white">TWO OF SWORDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/twoOfSwords.jpg">
      </div>


      <div class="item item-divider red white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Compromises.</p>

        <p>2. Staying calm.</p>

        <p>3. Avoiding to rock the boat.</p>

        <p>4. Staying out of trouble.</p>

        <p>5. Avoiding getting emotionally involved.</p>

        <p>6. Being objective and impartial.</p>

        <p>7. Being passive in an attempt to keep peace.</p>

        <p>8. Avoiding conflicts.</p>

        <p>9. Acting uninterested.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Two of Swords is the card for compromise, passiveness, keeping peace,
          being in a stalemate, indecision or avoiding conflict. The passiveness of this card is temporary, as you will not be in
          this state forever. You are waiting to see what your options are, bidding your time and waiting for a better result
          before taking appropriate action. The Two of Swords often shows up when the querent is afraid of showing
          people what they really stand for, in fear of upsetting others.</p>

        <p>The Two of Swords speaks to facts, laws and regulations. It speaks of those things that can be
          proven and measured, things that can be used as evidence.</p>

        <p>In a love reading it suggests the querent wants to be an equal in relationship, and they
          avoid conflicts to the best of their ability. Sometimes this card hints that the querent is unable to see a
          suitable partner right in front of them.</p>

        <p>In a career reading the Two of Swords indicates legal, peace-keeping or diplomatic work. Two
          This card intimates cooperation.</p>


        <h4 class="padding">Personality Types</h4>

        <p>This is someone who seeks harmony in relationships and situations. They find it hard to function if there are
          confrontations and/or unresolved issues causing toxic undercurrents in their environment. They need things to
          be balanced, and work hard towards keeping and/or restoring peace around them. They do not like conflict,
          and will compromise a great deal to avoid arguments.</p>

        <p>They find it hard to make decisions and try their best not to rock the boat. When faced with changes they
          think of how it will affect other people more than how it will affect them. It is hard for them to tell others
          how they feel, they like to keep it to themselves. They are private people.</p>
      </div>


      <div class="item item-divider large-icon red white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Conflicts.</p>

        <p>2. Insults.</p>

        <p>3. Unnecessary drama.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Two of Swords reversed says conflicts are unavoidable, and compromises will not be reached. The
          querent might be exhibiting too much personality, or creates drama just to have something to do. This card
          often shows up reversed when there is a lot of talk and little action. The person might pretend to know what
          they are doing, and are faking it until they make it. There is an information overload and confusion.</p>

        <p>Tips for when the Two of Swords shows up reversed in a reading: be aware of toxic tongue syndrome. The querent
          might be on the receiving end, or is the one doing it. Help the querent find ways of engaging in a healthy
          way with others. Being a team player will get them further than acting uninterested. </p>


        <h4 class="padding">Personality Types</h4>

        <p>This is someone who is unable to separate facts from fiction. They are imbalanced and confused, and they
          don't know what is going on around them. This person is unable to keep relationships harmonious, and
          there is always unnecessary drama going on. They don't know who to trust and often end up putting their trust
          in the wrong people.
        </p>

        <p>The Two of Swords reversed reflects someone who is chaotic and at times confrontational. They
          lack tact, and are always saying the wrong thing at the wrong time to the wrong people. Sometimes they keep
          secrets of abuse from those who can help them.</p>

      </div>


      <div class="item item-divider large-icon red white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">

        <p>The blindfolded woman represents an inability to see clearly what is going on. The two Swords act as
          objectivity and impartiality. The two Swords form a cross, referring to strategic thinking. The sea filled with
          rocks and crags are obstacles to ships, marking difficulties in communicating on an emotional
          level. The waxing moon equates to a time for conceptualized ideas.</p>

      </div>


      <div class="item item-divider large-icon red white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Two of Swords + <a ui-sref="app.theFool">The Fool</a>: Clarity. Following a set of rules.</p>

        <p>2. Two of Swords + <a ui-sref="app.theHighPriestess">The High Priestess</a>: Clairaudience. Hearing Spirit.
          Trusting intuition.</p>

        <p>3. Two of Swords + <a ui-sref="app.theEmpress">The Empress</a>: Hairdresser. Beauty.</p>

        <p>4. Two of Swords + <a ui-sref="app.theLovers">The Lovers</a>: Blind love.</p>

        <p>5. Two of Swords + <a ui-sref="app.temperance">Temperance</a>: Cosmic intuitive.</p>

        <p>6. Two of Swords + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Researching.</p>

        <p>7. Two of Swords + <a ui-sref="app.threeOfWands">Three of Wands</a>: The legal side of an enterprise. Facts
          and numbers.</p>

        <p>8. Two of Swords + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Talent scout. Red tape.</p>

        <p>9. Two of Swords + <a ui-sref="app.twoOfCups">Two of Cups</a>: Acting uninterested.</p>

        <p>10. Two of Swords + <a ui-sref="app.aceOfCups">Ace of Cups</a>: Not noticing love.</p>

        <p>11. Two of Swords + <a ui-sref="app.fourOfCups">Four of Cups</a>: Administration. Writing.</p>

        <p>12. Two of Swords + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Unnecessary drama.</p>

        <p>13. Two of Swords + <a ui-sref="app.sevenOfCups">Seven of Cups</a>: Living in your head. Creating an
          imaginary world.</p>

        <p>14. Two of Swords + <a ui-sref="app.knightOfCups">Knight of Cups</a>: Avoiding getting emotionally attached.
        </p>

        <p>15. Two of Swords + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: A logical business decision.</p>

        <p>16. Two of Swords + <a ui-sref="app.twoOfPentacles">Two of Pentacles</a>: Restructuring a business.
          Reconstructing your life.</p>

        <p>17. Two of Swords + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Peace keeper. Helping those who
          need it the most.</p>

        <p>18. Two of Swords + <a ui-sref="app.eightOfPentacles">Eight of Pentacles</a>: Designing.</p>

        <p>19. Two of Swords + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Withholding love.</p>

        <p>20. Two of Swords + <a ui-sref="app.eightOfSwords">Eight of Swords</a>: Learning disability.</p>

        <p>21. Two of Swords + <a ui-sref="app.knightOfSwords">Knight of Swords</a>: A sophisticated activist. Legal
          channels.</p>

      </div>


      <div class="item item-divider large-icon red white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Two of Swords encourages staying as objective and detached as possible. In a career question
          it is a good card to get, as it implies you have the skills to get the job done, and that you will be learning new
          skills with ease.
        </p>

        <p>
          This card signifies staying open to new ideas. On a more negative note, the querent will have problems holding
          on to a belief system even if it will be beneficial for them. They are slow to believe and quick to doubt.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
