<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font teal white">TWO OF CUPS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/twoOfCups.jpg">
      </div>


      <div class="item item-divider teal white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Your other half. Deep love between two people.</p>

        <p>2. Making a connection with someone. Intimacy.</p>

        <p>3. Spiritual love.</p>

        <p>4. A unique and special friendship.</p>

        <p>5. Giving and receiving love and support.</p>

        <p>6. Healing.</p>

        <p>7. Spending quality time with your partner.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Two of Cups is the card for being in love and being in a close relationship. There is real intimacy in
          the relationship, and you know and understand each other. There is healing taking place in
          this relationship. If the question is about work,
          then you will find friendships and possibly even love in the workplace. You might find that you love
          going to work because of the people you are working with, and not just because of work itself.</p>

        <p>Tips for when the Two of Cups shows up in a reading: this card often speaks of the querent’s second half. The querent
          is often working behind the scenes to make room for their partner. Help them find ways to enjoy their
          relationship in a healthy way.</p>

        <p>In a love reading the Two of Cups denotes a deep friendship within the relationship, and that the
          relationship has center stage in the querent’s life. The relationship is their number 1 priority.</p>

          <p>In a career
          reading this card signifies work in hospitality, wine tasting, therapy  healing. The Two of Cups
          can also mean you will find love at work. </p>

        <h4 class="padding">Personality Types</h4>

        <p>The Two of Cups persona is someone who has a friendly personality. They often only feel happy once
          they are in a deep and meaningful relationship. They are always looking for true love and once they have it
          they feel at peace with themselves and the world. </p>

        <p>These sorts of people will do almost anything for love. They make sure they look beautiful and have a great
          career so that they will be attractive to their partners. The motivation behind why they put in all the effort
          is so that they will feel worthy of finding and keeping love.</p>
      </div>


      <div class="item item-divider large-icon teal white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Abandonment.</p>

        <p>2. Separation.</p>

        <p>3. Communication hiccup.</p>


        <h4 class="padding">Meanings</h4>

        <p>When the Two of Cups is reversed it reflects being afraid of love and relationships. The querent might be
          dreaming of love, but when it comes down to actually having it, fear of rejection and abandonment gets in
          the way. This card sometimes shows up reversed when there is a separation or break in a relationship, or a
          communication hiccup has caused conflict or distance between couples. Look for surrounding cards to find the
          clue for why this is occurring. Next to the Three of Swords it can indicate a complete breakdown in communication.
          Adjacent to the Three of Cups reversed it can indicate adultery. Aside the Three of Wands it can indicate the couple has grown apart.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Two of Cups reversed is someone who feels it is safer to dream about love than actually have it.
          They dream about the perfect partner, but feel deep down that this is unachievable to attain. They don't think
          themselves worthy of love. They believe no one wants them. These people are afraid of losing
          themselves in relationships. They can only commit half way before they get scared and run. When they do enter
          into a relationship they need a lot of reassuring from their partner that everything is good.
        </p>

        <p>They also need plenty of time on their own as being together is draining and exhausting for a them. They need
          to take a step back and enter into the energy of the Ace of Cups until they are connected to themselves. They need
          to love themselves more. The Two of Cups often shows up reversed when the querent is in a
          relationship without loving themselves first. They are scared of abandonment.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The five streams pouring out of the cup represent the five senses: sight, smell, hearing, taste and touch.
         The cloud stands for movement and the changeable.</p>

        <p>The sky symbolizes the unchangeable, eternity and the Infinite. The dove represents the
          cosmic nature within us all. The water represents our spirit in our human temporary form. The sea
          alludes to our group consciousness. The lotus flower signals good fortune and pure spirit.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Two of Cups + <a ui-sref="app.theFool">The Fool</a>: Love at first sight. Unexpected love.</p>

        <p>2. Two of Cups + <a ui-sref="app.theMagician">The Magician</a>: Being swept off your feet.</p>

        <p>3. Two of Cups + <a ui-sref="app.strength">Strength</a>: Gaining confidence in a relationship.</p>

        <p>4. Two of Cups + <a ui-sref="app.theSun">The Sun</a>: A new relationship.</p>

        <p>5. Two of Cups + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Fertile relationship. Pregnancy.</p>

        <p>6. Two of Cups + <a ui-sref="app.fourOfWands">Four of Wands</a>: Celebrating your relationship.</p>

        <p>7. Two of Cups + <a ui-sref="app.fiveOfWands">Five of Wands</a>: Friends fighting. Falling out.</p>

        <p>8. Two of Cups + <a ui-sref="app.nineOfWands">Nine of Wands</a>: Defending your relationship.</p>

        <p>9. Two of Cups + <a ui-sref="app.knightOfWands">Knight of Wands</a>: Adventurous love.</p>

        <p>10. Two of Cups + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Strong communication in relationship. A
          mental connection.</p>

        <p>11. Two of Cups + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Afraid to fall in love. Holding back.</p>

        <p>12. Two of Cups + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Long distance relationship.</p>

        <p>13. Two of Cups + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Turning your back at someone.</p>

        <p>14. Two of Cups + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Joint bank account. Investing with
          significant other.</p>

        <p>15. Two of Cups + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Stable love. Relationship brings
          financial abundance.</p>

        <p>16. Two of Cups + <a ui-sref="app.pageOfPentacles">Page of Pentacles</a>: Physical attraction.</p>

        <p>17. Two of Cups + <a ui-sref="app.threeOfCups">Three of Cups</a>: Engagement. Wedding.</p>

        <p>18. Two of Cups + <a ui-sref="app.sixOfCups">Six of Cups</a>: Past love returning. Creating memories.</p>

        <p>19. Two of Cups + <a ui-sref="app.tenOfCups">Ten of Cups</a>: Perfect love. Spiritual love.</p>

      </div>


      <div class="item item-divider large-icon teal white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>While the Ace of Cups spoke about the potential for love to enter your life if you are open to
          receive, the two of Cups speaks of that love blossoming. It is true love, and a real connection.
          It is wonderful and scary, and most definitely worth it. Life without love can be harsh. We all have so much
          potential in us, and it is often hidden until someone special sheds their loving light on us. Love makes us
          better people. Love makes us ask the big questions. Love makes everything worth while.
        </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
