<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font green white">TWO OF WANDS</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/twoOfWands.jpg">
      </div>


      <div class="item item-divider green white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Making an intuitive decision.</p>

        <p>2. Being original.</p>

        <p>3. Creating something new and exciting.</p>

        <p>4. Being strong minded and confident about your abilities.</p>

        <p>5. Finding your place in the world.</p>

        <p>6. Knowing what you want.</p>

        <p>7. Getting ahead.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Two of Wands is about manifesting your goals using the will and strength of your mind. It asks you
          to go on a journey to find your place in the world. It is a card that speaks to what you truly desire. The
          other cards in the spread will tell you how you can go about acquiring this.</p>

        <p>You might have to weigh your options and choose the one that is best for you. This card often shows up
          when the querent knows exactly what they want, and they feel strongly about making it happen.</p>

        <p>In a love reading the Two of Wands suggests dating and searching for love, often online.</p>

        <p>In a career question it relates to leadership, legal or intellectual work.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Two of Wands persona is a leader with a vision for the future. This is someone who will conquer their
          dreams. They make things happen, and are not afraid to take charge of a situation. Other people follow them
          gladly, as they appear confident. They are courageous and don't shy away from conflict if anyone
          stands in their way. </p>

        <p>They are competitive and want to be better, richer, or stronger than others. They almost always get their
          way. This is someone charming and convincing, and people usually take to them instantly.</p>
      </div>


      <div class="item item-divider large-icon green white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Indecisive.</p>

        <p>2. On hold.</p>

        <p>3. Copying others.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Two of Wands reversed reports difficulties in making decisions, possibly due to the fear of
          making the wrong choice. Upright, this card shows someone with strong willpower, reversed a weak will is
          suggested. The querent is easily led, rather than being a leader.</p>


        <h4 class="padding">Personality Types</h4>

        <p>The Two of Wands reversed flags someone with a tendency to either rush ahead before they have
          thought it through properly, or who second guesses themselves so nothing gets done. They tend to be grumpy and moody. They have a hard time controlling their temper and have many outbursts during the day.
        </p>

        <p>When it's time to go to bed they are totally exhausted from the emotional roller-coaster they take
          themselves on. They have a hard time trusting their own decisions and if you ask them what they want, they
          have little clue. If they do know what they want, they lack the insight into how to make it a reality. Ideas
          often live and die in their heads.</p>

      </div>


      <div class="item item-divider large-icon green white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The globe in the man's right hand stands for having the world in your hand. The wand on his right represents
          what he has put on hold to achieve his dream. The new plan is symbolized by the wand he is holding in his left
          hand. The man's red hat and cape infer his passion. His orange tunic reflects his enthusiasm.</p>

        <p>On his left side is an image of a rose, a lily and a cross. The rose embodies beauty. The lily means
          hope. The cross symbolizes faith. The man stands on top of a castle overlooking the terrain and the ocean,
           illustrating a great vision.</p>

      </div>


      <div class="item item-divider large-icon green white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Two of Wands + <a ui-sref="app.theFool">The Fool</a>: Taking a chance in a new place.</p>

        <p>2. Two of Wands + <a ui-sref="app.theLovers">The Lovers</a>: Seeking love. Manifesting love. Personal ads.
        </p>

        <p>3. Two of Wands + <a ui-sref="app.theHermit">The Hermit</a>: Seeking a teacher.</p>

        <p>4. Two of Wands + <a ui-sref="app.theTower">The Tower</a>: Asking for trouble. Wanting something that is bad
          for you.
        </p>

        <p>5. Two of Wands + <a ui-sref="app.judgement">Judgement</a>: Moving forward to live your true calling in life.
        </p>

        <p>6. Two of Wands + <a ui-sref="app.theWorld">The World</a>: The World is at your feet and in your hand. Pick
          and choose from offers.</p>

        <p>7. Two of Wands + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Talking your way to a better future.
          Convincing others.</p>

        <p>8. Two of Wands + <a ui-sref="app.threeOfSwords">Three of Swords</a>: Making a difficult decision.</p>

        <p>9. Two of Wands + <a ui-sref="app.sixOfSwords">Six of Swords</a>: Making the decision to move. The right
          move.
        </p>

        <p>10. Two of Wands + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: Making a bad decision.</p>

        <p>11. Two of Wands + <a ui-sref="app.aceOfCups">Ace of Cups</a>: A creative decision. Choosing love. Following
          your heart.</p>

        <p>12. Two of Wands + <a ui-sref="app.threeOfCups">Three of Cups</a>: Manifesting friends. Taking time for good
          friends. Being a friend.</p>

        <p>13. Two of Wands + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Getting what you want by being persistent.
        </p>

        <p>14. Two of Wands + <a ui-sref="app.aceOfPentacles">Ace of Pentacles</a>: Choosing between job offers.</p>

        <p>15. Two of Wands + <a ui-sref="app.threeOfPentacles">Three of Pentacles</a>: Team leader. The authority
          within the group.</p>

        <p>16. Two of Wands + <a ui-sref="app.fourOfPentacles">Four of Pentacles</a>: Big business.</p>

        <p>17. Two of Wands + <a ui-sref="app.threeOfWands">Three of Wands</a>: Signing a contract.</p>

        <p>18. Two of Wands + <a ui-sref="app.fourOfWands">Four of Wands</a>: Networking. Event planning. Coordinating.
        </p>

        <p>19. Two of Wands + <a ui-sref="app.knightOfWands">Knight of Wands</a>: A career move.</p>

      </div>


      <div class="item item-divider large-icon green white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
         <p>When the Two of Wands shows up in a reading you must make your mind up and trust in your
          intuition. Be strong minded about something and push forward. Be a leader. Someone has to do it, and it should be you.</p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
