<ion-view>
  <div ng-controller="StorageCtrl">
    <ion-content delegate-handle="mainScroll">
      <h3 class="handwritten center padding-top large-font orange white">TWO OF PENTACLES</h3>
      <a class="button button-block large-icon ion-arrow-up-c" ng-click="slideTo('upright')">
        Upright
      </a>
      <a class="button button-block large-icon ion-arrow-down-c" ng-click="slideTo('reversed')">
        Reversed
      </a>
      <a class="button button-block large-icon ion-image" ng-click="slideTo('symbolism')">
        Symbolism
      </a>
      <a class="button button-block large-icon ion-plus-round" ng-click="slideTo('combinations')">
        Combinations
      </a>
      <a class="button button-block large-icon ion-ios-paper-outline" ng-click="slideTo('summary')">
        Summary
      </a>

      <div class="center padding">
        <img src="img/twoOfPentacles.jpg">
      </div>


      <div class="item item-divider orange white large-icon ion-arrow-up-c" id="upright">
        Upright
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Juggling finances and demands.</p>

        <p>2. Working two jobs. The ups and downs of life.</p>

        <p>3. Playing with money.</p>

        <p>4. Doing something you enjoy. Turning a hobby into a career.</p>

        <p>5. Having fun at work.</p>

        <p>6. Winning even if you haven't put much effort in.</p>

        <p>7. Working on many projects to avoid boredom.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Two of Pentacles insinuates juggling with finances. You might have income from more than one
          source. It also forecasts investing money into different projects, or bartering. Sometimes this
          card means you are stretching your money to reach as far as possible, or that you are playing with money. The Two
          of Pentacles also means balancing your finances, and make financial priorities/choices.</p>

        <p>The Two of Pentacles has a non-resistant energy, and suggests a successful move or change in the realm of money.
          You might find yourself winning even if you haven't put the effort in. It often shows
          up when the querent is having fun at work, or is in the process of turning a hobby into a career.</p>

        <p>In a love reading the Two of Pentacles represents the ups and downs of a relationship. This
          relationship might go in circles rather than moving forward. If the querent is single it can
          flag that the querent is too stuck in their way to adapt to a relationship. The Two of Pentacles can mean the
          querent has been single for a while, and might remain single unless they change their habits. </p>

        <p>In a career reading this card speaks of turning a hobby into a career. The querent might be
          partly self-employed. The Two of Pentacles also speaks to careers in linguistics or literacy. </p>


        <h4 class="padding">Personality Types</h4>

        <p>The Two of Pentacles expresses someone who seems to always be playing rather than working. They make
          everything look so easy and effortless, and they succeed even when they don't put much effort in. These types are always busy doing something, and they are masters at making work a fun experience. </p>

        <p>They are always going with the flow in life and can do well with very little money, as well as managing great
          wealth. These people often have several sources of income, and work towards turning a
          hobby into a career.</p>
      </div>


      <div class="item item-divider large-icon orange white ion-arrow-down-c" id="reversed">
        Reversed
      </div>
      <div class="padding">
        <h4 class="padding">Key Phrases</h4>

        <p>1. Disorganized.</p>

        <p>2. Losing important documents.</p>

        <p>3. Outgrowing your job.</p>


        <h4 class="padding">Meanings</h4>

        <p>The Two of Pentacles reversed suggests that the querent is unable to juggle the demands of life. They lose
          sight of finances and the practical aspects of life. There might be chaos rather than
          security. The querent’s carefree nature might be more forced than natural when this card shows up
          reversed. </p>

        <p>This card often shows up reversed when the querent has out-grown a career or work path and
          must look at something new. There might also be emotional instability causing problems.</p>

        <h4 class="padding">Personality Types</h4>

        <p>When the Two of Pentacles is reversed it points to someone who has problems taking responsibility for their life,
          and wants others to make decisions for them. They can be selfish and play games to further their own interests.
        </p>

        <p>Under the surface they are dealing with deep-seated worthiness issues, and are craving attention and validation from
          others to feel good about themselves.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-image" id="symbolism">
        Symbolism
      </div>
      <div class="padding">
        <p>The two pentacles are money and security coming in from several sources. They form an infinity symbol
          which refers to infinite possibilities. The man is juggling, exhibiting that he is playing with money. </p>

        <p>The two ships are riding the waves, which represents financial ups and downs being easily managed. His high hat
          symbolizes capitalism and also his ability to dig deep to find solutions. His orange clothes stand for
          passion, skill and energy.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-plus-round" id="combinations">
        Combinations
      </div>
      <div class="padding">

        <p>1. Two of Pentacles + <a ui-sref="app.theHierophant">The Hierophant</a>: Budgeting. Part time study.</p>

        <p>2. Two of Pentacles + <a ui-sref="app.theHangedMan">The Hanged Man</a>: Financial setbacks.</p>

        <p>3. Two of Pentacles + <a ui-sref="app.death">Death</a>: Outgrown your career.</p>

        <p>4. Two of Pentacles + <a ui-sref="app.theTower">The Tower</a>: Emotional outbursts.</p>

        <p>5. Two of Pentacles + <a ui-sref="app.judgement">Judgement</a>: Creative work.</p>

        <p>6. Two of Pentacles + <a ui-sref="app.aceOfWands">Ace of Wands</a>: Working with tools.</p>

        <p>7. Two of Pentacles + <a ui-sref="app.fourOfWands">Four of Wands</a>: Community work.</p>

        <p>8. Two of Pentacles + <a ui-sref="app.pageOfWands">Page of Wands</a>: Youth work.</p>

        <p>9. Two of Pentacles + <a ui-sref="app.queenOfWands">Queen of Wands</a>: Wanting more financial freedom.</p>

        <p>10. Two of Pentacles + <a ui-sref="app.threeOfCups">Three of Cups</a>: Entertainer. Hospitality work.</p>

        <p>11. Two of Pentacles + <a ui-sref="app.fiveOfCups">Five of Cups</a>: Emotionally empty. Bored at work.</p>

        <p>12. Two of Pentacles + <a ui-sref="app.sixOfCups">Six of Cups</a>: Feeling at home at work.</p>

        <p>13. Two of Pentacles + <a ui-sref="app.nineOfCups">Nine of Cups</a>: Self-management.</p>

        <p>14. Two of Pentacles + <a ui-sref="app.kingOfCups">King of Cups</a>: Advisory.</p>

        <p>15. Two of Pentacles + <a ui-sref="app.aceOfSwords">Ace of Swords</a>: Seeking new challenges.</p>

        <p>16. Two of Pentacles + <a ui-sref="app.twoOfSwords">Two of Swords</a>: Separation. End of habits.</p>

        <p>17. Two of Pentacles + <a ui-sref="app.fiveOfSwords">Five of Swords</a>: A good situation turning sour.</p>

        <p>18. Two of Pentacles + <a ui-sref="app.tenOfSwords">Ten of Swords</a>: End of a career path.</p>

        <p>19. Two of Pentacles + <a ui-sref="app.queenOfSwords">Queen of Swords</a>: Multilingual.</p>

        <p>20. Two of Pentacles + <a ui-sref="app.sixOfPentacles">Six of Pentacles</a>: Talent as an entertainer. A fun
          job.</p>

        <p>21. Two of Pentacles + <a ui-sref="app.sevenOfPentacles">Seven of Pentacles</a>: Outside work. Student.</p>

      </div>


      <div class="item item-divider large-icon orange white ion-ios-paper-outline" id="summary">
        Summary
      </div>
      <div class="padding">
        <p>The Two of Pentacles often denotes someone turning a hobby into a career. They are still
          working in their ‘day jobs’ and are investing time, money and efforts to realize their dreams. The Two of
          Pentacles is also a warning to be patient.
        </p>

        <p>Prepare yourself for greatness; practice and educate yourself to improve your prospects. When the time is
          right you will step up and claim your price. </p>
      </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content" ng-click="scrollToTop()">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
    </div>
  </div>
</ion-view>
